
    <div class="">
        <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" width="100%">
            <source src="assets/videos/anfibia51.mp4" type="video/mp4">
        </video>
        <!--<div class="imagen-video">
            <img src="/assets/imagenes/logos/logo-azul.png" alt="">
        </div>-->
    </div>
   <div class="container-fluid publicidad-inicial" >
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pi-left">
                <img src="/assets/imagenes/paginaInicial/4.jpg" alt="">
                <div class="row">
                   <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-aos="fade-up"
                    data-aos-easing="linear"
                    data-aos-duration="500">
                        <div>
                            <h1><span>Conoce</span> nuestros productos en <span>Pesca, cacería y supervivencía.</span></h1>
                        </div>
                    </div>-->
                </div>
            </div>
            <div class="col-sm-6 col-lg-6 pi-left" data-aos="fade-up"
            data-aos-easing="linear"
            data-aos-duration="500">
               <!--<h1><span>Nosotros</span> te preparamos para cualquier <span>situación.</span></h1>-->
               <h1><span>Conoce</span> nuestros productos en <span>Pesca, cacería y supervivencía.</span></h1>
               <div style="padding-left: 20px;">
                <div class="flex dark">
                    <a routerLink="/tienda-online" class="bttn-dark">Ir a la tienda</a>
                  </div>
               </div>
               <img class="" src="/assets/imagenes/paginaInicial/4.jpg" alt="" >
            </div>
        </div>
    </div>
   <div class="container" style="margin-bottom: 0px;">
       <div class="row" data-aos="fade-up"
       data-aos-easing="linear"
       data-aos-duration="1000">
           <div class="col-sm-12 product-Title">
                <h1>Productos nuevos</h1>
               
           </div>
           <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="product-card">
                <div class="badge">Nuevo</div>
                <div class="product-tumb">
                    <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                    onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                </div>
                <div class="product-details">
                    <span class="product-catagory">CARRETES Yellow Tail</span>
                    <h4><a href="">CARRETE TORITO TO4000</a></h4>
                    <div class="product-price">
                        <h5>$230.98</h5>
                      <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                    </div>
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                    <div class="product-bottom-details"> 
                    </div>
                      <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                      <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                </div>
            </div>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="product-card">
                <div class="badge">Nuevo</div>
                <div class="product-tumb">
                    <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                    onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                </div>
                <div class="product-details">
                    <span class="product-catagory">CARRETES Yellow Tail</span>
                    <h4><a href="">CARRETE TORITO TO4000</a></h4>
                    <div class="product-price">
                        <h5>$230.98</h5>
                      <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                    </div>
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                    <div class="product-bottom-details">
                    </div>
                      <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                      <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                </div>
            </div>
            </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="product-card">
                <div class="badge">Nuevo</div>
                <div class="product-tumb">
                    <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                    onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                </div>
                <div class="product-details">
                    <span class="product-catagory">CARRETES Yellow Tail</span>
                    <h4><a href="">CARRETE TORITO TO4000</a></h4>
                    <div class="product-price">
                        <h5>$230.98</h5>
                      <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                    </div>
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                    <div class="product-bottom-details">
                    </div>
                      <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                      <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="product-card">
                <div class="badge">Nuevo</div>
                <div class="product-tumb">
                    <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                    onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                </div>
                <div class="product-details">
                    <span class="product-catagory">CARRETES Yellow Tail</span>
                    <h4><a href="">CARRETE TORITO TO4000</a></h4>
                    <div class="product-price" style="display: inline;">
                        <h5>$230.98</h5>
                         <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                    </div>
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                    <div class="product-bottom-details">
                    </div>
                      <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                      <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                </div>
            </div>
        </div>
       </div>
    </div>
    <div class="container-fluid">
        <div class="row" data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1000">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7">
                 <img src="/assets/imagenes/paginaInicial/2.jpg" alt="" class="publicidad1">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
              <div class="row" style="padding-top: 10px;" data-aos="fade-up"
              data-aos-easing="linear"
              data-aos-duration="1000">
               <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                       <img src="/assets/imagenes/paginaInicial/1.jpg" alt="" class="publicidad2">
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <img src="/assets/imagenes/paginaInicial/1.jpg" alt="" class="publicidad2">
               </div>
             </div>
            </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row contenido-main">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p>ANFIBIA by FECEGO MARINA</p>
                <h1>Conoce nuestras categorias</h1>
                <hr>
            </div>
        </div>  
    </div>
    <section class="split">
        <div class="screen">
            <div class="content button-slide">
                <h1>ANFIBIA SUPERVIVENCIA</h1>
                <p>Todo lo que necesites para tu aventura de rsdfcmping.</p>
                <a href="" routerLink="/tienda-online"><span>Visitar Tienda</span></a>
            </div>
        </div>
        <div class="screen">
            <div class="content button-slide">
                <h1>ANFIBIA CACERÍA </h1>
                <p>Encuentra lo necesarío para ser un cazador de la tribú.</p>
                <a href="" routerLink="/tienda-online"><span>Visitar Tienda</span></a>
            </div>
        </div>
        <div class="screen">
            <div class="content button-slide">
                <h1>ANFIBIA PESCA</h1>
                <p>Encontrarás lo necesarío para tu aventura de pesca.</p>
                <a href="" routerLink="/tienda-online"><span>Visitar Tienda</span></a>
            </div>
        </div>
    </section>

       <div class="container" style="margin-bottom: 20px;">
           <div class="row" data-aos="fade-up"
           data-aos-easing="linear"
           data-aos-duration="1000">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 seccion-productos-extras">
                <h1>Más productos nuevos</h1>
               
               <div class="row">
                   <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="wrapper">
                        <div class="product-img">
                          <img src="/assets/imagenes/paginaInicial/carretes/042694_1.png">
                        </div>
                        <div class="product-info">
                          <div class="product-text">
                            <h2>Caña de pescar Kirikutsyo </h2>
                            <div class="product-price2">
                                <h5>$230.99</h5>
                              </div>
                                <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                                <button class="product-links-bag2" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                          </div>
                        </div>
                      </div>
                   </div>
                   <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="wrapper">
                        <div class="product-img">
                          <img src="/assets/imagenes/paginaInicial/carretes/042699_1.png">
                        </div>
                        <div class="product-info">
                            <div class="product-text">
                                <h2>Caña de pescar kirigitsuyo </h2>
                                <div class="product-price2">
                                    <h5>$230.99</h5>  
                                  </div>
                                    <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                                    <button class="product-links-bag2" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                              </div>
                        </div>
                      </div>
                   </div>
                   <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="wrapper">
                        <div class="product-img">
                          <img src="/assets/imagenes/paginaInicial/carretes/042559_1.png">
                        </div>
                        <div class="product-info">
                            <div class="product-text">
                                <h2>Caña de pescar Kirikutsyo </h2>
                                <div class="product-price2">
                                    <h5>$230.99</h5>
                                    
                                  </div>
                                    <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                                    <button class="product-links-bag2" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                              </div>
                        </div>
                      </div>
                   </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="wrapper">
                        <div class="product-img">
                          <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png">
                        </div>
                        <div class="product-info">
                            <div class="product-text">
                                <h2>Caña de pescar Kirikutsyo </h2>
                                <div class="product-price2">
                                    <h5>$230.99</h5>
                                  </div>
                                    <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                                    <button class="product-links-bag2" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                              </div>
                        </div>
                      </div>
                   </div>
                   <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="wrapper">
                        <div class="product-img">
                          <img src="/assets/imagenes/paginaInicial/carretes/029977_1.png">
                        </div>
                        <div class="product-info">
                            <div class="product-text">
                                <h2>Caña de pescar Kirikutsyo </h2>
                                <div class="product-price2">
                                    <h5>$230.99</h5>
                                  </div>
                                    <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                                    <button class="product-links-bag2" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                              </div>
                        </div>
                      </div>
                   </div>
                   <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="wrapper">
                        <div class="product-img">
                          <img src="/assets/imagenes/paginaInicial/carretes/029892_1.png">
                        </div>
                        <div class="product-info">
                            <div class="product-text">
                                <h2>Caña de pescar Kirikutsyo </h2>
                                <div class="product-price2">
                                    <h5>$230.99</h5>
                                  </div>
                                    <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                                    <button class="product-links-bag2" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                              </div>
                        </div>
                      </div>
                   </div>
            </div>
        </div>
       </div>
   </div>

  

  <!-- <div class="contenedor-gradiant" style="position: relative;">
    <canvas id="canvas-basic">
    </canvas>
    <div class="container" style="position: absolute; top: 25%; left: 15%;">
        <div class="row">
            <div class="col-sm-12">
                <h1 style="font-family: 'Prometo-Thin'; font-weight: bolder; font-size: 80px; color: white; text-align: center;">Equípate para vivir <br><span class="half_background">#SIN LÍMITES</span></h1>
                <hr style="background: white; width: 30%; height: 5px;">
            </div>
        </div>
    </div>
</div>-->
<div class="container" style="padding-top: 20px;">
    <div class="row" data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-duration="1000" >
     <div class="col-sm-6">
         <img src="/assets/imagenes/paginaInicial/2.jpg" alt="" class="publicidad1">
    </div>
    <div class="col-sm-6">
        <img src="/assets/imagenes/paginaInicial/4.jpg" alt="" class="publicidad1">
    </div>
   </div>
  </div>
<div class="container">
    <div class="row" data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-duration="1000">
        <div class="col-sm-12 product-Title">
             <h1>Productos destacados</h1>
             
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="product-card">
                <div class="badge">Nuevo</div>
                <div class="product-tumb">
                    <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                    onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                </div>
                <div class="product-details">
                    <span class="product-catagory">CARRETES Yellow Tail</span>
                 
                    <h4><a href="">CARRETE TORITO TO4000</a></h4>
                    <div class="product-price">
                        <h5>$230.99</h5>
                      <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                    </div>
                    
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                    <div class="product-bottom-details"> 
                    </div>
                      <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                      <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="product-card">
                <div class="badge">Nuevo</div>
                <div class="product-tumb">
                    <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                    onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                </div>
                <div class="product-details">
                    <span class="product-catagory">CARRETES Yellow Tail</span>
                    <h4><a href="">CARRETE TORITO TO4000</a></h4>
                    <div class="product-price">
                        <h5>$230.99</h5>
                      <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                    </div>
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                    <div class="product-bottom-details">
                        
                       
                    </div>
    
                      <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                      <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                     
                
                </div>
            </div>

         </div>
     <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="product-card">
            <div class="badge">Nuevo</div>
            <div class="product-tumb">
                <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
            </div>
            <div class="product-details">
                <span class="product-catagory">CARRETES Yellow Tail</span>
             
                <h4><a href="">CARRETE TORITO TO4000</a></h4>
                <div class="product-price">
                    <h5>$230.99</h5>
                  <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                <div class="product-bottom-details">
                    
                   
                </div>

                  <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                  <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                 
            
            </div>
        </div>

     </div>
     <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="product-card">
            <div class="badge">Nuevo</div>
            <div class="product-tumb">
                <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
            </div>
            <div class="product-details">
                <span class="product-catagory">CARRETES Yellow Tail</span>
             
                <h4><a href="">CARRETE TORITO TO4000</a></h4>
                <div class="product-price">
                    <h5>$230.99</h5>
                  <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                <div class="product-bottom-details">
                    
                   
                </div>

                  <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                  <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                 
            
            </div>
        </div>

     </div>


    </div>
    <div class="row">
        <ul class="slides">
            <input type="radio" name="radio-btn" id="img-1" checked />
            <li class="slide-container">
                <div class="slide">
                    <img src="http://farm9.staticflickr.com/8072/8346734966_f9cd7d0941_z.jpg" />
                </div>
                <div class="nav">
                    <label for="img-6" class="prev">&#x2039;</label>
                    <label for="img-2" class="next">&#x203a;</label>
                </div>
            </li>
        
            <input type="radio" name="radio-btn" id="img-2" />
            <li class="slide-container">
                <div class="slide">
                  <img src="http://farm9.staticflickr.com/8504/8365873811_d32571df3d_z.jpg" />
                </div>
                <div class="nav">
                    <label for="img-1" class="prev">&#x2039;</label>
                    <label for="img-3" class="next">&#x203a;</label>
                </div>
            </li>
        
            <input type="radio" name="radio-btn" id="img-3" />
            <li class="slide-container">
                <div class="slide">
                  <img src="http://farm9.staticflickr.com/8068/8250438572_d1a5917072_z.jpg" />
                </div>
                <div class="nav">
                    <label for="img-2" class="prev">&#x2039;</label>
                    <label for="img-4" class="next">&#x203a;</label>
                </div>
            </li>
        
            <input type="radio" name="radio-btn" id="img-4" />
            <li class="slide-container">
                <div class="slide">
                  <img src="http://farm9.staticflickr.com/8061/8237246833_54d8fa37f0_z.jpg" />
                </div>
                <div class="nav">
                    <label for="img-3" class="prev">&#x2039;</label>
                    <label for="img-5" class="next">&#x203a;</label>
                </div>
            </li>
        
            <input type="radio" name="radio-btn" id="img-5" />
            <li class="slide-container">
                <div class="slide">
                  <img src="http://farm9.staticflickr.com/8055/8098750623_66292a35c0_z.jpg" />
                </div>
                <div class="nav">
                    <label for="img-4" class="prev">&#x2039;</label>
                    <label for="img-6" class="next">&#x203a;</label>
                </div>
            </li>
        
            <input type="radio" name="radio-btn" id="img-6" />
            <li class="slide-container">
                <div class="slide">
                  <img src="http://farm9.staticflickr.com/8195/8098750703_797e102da2_z.jpg" />
                </div>
                <div class="nav">
                    <label for="img-5" class="prev">&#x2039;</label>
                    <label for="img-1" class="next">&#x203a;</label>
                </div>
            </li>
        
            <li class="nav-dots">
              <label for="img-1" class="nav-dot" id="img-dot-1"></label>
              <label for="img-2" class="nav-dot" id="img-dot-2"></label>
              <label for="img-3" class="nav-dot" id="img-dot-3"></label>
              <label for="img-4" class="nav-dot" id="img-dot-4"></label>
              <label for="img-5" class="nav-dot" id="img-dot-5"></label>
              <label for="img-6" class="nav-dot" id="img-dot-6"></label>
            </li>
        </ul>

    </div>
    <!--Here-->
    <div class="row" data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-duration="1000">
        <div class="col-sm-12 seccion-productos-extras">
            <h1>Más productos destacados</h1>
            
           <div class="row">
               <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="wrapper">
                    <div class="product-img">
                      <img src="/assets/imagenes/paginaInicial/carretes/042694_1.png">
                    </div>
                    <div class="product-info">
                        <div class="product-text">
                            <h2>Caña de pescar Kirikutsyo </h2>
                            
                            
                            <div class="product-price2">
                                <h5>$230.99</h5>
                                
                              </div>
                                <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                                <button class="product-links-bag2" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                          </div>
                      
                    </div>
                  </div>
    
               </div>
               <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="wrapper">
                    <div class="product-img">
                      <img src="/assets/imagenes/paginaInicial/carretes/042699_1.png">
                    </div>
                    <div class="product-info">
                        <div class="product-text">
                            <h2>Caña de pescar Kirikutsyo </h2>
                            
                            
                            <div class="product-price2">
                               <h5>$230.99</h5> 
                                
                              </div>
                                <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                                <button class="product-links-bag2" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                          </div>
                      
                    </div>
                  </div>
    
               </div>
               <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="wrapper">
                    <div class="product-img">
                      <img src="/assets/imagenes/paginaInicial/carretes/042560_1.png">
                    </div>
                    <div class="product-info">
                        <div class="product-text">
                            <h2>Caña de pescar Kirikutsyo </h2>
                            
                            
                            <div class="product-price2">
                                <h5>$230.99</h5>
                                
                              </div>
                                <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                                <button class="product-links-bag2" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                          </div>
                      
                    </div>
                  </div>
       
               </div>
               <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="wrapper">
                    <div class="product-img">
                      <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png">
                    </div>
                    <div class="product-info">
                        <div class="product-text">
                            <h2>Caña de pescar Kirikutsyo </h2>
                            
                            
                            <div class="product-price2">
                               <h5>$230.99</h5>
                                
                              </div>
                                <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                                <button class="product-links-bag2" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                          </div>
                      
                    </div>
                  </div>
    
               </div>
               <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="wrapper">
                    <div class="product-img">
                      <img src="/assets/imagenes/paginaInicial/carretes/042562_1.png">
                    </div>
                    <div class="product-info">
                        <div class="product-text">
                            <h2>Caña de pescar Kirikutsyo </h2>
                            
                            
                            <div class="product-price2">
                                <h5>$230.99</h5>
                                
                              </div>
                                <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                                <button class="product-links-bag2" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                          </div>
                      
                    </div>
                  </div>
       
               </div>
               <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="wrapper">
                    <div class="product-img">
                      <img src="/assets/imagenes/paginaInicial/carretes/042557_1.png">
                    </div>
                    <div class="product-info">
                        <div class="product-text">
                            <h2>Caña de pescar Kirikutsyo </h2>
                            
                            
                            <div class="product-price2">
                                <h5>$230.99</h5>
                                
                              </div>
                                <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                                <button class="product-links-bag2" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                          </div>
                      
                    </div>
                  </div>
       
               </div>
    
           </div>
           
        
       
       
        </div>

    </div>
       
        
    <!--Here too-->
</div>

<div class="container-fluid parallax" style="height: 500px;">


</div>






        