
   
   
   
   <div class="" style="margin-bottom: 0; padding-bottom: 0;">
        <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" width="100%">
            <source src="assets/videos/anfibia54.mp4" type="video/mp4">
        </video>
        <!--<div class="imagen-video">
            <img src="/assets/imagenes/logos/logo-azul.png" alt="">
        </div>-->
    </div>
   <div class="container-fluid publicidad-inicial" >
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pi-left "data-aos="fade-up"
            data-aos-easing="linear"
            data-aos-duration="500">
                <div class="fondo-imagen">
                  <!--<div class="texto-fondo-imagen">
                    <h4>EQUIP<span>A</span>TE</h4>
                    <p></p>
                    <p>Para las grandes aventuras</p>
                
                    <h4>AVENTURATE</h4>
                    <p>Vive la aventura en tierra y mar</p>
                    
                    <h4><span>DESCUBRE</span></h4>
                    <p>Nuevos destinos</p>
                    
                    <h4>EXPLORA</h4>
                    <p>Existen nuevas cosas por descubrir</p>

                  </div>-->
                 
                  <!--<div class="texto-over-image">
                    <h4>KAYAKS</h4>
                    <h3>Si buscas aventurarte en los rapidos, tenemos una ampla variedad de Kayaks, que te interesarían</h3>
                    <a href="">Ver más </a>
                  </div>-->

                </div>
                <div class="textos-iniciales">
                    <h3>Outdoor Experience</h3>
                    <p>La aventura se encuentra fuera de la comodidad de tu hogar, atrevete a vivir la experiencia con nosotros, explora y deja que el mundo te sorprenda, equipate para las grandes aventuras con nosotros.</p>
                    <h4></h4>
                  </div>
            </div>
            <div class="col-sm-6 col-lg-6 pi-left" data-aos="fade-up"
            data-aos-easing="linear"
            data-aos-duration="500">
               <!--<h1><span>Nosotros</span> te preparamos para cualquier <span>situación.</span></h1>-->
               <h2>ANFIBIA</h2>
               <hr>
               <h1>Contamos con una gran variedad de productos en <span>PESCA y CACERÍA.</span>, si lo que buscas es estar listo para la aventura, tenemos todo lo que buscas.</h1>
               <div style="padding-left: 20px;">
                <div class="flex dark">
                    <a routerLink="/tienda" class="bttn-dark">Ir a la tienda</a>
                  </div>
               </div>
               <div class="fondo-imagen2">
                  
                  <!--<div class="texto-fondo-imagen3">
                    <h6>CONVIERTETE</h6><span>EN UN COMPLETO</span> <h6>AVENTURERO</h6>

                  </div>-->
                <!--<div class="textos-iniciales2">
                    
                    <h4>Caña Rayktek 3800</h4>
                    <h3>Es una obra de arte con la capacidad de permitirte convertirte en el rey de la pesca.</h3>
                    <a href="">Ver más </a>
                </div>-->
              </div>
              
            </div>
        </div>
    </div>
   <div class="container" style="margin-bottom: 0px;">
       <div class="row" data-aos="fade-up"
       data-aos-easing="linear"
       data-aos-duration="1000">
           <div class="col-sm-12 product-Title">
                <h1>Productos nuevos</h1>
                <hr>
           </div>
        
          
          
        <!--<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="product-card">
                <div class="badge">Nuevo</div>
                <div class="product-tumb">
                    <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                    onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                </div>
                <div class="product-details">
                    <span class="product-catagory">CARRETES Yellow Tail</span>
                    <h4><a href="">CARRETE TORITO TO4000</a></h4>
                    <div class="product-price">
                        <h5>$230.98</h5>
                      <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                    <div class="product-bottom-details">
                    </div>
                      <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                      <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="product-card">
                <div class="badge">Nuevo</div>
                <div class="product-tumb">
                    <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                    onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                </div>
                <div class="product-details">
                    <span class="product-catagory">CARRETES Yellow Tail</span>
                    <h4><a href="">CARRETE TORITO TO4000</a></h4>
                    <div class="product-price" style="display: inline;">
                        <h5>$230.98</h5>
                         <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-
                    <div class="product-bottom-details">
                    </div>
                      <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                      <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                </div>
            </div>
        </div>-->
       </div>
       <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let producto of productosNuevos; index as i; let index = i;">
              <div class="" >
                <div class="product-card" *ngIf="producto.nuevo">
                <div class="badge1" *ngIf="producto.nuevo">Nuevo</div>
                <div class="badge2" *ngIf="producto.destacado">Destacado</div>
                <div class="badge3" *ngIf="producto.descuento">{{producto.descuento}}% Desc</div>
                <!--<div class="badge3" *ngIf="producto.descuento">Desc {{producto.descuento}}%</div>-->
                
                    <div class="product-tumb">
                        <img id="principalProducto"  [attr.src]="producto.image[0].url" alt="" (mouseover) = "changeImage(producto.image[1].url)">
                    </div>
                    <div class="product-details">
                        <span class="product-catagory">{{producto.categoria}} {{producto.marca}}</span>
                    
                        <h4><a routerLink="/tienda/{{producto.clasificacion}}/{{producto.categoria}}/{{producto.idProducto}}/{{producto.nombre}}">{{producto.nombre}}</a></h4>
                      
                        <div class="product-price">
                            <h4 *ngIf="producto.descuento"><span>  Precio:</span> ${{producto.precio_antiguo}}</h4>
                            <h5 *ngIf="producto.descuento != 0; else precioNormal"><span>Precio Desc: </span> ${{producto.precio}}</h5>
                            <h3 id="precioNormal" *ngIf="producto.descuento == 0"><span>Precio: </span>${{producto.precio}}</h3>
                            <button (click)="addWishList(producto)"><i class="fa fa-heart" aria-hidden="true"></i></button>
                        </div>
                        
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                       
                        <button class="product-links-wish" type="button" (click)="openModal(producto)">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                        <button class="product-links-bag" type="button" (click) = "addCart(producto)">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                      </div>
                </div>
            </div>
            </ng-template>
           
        </owl-carousel-o>

         </div>

       </div>
    </div>
    <div class="container-fluid"  style="">
       
        <div class="row" style="" data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1000">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 " style="padding:1px">
                 <div class="publicidad-imagen1">
                  <div style="position: absolute; bottom: 10%; left: 25%;">
                    <!--<div class="texto-publicidad1">
                      <h1>STELLA <span>SW</span></h1>
                      <h2><span>A</span>bsolute <span>P</span>ower</h2>
                      <p>Llevamos la generación Stella al siguiente nivel.</p>

                    </div>-->
                    <a routerLink="/tienda" class="bttn-dark">Ir al producto</a>
                  </div>
                 </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding: 1px;">
              <div class="publicidad-imagen10">
                <!--<div class="texto-publicidad3">
                  <h1>DAIWA <span>FUEGO</span></h1>
                  <h2>Carrete de pesca <span>giratorio</span> carcasa de Material de luz de carbono-<span>LT</span></h2>
  
                </div>-->
                <div style="position: absolute; bottom: 10%; left: 25%;">
                  <a routerLink="/tienda" class="bttn-dark2">Ir al producto</a>
                </div>
               
              </div>
         </div>
        
        </div>
        <div class="row" data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1000">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding: 1px;">
            <div class="publicidad-imagen2">
              <div class="texto-publicidad2">
                <!--<h1>SAHARA <span>5000</span></h1>
                <h2><span>S</span>pinning</h2>
                <p>Durabilidad sin igual, mayor potencía de arranque</p>-->

              </div>
              <div style="position: absolute; bottom: 10%; left: 25%;">
                <a routerLink="/tienda" class="bttn-dark2">Ir al producto</a>
              </div>

            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding: 1px;">
            <div class="publicidad-imagen3">
              <!--<div class="texto-publicidad3">
                <h1>DAIWA <span>FUEGO</span></h1>
                <h2>Carrete de pesca <span>giratorio</span> carcasa de Material de luz de carbono-<span>LT</span></h2>

              </div>-->
              <div style="position: absolute; bottom: 10%; left: 25%;">
                <a routerLink="/tienda" class="bttn-dark">Ir al producto</a>
              </div>
             
            </div>
       </div>

        </div>
      </div>

      <div class="container-fluid">
        <div class="row contenido-main">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p>ANFIBIA by FECEGO MARINA</p>
                <h1>Conoce nuestras categorias</h1>
                <hr>
            </div>
        </div>  
    </div>
    <section class="split">
        <!--<div class="screen">
            <div class="content button-slide">
                <h1>ANFIBIA SUPERVIVENCIA</h1>
                <p>Todo lo que necesites para tu aventura de rsdfcmping.</p>
                <a href="" routerLink="/tienda-online"><span>Visitar Tienda</span></a>
            </div>
        </div>-->
        <div class="screen">
            <div class="content button-slide">
                <h1>ANFIBIA CACERÍA </h1>
                <p>Encuentra lo necesarío para ser un cazador de la tribú.</p>
                <a href="" routerLink="/tienda"><span>Visitar Tienda</span></a>
            </div>
        </div>
        <div class="screen">
            <div class="content button-slide">
                <h1>ANFIBIA PESCA</h1>
                <p>Encontrarás lo necesarío para tu aventura de pesca.</p>
                <a href="" routerLink="/tienda"><span>Visitar Tienda</span></a>
            </div>
        </div>
    </section>

       <div class="container" style="margin-bottom: 20px;">
           <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 seccion-productos-extras">
                <h1>Productos Destacados</h1>
                <hr>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   <owl-carousel-o [options]="customOptions">
                     <ng-template carouselSlide *ngFor="let producto of productosNuevos; index as i; let index = i;">
                       <div class="" >
                         <div class="product-card" *ngIf="producto.nuevo">
                         <div class="badge1" *ngIf="producto.nuevo">Nuevo</div>
                         <div class="badge2" *ngIf="producto.destacado">Destacado</div>
                         <div class="badge3" *ngIf="producto.descuento">{{producto.descuento}}% Desc</div>
                         <!--<div class="badge3" *ngIf="producto.descuento">Desc {{producto.descuento}}%</div>-->
                         
                             <div class="product-tumb">
                                 <img [src]="producto.image[0].url"alt="" 
                                 >
                             </div>
                             <div class="product-details">
                                 <span class="product-catagory">{{producto.categoria}} {{producto.marca}}</span>
                             
                                 <h4><a routerLink="/tienda/{{producto.clasificacion}}/{{producto.categoria}}/{{producto.idProducto}}/{{producto.nombre}}">{{producto.nombre}}</a></h4>
                               
                                 <div class="product-price">
                                      <h4 *ngIf="producto.descuento"><span>  Precio:</span> ${{producto.precio_antiguo}}</h4>
                                      <h5 *ngIf="producto.descuento != 0; else precioNormal"><span>Precio Desc: </span> ${{producto.precio}}</h5>
                                      <h3 id="precioNormal" *ngIf="producto.descuento == 0"><span>Precio: </span>${{producto.precio}}</h3>
                                     <button (click)="addWishList(producto)"><i class="fa fa-heart" aria-hidden="true"></i></button>
                                 </div>
                                 
                                 <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                                
                                 <button class="product-links-wish" type="button" (click)="openModal(producto)">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                                 <button class="product-links-bag" type="button" (click) = "addCart(producto)">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                               </div>
                         </div>
                     </div>
                     </ng-template>
                    
                 </owl-carousel-o>
         
                  </div>
         
                </div>
               
              <!--<div class="row">
                   <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4"  *ngFor="let producto of productosNuevos; index as i; let index = i;  ">
                    <div *ngIf="i<6" class="wrapper">
                      <div class="badge1" *ngIf="producto.nuevo">Nuevo</div>
                      <div class="badge2" *ngIf="producto.destacado">Destacado</div>
                      <div class="badge3" *ngIf="producto.descuento">{{producto.descuento}}% DESC</div>
                      <div class="badge3" *ngIf="producto.descuento">Desc {{producto.descuento}}%</div>
                        <div class="product-img">
                          <img src="{{producto.image[0].url}}">
                        </div>
                        <div class="product-info">
                          <div class="product-text">
                            <h3>{{producto.categoria}} {{producto.marca}}</h3>
                            <h2><a routerLink = "/tienda/{{producto.idProducto}}/{{producto.nombre}}">{{producto.nombre}}</a> </h2>
                            <div class="product-price2">
                              <h4 *ngIf="producto.descuento">${{producto.precio_antiguo}}</h4>
                              <h5 *ngIf="producto.descuento; else precioNormal">${{producto.precio}}</h5>
                              <h6  *ngIf="producto.descuento == null">${{producto.precio}}</h6>
                              </div>
                                <button class="wishlist-heart" type="button" (click) ="addWishList(producto)"><i class="fa fa-heart" aria-hidden="true"></i></button>
                                <button class="product-links-bag2" type="button" (click) = "addCart(producto)">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                          </div>
                        </div>
                      </div>
                      
                   </div>-->
                  
                   <!--<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="wrapper">
                        <div class="product-img">
                          <img src="/assets/imagenes/paginaInicial/carretes/042699_1.png">
                        </div>
                        <div class="product-info">
                            <div class="product-text">
                                <h2>Caña de pescar kirigitsuyo </h2>
                                <div class="product-price2">
                                    <h5>$230.99</h5>  
                                  </div>
                                    <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                                    <button class="product-links-bag2" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                              </div>
                        </div>
                      </div>
                   </div>
                   <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="wrapper">
                        <div class="product-img">
                          <img src="/assets/imagenes/paginaInicial/carretes/042559_1.png">
                        </div>
                        <div class="product-info">
                            <div class="product-text">
                                <h2>Caña de pescar Kirikutsyo </h2>
                                <div class="product-price2">
                                    <h5>$230.99</h5>
                                    
                                  </div>
                                    <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                                    <button class="product-links-bag2" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                              </div>
                        </div>
                      </div>
                   </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="wrapper">
                        <div class="product-img">
                          <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png">
                        </div>
                        <div class="product-info">
                            <div class="product-text">
                                <h2>Caña de pescar Kirikutsyo </h2>
                                <div class="product-price2">
                                    <h5>$230.99</h5>
                                  </div>
                                    <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                                    <button class="product-links-bag2" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                              </div>
                        </div>
                      </div>
                   </div>
                   <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="wrapper">
                        <div class="product-img">
                          <img src="/assets/imagenes/paginaInicial/carretes/029977_1.png">
                        </div>
                        <div class="product-info">
                            <div class="product-text">
                                <h2>Caña de pescar Kirikutsyo </h2>
                                <div class="product-price2">
                                    <h5>$230.99</h5>
                                  </div>
                                    <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                                    <button class="product-links-bag2" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                              </div>
                        </div>
                      </div>
                   </div>
                   <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="wrapper">
                        <div class="product-img">
                          <img src="/assets/imagenes/paginaInicial/carretes/029892_1.png">
                        </div>
                        <div class="product-info">
                            <div class="product-text">
                                <h2>Caña de pescar Kirikutsyo </h2>
                                <div class="product-price2">
                                    <h5>$230.99</h5>
                                  </div>
                                    <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                                    <button class="product-links-bag2" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                              </div>
                        </div>
                      </div>
                   </div>-->
           <!--</div>-->
           
        </div>
       </div>
   </div>
   
  

  <!-- <div class="contenedor-gradiant" style="position: relative;">
    <canvas id="canvas-basic">
    </canvas>
    <div class="container" style="position: absolute; top: 25%; left: 15%;">
        <div class="row">
            <div class="col-sm-12">
                <h1 style="font-family: 'Prometo-Thin'; font-weight: bolder; font-size: 80px; color: white; text-align: center;">Equípate para vivir <br><span class="half_background">#SIN LÍMITES</span></h1>
                <hr style="background: white; width: 30%; height: 5px;">
            </div>
        </div>
    </div>
</div>-->

<!--<div class="container-fluid parallax" style="height: 500px;">


</div>-->

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="imagen-m">

      </div>

    </div>
    <div class="col-sm-4 last-container-text" >
      <div class="last-text-fit">
         <h1><span>VI</span>VE, </h1>
         
         <h1>DESCU<span>BRE</span> Y</h1>
         <div class="last-text-fit-y">
           <p>#Anfibia<span>Fishing</span></p>
           <p>#Anfibia<span>hunting</span></p>

         </div>
         <h1><span>EXP</span>LORA</h1>
         <div class="last-text-fit-fish">
           <p>#ViveLaAventura</p>
           <p>#EncuentraNuevosRetos</p>
           <p>#DescubreAnfibia</p>
           <p><span>#ExploraAnfibia</span></p>
           <p>#ViveAnfibia</p>
           
        </div>
        <div class="last-text-fit-top">
           <p>#TodoParaTuAventura</p>
           <p><span>#ViveDescubreExplora</span></p>
             
        </div>
        <div class="last-text-fit-middle">
       
           
      </div>
 
      </div>
      
       
     </div>
    
  </div>

</div>

<div class="container">
    <div class="row" data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-duration="1000">
        <div class="col-sm-12 product-Title">
             <h1>Productos más vendidos</h1>
             <hr>
             
        </div>
       <!--<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" *ngFor="let producto of productos; index as i; let index = i;">
            <div class="product-card" *ngIf="i<4">
              <div class="badge" *ngIf="producto.nuevo">Nuevo</div>
              <div class="badge2" *ngIf="producto.destacado">Destacado</div>
                <div class="product-tumb">
                    <img src="{{producto.image}}" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                    onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                </div>
                <div class="product-details">
                    <span class="product-catagory">{{producto.categoria}} {{producto.marca}}</span>
                 
                    <h4><a href="">{{producto.nombre}}</a></h4>
                    <div class="product-price">
                        <h5>${{producto.precio}}</h5>
                      <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                    </div>
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                    <div class="product-bottom-details"> 
                    </div>
                      <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                      <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                </div>
            </div>
        </div>-->
        <!--<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="product-card">
                <div class="badge">Nuevo</div>
                <div class="product-tumb">
                    <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                    onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                </div>
                <div class="product-details">
                    <span class="product-catagory">CARRETES Yellow Tail</span>
                    <h4><a href="">CARRETE TORITO TO4000</a></h4>
                    <div class="product-price">
                        <h5>$230.99</h5>
                      <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                    <div class="product-bottom-details">
                        
                       
                    </div>
    
                      <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                      <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                     
                
                </div>
            </div>

         </div>
     <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="product-card">
            <div class="badge">Nuevo</div>
            <div class="product-tumb">
                <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
            </div>
            <div class="product-details">
                <span class="product-catagory">CARRETES Yellow Tail</span>
             
                <h4><a href="">CARRETE TORITO TO4000</a></h4>
                <div class="product-price">
                    <h5>$230.99</h5>
                  <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                <div class="product-bottom-details">
                    
                   
                </div>

                  <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                  <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                 
            
            </div>
        </div>

     </div>
     <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="product-card">
            <div class="badge">Nuevo</div>
            <div class="product-tumb">
                <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
            </div>
            <div class="product-details">
                <span class="product-catagory">CARRETES Yellow Tail</span>
             
                <h4><a href="">CARRETE TORITO TO4000</a></h4>
                <div class="product-price">
                    <h5>$230.99</h5>
                  <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                <div class="product-bottom-details">
                    
                   
                </div>

                  <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                  <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                 
            
            </div>
        </div>

     </div>-->


    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
       <owl-carousel-o [options]="customOptions">
         <ng-template carouselSlide *ngFor="let producto of productosDestacados; index as i; let index = i;">
           <div class="" >
             <div class="product-card">
              <div class="badge1" *ngIf="producto.nuevo">Nuevo</div>
              <div class="badge2" *ngIf="producto.destacado">Destacado</div>
              <div class="badge3" *ngIf="producto.descuento">{{producto.descuento}}% DESC</div>
              <!--<div class="badge3" *ngIf="producto.descuento">Desc {{producto.descuento}}%</div>-->
              
                 <div class="product-tumb">
                     <img src="{{producto.image[0].url}}" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                     onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                 </div>
                 <div class="product-details">
                     <span class="product-catagory">{{producto.categoria}} {{producto.marca}}</span>
                 
                     <h4><a a routerLink = "/tienda/{{producto.clasificacion}}/{{producto.categoria}}/{{producto.idProducto}}/{{producto.nombre}}">{{producto.nombre}}</a></h4>
                     <div class="product-price">
                      <h4 *ngIf="producto.descuento"><span>  Precio:</span> ${{producto.precio_antiguo}}</h4>
                      <h5 *ngIf="producto.descuento != 0; else precioNormal"><span>Precio Desc: </span> ${{producto.precio}}</h5>
                      <h3 id="precioNormal" *ngIf="producto.descuento == 0"><span>Precio: </span>${{producto.precio}}</h3>
                      <button href="" (click) ="addWishList(producto)"><i class="fa fa-heart" aria-hidden="true"></i></button>
                     </div>
                     
                     <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                     <div class="product-bottom-details"> 
                     </div>
                     <button class="product-links-wish" type="button" (click)="openModal(producto)">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                     <button class="product-links-bag" type="button" (click) = "addCart(producto)">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                 </div>
             </div>
         </div>
         </ng-template>
        
     </owl-carousel-o>

      </div>

    </div>
    <div class="row">
        <ul class="slides">
            <input type="radio" name="radio-btn" id="img-1" checked />
            <li class="slide-container">
                <div class="slide">
                    <div class="background-slide">
                    

                    </div>
                    <!--<div class="text-background-slide">
                      <h1 id="text-primero">AN</h1>
                      <h1 id="text-segundo">FI</h1>
                     
                      <h1 id="text-tercero">BIA</h1>
                      <p><span>P</span>esca, <span>C</span>acería y <span>todo lo</span> que <span>n</span>ecesitas para la aventura</p>
                      
                    </div>-->
                </div>
                <div class="nav">
                    <label for="img-4" class="prev">&#x2039;</label>
                    <label for="img-2" class="next">&#x203a;</label>
                </div>
            </li>
        
            <input type="radio" name="radio-btn" id="img-2" />
            <li class="slide-container">
                <div class="slide">
                  <div class="background-slide2">
                   <!--<div class="text-background-slide2">
                   
                    <h1>GRAN</h1>
                    <h1>VARIEDAD</h1>
                    <h1>DE</h1>
                    
                   </div>
                   <h2>CARRETES</h2>-->
                  </div>
                </div>
                <div class="nav">
                    <label for="img-1" class="prev">&#x2039;</label>
                    <label for="img-3" class="next">&#x203a;</label>
                </div>
            </li>
        
            <input type="radio" name="radio-btn" id="img-3" />
            <li class="slide-container">
                <div class="slide">
                  <div class="background-slide3">
                    <!--<div class="text-bakcground-slide3">
                      <h1>La <span>emoción</span></h1>
                      
                      <h1>de descubrir</h1>
                      
                      <h1><span>Nuevos</span> retos.</h1>
                      

                    </div>-->
                  </div>
                </div>
                <div class="nav">
                    <label for="img-2" class="prev">&#x2039;</label>
                    <label for="img-4" class="next">&#x203a;</label>
                </div>
            </li>
        
            <input type="radio" name="radio-btn" id="img-4" />
            <li class="slide-container">
                <div class="slide">
                  <div class="background-slide4">
                    <!--<div class="text-background-slide4">
                      <h1>Busca</h1>
                      <p>nuevos</p>
                      <h2>Destinos</h2>
                    </div>-->

                  </div>
                </div>
                <div class="nav">
                    <label for="img-3" class="prev">&#x2039;</label>
                    <label for="img-1" class="next">&#x203a;</label>
                </div>
            </li>
        
            <!--<input type="radio" name="radio-btn" id="img-5" />
            <li class="slide-container">
                <div class="slide">
                  <img src="http://farm9.staticflickr.com/8055/8098750623_66292a35c0_z.jpg" />
                </div>
                <div class="nav">
                    <label for="img-4" class="prev">&#x2039;</label>
                    <label for="img-6" class="next">&#x203a;</label>
                </div>
            </li>-->
        
           <!--<input type="radio" name="radio-btn" id="img-6" />
            <li class="slide-container">
                <div class="slide">
                  <img src="http://farm9.staticflickr.com/8195/8098750703_797e102da2_z.jpg" />
                </div>
                <div class="nav">
                    <label for="img-5" class="prev">&#x2039;</label>
                    <label for="img-1" class="next">&#x203a;</label>
                </div>
            </li>-->
        
            <li class="nav-dots">
              <label for="img-1" class="nav-dot" id="img-dot-1"></label>
              <label for="img-2" class="nav-dot" id="img-dot-2"></label>
              <label for="img-3" class="nav-dot" id="img-dot-3"></label>
              <label for="img-4" class="nav-dot" id="img-dot-4"></label>
              <!--<label for="img-5" class="nav-dot" id="img-dot-5"></label>
              <label for="img-6" class="nav-dot" id="img-dot-6"></label>-->
            </li>
        </ul>

    </div>
    <!--Here-->

       
        
    <!--Here too-->
</div>
<div class="container-fluid last-container"  data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-duration="1000">

      <h1>Nuestra marca</h1>
    <hr>
    <div class="row">
      <div class="col-sm-6" style="padding: 1px;" >
        <div class="texto-yellow">
          <h1 id="titulo-yellow"><span>Y</span>ellow <span>T</span>ail</h1>
         
        </div>
        
      

      </div>
      <div class="col-sm-6" style="padding: 1px;">
        <div class=" publicidad-imagen4">
          <div style="position: absolute; bottom: 10%; left: 25%;">
            <a routerLink="/tienda" class="bttn-dark2">Ir al producto</a>
          </div>

        </div>

      </div>

    </div>

    <div class="row" style="padding: 1px;">
     <div class="col-sm-4 publicidad-imagen7" style="padding: 1px;">
      
        <!--<div class="texto-publicidad4">
          <h1><span>A</span>mbassa<span></span>deur <span>Beast</span></h1>
          <h2>Diseñada para atrapar los <span>peces</span> más grandes.</h2>
          

        </div>-->
        <div style="position: absolute; bottom: 10%; left: 25%;">
          <a routerLink="/tienda" class="bttn-dark2">Ir al producto</a>
        </div>
                   
      </div>
      
    <div class="col-sm-4 " style="padding: 1px;">
      <div class="publicidad-imagen5">
        <!--<div class="texto-publicidad5">
          <h1><span>S</span>altiga GAME <span>3500</span></h1>
          

        </div>-->
        <div style="position: absolute; bottom: 10%; left: 25%;">
          <a routerLink="/tienda" class="bttn-dark2">Ir al producto</a>
        </div>
      </div>        
    
    </div>
    
    <div class="col-sm-4" style="padding: 1px;">
      <div class="publicidad-imagen6">
        <!--<div class="texto-publicidad6">
          <h1><span>TA</span>TULA 100</h1>
          <h2>La más <span>comoda</span> y <span>manejable</span>. </h2>

        </div>-->
        <div style="position: absolute; bottom: 10%; left: 25%;">
          <a routerLink="/tienda" class="bttn-dark2">Ir al producto</a>
         
        </div>
                   
      </div>
    </div>
    </div>
 

    <!--<div class="col-sm-4 last-container-text2" >
      <div class="last-text-fit">
        
         
         <h1>TODO<span >LO</span> QUE </h1>
         <h1><span>NECESITAS</span></h1>
         <h1>PARA <span>TU</span></h1>
         <h1><span>AVENTURA</span></h1>
         <div class="last-text-fit-fish2">
           <p>#ViveLaAventura</p>
           <p>#EncuentraNuevosRetos</p>
           <p>#DescubreAnfibia</p>
           <p><span>#ExploraAnfibia</span></p>
           <p>#ViveAnfibia</p>
           
        </div>
        <div class="last-text-fit-top2">
           <p>#TodoParaTuAventura</p>
           <p>#ViveDescubreExplora</p>
             
        </div>
        <div class="last-text-fit-middle">
       
           
      </div>
 
      </div>
      
       
     </div>-->
     <div class="container">
      <div class="row">
        <div class="col-sm-12 seccion-productos-extras">
            <h1>Productos Yellow Tail</h1>
            <hr>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
               <owl-carousel-o [options]="customOptions">
                 <ng-template carouselSlide *ngFor="let producto of productosNuevos; index as i; let index = i;">
                   <div class="" >
                     <div class="product-card" *ngIf="producto.nuevo">
                     <div class="badge1" *ngIf="producto.nuevo">Nuevo</div>
                     <div class="badge2" *ngIf="producto.destacado">Destacado</div>
                     <div class="badge3" *ngIf="producto.descuento">{{producto.descuento}}% Desc</div>
                     <!--<div class="badge3" *ngIf="producto.descuento">Desc {{producto.descuento}}%</div>-->
                     
                         <div class="product-tumb">
                             <img [src]="producto.image[0].url"alt="" 
                             >
                         </div>
                         <div class="product-details">
                             <span class="product-catagory">{{producto.categoria}} {{producto.marca}}</span>
                         
                             <h4><a routerLink="/tienda/{{producto.clasificacion}}/{{producto.categoria}}/{{producto.idProducto}}/{{producto.nombre}}">{{producto.nombre}}</a></h4>
                           
                             <div class="product-price">
                              <h4 *ngIf="producto.descuento"><span>  Precio:</span> ${{producto.precio_antiguo}}</h4>
                              <h5 *ngIf="producto.descuento != 0; else precioNormal"><span>Precio Desc: </span> ${{producto.precio}}</h5>
                              <h3 id="precioNormal" *ngIf="producto.descuento == 0"><span>Precio: </span>${{producto.precio}}</h3>
                                 <button (click)="addWishList(producto)"><i class="fa fa-heart" aria-hidden="true"></i></button>
                             </div>
                             
                             <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                            
                             <button class="product-links-wish" type="button" (click)="openModal(producto)">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                             <button class="product-links-bag" type="button" (click) = "addCart(producto)">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                           </div>
                     </div>
                 </div>
                 </ng-template>
                
             </owl-carousel-o>
     
              </div>
     
            </div>
           <!--<div class="row">
               <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" *ngFor="let producto of productosDestacados; index as i; let index = i;">
                <div class="wrapper" *ngIf="i<6">
                  <div class="badge1" *ngIf="producto.nuevo">Nuevo</div>
                  <div class="badge2" *ngIf="producto.destacado">Destacado</div>
                  <div class="badge3" *ngIf="producto.descuento">{{producto.descuento}}% DESC</div>
                  <div class="badge3" *ngIf="producto.descuento">Desc {{producto.descuento}}%</div>
                    <div class="product-img">
                      <img src="{{producto.image[0].url}}">
                    </div>
                    <div class="product-info">
                        <div class="product-text">
                            <h3>{{producto.categoria}} {{producto.marca}}</h3>
                            <h2><a a routerLink = "/tienda/{{producto.clasificacion}}/{{producto.categoria}}/{{producto.idProducto}}/{{producto.nombre}}">{{producto.nombre}}</a></h2>
                            <div class="product-price2">
                              <h4 *ngIf="producto.descuento">${{producto.precio_antiguo}}</h4>
                              <h5 *ngIf="producto.descuento; else precioNormal">${{producto.precio}}</h5>
                              <h6  *ngIf="producto.descuento == null">${{producto.precio}}</h6>
                                
                              </div>
                                <button class="wishlist-heart" type="button" (click) = "addWishList(producto)"><i class="fa fa-heart" aria-hidden="true"></i></button>
                                <button class="product-links-bag2" type="button" (click)="addCart(producto)">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                          </div>
                      
                    </div>
                  </div>
    
               </div>-->
               <!--<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="wrapper">
                    <div class="product-img">
                      <img src="/assets/imagenes/paginaInicial/carretes/042699_1.png">
                    </div>
                    <div class="product-info">
                        <div class="product-text">
                            <h2>Caña de pescar Kirikutsyo </h2>
                            
                            
                            <div class="product-price2">
                               <h5>$230.99</h5> 
                                
                              </div>
                                <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                                <button class="product-links-bag2" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                          </div>
                      
                    </div>
                  </div>
    
               </div>
               <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="wrapper">
                    <div class="product-img">
                      <img src="/assets/imagenes/paginaInicial/carretes/042560_1.png">
                    </div>
                    <div class="product-info">
                        <div class="product-text">
                            <h2>Caña de pescar Kirikutsyo </h2>
                            
                            
                            <div class="product-price2">
                                <h5>$230.99</h5>
                                
                              </div>
                                <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                                <button class="product-links-bag2" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                          </div>
                      
                    </div>
                  </div>
       
               </div>
               <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="wrapper">
                    <div class="product-img">
                      <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png">
                    </div>
                    <div class="product-info">
                        <div class="product-text">
                            <h2>Caña de pescar Kirikutsyo </h2>
                            
                            
                            <div class="product-price2">
                               <h5>$230.99</h5>
                                
                              </div>
                                <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                                <button class="product-links-bag2" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                          </div>
                      
                    </div>
                  </div>
    
               </div>
               <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="wrapper">
                    <div class="product-img">
                      <img src="/assets/imagenes/paginaInicial/carretes/042562_1.png">
                    </div>
                    <div class="product-info">
                        <div class="product-text">
                            <h2>Caña de pescar Kirikutsyo </h2>
                            
                            
                            <div class="product-price2">
                                <h5>$230.99</h5>
                                
                              </div>
                                <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                                <button class="product-links-bag2" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                          </div>
                      
                    </div>
                  </div>
       
               </div>
               <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="wrapper">
                    <div class="product-img">
                      <img src="/assets/imagenes/paginaInicial/carretes/042557_1.png">
                    </div>
                    <div class="product-info">
                        <div class="product-text">
                            <h2>Caña de pescar Kirikutsyo </h2>
                            
                            
                            <div class="product-price2">
                                <h5>$230.99</h5>
                                
                              </div>
                                <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                                <button class="product-links-bag2" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                          </div>
                      
                    </div>
                  </div>
       
               </div>-->
    
           <!--</div>-->
           
        
       
       
        </div>

    </div>

     </div>
  </div> 

    








        