

.my-class{
    background: red;
    color: purple;
  } 
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  h1 {
    font-size: 22px;
    margin: 0;
    font-weight: 400;
    line-height: 20px;
    padding: 20px 2px;
  }
  
  a {
    color: #000;
    text-decoration: none;
    font-family: 'Meera Inima', sans-serif;
  }
  
  a:hover {
    color: #101010;
  }
  
  .sidebar {
    position: absolute;
    width: 33.3333%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
  }
  
  .pad2 {
    
    background: #fff;
  }
  
  .map {
    position: absolute;
    left: 33.3333%;
    width: 66.6666%;
    height: 100%;
    top: 0;
    bottom: 0;
  }
  
  .heading {
    background: #fff;
    border-bottom: 1px solid #000;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
    color: #000;
    text-align: center;
   
  }
  
  .heading h1{
    font-size: 25px;
    font-family: 'Meera inima', sans-serif;
    font-weight: bolder;
  }
  
  .listings {
    height: 100%;
    overflow: auto;
    padding-bottom: 60px;
    padding: 20px;
  }
  
  .listings a{
    color: #fff;
  }
  
  .title{
    color: #fff;
  }
  
  
  .listings .item {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 10px;
    text-decoration: none;
    
  }
  
  .listings .item:last-child { border-bottom: none; }
  
  .listings .item .title {
    display: block;
    color: #00853e;
    font-weight: 700;
  }
  
  .listings .item .title small { font-weight: 400; }
  
  .listings .item.active .title,
  .listings .item .title:hover { color: #8cc63f; }
  
  .listings .item.active {
    background-color: #f8f8f8;
  }
  
  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
  }
  
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #00853e;
    border-radius: 0;
  }
  
  .clearfix { display: block; }
  
  .clearfix::after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  
  /* Marker tweaks */
  .mapboxgl-popup {
    padding-bottom: 50px;
  }
  
  
  
  .markers{
    border: none;
    cursor: pointer;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
  
    
  }
  
  .pruebapopup{
    background: red;
  }


  @media screen and (max-width: 640px) and (min-width: 568px){



  }

