<!--FOOTER-->


<div class="container-fluid footer-style">
    <div class="container">
        <div class="row menu-footer">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <h5>Anfibia</h5>
                <a routerLink = "sobre-nosotros" class="cool-link">¿Quiénes somos?</a><br>
                <a routerLink = "ubicaciones" class="cool-link">Ubicaciones</a><br>
                <a routerLink = "contactanos" class="cool-link">Contacto</a>  
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <h5 routerLink = "tienda/:clasifiacion">Pesca</h5>
                        <a routerLink = "tienda/:clasifiacion/:categoria" class="cool-link">Agua dulce</a><br>
                        <a routerLink = "tienda/:clasifiacion:/categoria" class="cool-link">Agua salada</a><br>
                        <a routerLink = "tienda/:clasifiacion/:categoria/:filter1" class="cool-link">Líneas</a><br>
                        <a routerLink = "tienda/:clasifiacion/:categoria/:filter1" class="cool-link">Navegación</a><br>
                        <a routerLink = "tienda/:clasifiacion/:categoria/:filter1" class="cool-link">Snorkel</a><br>
                        <a routerLink = "tienda/:clasifiacion/:categoria/:filter1" class="cool-link">Buceo</a><br>
                        <a routerLink = "tienda/:clasifiacion/:categoria/:filter1" class="cool-link">Ropa</a><br>
                        <a routerLink = "tienda/:clasifiacion/:categoria/:filter1" class="cool-link">Kayak</a><br>
                        <a routerLink = "tienda/:clasifiacion/:categoria/:filter1" class="cool-link">Accesorios</a><br>
                    </div>
                    
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <h5 routerLink = "tienda/:clasifiacion">Cacería</h5>
                        <a routerLink = "tienda/:clasifiacion/:categoria/:filter1" class="cool-link">Rifles</a><br>
                        <a routerLink = "tienda/:clasifiacion/:categoria/:filter1" class="cool-link">Pistolas</a><br>
                        <a routerLink = "tienda/:clasifiacion/:categoria/:filter1" class="cool-link">Arquería</a><br>
                        <a routerLink = "tienda/:clasifiacion/:categoria/:filter1" class="cool-link">Cuchillería</a><br>
                        <a routerLink = "tienda/:clasifiacion/:categoria/:filter1" class="cool-link">Ropa</a><br>
                        <a routerLink = "tienda/:clasifiacion/:categoria/:filter1" class="cool-link">Accesorias</a><br>
                    </div>
                    
                   
    
                </div>
            </div>
                
                <div class="col-sm-3">
                    <h5>Secciones</h5>
                    <a routerLink = "asuntos-legales" class="cool-link">FAQ's</a><br>
                    <a routerLink = "asuntos-legales/terminos_y_condiciones" class="cool-link">Términos y condiciones</a><br>
                    <a routerLink = "asuntos-legales/politicas-privacidad" class="cool-link">Políticas de privacidad</a><br>
                    <a routerLink = "blog" class="cool-link">Blog</a><br>
                    <a routerLink = "proveedores" class="cool-link">Proveedores</a><br>
                    <a href="mapa-sitio" class="cool-link">Mapa del sitio</a>
                </div>
                        
                <hr style="background: white; width: 80%; height: 1px;">
        </div>
        
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 logo-footer">
                <img src="assets/imagenes/logos/LogoBlanco.png" class="img-fluid">
            </div>
            
            
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="effect thurio">
                    <div>
                        <h1>¡Síguenos!</h1>
                        <h5>A través de nuestras redes sociales</h5>
                    </div>
                    
                    <div class="buttons">
                        <a href="https://www.facebook.com/anfibiamx/" class="fb" title="Join us on Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#" class="tw" title="Join us on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://www.instagram.com/anfibiamx/" class="insta" title="Join us on Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        
        <hr style="background: white; width: 50%; height: 1px;">
                        
        <div class="row">
            <div class="col-sm-12 copyright">
                <p>&copy;Copyright, derechos reservados FECEGO</p>
            </div>
        </div>
    </div>  
</div>
  
