<!--FOOTER-->


<div class="container-fluid" style="background: #001F4D; color: white;">
        <div class="container">
                <div class="row" style="padding: 20px;">
                        <div class="col-sm-3">
                            <h5 style="letter-spacing: 4px;">Anfibia</h5>
                            <p>Contactanos </p>
                            <p>Ubicación</p>
                            <p>¿Quienes somos?</p>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-4">
                                    <h5>Fishing</h5>
                                    <p>Cañas de pescar</p>
                                    <p>Anzuelos</p>
                                    <p>Accesorios</p>
                                    <p>Kayaks</p>
                                    <p>Carretes</p>
                                </div>
                                <div class="col-sm-4">
                                    <h5>Hunting</h5>
                                    <p>Cuchillos</p>
                                    <p>Escopeta</p>
                                    <p>Trampas</p>
                                    <p>Ballesta</p>
                                </div>
                                <div class="col-sm-4">
                                    <h5>Camping</h5>
                                    <p>Bolsas de camping</p>
                                    <p>Tiendas</p>
    
                                </div>
    
                            </div>
                        </div>
                        <div class="col-sm-3">
                          <h5>Secciones</h5>
                          <p>FAQ's</p>
                          <p>Terminos y condiciones</p>
                          <p>Politicas de privacidad.</p>
                          <p>Mapa del sitio</p>
                          <p>Blog</p>
                          <p></p>
                        </div>
                        <hr style="background: white; width: 80%; height: 1px;">
                    </div>
                      
                   
                    
    
        </div>
        
        
    
    </div>
    <div class="container-fluid" style="background: #001F4D; color: white;">
            <div class="container">
                    <div class="row">
                            <div class="col-sm-6">
                                    <img src="assets/imagenes/menu/anfibia.jpg" class="img-fluid">
                            </div>
                            <div class="col-sm-6">
                                    <div class="effect thurio">
                                        <div style="text-align: center; letter-spacing: 8px;">
                                            <h1 style="font-size: 60px;">ANFIBIA</h1>
                                            <h5>Outdoor Experience</h5>
                                        </div>
                                        <div class="buttons">
                                            <a href="#" class="fb" title="Join us on Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                            <a href="#" class="tw" title="Join us on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                            <a href="#" class="insta" title="Join us on Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                            
                                        </div>
                                        </div>
                            </div>
            
                        </div>
                        <hr style="background: white; width: 50%; height: 1px;">
                        
                        <div class="row">
                            <div class="col-sm-12" style="text-align: center;">
                                <p>Copyright, derechos reservados FECEGO</p>
                            </div>
                        </div>
    
            </div>
    
    </div>