<!--FOOTER-->


<div class="container-fluid footer-style">
    <div class="container">
        <div class="row menu-footer">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <h5>Anfibia</h5>
                <a href="" class="cool-link">¿Quienes somos?</a><br>
                <a href="" class="cool-link">Ubicaciones</a><br>
                <a href="" class="cool-link">Contacto</a>  
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <h5>Fishing</h5>
                        <a href="" class="cool-link">Cañas de pescar</a><br>
                        <a href="" class="cool-link">Carretes</a><br>
                        <a href="" class="cool-link">Anzuelos</a><br>
                        <a href="" class="cool-link">Accesorios</a><br>
                        <a href="" class="cool-link">Kayaks</a><br>
                        <a href="" class="cool-link">Lineas</a><br>
                    </div>
                    
                    <div class="col-sm-4">
                        <h5>Hunting</h5>
                        <a href="" class="cool-link">Cuchillos</a><br>
                        <a href="" class="cool-link">Cañones</a><br>
                        <a href="" class="cool-link">Ballestas</a><br>
                        <a href="" class="cool-link">Trampas</a><br>
                    </div>
                    
                    <div class="col-sm-4">
                        <h5>Camping</h5>
                        <a href="" class="cool-link">Bolsas</a><br>
                        <a href="" class="cool-link">Tiendas</a><br>
                        <a href="" class="cool-link">Lamparas</a><br>
                    </div>
    
                </div>
            </div>
                
                <div class="col-sm-3">
                    <h5>Secciones</h5>
                    <a href="" class="cool-link">FAQ's</a><br>
                    <a href="" class="cool-link">Terminos y condiciones</a><br>
                    <a href="" class="cool-link">Politicas de privacidad</a><br>
                    <a href="" class="cool-link">Blog</a><br>
                    <a href="" class="cool-link">Proveedores</a><br>
                    <a href="" class="cool-link">Mapa del sitio</a>
                </div>
                        
                <hr style="background: white; width: 80%; height: 1px;">
        </div>
        
        <div class="row">
            <div class="col-sm-6">
                <img src="assets/imagenes/menu/anfibia.jpg" class="img-fluid">
            </div>
            
            <div class="col-sm-6">
                <div class="effect thurio">
                    <div>
                        <h1 style="font-size: 60px;">ANFIBIA</h1>
                        <h5>Outdoor Experience</h5>
                    </div>
                    
                    <div class="buttons">
                        <a href="#" class="fb" title="Join us on Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#" class="tw" title="Join us on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#" class="insta" title="Join us on Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        
        <hr style="background: white; width: 50%; height: 1px;">
                        
        <div class="row">
            <div class="col-sm-12 copyright">
                <p>&copy;Copyright, derechos reservados FECEGO</p>
            </div>
        </div>
    </div>  
</div>
  
