.container-fluid{
    font-family: 'Prometo-light';
}

/*Media query en celulares vertical*/
@media only screen and (max-width: 390px) and (min-width: 321px){
    .menu{
        display: none;
    }
    /*font-size: 18px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;*/
}

.card .boton2 {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.card .boton2:hover {
    background-color: black;
    color: white;
}


