<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-4 col-12 menu">
            <h2>Menu</h2>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/perfil">Mi perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/tienda">Tienda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/pedidos">Mis pedidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/lista-deseos">Lista de deseos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/carrito">Carrito de compras</a>
                </li>
                <li class="nav-item">
                  <a type="link" class="nav-link" routerLink="/preguntas-frecuentes">FAQ</a>
                </li>
            </ul>
            <hr>
            <h2>¿Necesitas ayuda?</h2>
            <p>Si tiene alguna pregunta o necesita ayuda con su cuenta, puede contactarnos para ayudarlo.</p>
            <div class="help">
                <li><i class="fa fa-envelope-o"></i> Loremipsum@gmail.com</li>
                <li><i class="fa fa-phone"></i> 0180098746535</li>
            </div>
            <hr>
        </div>

        <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                    <h1>{{usuario.nombre | uppercase}} {{usuario.apellidos | uppercase}}</h1>
                    <dl class="detalles">
                        <dt><i class="fa fa-envelope" aria-hidden="true"></i> {{usuario.correo}}</dt>
                        <dt><i class="fa fa-birthday-cake" aria-hidden="true"></i> {{usuario.birthday}}</dt>
                    </dl>
                </div>
               
                <!--<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <img src="/assets/imagenes/Logo/LogoCopia.png" class="rounded float-right" alt="Anfibia">
                </div>-->
            </div>
            <hr>

            <div class="row perfil">
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 direcciones">
                    <h2><i class="fa fa-home" aria-hidden="true"></i> Direcciones</h2>
                    <p>Puedes agregar y editar tu dirección aquí.</p>
                   <div *ngFor="let direccion of usuario.direccion; index as i; let index = i;">
                    <ul class="direccion" >
                        <li><h2>Calle: <span>{{direccion.calle}}</span>, Numero: <span>{{direccion.numero}}</span>, Fraccionamiento <span>{{direccion.fraccionamiento}}</span></h2>   
                            <h2>Municipio: <span>{{direccion.municipio}}</span>, Estado: <span>{{direccion.estado}}</span>, País <span>{{direccion.pais}}</span></h2>
                            <h2>Telefono: <span>{{direccion.telefono}}</span>, Codigo Postal: <span> {{direccion.codigoPostal}}</span></h2>
                            
                        </li>
                    </ul>
                    <button  (click) = "openModal(usuario, direccion)">Editar dirección</button>
                    <button (click) = "eliminarDireccion(usuario, direccion, i)">Eliminar dirección</button>
                    <hr>
                   </div>     
                    
                   
                </div>
                <!-- Trigger the modal with a button -->
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <button class="boton boton1" (click) = "openModalNuevaDireccion(usuario.nombre, usuario.apellidos)">Agregar nueva dirección</button>
                </div>
        
                 <!-- Modal -->
              
            </div>
            <hr>
            <div class="row perfil">
                <div class="col-lg-8 col-md-5 col-sm-5 col-xs-12">
                    <h2><i class="fa fa-heart" aria-hidden="true"></i> Lista de deseos</h2>
                    <p>Mira tu lista de deseo.</p>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-7 col-xs-12">
                    <a class="boton boton1" routerLink = "/lista-deseos">Ver mi lista de deseos</a>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>


 

