<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1>Contacto</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-16 col-sm-12 col-xs-12 form">
            <h3>No dudes en enviarnos un mensaje, nuestro objetivo es responderte antes de que pasen 24 horas hábiles.</h3>
                <div class="card">
                    <form >
                        <div class="input-container">
                            <input type="text" id="nombre" name="nombre" required="required" [(ngModel)] = "contacto.nombre"/>
                            <label for="nombre">Nombre</label>
                            <div class="bar"></div>
                        </div>
            
                        <div class="input-container">
                            <input type="email" id="email" name="email" required="required" [(ngModel)]="contacto.email"/>
                            <label for="email">Email</label>
                            <div class="bar"></div>
                        </div>
            
                        <div class="input-container">
                            <input type="text" id="asunto" name="asunto" [(ngModel)] = "contacto.asunto" required="required"/>
                            <label for="asunto">Asunto</label>
                            <div class="bar"></div>
                        </div>
                                
                        <div class="input-container mensaje">
                            <label for="mensaje">Mensaje</label>
                            <textarea type="text" id="mensaje" name="mensaje" required="required" placeholder="Escribe tu mensaje" [(ngModel)]="contacto.mensaje"></textarea>
                            <div class="bar"></div>
                        </div>
            
                        <div class="button-container">
                            <button (click) = "enviarMensaje(contacto)"><span>Enviar mensaje</span></button>
                        </div>
                    </form>
                </div>
        </div>
           
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 info">
            
                <li><i class="fa fa-map-marker" aria-hidden="true"></i> Sucursal San Rafael</li>
                <hr>
                <h2>Anfibia Outdoor Experience by Fecego Marina</h2>
                <p>Salvador Díaz Mirón No 5, Col. Centro 93620, San Rafael, Veracruz.</p>
                <p><b>Horarios:</b> Lunes a Viernes de 08:00 am a 14:00 pm y 16:00 pm a 20:00 pm</p>
                <p>Sabados de 08:00 am a 13:30 pm </p>
                <div class="tel">
                    <li><i class="fa fa-phone" aria-hidden="true"></i> (232) 324 9060 Ext. 123</li>
                    <li><i class="fa fa-whatsapp" aria-hidden="true"></i> 232 123 4350</li>
                </div>
                
                <br>

                <li><i class="fa fa-map-marker" aria-hidden="true"></i> Sucursal Mérida</li>
                <hr>
                <h2>Anfibia Outdoor Experience</h2>
                <p>Av. Andrés García Lavín No. 301, Interior 2 Col. San Ramón Norte Mérida, Yucatán. C.P. 97117</p>
                <p><b>Horarios:</b> Lunes a Viernes de 08:00 am a 14:00 pm y 16:00 pm a 20:00 pm</p>
                <p>Sabados de 08:00 am a 13:30 pm </p>
                <div class="tel">
                    <li><i class="fa fa-phone" aria-hidden="true"></i> (999) 912 7453</li>
                    <li><i class="fa fa-whatsapp" aria-hidden="true"></i> </li>
                </div>

                <h4>Nuestras redes sociales</h4>
                <section>
                    <ul class="social">
                        <li>
                            <a class="ease-all" href="https://www.facebook.com/anfibiamx"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a class="ease-all" href="https://www.instagram.com/anfibiamx/?hl=es-la"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a class="ease-all" href="https://api.whatsapp.com/send?phone=522321387665"><i class="fa fa-whatsapp"></i></a>
                        </li>
                    </ul>
                </section>
            
        </div>
    </div>
</div>
