.inputGroup {
    position: relative;
    margin-bottom: 50px;
  }
  
  .inputGroup label {
    position: absolute;
    top: 0;
    left: 5px;
    pointer-events: none;
    transition: all 0.3s ease;
    font-size: 16px;
    font-family: Trebuchet MS;
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .inputGroup input,
  .inputGroup textarea {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
    left: 25px;
    padding: 5px;
    font-family: Trebuchet MS;
    background: none;
    color: #000;
  }
  
  .inputGroup input:focus ~ label,
  .inputGroup input:valid ~ label,
  .inputGroup textarea:focus ~ label,
  .inputGroup textarea:valid ~ label {
    top: -20px;
    transition: all 0.3s ease;
    font-size: 13px;
  }
  
  .inputGroup input:focus ~ .inputBar:before,
  .inputGroup input:focus ~ .inputBar:after,
  .inputGroup textarea:focus ~ .inputBar:before,
  .inputGroup textarea:focus ~ .inputBar:after {
    width: 100%;
  }
  
  .inputGroup textarea {
    height: 100px;
    width: 100%;
    overflow: auto;
    resize: none;
  }
  
  .inputGroup .inputBar {
    position: relative;
    display: block;
    width: 290px;
  }
  
  .inputGroup .inputBar:before,
  .inputGroup .inputBar:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 0;
    background: white;
    height: 2px;
    transition: all 0.2s ease;
  }
  
  .inputGroup .inputBar:after {
    right: 50%;
  }
  
  .inputGroup .inputBar:before {
    left: 50%;
  }
  
 
  

.errorFormulario{
    font-size: 12px;
    color: rgb(243, 17, 17);
    font-family: 'Meera Inima', sans-serif;
    background: rgb(248, 230, 230);
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0em;
    padding: 5px;
}
    



    .container{
        font-family: 'Meera';
    }

    img{
        position: absolute;
    }

    h1{
        margin-top: 60px;
        margin-bottom: 30px;
        position: relative;
        text-align: center;
        font-size: 80px;
        font-family: 'Anton', sans-serif;
        color: black;
    }


    @media only screen and (min-width: 1025px) {
        h1{
            letter-spacing: 0em;
        }

        .info{
            margin-bottom: 20px;
         }
    }

    @media only screen and (max-width: 320px){
        h1{
            letter-spacing: 0em;
        }
        .info{
            margin: 10px;
         }

    }

    @media only screen and (max-width: 390px) and (min-width: 321px){
        h1{
            letter-spacing: 0em;
        }

        .info{
            margin-bottom: 20px;
           
         }

    }

    @media only screen and (max-width: 567px) and (min-width: 392px){
        h1{
            letter-spacing: 0em;
        }

        .info{
            margin-bottom: 20px;
         }

    }

    @media screen and (max-width: 640px) and (min-width: 568px){
        h1{
            letter-spacing: 0em;
        }

        .info{
            margin-bottom: 20px;
         }

    }

    @media only screen and (max-width: 768px) and (min-width: 641px){
        h1{
            letter-spacing: 0em;
        }

        .info{
            margin-bottom: 20px;
         }
    }

    @media only screen and (min-width: 770px) and (max-width: 999px) {
        h1{
            letter-spacing: 0em;
        }

        .info{
           margin-bottom: 20px;
        }

    }


    @media only screen and (max-width: 1024px) and (min-width: 1000px)  and (orientation: landscape){
        h1{
            letter-spacing: 0em;
        }

        .info{
            margin-bottom: 20px;
         }
    }

    h3{
        font-size: 16px;
       font-family: 'Meera Inima', sans-serif;
    }
            /*Media query en celulares vertical*/
            @media only screen and (max-width: 390px) and (min-width: 321px){
                h3{
                    font-size: 15px;
                }
            }

            @media only screen and (max-width: 567px) and (min-width: 392px){
                h3{
                    font-size: 15px;
                }
            }

    .form  {
        border-right: 1px solid #DAD9D8;
    }
            /*Media query en tablets vertical*/
            @media only screen and (max-width: 768px) and (min-width: 641px){
                .form{
                    border-right: 0px;
                    border-bottom: 1px solid #DAD9D8;
                    margin-bottom: 40px;
                }
            }

    

    /*----------[FORMULARIO CONTACTO]----------*/
    /*[Card] */
    .card{
        margin-top: 30px;
        border: none;
        margin-bottom: 100px;
    }
    .card .input-container {
        position: relative;
        margin: 0 30px 20px;
    }

    .card .input-container input {
        outline: none;
        z-index: 1;
        position: relative;
        background: none;
        width: 100%;
        height: 60px;
        border: 0;
        color: #212121;
        font-size: 14px;
        font-weight: 400;
        margin-left: 0px;
    }

    .card .input-container textarea{
        outline: none;
        z-index: 1;
        position: relative;
        background: none;
        width: 100%;
        height: 200px;
        border: 0;
        color: #212121;
        font-size: 14px;
        font-weight: 400;
        margin-left: 0px;
        margin-top: 50px;
    }

    .card .input-container input:focus ~ label {
        color: #9d9d9d;
        -webkit-transform: translate(-12%, -50%) scale(0.75);
        transform: translate(-12%, -50%) scale(0.75);
    }
    
    .card .input-container input:focus ~ .bar:before, .card .input-container input:focus ~ .bar:after {
        width: 50%;
    }

    .card .input-container input:valid ~ label {
        color: #9d9d9d;
        -webkit-transform: translate(-12%, -50%) scale(0.75);
        transform: translate(-12%, -50%) scale(0.75);
    }

    .card .input-container label {
        position: absolute;
        top: 0;
        left: 0;
        color: #757575;
        font-size: 15px;
        font-weight: 300;
        line-height: 60px;
        transition: 0.2s ease;
    }

    .card .input-container .bar {
        position: absolute;
        left: 0;
        bottom: 0;
        background: #757575;
        width: 100%;
        height: 1px;
      }
    
    .card .input-container .bar:before, .card .input-container .bar:after {
        content: '';
        position: absolute;
        background: #0D7D90;
        width: 0;
        height: 2px;
        transition: .2s ease;
    }
      
    .card .input-container .bar:before {
        left: 50%;
    }
      
    .card .input-container .bar:after {
        right: 50%;
    }
      
    .card .button-container {
        margin: 0 60px;
        text-align: center;
    }

    .card .button-container button {
        outline: 0;
        cursor: pointer;
        position: relative;
        display: inline-block;
        background: 0;
        width: 100%;
        padding: 15px 0;
        font-size: 18px;
        font-weight: 600;
        line-height: 1;
        text-transform: uppercase;
        overflow: hidden;
        transition: .3s ease;

    }
      
    .card .button-container button span {
        position: relative;
        z-index: 1;
        color: rgb(161, 158, 155);
        transition: .3s ease;
    }
    
    .card .button-container button:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        background: #0D7D90;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        margin: -15px 0 0 -15px;
        opacity: 0;
        transition: .3s ease;
    }
      
    .card .button-container button:hover, .card .button-container button:active, .card .button-container button:focus {
        border-color: #0D7D90;
    }
      
    .card .button-container button:hover span, .card .button-container button:active span, .card .button-container button:focus span {
        color: #0D7D90;
    }
      
    .card .button-container button:active span, .card .button-container button:focus span {
        color: #ffffff;
    }
      
    .card .button-container button:active:before, .card .button-container button:focus:before {
        opacity: 1;
        -webkit-transform: scale(10);
        transform: scale(10);
    }
    /*----------[FIN FORMULARIO REGISTRO]----------*/

    .info li{
        text-align: left;
        font-size: 20px;
        font-family: 'Meera Inima', sans-serif;
        font-weight: bold;
        color: #000;
        list-style: none;
    }

    .info i{
        font-size: 25px;
    }
    .info hr{
        background: #2A78A5;
        height: 3px;
        width: 20%;
        margin-left: 0;
    }

    h2{
        font-size: 16px;
        font-weight: bold;
        color: #000;
    }

    p {
        margin: 0;
        color: #000;
    }

    .tel li{
        font-size: 16px;
        font-family: 'Meera Inima', sans-serif;
        list-style: none;
    }

    .tel i{
        font-size: 15px;
    }

    h4{
        margin-top: 40px;
        margin-left: 180px;
        font-size: 20px;
        font-family: 'Anton', sans-serif;
    }

    section{
        width: 400px;
        margin-left: 170px;
        margin-top: 30px;
    }  
                /*Media query en tablets horizontal*/
                @media only screen and (max-width: 1024px) and (min-width: 1000px)  and (orientation: landscape){
                    h4{
                        margin-left: 125px;
                    }
                    section{
                        width: 400px;
                        margin-left: 130px;
                        margin-top: 30px;
                    }
                }

                /*Media query en tablets vertical*/
                @media only screen and (max-width: 768px) and (min-width: 641px){
                    h4{
                        margin-left: 125px;
                    }
                    section{
                        width: 400px;
                        margin-left: 125px;
                        margin-top: 30px;
                        margin-bottom: 50px;
                    }
                }
                /*Media query en celulares vertical*/
                @media only screen and (max-width: 390px) and (min-width: 321px){
                    h4{
                        margin-left: 60px;
                    }
                    section{
                        width: 400px;
                        margin-left: 60px;
                        margin-top: 30px;
                        margin-bottom: 50px;
                    }
                }

                @media only screen and (max-width: 567px) and (min-width: 392px){
                    h4{
                        margin-left: 70px;
                    }
                    section{
                        width: 400px;

                        margin-left: 70px;
                        margin-top: 30px;
                        margin-bottom: 50px;
                    }
                }

                @media only screen and (max-width: 640px) and (min-width: 568px){
                    section{
                        
                        margin-left: 0px;
                    }

                }
      
    .ease-all{
        -webkit-transition: all 400ms ease-in-out;
        -moz-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        -ms-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out;
    }
      
    /* Social Icons */
      
    .social{
        height: 50px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: left;
       
    }

    @media only screen and (max-width: 640px) and (min-width: 568px){
        .social{
            background: red;
           margin: 0;
           padding: 0;
           width: 60%;
        }
    }
      
    .social li a{
        display: inline-block;
        float: left;
        width: 60px;
        height: 60px;
        margin-right: 1rem;
        text-align: center;
        padding-top: 5px;
        font-size: 30px;
        -webkit-border-radius:20px;
        -moz-border-radius:20px;
        -o-border-radius:20px;
        -ms-border-radius:20px;
        border-radius:20px;
        /*background-color: #222;*/
        -webkit-box-shadow: inset 0 0 0 40px #222;
        -moz-box-shadow: inset 0 0 0 40px #222;
        -o-box-shadow: inset 0 0 0 40px #222;
        -ms-box-shadow: inset 0 0 0 40px #222;
        box-shadow: inset 0 0 0 40px #222; 
        color: #fff;
    }
      
    .social li a:hover{
        -webkit-box-shadow: inset 0 0 0 3px #222;
        -moz-box-shadow: inset 0 0 0 3px #222;
        -o-box-shadow: inset 0 0 0 3px #222;
        -ms-box-shadow: inset 0 0 0 3px #222;
        box-shadow: inset 0 0 0 3px #222;
        color: #222;
    }