
/*--------------------------------------------------------------*\
            "PAGINA ADAPTABLE A COMPUTADORAS"
Afecta a computadoras, laptops modelos:Nexus 10 landscape, 
Surface 3 Pro Landscape, Ipad landscape, Ipad mini 2,4 landcape.
\*--------------------------------------------------------------*/
@media screen and (min-width: 1024px) and (max-width: 1600px) {
    
    section{
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .sec1{
        background: url('/assets/imagenes/Nosotros/forest.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
    }

    .skewedBox1{
        position: absolute;
        bottom: 0;
        left: 0;
        border-width: 600px 0 200px 1500px; /*top left bottom right*/
        border-color: transparent transparent white transparent;
        border-style: solid;
    }

    .img{
        position: absolute;
        width: 300px;
        height: 300px;
        left: 600px;
        top: 80px;
    }

    .sec1 h1{
        font-family: 'Prometo-x-bold';
        color:white;
        font-size: 80px;
        padding-top: 350px;
        letter-spacing: 0.2em;
        text-align: center;
    }

    .sec1 h2{
        color: white;
        font-size: 60px;
        padding-left: 370px;
        font-family: 'Prometo-medium';
    }

    h2{
        position: relative;
        padding-top: 50px;
        text-align: center;
        font-size: 100px;
        font-family: 'Prometo-x-bold';
    }

    p{
        text-align: justify;
        font-family: 'Prometo-light';
        font-size: 19px;
    }


    .project {
        font-family: 'Prometo-light';
        position: relative;
        width: 100%;
        display: block;
        overflow: hidden;
        z-index: 0; }

    .project:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        background: #91E5EF;
        opacity: 0;
        z-index: 1;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease; 
    }

    .project img {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        z-index: -1;
        -moz-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        -webkit-transition: all 0.6s ease;
        -ms-transition: all 0.6s ease;
        transition: all 0.6s ease; 
    }
    
    .project .text {
        position: absolute;
        bottom: -100px;
        left: 0;
        right: 0;
        padding: 2em;
        opacity: 0;
        z-index: 2;
        -moz-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        -webkit-transition: all 0.6s ease;
        -ms-transition: all 0.6s ease;
        transition: all 0.6s ease; 
    }
    
    .project .text span {
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: rgba(255, 255, 255, 0.8); 
    }

    .project .text h3 {
        color: #fff; 
        font-size: 50px;
    }
        
    .project .text h3 a {
          color: #fff; 
        }
        
        @media (max-width: 991.98px) {
            .project .text {
                opacity: 1;
                bottom: 0; 
            } 
        }

    .project .icon {
        position: absolute;
        top: -50px;
        right: 2em;
        width: 50px;
        height: 50px;
        bordeR: 1px solid #fff;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         transform: translateY(-50%);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        -moz-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        -webkit-transition: all 0.6s ease;
        -ms-transition: all 0.6s ease;
        transition: all 0.6s ease;
        opacity: 0;
        z-index: 2; }
      
    .project .icon span {
        color: #fff;
        font-size: 20px; 
    }
        @media (max-width: 991.98px) {
            .project .icon {
                opacity: 1;
                top: 50px; 
            } 
        }

    .project:hover:after, .project:focus:after {
        opacity: .2; 
    }

    .project:hover .text, .project:focus .text {
        opacity: 1;
        bottom: 0; 
    }

    .project:hover .icon, .project:focus .icon {
        top: 50px;
        opacity: 1; 
    }

    .project:hover img, .project:focus img {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.3);
        -o-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3); 
    }
  

    .sec2{
        position: relative;
        background: url('/assets/imagenes/Nosotros/forest.jpg');
        height: 500px;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;

    }

    .sec2 h4{
        font-family: 'Prometo-x-bold';
        padding-top: 200px;
        text-align: center;
        color: white;
        font-size: 100px;
    }

    .sec2 a{
        color: white;
    }

    .skewedBox2{
        position: absolute;
        top: 0;
        left: 0;
        border-width:  0 0 100px 1500px;;/*TOP LEFT BOTTOM RIGHT*/
        border-color: transparent transparent transparent white;
        border-style: solid;
    }

    .social{
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .social h3{
        text-align: center;
        font-family: 'Prometo-medium';
        padding-bottom: 30px;
    }
    
    .social-btns {
        height: 90px;
        margin: auto;
        font-size: 0;
        text-align: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
    .social-btns .btn {
        display: inline-block;
        background-color: #fff;
        width: 120px;
        height: 120px;
        line-height: 120px;
        margin: 0 20px;
        text-align: center;
        position: relative;
        overflow: hidden;
        border-radius: 28%;
        box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
        opacity: 0.99;
    }
      
    .social-btns .btn:before {
        content: '';
        width: 120%;
        height: 120%;
        position: absolute;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .social-btns .btn .fa {
        font-size: 48px;
        vertical-align: center;
    }

    .social-btns .btn, .social-btns .btn:before, .social-btns .btn .fa {
        transition: all 0.35s;
        transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
    }

    .social-btns .btn:before {
        top: 90%;
        left: -110%;
    }

    .social-btns .btn .fa {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }

    .social-btns .btn.facebook:before {
        background-color: #3b5998;
    }

    .social-btns .btn.facebook .fa {
        color: #3b5998;
    }

    .social-btns .btn.twitter:before {
        background-color: #3cf;
    }
    
    .social-btns .btn.twitter .fa {
        color: #3cf;
    }

    .social-btns .btn.whatsapp:before {
        background-color: #25D366;
    }

    .social-btns .btn.whatsapp .fa {
        color: #25D366;
    }

    .social-btns .btn.instagram:before {
        background-color: #f26798;
    }

    .social-btns .btn.instagram .fa {
        color: #f26798;
    }

    .social-btns .btn:focus:before, .social-btns .btn:hover:before {
        top: -10%;
        left: -10%;
    }

    .social-btns .btn:focus .fa, .social-btns .btn:hover .fa {
        color: #fff;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}   


/*--------------------------------------------------------------*\
     "PAGINA ADAPTABLE A TABLETS HORIZONTAL (VERTICAL)"
Nexus 10 Portrait, Nexus 7 Landscape, Surface Pro 3 Portrait , 
ipad landscape, Ipad mini Landscape.
\*--------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    section{
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .sec1{
        background: url('/assets/imagenes/Nosotros/forest.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
    }

    .skewedBox1{
        position: absolute;
        bottom: 0;
        left: 0;
        border-width: 600px 0 200px 1500px; /*top left bottom right*/
        border-color: transparent transparent white transparent;
        border-style: solid;
    }

    .img{
        position: absolute;
        width: 300px;
        height: 300px;
        left: 300px;
        top: 100px;
    }

    .sec1 h1{
        font-family: 'Prometo-x-bold';
        color:white;
        font-size: 70px;
        padding-top: 370px;
        letter-spacing: 0.2em;
        text-align: center;
    }

    .sec1 h2{
        color: white;
        font-size: 60px;
        padding-left: 370px;
        font-family: 'Prometo-medium';
    }

    h2{
        position: relative;
        padding-top: 50px;
        text-align: center;
        font-size: 100px;
        font-family: 'Prometo-x-bold';
    }

    p{
        text-align: justify;
        font-family: 'Prometo-light';
        font-size: 19px;
    }


    .project {
        font-family: 'Prometo-light';
        position: relative;
        width: 100%;
        display: block;
        overflow: hidden;
        z-index: 0; }

    .project:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        background: #91E5EF;
        opacity: 0;
        z-index: 1;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease; 
    }

    .project img {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        z-index: -1;
        -moz-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        -webkit-transition: all 0.6s ease;
        -ms-transition: all 0.6s ease;
        transition: all 0.6s ease; 
    }
    
    .project .text {
        position: absolute;
        bottom: -200px;
        left: 0;
        right: 0;
        padding: 2em;
        opacity: 0;
        z-index: 2;
        -moz-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        -webkit-transition: all 0.6s ease;
        -ms-transition: all 0.6s ease;
        transition: all 0.6s ease; 
    }
    
    .project .text span {
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: rgba(255, 255, 255, 0.8); 
    }

    .project .text h3 {
        color: #fff; 
        font-size: 50px;
    }
        
    .project .text h3 a {
          color: #fff; 
        }
        
        @media (max-width: 991.98px) {
            .project .text {
                opacity: 1;
                bottom: 0; 
            } 
        }

    .project .icon {
        position: absolute;
        top: -50px;
        right: 2em;
        width: 50px;
        height: 50px;
        bordeR: 1px solid #fff;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         transform: translateY(-50%);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        -moz-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        -webkit-transition: all 0.6s ease;
        -ms-transition: all 0.6s ease;
        transition: all 0.6s ease;
        opacity: 0;
        z-index: 2; }
      
    .project .icon span {
        color: #fff;
        font-size: 20px; 
    }
        @media (max-width: 991.98px) {
            .project .icon {
                opacity: 1;
                top: 50px; 
            } 
        }

    .project:hover:after, .project:focus:after {
        opacity: .2; 
    }

    .project:hover .text, .project:focus .text {
        opacity: 1;
        bottom: 0; 
    }

    .project:hover .icon, .project:focus .icon {
        top: 50px;
        opacity: 1; 
    }

    .project:hover img, .project:focus img {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.3);
        -o-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3); 
    }
  

    .sec2{
        position: relative;
        background: url('/assets/imagenes/Nosotros/forest.jpg');
        height: 500px;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;

    }

    .sec2 h4{
        font-family: 'Prometo-x-bold';
        padding-top: 250px;
        text-align: center;
        color: white;
        font-size: 70px;
    }

    .sec2 a{
        color: white;
    }

    .skewedBox2{
        position: absolute;
        top: 0;
        left: 0;
        border-width:  0 0 100px 1500px;;/*TOP LEFT BOTTOM RIGHT*/
        border-color: transparent transparent transparent white;
        border-style: solid;
    }

    .social{
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .social h3{
        text-align: center;
        font-family: 'Prometo-medium';
        padding-bottom: 30px;
    }
    
    .social-btns {
        height: 90px;
        margin: auto;
        font-size: 0;
        text-align: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
    .social-btns .btn {
        display: inline-block;
        background-color: #fff;
        width: 120px;
        height: 120px;
        line-height: 120px;
        margin: 0 20px;
        text-align: center;
        position: relative;
        overflow: hidden;
        border-radius: 28%;
        box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
        opacity: 0.99;
    }
      
    .social-btns .btn:before {
        content: '';
        width: 120%;
        height: 120%;
        position: absolute;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .social-btns .btn .fa {
        font-size: 48px;
        vertical-align: center;
    }

    .social-btns .btn, .social-btns .btn:before, .social-btns .btn .fa {
        transition: all 0.35s;
        transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
    }

    .social-btns .btn:before {
        top: 90%;
        left: -110%;
    }

    .social-btns .btn .fa {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }

    .social-btns .btn.facebook:before {
        background-color: #3b5998;
    }

    .social-btns .btn.facebook .fa {
        color: #3b5998;
    }

    .social-btns .btn.twitter:before {
        background-color: #3cf;
    }
    
    .social-btns .btn.twitter .fa {
        color: #3cf;
    }

    .social-btns .btn.whatsapp:before {
        background-color: #25D366;
    }

    .social-btns .btn.whatsapp .fa {
        color: #25D366;
    }

    .social-btns .btn.instagram:before {
        background-color: #f26798;
    }

    .social-btns .btn.instagram .fa {
        color: #f26798;
    }

    .social-btns .btn:focus:before, .social-btns .btn:hover:before {
        top: -10%;
        left: -10%;
    }

    .social-btns .btn:focus .fa, .social-btns .btn:hover .fa {
        color: #fff;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}



/*--------------------------------------------------------------*\
    "PAGINA ADAPTABLE A TABLETS VERTICAL (CELULAR HORINZOTAL)"
Afecta Android phones LANDSCAPE, Nexus 7 Portrait, Ipad Portrait.
\*--------------------------------------------------------------*/
@media screen and (max-width: 768px) and (min-width: 490px) {
    section{
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .sec1{
        background: url('/assets/imagenes/Nosotros/forest.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
    }

    .skewedBox1{
        position: absolute;
        bottom: 0;
        left: 0;
        border-width: 600px 0 200px 1500px; /*top left bottom right*/
        border-color: transparent transparent white transparent;
        border-style: solid;
    }

    .img{
        position: absolute;
        width: 200px;
        height: 200px;
        left: 250px;
        top: 20px;
    }

    .sec1 h1{
        font-family: 'Prometo-x-bold';
        color:white;
        font-size: 60px;
        padding-top: 200px;
        letter-spacing: 0.2em;
        text-align: center;
    }

    .sec1 h2{
        color: white;
        font-size: 60px;
        padding-left: 370px;
        font-family: 'Prometo-medium';
    }

    h2{
        position: relative;
        padding-top: 50px;
        text-align: center;
        font-size: 100px;
        font-family: 'Prometo-x-bold';
    }

    p{
        text-align: justify;
        font-family: 'Prometo-light';
        font-size: 19px;
    }


    .project {
        font-family: 'Prometo-light';
        position: relative;
        width: 100%;
        display: block;
        overflow: hidden;
        z-index: 0; }

    .project:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        background: #91E5EF;
        opacity: 0;
        z-index: 1;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease; 
    }

    .project img {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        z-index: -1;
        -moz-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        -webkit-transition: all 0.6s ease;
        -ms-transition: all 0.6s ease;
        transition: all 0.6s ease; 
    }
    
    .project .text {
        position: absolute;
        bottom: -200px;
        left: 0;
        right: 0;
        padding: 2em;
        opacity: 0;
        z-index: 2;
        -moz-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        -webkit-transition: all 0.6s ease;
        -ms-transition: all 0.6s ease;
        transition: all 0.6s ease; 
    }
    
    .project .text span {
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: rgba(255, 255, 255, 0.8); 
    }

    .project .text h3 {
        color: #fff; 
        font-size: 50px;
    }
        
    .project .text h3 a {
          color: #fff; 
        }
        
        @media (max-width: 991.98px) {
            .project .text {
                opacity: 1;
                bottom: 0; 
            } 
        }

    .project .icon {
        position: absolute;
        top: -50px;
        right: 2em;
        width: 50px;
        height: 50px;
        bordeR: 1px solid #fff;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         transform: translateY(-50%);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        -moz-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        -webkit-transition: all 0.6s ease;
        -ms-transition: all 0.6s ease;
        transition: all 0.6s ease;
        opacity: 0;
        z-index: 2; }
      
    .project .icon span {
        color: #fff;
        font-size: 20px; 
    }
        @media (max-width: 991.98px) {
            .project .icon {
                opacity: 1;
                top: 50px; 
            } 
        }

    .project:hover:after, .project:focus:after {
        opacity: .2; 
    }

    .project:hover .text, .project:focus .text {
        opacity: 1;
        bottom: 0; 
    }

    .project:hover .icon, .project:focus .icon {
        top: 50px;
        opacity: 1; 
    }

    .project:hover img, .project:focus img {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.3);
        -o-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3); 
    }
  

    .sec2{
        position: relative;
        background: url('/assets/imagenes/Nosotros/forest.jpg');
        height: 500px;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;

    }

    .sec2 h4{
        font-family: 'Prometo-x-bold';
        padding-top: 250px;
        text-align: center;
        color: white;
        font-size: 60px;
    }

    .sec2 a{
        color: white;
    }

    .skewedBox2{
        position: absolute;
        top: 0;
        left: 0;
        border-width:  0 0 100px 1500px;;/*TOP LEFT BOTTOM RIGHT*/
        border-color: transparent transparent transparent white;
        border-style: solid;
    }

    .social{
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .social h3{
        text-align: center;
        font-family: 'Prometo-medium';
        padding-bottom: 30px;
    }
    
    .social-btns {
        height: 90px;
        margin: auto;
        font-size: 0;
        text-align: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
    .social-btns .btn {
        display: inline-block;
        background-color: #fff;
        width: 90px;
        height: 90px;
        line-height: 90px;
        margin: 0 10px;
        text-align: center;
        position: relative;
        overflow: hidden;
        border-radius: 28%;
        box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
        opacity: 0.99;
    }
      
    .social-btns .btn:before {
        content: '';
        width: 120%;
        height: 120%;
        position: absolute;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .social-btns .btn .fa {
        font-size: 38px;
        vertical-align: center;
    }

    .social-btns .btn, .social-btns .btn:before, .social-btns .btn .fa {
        transition: all 0.35s;
        transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
    }

    .social-btns .btn:before {
        top: 90%;
        left: -110%;
    }

    .social-btns .btn .fa {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }

    .social-btns .btn.facebook:before {
        background-color: #3b5998;
    }

    .social-btns .btn.facebook .fa {
        color: #3b5998;
    }

    .social-btns .btn.twitter:before {
        background-color: #3cf;
    }
    
    .social-btns .btn.twitter .fa {
        color: #3cf;
    }

    .social-btns .btn.whatsapp:before {
        background-color: #25D366;
    }

    .social-btns .btn.whatsapp .fa {
        color: #25D366;
    }

    .social-btns .btn.instagram:before {
        background-color: #f26798;
    }

    .social-btns .btn.instagram .fa {
        color: #f26798;
    }

    .social-btns .btn:focus:before, .social-btns .btn:hover:before {
        top: -10%;
        left: -10%;
    }

    .social-btns .btn:focus .fa, .social-btns .btn:hover .fa {
        color: #fff;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}



/*--------------------------------------------------------------*\
               "PAGINA ADAPTABLE A CELULARES"
Iphone 4, 5, 7 PORTRAIT.
\*--------------------------------------------------------------*/

@media only screen and (max-width: 319px){
   

    section{
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .sec1{
        background: url('/assets/imagenes/Nosotros/forest.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
    }

    .skewedBox1{
        position: absolute;
        bottom: 0;
        left: 0;
        border-width: 600px 0 200px 1500px; /*top left bottom right*/
        border-color: transparent transparent white transparent;
        border-style: solid;
    }

    .img{
        position: absolute;
        width: 200px;
        height: 200px;
        left: 250px;
        top: 20px;
    }

    .sec1 h1{
        font-family: 'Prometo-x-bold';
        color:white;
        font-size: 60px;
        padding-top: 200px;
        letter-spacing: 0.2em;
        text-align: center;
    }

    .sec1 h2{
        color: white;
        font-size: 60px;
        padding-left: 370px;
        font-family: 'Prometo-medium';
    }

    h2{
        position: relative;
        padding-top: 50px;
        text-align: center;
        font-size: 100px;
        font-family: 'Prometo-x-bold';
    }

    p{
        text-align: justify;
        font-family: 'Prometo-light';
        font-size: 19px;
    }


    .project {
        font-family: 'Prometo-light';
        position: relative;
        width: 100%;
        display: block;
        overflow: hidden;
        z-index: 0; }

    .project:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        background: #91E5EF;
        opacity: 0;
        z-index: 1;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease; 
    }

    .project img {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        z-index: -1;
        -moz-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        -webkit-transition: all 0.6s ease;
        -ms-transition: all 0.6s ease;
        transition: all 0.6s ease; 
    }
    
    .project .text {
        position: absolute;
        bottom: -200px;
        left: 0;
        right: 0;
        padding: 2em;
        opacity: 0;
        z-index: 2;
        -moz-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        -webkit-transition: all 0.6s ease;
        -ms-transition: all 0.6s ease;
        transition: all 0.6s ease; 
    }
    
    .project .text span {
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: rgba(255, 255, 255, 0.8); 
    }

    .project .text h3 {
        color: #fff; 
        font-size: 50px;
    }
        
    .project .text h3 a {
          color: #fff; 
        }
        
        @media (max-width: 991.98px) {
            .project .text {
                opacity: 1;
                bottom: 0; 
            } 
        }

    .project .icon {
        position: absolute;
        top: -50px;
        right: 2em;
        width: 50px;
        height: 50px;
        bordeR: 1px solid #fff;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         transform: translateY(-50%);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        -moz-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        -webkit-transition: all 0.6s ease;
        -ms-transition: all 0.6s ease;
        transition: all 0.6s ease;
        opacity: 0;
        z-index: 2; }
      
    .project .icon span {
        color: #fff;
        font-size: 20px; 
    }
        @media (max-width: 991.98px) {
            .project .icon {
                opacity: 1;
                top: 50px; 
            } 
        }

    .project:hover:after, .project:focus:after {
        opacity: .2; 
    }

    .project:hover .text, .project:focus .text {
        opacity: 1;
        bottom: 0; 
    }

    .project:hover .icon, .project:focus .icon {
        top: 50px;
        opacity: 1; 
    }

    .project:hover img, .project:focus img {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.3);
        -o-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3); 
    }
  

    .sec2{
        position: relative;
        background: url('/assets/imagenes/Nosotros/forest.jpg');
        height: 500px;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;

    }

    .sec2 h4{
        font-family: 'Prometo-x-bold';
        padding-top: 250px;
        text-align: center;
        color: white;
        font-size: 60px;
    }

    .sec2 a{
        color: white;
    }

    .skewedBox2{
        position: absolute;
        top: 0;
        left: 0;
        border-width:  0 0 100px 1500px;;/*TOP LEFT BOTTOM RIGHT*/
        border-color: transparent transparent transparent white;
        border-style: solid;
    }

    .social{
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .social h3{
        text-align: center;
        font-family: 'Prometo-medium';
        padding-bottom: 30px;
    }
    
    .social-btns {
        height: 90px;
        margin: auto;
        font-size: 0;
        text-align: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
    .social-btns .btn {
        display: inline-block;
        background-color: #fff;
        width: 90px;
        height: 90px;
        line-height: 90px;
        margin: 0 10px;
        text-align: center;
        position: relative;
        overflow: hidden;
        border-radius: 28%;
        box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
        opacity: 0.99;
    }
      
    .social-btns .btn:before {
        content: '';
        width: 120%;
        height: 120%;
        position: absolute;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .social-btns .btn .fa {
        font-size: 38px;
        vertical-align: center;
    }

    .social-btns .btn, .social-btns .btn:before, .social-btns .btn .fa {
        transition: all 0.35s;
        transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
    }

    .social-btns .btn:before {
        top: 90%;
        left: -110%;
    }

    .social-btns .btn .fa {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }

    .social-btns .btn.facebook:before {
        background-color: #3b5998;
    }

    .social-btns .btn.facebook .fa {
        color: #3b5998;
    }

    .social-btns .btn.twitter:before {
        background-color: #3cf;
    }
    
    .social-btns .btn.twitter .fa {
        color: #3cf;
    }

    .social-btns .btn.whatsapp:before {
        background-color: #25D366;
    }

    .social-btns .btn.whatsapp .fa {
        color: #25D366;
    }

    .social-btns .btn.instagram:before {
        background-color: #f26798;
    }

    .social-btns .btn.instagram .fa {
        color: #f26798;
    }

    .social-btns .btn:focus:before, .social-btns .btn:hover:before {
        top: -10%;
        left: -10%;
    }

    .social-btns .btn:focus .fa, .social-btns .btn:hover .fa {
        color: #fff;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}



/*--------------------------------------------------------------*\
               "PAGINA ADAPTABLE A CELULARES"
Celulares Portrait.
\*--------------------------------------------------------------*/
@media (min-width: 320px) and (max-width: 480px) {
    
    section{
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .sec1{
        background: url('/assets/imagenes/Nosotros/forest.jpg');
        background-size: cover;
        height: 400px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
    }

    .skewedBox1{
        position: absolute;
        bottom: 0;
        left: 0;
        border-width: 600px 0 200px 1500px; /*top left bottom right*/
        border-color: transparent transparent white transparent;
        border-style: solid;
    }

    .img{
        position: absolute;
        width: 200px;
        height: 200px;
        left: 100px;
        top: 10px;
    }

    .sec1 h1{
        font-family: 'Prometo-x-bold';
        color:white;
        font-size: 60px;
        padding-top: 200px;
        letter-spacing: 0.2em;
        text-align: center;
    }

    .sec1 h2{
        color: white;
        font-size: 60px;
        padding-left: 370px;
        font-family: 'Prometo-medium';
    }

    h2{
        position: relative;
        padding-top: 50px;
        text-align: center;
        font-size: 70px;
        font-family: 'Prometo-x-bold';
    }

    p{
        text-align: justify;
        font-family: 'Prometo-light';
        font-size: 16px;
    }


    .project {
        font-family: 'Prometo-light';
        position: relative;
        width: 100%;
        display: block;
        overflow: hidden;
        z-index: 0; }

    .project:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        background: #91E5EF;
        opacity: 0;
        z-index: 1;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease; 
    }

    .project img {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        z-index: -1;
        -moz-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        -webkit-transition: all 0.6s ease;
        -ms-transition: all 0.6s ease;
        transition: all 0.6s ease; 
    }
    
    .project .text {
        position: absolute;
        bottom: -200px;
        left: 0;
        right: 0;
        padding: 2em;
        opacity: 0;
        z-index: 2;
        -moz-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        -webkit-transition: all 0.6s ease;
        -ms-transition: all 0.6s ease;
        transition: all 0.6s ease; 
    }
    
    .project .text span {
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: rgba(255, 255, 255, 0.8); 
    }

    .project .text h3 {
        color: #fff; 
        font-size: 25px;
    }
        
    .project .text h3 a {
          color: #fff; 
        }
        
        @media (max-width: 991.98px) {
            .project .text {
                opacity: 1;
                bottom: 0; 
            } 
        }

    .project .icon {
        position: absolute;
        top: -50px;
        right: 2em;
        width: 30px;
        height: 30px;
        bordeR: 1px solid #fff;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         transform: translateY(-50%);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        -moz-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        -webkit-transition: all 0.6s ease;
        -ms-transition: all 0.6s ease;
        transition: all 0.6s ease;
        opacity: 0;
        z-index: 2; }
      
    .project .icon span {
        color: #fff;
        font-size: 10px; 
    }
        @media (max-width: 991.98px) {
            .project .icon {
                opacity: 1;
                top: 50px; 
            } 
        }

    .project:hover:after, .project:focus:after {
        opacity: .2; 
    }

    .project:hover .text, .project:focus .text {
        opacity: 1;
        bottom: 0; 
    }

    .project:hover .icon, .project:focus .icon {
        top: 50px;
        opacity: 1; 
    }

    .project:hover img, .project:focus img {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.3);
        -o-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3); 
    }
  

    .sec2{
        position: relative;
        background: url('/assets/imagenes/Nosotros/forest.jpg');
        height: 400px;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;

    }

    .sec2 h4{
        font-family: 'Prometo-x-bold';
        padding-top: 220px;
        text-align: center;
        color: white;
        font-size: 35px;
    }

    .sec2 a{
        color: white;
    }

    .skewedBox2{
        position: absolute;
        top: 0;
        left: 0;
        border-width:  0 0 100px 1500px;;/*TOP LEFT BOTTOM RIGHT*/
        border-color: transparent transparent transparent white;
        border-style: solid;
    }

    .social{
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .social h3{
        text-align: center;
        font-family: 'Prometo-medium';
        padding-bottom: 30px;
    }
    
    .social-btns {
        height: 90px;
        margin: auto;
        font-size: 0;
        text-align: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
    .social-btns .btn {
        display: inline-block;
        background-color: #fff;
        width: 70px;
        height: 70px;
        line-height: 70px;
        margin: 0 5px;
        text-align: center;
        position: relative;
        overflow: hidden;
        border-radius: 28%;
        box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
        opacity: 0.99;
    }
      
    .social-btns .btn:before {
        content: '';
        width: 120%;
        height: 120%;
        position: absolute;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .social-btns .btn .fa {
        font-size: 28px;
        vertical-align: center;
    }

    .social-btns .btn, .social-btns .btn:before, .social-btns .btn .fa {
        transition: all 0.35s;
        transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
    }

    .social-btns .btn:before {
        top: 90%;
        left: -110%;
    }

    .social-btns .btn .fa {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }

    .social-btns .btn.facebook:before {
        background-color: #3b5998;
    }

    .social-btns .btn.facebook .fa {
        color: #3b5998;
    }

    .social-btns .btn.twitter:before {
        background-color: #3cf;
    }
    
    .social-btns .btn.twitter .fa {
        color: #3cf;
    }

    .social-btns .btn.whatsapp:before {
        background-color: #25D366;
    }

    .social-btns .btn.whatsapp .fa {
        color: #25D366;
    }

    .social-btns .btn.instagram:before {
        background-color: #f26798;
    }

    .social-btns .btn.instagram .fa {
        color: #f26798;
    }

    .social-btns .btn:focus:before, .social-btns .btn:hover:before {
        top: -10%;
        left: -10%;
    }

    .social-btns .btn:focus .fa, .social-btns .btn:hover .fa {
        color: #fff;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    
}






