<section class="sec1">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
           <img src="/assets/imagenes/Logo/logoAzulR.png"  class=" img img-fluid" alt="Responsive image">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!--<h1><span>Sobre</span>ANFIBIA</h1>-->
           <!--<div class="titulo">
                <p>Outdoor Experience</p>
           </div>-->
        </div>
    </div>
    <div class="skewedBox1"></div> 
</section>

<div class="container">
    <div class="row ">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2>ANFIBIA</h2>
            <hr>
            <p data-aos="fade-up"
            data-aos-easing="linear"
            data-aos-duration="1000">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. 
            Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. 
            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. 
            Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
        </div>

    </div>
</div>

<div class="container-fluid p-0" style="margin-top: 100px; margin-bottom: 100px;">
    <div class="row no-gutters">
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="project">
                <img src="/assets/imagenes/Nosotros/hunting.jpg" class="img-fluid" alt="Anfibia">
                <div class="text">
                    <h3><a href="project.html">Cacería</a></h3>
                </div>
                <a href="/assets/imagenes/Nosotros/1.jpg" class="icon image-popup d-flex justify-content-center align-items-center"></a>
            </div>
        </div>

        
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="project">
                <img src="assets/imagenes/Nosotros/fishing.jpg" class="img-fluid" alt="Anfibia">
                <div class="text">
                    <h3><a href="project.html">Pesca</a></h3>
                </div>
                <a href="/assets/imagenes/Nosotros/3.jpg" class="icon image-popup d-flex justify-content-center align-items-center"></a>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="project">
                <img src="/assets/imagenes/Nosotros/4.jpg" class="img-fluid" alt="Anfibia">
                <div class="text">
                    <h3><a href="project.html">Supervivencia</a></h3>
                </div>
                <a href="/assets/imagenes/Nosotros/4.jpg" class="icon image-popup d-flex justify-content-center align-items-center"></a>
            </div>
        </div>
    </div>
</div>
    
<div class="container">
    <div class="row ">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p data-aos="fade-up"
            data-aos-easing="linear"
            data-aos-duration="1000">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. 
            Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. 
            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. 
            Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
        </div>
        <div class="accordion">
            <ul>
                <li tabindex="1">
                    <div>
                        <a href="#"></a>
                    </div>
                </li>
                <li tabindex="2">
                    <div>
                        <a href="#"></a>
                    </div>
                </li>
                <li tabindex="3">
                    <div>
                        <a href="#"></a>
                    </div>
                </li>
                <li tabindex="4">
                    <div>
                        <a href="#"></a>
                    </div>
                </li>
                <li tabindex="5">
                    <div>
                        <a href="#"></a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p data-aos="fade-up"
            data-aos-easing="linear"
            data-aos-duration="1000">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. 
            Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. 
            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. 
            Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
        </div>
    </div>
</div>

<div class="container-fluid" style="padding: 0; height: 400px; background-color: black;">
    <div class="row" style="margin: 0; position: relative;">
        <div class="row social">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3 style="color: white;">¡Siguenos!</h3>
                <div class="social-btns">
                    <a class="btn facebook" href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn twitter" href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn whatsapp" href="#">
                        <i class="fa fa-whatsapp"></i>
                    </a>
                    <a class="btn instagram" href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <h3 style="font-family: 'Prometo-Thin'; font-weight: bolder; color: white;">Se bienvenido en nuestras <span style="font-family: 'Prometo-Medium';">Redes Sociales</span></h3>
                </div>
            </div>
        </div>
    </div>
</div>

   
<section class="sec2">
    <h4>Atrevete a vivir sin <br> limites <span class="half_background">#ANFIBIA</span></h4>
    <div class=""></div>
</section>


