<div class="container-fluid-video">
    <video autoplay muted loop width="100%">
        <source src="assets/videos/nuevaZelanda.mp4" type="video/mp4">
    </video>
    <div class="row texto-video">
        <div class="col-sm-12">
           
            <p>Vive la experiencia <span style="font-weight: bolder; font-family: 'Prometo-Medium';">ANFIBIA</span></p>
            <h1>Supervivencía</h1>
            <hr>
            <h5>Conoce nuestros productos de Supervivencia, visita nuestra tienda en linea<br> y preparate para conseguir lo que buscas.</h5>
            
            
        </div>
    </div>
    
</div>


<div class="container-fluid-asimetrico">
    <div class="row">
        <div class="" style="background: none; width: 1300px; height: 850px; position: absolute;">

        </div>
        <div class="" style="background: none; width: 1300px; height: 450px; position: absolute;top: 60%; right: 10%;">

        </div>
        <div class="asimetrico1">
            

        </div>
        
       <!-- <div class="asimetrico3">
            

        </div>-->

       
        <div class="asimetrico4">
            <h1>Supervivencía</h1>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipr.</p>
            <div class="flex dark">
                <a href="#0" class="bttn-dark">Ir a la tienda</a>
              </div>
        </div>



    </div>

</div>




<div class="container categorias-content" >
    <div class="row">
        <div class="col-sm-12 categorias-text">
            <h1>Conoce nuestras categorías</h1>
            <hr>
            <div class="row">
                <div class="col-sm-6 half-categorias">
                   <span><h1 style="font-weight: bolder; letter-spacing: 6px; font-size: 80px; color: black; text-align: center;">ANFIBIA</h1></span>  
                   
                   <h3>Somos proveedores de una gran cantidad de Productos, entre los cuales tenemos los siguientes:</h3>
                </div>
                <div class="col-sm-6 " >
                    <ul>
                       <h2><i class="fa fa-star-o" aria-hidden="true"></i>Anzuelos</h2>
                       <h2><i class="fa fa-star-o" aria-hidden="true"></i>Carretes</h2>
                       <h2><i class="fa fa-star-o" aria-hidden="true"></i>Cañas</h2>
                        <h2><i class="fa fa-star-o" aria-hidden="true"></i>Kayaks</h2>
                        <h2><i class="fa fa-star-o" aria-hidden="true"></i> Accesorios</h2>
                    </ul>
                </div>

            </div>

        </div>

    </div>

</div>
<div class="gallery-wrap">
    <div class="item item-1"></div>
    <div class="item item-2"></div>
    <div class="item item-3"></div>
    <div class="item item-4"></div>
    <div class="item item-5"></div>
</div>




    <section class="sec1">
        <div class="skewedBox1">
          
        </div> 
    </section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 product-Title">
                <h1>Conoce nuestros Productos Nuevos</h1>
                <hr>
           </div>
           <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="https://i.imgur.com/xdbHo4E.png" alt="">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Women,bag</span>
                    <h4><a href="">Women leather bag</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                    <div class="product-bottom-details">
                        <div class="product-price"><small>$96.00</small>$230.99</div>
                        <div class="product-links">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>

           </div>
           <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="https://i.imgur.com/xdbHo4E.png" alt="">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Women,bag</span>
                    <h4><a href="">Women leather bag</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                    <div class="product-bottom-details">
                        <div class="product-price"><small>$96.00</small>$230.99</div>
                        <div class="product-links">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="https://i.imgur.com/xdbHo4E.png" alt="">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Women,bag</span>
                    <h4><a href="">Women leather bag</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                    <div class="product-bottom-details">
                        <div class="product-price"><small>$96.00</small>$230.99</div>
                        <div class="product-links">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="https://i.imgur.com/xdbHo4E.png" alt="">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Women,bag</span>
                    <h4><a href="">Women leather bag</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                    <div class="product-bottom-details">
                        <div class="product-price"><small>$96.00</small>$230.99</div>
                        <div class="product-links">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>
        <div class="container">
            <div class="row ">
                <div class="col-sm-6 promocionesFishing">
                    <img src="/assets/imagenes/paginaInicial/survival2.jpg" alt="" class="imagenPromocion responsive">
                </div>
                <div class="col-sm-6 promocionesFishing">
                    <img src="/assets/imagenes/paginaInicial/survival2.jpg" alt="" class="imagenPromocion responsive">
                </div>
        
            </div>
            
        
        </div>
        <div class="parallax-fishing">

        </div>
        <div class="row">
            <div class="col-sm-12 product-Title">
                <h1>Conoce nuestros Productos Destacados</h1>
                <hr>
           </div>
           <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="https://i.imgur.com/xdbHo4E.png" alt="">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Women,bag</span>
                    <h4><a href="">Women leather bag</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                    <div class="product-bottom-details">
                        <div class="product-price"><small>$96.00</small>$230.99</div>
                        <div class="product-links">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>

           </div>
           <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="https://i.imgur.com/xdbHo4E.png" alt="">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Women,bag</span>
                    <h4><a href="">Women leather bag</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                    <div class="product-bottom-details">
                        <div class="product-price"><small>$96.00</small>$230.99</div>
                        <div class="product-links">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="https://i.imgur.com/xdbHo4E.png" alt="">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Women,bag</span>
                    <h4><a href="">Women leather bag</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                    <div class="product-bottom-details">
                        <div class="product-price"><small>$96.00</small>$230.99</div>
                        <div class="product-links">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="https://i.imgur.com/xdbHo4E.png" alt="">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Women,bag</span>
                    <h4><a href="">Women leather bag</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                    <div class="product-bottom-details">
                        <div class="product-price"><small>$96.00</small>$230.99</div>
                        <div class="product-links">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
           
        </div>
        </div>
     

    
    <section class="sec2">
        <div class="skewedBox2">    
        </div>
    </section>

    <div class="container-fluid hashtag-pesca">
        <h1 class="knokaut-text">ANFIBIA</h1>
        <p class="knokaut-text2">#BienvenidoAlaTribu</p>
    </div>


<!--<section class="sec3">
    <div class="skewedBox3">
        <h1>Este es un ejemplo del Skewedbox</h1>
        <p>assadasdasdasdasdasdasdasdasd</p>
    </div>
</section>-->




