<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1>Carrito de compras</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 productos">
            <div class="content">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                        <img class="img-fluid" src="/assets/imagenes/WishList/21.jpg" alt="">
                    </div>

                    <div class="col-lg-9 col-md-6 col-sm-6 col-xs-6">
                        <button class="eliminar"><i class="fa fa-times" aria-hidden="true"></i></button>
                        <div class="product">
                            <h2>Lorem ipsum dolor sit amet.</h2>
                            <span>$500.00</span>
                            <h3>Codigo: <span> 09764534</span></h3>
                            <h3>Marca: <span> Negro</span></h3>
                            <div class="input-group">
                                <input type="button" value="-" class="button-minus" data-field="quantity">
                                <input type="number" step="1" max="" value="1" name="quantity" class="quantity-field">
                                <input type="button" value="+" class="button-plus" data-field="quantity">
                            </div>
                        </div>
                        <h3 class="total">Total: <span> $500</span></h3>
                    </div>

                </div>
            </div>

            <div class="content">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                        <img class="img-fluid" src="/assets/imagenes/WishList/21.jpg" alt="">
                    </div>
                    <div class="col-lg-9 col-md-6 col-sm-6 col-xs-6">
                        <button class="eliminar"><i class="fa fa-times" aria-hidden="true"></i></button>
                        <div class="product">
                            <h2>Lorem ipsum dolor sit amet.</h2>
                            <span>$500.00</span>
                            <h3>Codigo: <span> 09764534</span></h3>
                            <h3>Marca: <span> Negro</span></h3>
                            <div class="input-group">
                                <input type="button" value="-" class="button-minus" data-field="quantity">
                                <input type="number" step="1" max="" value="1" name="quantity" class="quantity-field">
                                <input type="button" value="+" class="button-plus" data-field="quantity">
                            </div>
                        </div>
                        <h3 class="total">Total: <span> $500</span></h3>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                        <img class="img-fluid" src="/assets/imagenes/WishList/21.jpg" alt="">
                    </div>
                    <div class="col-lg-9 col-md-6 col-sm-6 col-xs-6">
                        <button class="eliminar"><i class="fa fa-times" aria-hidden="true"></i></button>
                        <div class="product">
                            <h2>Lorem ipsum dolor sit amet.</h2>
                            <span>$500.00</span>
                            <h3>Codigo: <span> 09764534</span></h3>
                            <h3>Marca: <span> Negro</span></h3>
                            <div class="input-group">
                                <input type="button" value="-" class="button-minus" data-field="quantity">
                                <input type="number" step="1" max="" value="1" name="quantity" class="quantity-field">
                                <input type="button" value="+" class="button-plus" data-field="quantity">
                            </div>
                        </div>
                        <h3 class="total">Total: <span> $500</span></h3>
                    </div>
                </div>
            </div> 
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pedido">
            <h4>Resumen del pedido</h4>
            <div class="row" style="margin-bottom: 20px;">
                <h3>¿Tienes un código de descuento?</h3>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <form>
                        <div class="form-group">
                          <input class="form-control" id="inputdefault" type="text" placeholder="Código">
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <button type="button" class="btn btn-info ">Aplicar descuento</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <h5>Total del pedido: </h5>
                    <h5>Envio:</h5>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <h6>$1,500.00</h6>
                    <h6>$100.00</h6>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <h5 style="font-size: 25px;"><b>Total:</b></h5>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <h6 style="font-size: 25px;"><b>$1,600.00</b></h6>
                </div>
            </div>

            <!--<p class="info1">ENVÍO GRATIS EN PEDIDOS MAYORES A $899</p>-->
            <a routerLink="/proceso-compra" title="pedido" class="btn btn-lpedido btn-pedido">Continuar con la compra</a>
            <p class="info2">Recuerda que cuentas con 30 días para realizar la devolución de tu pedido. 
            Aplican costos por devoluciones y envíos no recolectados. Leer más al respecto <a href="">Devolución y Reembolso.</a></p>
            <div class="info3">
                <h2>Entrega Estándar</h2>
                <span>De 5 a 7 días habiles</span>
            </div>
            <div class="info4">
                <h2>Aceptamos</h2>
                <div class="iconos">
                    <span><i class="fa fa-cc-visa" aria-hidden="true"></i></span>
                    <span><i class="fa fa-cc-mastercard" aria-hidden="true"></i></span>
                    <span><i class="fa fa-credit-card-alt" aria-hidden="true"></i></span>
                </div>
                <p>¿Necesitas Ayuda? <br> Contáctenos al (232) 324 9060 Ext. 123 o enviános un whatsapp al 232 123 4350</p>
            </div>
        </div>
    </div>
</div>
