    <div class="modal-body " style="margin: 0%; padding: 0%">
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        <div class="row">
            <div class="col-sm-6 background-ModalC">
           

            </div>
           <div class="col-sm-6 background-Modal">
               <div class="succes-response">
                
                   <h1><img src="assets/imagenes/final-process/success.png">Email enviado</h1>
                   <p>Enviamos un email al correo con el que te has registrado, por favor abre el enlace que se te mando para finalizar el proceso de registro de tu cuenta Anfibia.</p>

               </div>

           </div>
          

        </div>
    </div>
   
    <!--<div class="modal-body">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-sm-12">
                <h4 class="modal-title" id="modal-basic-title">Mi carrito de compras</h4>
                <hr>

            </div>

        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" *ngFor = "let producto of productoModalCarrito | async; index as i; let index = i;">
                <div class="card">
                    <div class="tumb">
                        <div class="badge1" *ngIf = "producto.nuevo">
                            Nuevo
                        </div>
                        <div class="badge2" *ngIf = "producto.destacado">
                            Destacado
                        </div>-->
                        
                        <!--<img class="" [attr.src]="producto.image[0].url" alt="Card image cap">-->
                    <!--</div>
                    <div class="card-body">
                        <div class="precios">
                            <p><span>{{producto.precio_producto | currency}}</span></p> -->
                            <!--<p *ngIf="producto.descuento != 0; else precioNormal">Precio con Desc: <span style="color: red; text-decoration: none;">{{producto.precio | currency}}</span></p>
                            
                            <p id="precioNormal" *ngIf="producto.descuento == 0">Precio: <span style="text-decoration: none;">{{producto.precio | currency}} </span></p>
                            <div class="badge3" *ngIf = "producto.descuento">
                                {{producto.descuento}}% DESC
                            </div>-->
                        <!--</div>
                       <h1><a type="button" (click)="sendProducto(producto)">{{producto.nombre_producto | oracionMayusculas}}</a></h1> -->
                       <!--<div>
                           <h3>{{producto.categoria}} {{producto.marca}}</h3>
                       </div>-->
                     
                     
                      
                    <!--</div>-->
                    <!--<button class="boton-compra"><i class="fa fa-money" aria-hidden="true"></i>
                        Comprar ahora</button>-->
                 <!-- </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
      <h1>Total: {{totalCompra | currency}}</h1>
        <button class="botones-footer" (click)="sendStore()" ><i class="fa fa-shopping-basket" aria-hidden="true"></i>
            Ir a la tienda</button>
        <button class="botones-footer" (click)= "sendCarrito()"> <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            Ir al carrito</button>
      <button type="button" class="botones-footer" (click)="modal.close('Save click')">Cerrar</button>
    </div>-->
