


<div class="container-fluid contenedor-ubicacion" >
    <div class="estilo-new">
        <h1>Ubicación</h1>
        <h4>Ven y conocenos en nuestras sucursales</h4>
        
    </div>
    
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-sm-12">
              
                    <p>Nuestra sucursal</p>
                    <h1>San Rafael, Veracruz </h1>
                    <hr>
                <div class="mapa">
                    <!--<div class="col-sm-4 image-store">

                    </div>-->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3744.6832774087034!2d-96.86903918598566!3d20.188908636459296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8d550d8632e4dd52!2sFerretera%20Central%20del%20Golfo%20S.A.%20de%20C.V.!5e0!3m2!1ses!2smx!4v1577205473339!5m2!1ses!2smx" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
                <div class="row image-info">
                    <div class="col-sm-3">
                        <h2><i class="fa fa-map-marker" aria-hidden="true"></i> </h2>
                        <span> Salvador Díaz Mirón No 5, Col. Centro 93620, San Rafael, Veracruz.</span>
                    </div>
                    <div class="col-sm-3">
                        <h2><i class="fa fa-phone" aria-hidden="true"></i></h2>
                        <span> 232 324 9060</span>
                    </div>
                    <div class="col-sm-3">
                        <h2><i class="fa fa-envelope-o" aria-hidden="true"></i></h2>
                        <span>fecego@fecego-marina.com</span>
                    </div>
                    <div class="col-sm-3">
                        <h2><i class="fa fa-clock-o" aria-hidden="true"></i></h2>
                        <span>L - V 8:00 a.m - 19:00 p.m</span><br>
                        <span>S 8:00 a.m - 19:00 p.m</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <p>Nuestra sucursal</p>
                <h1>Merida, Yucatan </h1>
                <hr>
                <div class="mapa">
                    <!--<div class="col-sm-4 image-store2">

                    </div>-->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.109300449252!2d-89.60705948506738!3d21.028312185998644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f5677ed3ce46637%3A0x106f02998a63f9d6!2sAnfibia%20Outdoor%20Experience!5e0!3m2!1ses!2smx!4v1577402312419!5m2!1ses!2smx" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
                <div class="row image-info">
                    <div class="col-sm-3">
                        <h2><i class="fa fa-map-marker" aria-hidden="true"></i> </h2>
                        <span> Salvador Díaz Mirón No 5, Col. Centro 93620, San Rafael, Veracruz.</span>
                    </div>
                    <div class="col-sm-3">
                        <h2><i class="fa fa-phone" aria-hidden="true"></i></h2>
                        <span> 232 324 9060</span>
                    </div>
                    <div class="col-sm-3">
                        <h2><i class="fa fa-envelope-o" aria-hidden="true"></i></h2>
                        <span>fecego@fecego-marina.com</span>
                    </div>
                    <div class="col-sm-3">
                        <h2><i class="fa fa-clock-o" aria-hidden="true"></i></h2>
                        <span>L - V 8:00 a.m - 19:00 p.m</span><br>
                        <span>S 8:00 a.m - 19:00 p.m</span>
                    </div>
                </div>
            </div>

        </div>
        

    </div>
    
</div>



<!--<div class="contenedor-gradiant">
    <canvas id="canvas-basic">
    </canvas>
    <div class="textos">
        <p>Vive la experiencia <span>ANFIBIA</span></p>
        <p>Pesca, Cacería, Supervivencía.</p>
        <hr>
    </div>
  
</div>-->

<!--<div class="container-fluid textos-final" style="padding-bottom: 20px;">
    <div class="row">
        <div class="col-sm-12">
            
            <h1>No te olvides de visitar nuestra tienda en linea</h1>
            <h3> ANFIBIA</h3>
            <div class="dark">
                <a href="#0" class="bttn-dark">Ir a la tienda</a>
              </div>
            
          
        </div>

    </div>

</div>-->



