<!--<div class="modal-header">
    
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>-->
  <div class="modal-body modalEstilo">
    <div class="flex-container">
        <div class="flex-item text-fish">
           
            <h1>Aviso de registro con cuenta de Facebook</h1>
            <img src="../../../assets/imagenes/logos/facebook.png" alt="" width="40%" height="40%">
            
              <p>Al registrarte en anfibia.mx, aceptas los <a routerLink = "/asuntos-legales/terminos_y_condiciones">terminos y condiciones</a> de nuestro sitio.
              Si quieres estar informado acercá del uso de la información y otros detalles legales, te recomendamos leer
                  nuestra sección de <a href="/asuntos-legales">asuntos legales.</a></p>
          
            <button (click) ="socialloginWithFB()">Acepto los terminos y condiciones de anfibia.mx</button>
        </div>
       
     
       
      
    </div>
  </div>



  <!--<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>-->