<div>
    <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" width="100%">
        <source src="assets/videos/anfibia.mp4" type="video/mp4">
    </video>
    <!--<div class="row texto-video">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <p>Vive la experiencia <span>ANFIBIA</span></p>
            <h1>PESCA</h1>
            <h5>Descubre tu <span>pasión</span></h5>
            <h5>Vive nuevas experiencías</h5> 
            <h5>Las aventuras estan hechas de sol, mar y tierra.</h5>
        </div>
    </div>-->
    
</div>


<!--<div class="container-fluid-asimetrico">
    <div class="row">
        
        <div class="asimetrico1">
               
        </div>
        
     

       
        <div class="asimetrico4">
            <h1>Pesca</h1>
            <hr>
            <p >Encontrarás nuestros más nuevos y destacados productos de pesca, además de promociones relacionadas a dicha actividad.</p>
            <div class="flex dark">
                <a href="#0" class="bttn-dark">Ir a la tienda</a>
              </div>
        </div>
    </div>
</div>-->

<div class="container-fluid fondoI-pesca" >
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-12 image-background">

    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-12 texto-image-background"> 
      <h1>PESCADOR</h1>
      <hr>
      <p >Bienvenido a la tribu, tenemos todo lo que necesitas para convertirte en el mejor pescador, si lo que buscas es atrapar al pez más grande, somos tu mejor opción.</p>
      <div class="flex dark">
          <a routerLink="/tienda/pesca" class="bttn-dark">Ir a la tienda</a>
        </div>
    </div>
  </div>
  <div class="row" style="padding-top: 20px;">
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 textos-publicidad1">
      <h1>PESCA</h1>
      <p>Te encuentras en la sección de Pesca de Anfibia, te mostraremos algunos de nuestros productos nuevos, así como también encontrarás nuestros productos destacados, los cuales son productos que otros pescadores han usado para volverse los mejores en su rama, también encontrarás nuestras promociones.
      </p>
    </div>
    <div class="col-12 col-sm-8 col-md-8 col-lg-8 publicidad1">
       
      
     

 </div>

 </div>
</div>



    <!--<section class="sec1">
        <div class="skewedBox1">
        </div> 
    </section>-->

   <div class="container-fluid">
     <div class="row">
      <div class="container" >
    

        <div class="row" data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1000">
            <div class="col-sm-12 product-Title">
                 <h1>Productos nuevos</h1>
                 <hr>
            </div>
           <!--<div class="col-lg-3 col-md-6 col-sm-6 col-12" *ngFor="let productoPesca of productosPesca; index as i; let index = i;" >
                <div class="product-card" *ngIf="i<4">
                    <div class="badge" *ngIf="productoPesca.nuevo">Nuevo</div>
                    <div class="badge2" *ngIf="productoPesca.destacado">Destacado</div>
                    <div class="product-tumb">
                        <img src="{{productoPesca.image}}" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                        onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                    </div>
                    <div class="product-details">
                        <span class="product-catagory">{{productoPesca.categoria}} {{productoPesca.marca}}</span>
                     
                        <h4><a href="">{{productoPesca.nombre}}</a></h4>
                        <div class="product-price">
                          <h5>${{productoPesca.precio}}</h5>
                          <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                      </div>
                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                        <div class="product-bottom-details"> 
                        </div>
                          <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rápida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                          <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                    </div>
                </div>
               </div>-->
               <!--<div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="product-card">
                    <div class="badge">Nuevo</div>
                    <div class="product-tumb">
                        <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                        onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                    </div>
                    <div class="product-details">
                        <span class="product-catagory">CARRETES Yellow Tail</span>
                     
                        <h4><a href="">CARRETE TORITO TO4000</a></h4>
                        <div class="product-price">
                          <h5>$230.98</h5>
                          <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                        </div>
                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                        <div class="product-bottom-details">
                        </div>
                          <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rápida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                          <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                    </div>
                </div>
    
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="product-card">
                    <div class="badge">Nuevo</div>
                    <div class="product-tumb">
                        <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                        onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                    </div>
                    <div class="product-details">
                        <span class="product-catagory">CARRETES Yellow Tail</span>
                     
                        <h4><a href="">CARRETE TORITO TO4000</a></h4>
                        <div class="product-price">
                          <h5>$230.98</h5>
                          <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                        </div>
                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                        <div class="product-bottom-details">
                            
                           
                        </div>
      
                          <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rápida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                          <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                         
                    
                    </div>
                </div>
    
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="product-card">
                    <div class="badge">Nuevo</div>
                    <div class="product-tumb">
                        <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                        onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                    </div>
                    <div class="product-details">
                        <span class="product-catagory">CARRETES Yellow Tail</span>
                     
                        <h4><a href="">CARRETE TORITO TO4000</a></h4>
                        <div class="product-price">
                          <h5>$230.98</h5>
                          <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                        </div>
                        
                       
                        <div class="product-bottom-details">
                            
                           
                        </div>
      
                          <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rápida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                          <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                         
                    
                    </div>
                </div>
    
               </div>-->
    
 
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
           <owl-carousel-o [options]="customOptions">
             <ng-template carouselSlide *ngFor="let productoPesca of productosPesca; index as i; let index = i;">
               <div class="" >
                 <div class="product-card">
                 <div class="badge1" *ngIf="productoPesca.nuevo">Nuevo</div>
                 <div class="badge2" *ngIf="productoPesca.destacado">Destacado</div>
                 <div class="badge3" *ngIf="productoPesca.descuento">{{productoPesca.descuento}}% DESC</div>
                <!--<div class="badge3" *ngIf="productoPesca.descuento">Desc {{productoPesca.descuento}}%</div>-->
                     <div class="product-tumb">
                         <img id = "imagenProducto-main" [attr.src]="productoPesca.image[0].url" alt="" (mouseover) = "changeImage(productoPesca.image[0].url)">
                     </div>
                     <div class="product-details">
                         <span class="product-catagory">{{productoPesca.categoria}} {{productoPesca.marca}}</span>
                     
                         <h4><a routerLink="/tienda/{{productoPesca.clasificacion}}/{{productoPesca.categoria}}/{{productoPesca.idProducto}}/{{productoPesca.nombre}}">{{productoPesca.nombre}}</a></h4>
                         <div class="product-price">
                          <h4 *ngIf="productoPesca.descuento"><span>  Precio:</span> ${{productoPesca.precio_antiguo}}</h4>
                              <h5 *ngIf="productoPesca.descuento != 0; else precioNormal"><span>Precio Desc: </span> ${{productoPesca.precio}}</h5>
                              <h3 id="precioNormal" *ngIf="productoPesca.descuento == 0"><span>Precio: </span>${{productoPesca.precio}}</h3>
                          <button (click)="addWishList(productoPesca)"><i class="fa fa-heart" aria-hidden="true"></i></button>
                         
                         </div>
                         
                         <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                         <div class="product-bottom-details"> 
                         </div>
                         <button class="product-links-wish" type="button" (click)="openModal(productoPesca)">Vista Rápida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                         <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                     </div>
                 </div>
             </div>
             </ng-template>
            
         </owl-carousel-o>
 
          </div>
 
        </div>
    </div>

     </div>

   </div>

    <div class="container-fluid">
       <div class="row" >
           <div class="col-12 col-sm-12 col-md-6 col-lg-6 " style="padding: 1px;" data-aos="fade-up"
           data-aos-easing="linear"
           data-aos-duration="1000">
           <div class="publicidad2">
             <img src="/assets/imagenes/fishing/Anzuelos.jpg" class="img-fluid" alt="">
            <!--<div class="text-publicidad2">
               <h1><span>H</span>ooks</h1>
               <p><span>C</span>ontamos con una gran variedad de <span>anzuelos</span>.</p>

             </div>-->

           </div>
               
               

           </div>
           <div class="col-12 col-sm-12 col-md-6 col-lg-6" style="padding: 1px;" data-aos="fade-up"
           data-aos-easing="linear"
           data-aos-duration="1000">
            <div class="publicidad3">
              <img src="/assets/imagenes/fishing/Short.jpg" class="img-fluid" alt="">
              <!--<div class="text-publicidad3">
                <h2><span>P</span>ara pescar <span>también se <br></span> necesita <span>estilo</span><br>, <span>nosotros</span> te complementamos</h2>
                <h1><span>Som</span>breros de pesca</h1>
                
 
              </div>-->

            </div>
                
               

           </div>
        

       </div>
       <div class="row" >
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 " style="padding: 1px;" data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1000">
        <div class="publicidad4">
          <img src="/assets/imagenes/fishing/Daiwa-BG.jpg" alt="">
          <!--<div class="text-publicidad4">
            <h1>SHIM<span>A</span>NO</h1>
            <h2>STELLA</h2>
            <h3>FJ</h3>
          </div>-->

        </div>
            
            

        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4" style="padding: 1px;" data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1000">
         <div class="publicidad5">
           <img src="/assets/imagenes/fishing/señuelos.jpg" class="img-fluid" alt="">
          <!--<div class="text-publicidad5">
            <h1><span>A</span>nzuelos</h1>
            <h1><span>RAPALA</span></h1>
          </div>-->

         </div>
             
            

        </div>
     
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 " style="padding: 1px;" data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1000">
        <div class="publicidad6">
          <img src="/assets/imagenes/fishing/proteus.jpg" class="img-fluid" alt="">
          <!--<div class="text-publicidad6">
            <h1>STELLA<span> FI</span></h1>
            <h2>Gran <span>utilidad</span> y diseño</h2>

          </div>-->

        </div>
            
            

        </div>

    </div>
    
     </div>

    
      
      <!--<button (click)="addSlide()">Add</button>
      <button (click)="removeSlide()">Remove</button>
      <button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
      <button (click)="slickModal.unslick()">unslick</button>

     </div>-->



<div class="container-fluid">
  <div class="row">
    <div class="container" style="position: relative;">
      <div class="row">
         <div class="col-sm-12 seccion-productos-extras">
           
             <h1>Productos destacados</h1>
              <hr>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                 <owl-carousel-o [options]="customOptions">
                   <ng-template carouselSlide *ngFor="let productoPesca of productosPesca; index as i; let index = i;">
                     <div class="" >
                       <div class="product-card">
                       <div class="badge1" *ngIf="productoPesca.nuevo">Nuevo</div>
                       <div class="badge2" *ngIf="productoPesca.destacado">Destacado</div>
                       <div class="badge3" *ngIf="productoPesca.descuento">{{productoPesca.descuento}}% DESC</div>
                      <!--<div class="badge3" *ngIf="productoPesca.descuento">Desc {{productoPesca.descuento}}%</div>-->
                           <div class="product-tumb">
                               <img src="{{productoPesca.image[0].url}}" alt="">
                           </div>
                           <div class="product-details">
                               <span class="product-catagory">{{productoPesca.categoria}} {{productoPesca.marca}}</span>
                           
                               <h4><a routerLink="/tienda/{{productoPesca.clasificacion}}/{{productoPesca.categoria}}/{{productoPesca.idProducto}}/{{productoPesca.nombre}}">{{productoPesca.nombre}}</a></h4>
                               <div class="product-price">
                                <h4 *ngIf="productoPesca.descuento"><span>  Precio:</span> ${{productoPesca.precio_antiguo}}</h4>
                              <h5 *ngIf="productoPesca.descuento != 0; else precioNormal"><span>Precio Desc: </span> ${{productoPesca.precio}}</h5>
                              <h3 id="precioNormal" *ngIf="productoPesca.descuento == 0"><span>Precio: </span>${{productoPesca.precio}}</h3>
                                <button (click)="addWishList(producto)"><i class="fa fa-heart" aria-hidden="true"></i></button>
                               
                               </div>
                               
                               <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                               <div class="product-bottom-details"> 
                               </div>
                               <button class="product-links-wish" type="button" (click)="openModal(productoPesca)">Vista Rápida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                               <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                           </div>
                       </div>
                   </div>
                   </ng-template>
                  
               </owl-carousel-o>
       
                </div>
       
              </div>
 </div>

  </div>

</div>
<br>
<!--<div class="container-fluid" style=" background: rgb(1, 223, 215);
background: linear-gradient(90deg, rgba(1, 223, 215) 50%, rgba(1, 223, 215) 50%); ">
 <div class="row">
   <div class="col-12 col-sm-12 col-md-12 col-lg-12">
    <ngx-slick-carousel class="carousel" 
    #slickModal="slick-carousel" 
    [config]="slideConfig" 
    (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)"
    (afterChange)="afterChange($event)"
    (beforeChange)="beforeChange($event)">
  <div ngxSlickItem *ngFor="let slide of slides" class="slide">
  <img src="{{ slide.img }}" alt="" width="100%">
  <h1>{{ slide.titulo}}</h1>
  <p>{{slide.texto}}</p>
  </div>
  </ngx-slick-carousel>

   </div>

 </div>
</div>-->

<div class="container-fluid" style="background-image: url('assets/imagenes/fishing/ocean.jpg'); height: 750px; padding: 35px;">
  <div class="row">
    <div class="col-sm-12">
      <div class="img-inside">
        <div class="texto-img-inside">
           <h1>SE UN PESCADOR</h1>
           <h3>
             Siempre hay nuevos lugares para ir a pescar, para cualquier pescador siempre hay un lugar nuevo, siempre un nuevo horizonte.
           </h3>
        </div>
       
      </div>
 
    </div>
 
  </div>
 </div>


<div class="container-fluid categorias-content" >
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 categorias-text">
        <p>ANFIBIA by FECEGO MARINA</p>
        <h1>Categorías de <span>Pesca</span></h1>
       
        <hr>
    </div>

</div>
    
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 categorias-text">
        <div class="gallery-wrap">
            <div class="item item-1 ">
                <div class="item-div">
                  
                  <h2><a href="">Anzuelos</a></h2>
                  <!--<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu vitae elementum curabitur vitae nunc sed. Mattis rhoncus urna neque viverra justo nec. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Id interdum velit laoreet id donec ultrices. Nisi scelerisque eu ultrices vitae auctor eu augue ut. </h4>-->
                </div>
                
               
                
            </div>
            <div class="item item-2">
               <div>
                <h2><a href="">Cañas</a></h2>
               <!--<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu vitae elementum curabitur vitae nunc sed. Mattis rhoncus urna neque viverra justo nec. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Id interdum velit laoreet id donec ultrices. Nisi scelerisque eu ultrices vitae auctor eu augue ut. </h4>-->
               </div>
                
               
              
            </div>
            <div class="item item-3">
              <div>
                <h2><a href="">Carretes</a></h2>
                <!--<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu vitae elementum curabitur vitae nunc sed. Mattis rhoncus urna neque viverra justo nec. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Id interdum velit laoreet id donec ultrices. Nisi scelerisque eu ultrices vitae auctor eu augue ut. </h4>-->
              </div>
                
               
            </div>
            <div class="item item-4">
                
               <div>
                <h2><a href="">Accesorios</a></h2>
                <!--<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu vitae elementum curabitur vitae nunc sed. Mattis rhoncus urna neque viverra justo nec. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Id interdum velit laoreet id donec ultrices. Nisi scelerisque eu ultrices vitae auctor eu augue ut. </h4>-->
               </div>
               
               
            </div>
            <div class="item item-5">
             
                <div>
                  <h2><a href="">Kayaks</a></h2>
                <!--<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu vitae elementum curabitur vitae nunc sed. Mattis rhoncus urna neque viverra justo nec. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Id interdum velit laoreet id donec ultrices. Nisi scelerisque eu ultrices vitae auctor eu augue ut. </h4>-->
                </div>
                
               
            </div>
        </div>
      </div>

    </div>
   
 



   

</div>



 
<div class="container-fluid">
  <div class="row">
    <div class="container" style="margin-top: 30px;">
      <div class="row">
          <div class="col-sm-12 product-Title">
               <h1>Productos más vendidos</h1>
               <hr>
              
          </div>
          <!--<div class="col-lg-3 col-md-6 col-sm-6 col-12" *ngFor="let productoPesca of productosPesca; index as i; let index = i;" >
            <div class="product-card" *ngIf="i<4">
                <div class="badge" *ngIf="productoPesca.nuevo">Nuevo</div>
                <div class="badge2" *ngIf="productoPesca.destacado">Destacado</div>
                <div class="product-tumb">
                    <img src="{{productoPesca.image}}" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                    onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                </div>
                <div class="product-details">
                    <span class="product-catagory">{{productoPesca.categoria}} {{productoPesca.marca}}</span>
                 
                    <h4><a href="">{{productoPesca.nombre}}</a></h4>
                    <div class="product-price">
                      <h5>${{productoPesca.precio}}</h5>
                      <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                  </div>
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                    <div class="product-bottom-details"> 
                    </div>
                      <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rápida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                      <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                </div>
            </div>
           </div>-->
             <!--<div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <div class="product-card">
                  <div class="badge">Nuevo</div>
                  <div class="product-tumb">
                      <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                      onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                  </div>
                  <div class="product-details">
                      <span class="product-catagory">CARRETES Yellow Tail</span>
                   
                      <h4><a href="">CARRETE TORITO TO4000</a></h4>
                      <div class="product-price">
                        <h5>$230.98</h5>
                      <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                    </div>
                      
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                      <div class="product-bottom-details">
                          
                         
                      </div>
    
                        <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rápida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                        <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                       
                  
                  </div>
              </div>
  
             </div>
             <div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <div class="product-card">
                  <div class="badge">Nuevo</div>
                  <div class="product-tumb">
                      <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                      onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                  </div>
                  <div class="product-details">
                      <span class="product-catagory">CARRETES Yellow Tail</span>
                   
                      <h4><a href="">CARRETE TORITO TO4000</a></h4>
                      <div class="product-price">
                        <h5>$230.98</h5>
                      <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                    </div>
                      
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                      <div class="product-bottom-details">
                          
                         
                      </div>
    
                        <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rápida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                        <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                       
                  
                  </div>
              </div>
  
             </div>
             <div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <div class="product-card">
                  <div class="badge">Nuevo</div>
                  <div class="product-tumb">
                      <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                      onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                  </div>
                  <div class="product-details">
                      <span class="product-catagory">CARRETES Yellow Tail</span>
                   
                      <h4><a href="">CARRETE TORITO TO4000</a></h4>
                      <div class="product-price">
                        <h5>$230.98</h5>
                      <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                    </div>
                      
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                      <div class="product-bottom-details">
                          
                         
                      </div>
    
                        <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rápida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                        <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                       
                  
                  </div>
              </div>
  
             </div>-->
  

      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <owl-carousel-o [options]="customOptions">
           <ng-template carouselSlide *ngFor="let productoPesca of productosPescaDestacados; index as i; let index = i;">
             <div class="" >
               <div class="product-card">
               <div class="badge1" *ngIf="productoPesca.nuevo">Nuevo</div>
               <div class="badge2" *ngIf="productoPesca.destacado">Destacado</div>
               <div class="badge3"*ngIf="productoPesca.descuento">{{productoPesca.descuento}}% DESC</div>
               <!--<div class="badge3" *ngIf="productoPesca.descuento">Desc {{productoPesca.descuento}}%</div>-->
                   <div class="product-tumb">
                       <img src="{{productoPesca.image[0].url}}" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                       >
                   </div>
                   <div class="product-details">
                       <span class="product-catagory">{{productoPesca.categoria}} {{productoPesca.marca}}</span>
                   
                       <h4><a routerLink="/tienda/{{productoPesca.clasificacion}}/{{productoPesca.categoria}}/{{productoPesca.idProducto}}/{{productoPesca.nombre}}">{{productoPesca.nombre}}</a></h4>
                       <div class="product-price">

                        <h4 *ngIf="productoPesca.descuento"><span>  Precio:</span> ${{productoPesca.precio_antiguo}}</h4>
                        <h5 *ngIf="productoPesca.descuento != 0; else precioNormal"><span>Precio Desc: </span> ${{productoPesca.precio}}</h5>
                        <h3 id="precioNormal" *ngIf="productoPesca.descuento == 0"><span>Precio: </span>${{productoPesca.precio}}</h3>
                       <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                       </div>
                       
                       <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                       <div class="product-bottom-details"> 
                       </div>
                       <button class="product-links-wish" type="button" (click)="openModal(productoPesca)">Vista Rápida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                       <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   </div>
               </div>
           </div>
           </ng-template>
          
       </owl-carousel-o>

        </div>

      </div>
  </div>

  </div>

</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 " style="padding: 1px;" data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-duration="1000">
    <div class="publicidad7" style="padding: 1px;">
      <img src="/assets/imagenes/fishing/kayaks9.jpg" class="img-fluid" alt="">
      <!--<div class="text-publicidad7">
        <h1><span>K</span>AYAKS</h1>
        <h1><span>L</span>OTUS</h1>
        <p>Visita nuestra</p>
        <p>Sección de Kayaks</p>
        <h2>LO <span>M</span>EJOR</h2>
      </div>-->
    </div>
        
        

    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-6" style="padding: 1px;" data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-duration="1000">
     <div class="publicidad8">
       <img src="/assets/imagenes/fishing/shimanorod.jpg" class="img-fluid" alt="">
       <!--<div class="text-publicidad8">
         <h1>SHIMANO</h1> 
         <p>CONOCE LA NUEVA</p>
         <h2>CX<span>BEAST</span>MASTER</h2>
         <h2>STC<span>S</span>PIN <span>270</span></h2>
       </div>-->
     </div>
         
        

    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12" style="padding: 1px;" data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-duration="1000">
     <div class="parallax-fishing">
       <img src="/assets/imagenes/fishing/shimanoslx.jpg" alt="">
      <div class="texto-parallax-fishing">
        <h1>SHIMANO</h1>
        <h2>SLX XT</h2>
        <h3><span>NUEVO</span></h3>
        <h4>CARRETE</h4>
        <p>Vive la <span>experiencía, </span></p>
        <p>EXPERIMENTA EL NUEVO <span>SHIMANO</span> SLX</p>
        
    
      </div>


     </div>
         
        

    </div>
    

  </div>


</div>



<div class="container-fluid">
  <div class="row">
    
      
  </div>
  
    <div class="container" style="padding-bottom: 20px;">
      <div class="row">
        <div class="col-sm-12 product-Title">
          <h1>Productos Yellow Tail</h1>
          <hr>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <owl-carousel-o [options]="customOptions">
           <ng-template carouselSlide *ngFor="let productoPesca of productosPesca; index as i; let index = i;">
             <div class="" >
               <div class="product-card">
               <div class="badge1" *ngIf="productoPesca.nuevo">Nuevo</div>
               <div class="badge2" *ngIf="productoPesca.destacado">Destacado</div>
               <div class="badge3" *ngIf="productoPesca.descuento">{{productoPesca.descuento}}% DESC</div>
              <!--<div class="badge3" *ngIf="productoPesca.descuento">Desc {{productoPesca.descuento}}%</div>-->
                   <div class="product-tumb">
                       <img src="{{productoPesca.image[0].url}}" alt="">
                   </div>
                   <div class="product-details">
                       <span class="product-catagory">{{productoPesca.categoria}} {{productoPesca.marca}}</span>
                   
                       <h4><a routerLink="/tienda/{{productoPesca.clasificacion}}/{{productoPesca.categoria}}/{{productoPesca.idProducto}}/{{productoPesca.nombre}}">{{productoPesca.nombre}}</a></h4>
                       <div class="product-price">
                        <h4 *ngIf="productoPesca.descuento"><span>  Precio:</span> ${{productoPesca.precio_antiguo}}</h4>
                        <h5 *ngIf="productoPesca.descuento != 0; else precioNormal"><span>Precio Desc: </span> ${{productoPesca.precio}}</h5>
                        <h3 id="precioNormal" *ngIf="productoPesca.descuento == 0"><span>Precio: </span>${{productoPesca.precio}}</h3>
                        <button (click)="addWishList(producto)"><i class="fa fa-heart" aria-hidden="true"></i></button>
                       
                       </div>
                       
                       <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                       <div class="product-bottom-details"> 
                       </div>
                       <button class="product-links-wish" type="button" (click)="openModal(productoPesca)">Vista Rápida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                       <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   </div>
               </div>
           </div>
           </ng-template>
          
       </owl-carousel-o>

        </div>

      </div>
         
          
         
         
          </div>
  
      </div>
  
   
  
  </div> 

  </div>

</div>
     
<div class="container-fluid" style="background-image: url('/assets/imagenes/fishing/fishingblue.jpg'); background-repeat: no-repeat;background-position: center; background-size: cover; height: 700px; margin-bottom: 100px;">
 <div class="row">
   <div class="col-sm-12">
    <div class="image-final">
      <div class="back-color">
        <h1>PESCA</h1>
        <p>Nos encargamos de que nuestros pescadores obtengan siempre los mejores productos, siempre buscamos calidad en las herramientas que proporcionamos a nuestros pescadores, porque sabemos que el mejor cazador debe tener las mejores herramientas.</p>
        <div class="flex dark">
          <a routerLink="/tienda/pesca" class="bttn-dark">Ir a la tienda</a>
        </div>
      </div>

    </div>

   </div>

 </div>
  
</div>      
  



        

  
    
   



<!--<section class="sec3">
    <div class="skewedBox3">
        <h1>Este es un ejemplo del Skewedbox</h1>
        <p>assadasdasdasdasdasdasdasdasd</p>
    </div>
</section>-->




