<div class="container-fluid inicioPesca">

  <!--<div class="row" >
    
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 div-letrasInicio">
     <div class="letras-inicio">
      <h1>PESCA</h1>
      <p>Te encuentras en la sección de Pesca de Anfibia, te mostraremos algunos de nuestros productos más nuevos adquiridos, así como también encontrarás nuestros productos destacados, los cuales son productos que otros pescadores han usado para volverse los mejores en su ramo, también encontrarás nuestras promociones.
      </p>
     </div>
     
    </div>
    
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 imageClass">
      <img src="/assets/imagenes/fishing/Marlin.png" alt="" class="img-fluid">
    </div>
  
  </div>-->
  </div>


<!--<div>
  <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" width="100%">
    <source src="assets/videos/anfibia.mp4" type="video/mp4">
  </video>
</div>-->

<!--<div class="row texto-video">
  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
    <p>Vive la experiencia <span>ANFIBIA</span></p>
    <h1>PESCA</h1>
    <h5>Descubre tu <span>pasión</span></h5>
    <h5>Vive nuevas experiencías</h5> 
    <h5>Las aventuras estan hechas de sol, mar y tierra.</h5>
  </div>
</div>-->
    
<!--<div class="container-fluid-asimetrico">
  <div class="row">
    <div class="asimetrico1"></div>
    <div class="asimetrico4">
      <h1>Pesca</h1>
      <hr>
      <p >Encontrarás nuestros más nuevos y destacados productos de pesca, además de promociones relacionadas a dicha actividad.</p>
      <div class="flex dark">
        <a href="#0" class="bttn-dark">Ir a la tienda</a>
      </div>
    </div>
  </div>
</div>-->

<div class="container-fluid fondoI-pesca" >
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-12 image-background" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1000">
      <img src="/assets/imagenes/fishing/68859093_2661196067226532_6899538083948003328_o.png" alt="">
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-12 col-12 texto-image-background"> 
      <h1>PESCADOR</h1>
      <hr>
      <p >Bienvenido a la tribu, tenemos todo lo que necesitas para convertirte en el mejor pescador, si lo que buscas es atrapar al pez más grande, somos tu mejor opción.</p>
      <div class="flex dark">
        <a routerLink="/tienda" [queryParams] ="{clasificacion: 'pesca'}" class="bttn-dark">Ir a la tienda</a>
      </div>
    </div>
  </div>
  <!--<div class="row" style="padding-top: 20px;">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 textos-publicidad1"  >
      
      <p>Conoce nuestras promociones, tenemos productos en oferta que te podrían interesar, aventurate en nuestra tienda. </p>
    </div>
    <div class="col-12 col-sm-8 col-md-8 col-lg-8 publicidad1" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1000">
       <img src="/assets/imagenes/fishing/fishing20.jpg" alt="">
    </div>

 </div>-->
</div>

<!--<section class="sec1">
  <div class="skewedBox1"></div> 
</section>-->

<div class="container-fluid">
  <div class="row">
    <div class="container" >
      <div class="row" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1000">
        <div class="col-sm-12 product-Title">
          <h1>Productos nuevos</h1>
          <hr>
        </div>
        <!--<div class="col-lg-3 col-md-6 col-sm-6 col-12" *ngFor="let productoPesca of productosPesca; index as i; let index = i;" >
          <div class="product-card" *ngIf="i<4">
            <div class="badge" *ngIf="productoPesca.nuevo">Nuevo</div>
            <div class="badge2" *ngIf="productoPesca.destacado">Destacado</div>
            <div class="product-tumb">
              <img src="{{productoPesca.image}}" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
              nmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
            </div>
                    
            <div class="product-details">
              <span class="product-catagory">{{productoPesca.categoria}} {{productoPesca.marca}}</span>   
              <h4><a href="">{{productoPesca.nombre}}</a></h4>
              <div class="product-price">
                <h5>${{productoPesca.precio}}</h5>
                <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
              </div>    
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
              <div class="product-bottom-details"></div>
              <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rápida <i class="fa fa-eye" aria-hidden="true" ></i></button>
              <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
            </div>
          </div>
        </div>-->

        <!--<div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="product-card">
            <div class="badge">Nuevo</div>
            <div class="product-tumb">
              <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
              onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
            </div>
            <div class="product-details">
              <span class="product-catagory">CARRETES Yellow Tail</span> 
              <h4><a href="">CARRETE TORITO TO4000</a></h4>
              <div class="product-price">
                <h5>$230.98</h5>
                <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
              </div>   
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
              <div class="product-bottom-details"></div>
              <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rápida <i class="fa fa-eye" aria-hidden="true" ></i></button>
              <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
            </div>
          </div>
        </div>
               
              <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="product-card">
                  <div class="badge">Nuevo</div>
                    <div class="product-tumb">
                      <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                      onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                    </div>
                    <div class="product-details">
                      <span class="product-catagory">CARRETES Yellow Tail</span>
                      <h4><a href="">CARRETE TORITO TO4000</a></h4>
                      <div class="product-price">
                        <h5>$230.98</h5>
                        <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                      </div>  
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                      <div class="product-bottom-details"></div>
                        <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rápida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                        <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="product-card">
                      <div class="badge">Nuevo</div>
                        <div class="product-tumb">
                          <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                          onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                        </div>
                    
                        <div class="product-details">
                          <span class="product-catagory">CARRETES Yellow Tail</span> 
                          <h4><a href="">CARRETE TORITO TO4000</a></h4>
                          <div class="product-price">
                            <h5>$230.98</h5>
                            <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                          </div>
                          <div class="product-bottom-details"></div>
                          <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rápida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                          <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                        </div>
                      </div>
                  </div>-->
      </div>
      
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let productoPesca of productosPesca | slice: 0:16; index as i; let index = i;">
              <div class="" >
                <div class="product-card">
                  <div class="badge1" *ngIf="productoPesca.nuevo">Nuevo</div>
                  <div class="badge2" *ngIf="productoPesca.destacado">Destacado</div>
                  <div class="badge3" *ngIf="productoPesca.descuento">{{productoPesca.descuento}}% DESC</div>
                  <!--<div class="badge3" *ngIf="productoPesca.descuento">Desc {{productoPesca.descuento}}%</div>-->
                  <div class="product-tumb">
                    <img id = "imagenProducto-main" [attr.src]="productoPesca.image[0].url" alt="" (mouseover) = "productoPesca.image[0].url = productoPesca.imagenCambio" (mouseout) = "productoPesca.image[0].url = productoPesca.imagenPrincipal">
                  </div>
                  
                  <div class="product-details">
                    <!--<span class="product-catagory">{{producto.categoria}} {{producto.marca}}</span>-->
                    <h4><a routerLink="/tienda/{{productoPesca.clasificacion}}/{{productoPesca.categoria}}/{{productoPesca.idProducto}}/{{productoPesca.nombre}}">{{productoPesca.nombre | oracionMayusculas}}</a></h4>
                    <h4 *ngIf="productoPesca.descuento"><span>  Precio Original: </span> {{productoPesca.precio_antiguo | currency}}</h4>
                    <h5 *ngIf="productoPesca.descuento != 0; else precioNormal"><span>Precio de Lista: </span> {{productoPesca.precio | currency}}</h5>
                    <h3 id="precioNormal" *ngIf="productoPesca.descuento == 0"><span>Precio: </span>{{productoPesca.precio | currency}}</h3>
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
               
                    <div class="pruebaBotones"> 
                      <ul>
                        <li><button (click)="addWishList(productoPesca)"><i class="fa fa-heart" aria-hidden="true"></i></button></li>
                      </ul>
                    </div>
                    
                    <div class="pruebaBotones2">
                      <button style="margin-right: 2px " class="" type="button" (click)="openModal(productoPesca)"><i class="fa fa-eye" aria-hidden="true" ></i></button>
                      <button class="" type="button" (click) = "addCart(productoPesca)"><i class="fa fa-shopping-cart"></i> </button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row" >
    <div class="col-12 col-sm-6 col-md-6 col-lg-6" style="padding: 1px;" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1000" >
      <div class="preprueba">
        <img src="/assets/imagenes/fishing/Daiwa-BG.jpg" alt="">
        <!--<div class="text-publicidad1">
          <h1><span>W</span>ALTER</h1>
          <h2><span>CREED</span></h2>
        </div>-->
      </div>
    </div>
        
    <div class="col-12 col-sm-6 col-md-6 col-lg-6" style="padding: 1px;" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1000" >
      <div class="preprueba">
        <img src="/assets/imagenes/fishing/señuelos.jpg" alt="">
        <!--<div class="text-publicidad1">
          <h1><span>W</span>ALTER</h1>
          <h2><span>CREED</span></h2>
        </div>-->
      </div>
    </div>
  </div>
       
  <div class="row" >
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 pruebaDos" style="padding: 1px;" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1000">
      <img src="/assets/imagenes/fishing/Shimano-Ocea-Pluger.png" alt="" > 
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 pruebaDos" style="padding: 1px;" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1000">
      <img src="/assets/imagenes/fishing/Alexis.jpg" alt=""> 
    </div>
     
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 pruebaDos" style="padding: 1px;" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1000">
      <img src="/assets/imagenes/fishing/pescador.jpg" alt="" > 
    </div>
  </div>
</div>

<!--<button (click)="addSlide()">Add</button>
  <button (click)="removeSlide()">Remove</button>
  <button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
  <button (click)="slickModal.unslick()">unslick</button>
</div>-->

<div class="container-fluid">
  <div class="row">
    <div class="container" style="position: relative;">
      <div class="row">
        <div class="col-sm-12 seccion-productos-extras">     
          <h1>Productos destacados</h1>
          <hr>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide *ngFor="let productoPesca of productosPesca | slice: 0:16; index as i; let index = i;">
                  <div class="">
                    <div class="product-card">
                      <div class="badge1" *ngIf="productoPesca.nuevo">Nuevo</div>
                      <div class="badge2" *ngIf="productoPesca.destacado">Destacado</div>
                      <div class="badge3" *ngIf="productoPesca.descuento">{{productoPesca.descuento}}% DESC</div>
                      <!--<div class="badge3" *ngIf="productoPesca.descuento">Desc {{productoPesca.descuento}}%</div>-->
                           <div class="product-tumb">
                               <img src="{{productoPesca.image[0].url}}" alt=""(mouseover) = "productoPesca.image[0].url = productoPesca.imagenCambio" (mouseout) = "productoPesca.image[0].url = productoPesca.imagenPrincipal">
                           </div>
                           <div class="product-details">
                            <!--<span class="product-catagory">{{producto.categoria}} {{producto.marca}}</span>-->
                        
                            <h4><a routerLink="/tienda/{{productoPesca.clasificacion}}/{{productoPesca.categoria}}/{{productoPesca.idProducto}}/{{productoPesca.nombre}}">{{productoPesca.nombre | oracionMayusculas}}</a></h4>
                            <h4 *ngIf="productoPesca.descuento"><span>  Precio Original: </span> {{productoPesca.precio_antiguo | currency}}</h4>
                            <h5 *ngIf="productoPesca.descuento != 0; else precioNormal"><span>Precio de Lista: </span> {{productoPesca.precio | currency}}</h5>
                            <h3 id="precioNormal" *ngIf="productoPesca.descuento == 0"><span>Precio: </span>{{productoPesca.precio | currency}}</h3>
                        
                            
                            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                           
                            <div class="pruebaBotones"> 
                             <ul>
                               <li>  <button (click)="addWishList(productoPesca)"><i class="fa fa-heart" aria-hidden="true"></i></button></li>
                              
                               
                             </ul>
                            
            
                           </div>
                           <div class="pruebaBotones2">
                               <button style="margin-right: 2px " class="" type="button" (click)="openModal(productoPesca)"><i class="fa fa-eye" aria-hidden="true" ></i></button>
                               <button class="" type="button" (click) = "addCart(productoPesca)"><i class="fa fa-shopping-cart"></i> </button>
                             
            
                           </div>
                           </div>
                       </div>
                   </div>
                   </ng-template>
                  
               </owl-carousel-o>
       
                </div>
       
              </div>
 </div>

  </div>

</div>
<br>
<!--<div class="container-fluid" style=" background: rgb(1, 223, 215);
background: linear-gradient(90deg, rgba(1, 223, 215) 50%, rgba(1, 223, 215) 50%); ">
 <div class="row">
   <div class="col-12 col-sm-12 col-md-12 col-lg-12">
    <ngx-slick-carousel class="carousel" 
    #slickModal="slick-carousel" 
    [config]="slideConfig" 
    (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)"
    (afterChange)="afterChange($event)"
    (beforeChange)="beforeChange($event)">
  <div ngxSlickItem *ngFor="let slide of slides" class="slide">
  <img src="{{ slide.img }}" alt="" width="100%">
  <h1>{{ slide.titulo}}</h1>
  <p>{{slide.texto}}</p>
  </div>
  </ngx-slick-carousel>

   </div>

 </div>
</div>-->

<!--<div class="container-fluid backDraw">
  <div class="row">
    <div class="col-sm-12">
      <div class="img-inside">
        <div class="texto-img-inside">
           <h1>SE UN PESCADOR</h1>
           <h3>
             Siempre hay nuevos lugares para ir a pescar, para cualquier pescador siempre hay un lugar nuevo, siempre un nuevo horizonte.
           </h3>
        </div>
      </div>
    </div>
 
  </div>
 </div>-->


    <!--<div class="container-fluid" style="background-image: url('assets/imagenes/fishing/ocean.jpg'); height: 750px; padding: 35px;">
      <div class="row">
        <div class="col-sm-12">
          <div class="img-inside">
            <div class="texto-img-inside">
              <h1>SE UN PESCADOR</h1>
              <h3>Siempre hay nuevos lugares para ir a pescar, para cualquier pescador siempre hay un lugar nuevo, 
              siempre un nuevo horizonte.</h3>
            </div>
          </div>
        </div>
      </div>
    </div>-->

    <div class="container-fluid categorias-content" >
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 categorias-text">
          <p>ANFIBIA by FECEGO MARINA</p>
          <h1>Categorías de Pesca</h1>
          <hr>
        </div>
      </div>
    
      <div class="row" id="categoriasPesca-Accordion">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 categorias-text">
          <div class="gallery-wrap">
            <div class="item item-1 ">
              <div class="item-div"> 
                <h2><a routerLink="/tienda" [queryParams]="{clasificacion: 'pesca', categoria: 'aguadulce'}">Agua Dulce</a></h2>
                <!--<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu vitae elementum curabitur vitae nunc sed. Mattis rhoncus urna neque viverra justo nec. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Id interdum velit laoreet id donec ultrices. Nisi scelerisque eu ultrices vitae auctor eu augue ut. </h4>-->
              </div>
            </div>
            <div class="item item-2">
              <div>
                <h2><a routerLink="/tienda" [queryParams]="{clasificacion: 'pesca', categoria: 'aguasalada'}">Agua Salada</a></h2>
                <!--<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu vitae elementum curabitur vitae nunc sed. Mattis rhoncus urna neque viverra justo nec. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Id interdum velit laoreet id donec ultrices. Nisi scelerisque eu ultrices vitae auctor eu augue ut. </h4>-->
              </div>
            </div>
            
            <div class="item item-3">
              <div>
                <h2><a routerLink="/tienda" [queryParams]="{clasificacion: 'pesca', categoria: 'accesorios'}">Accesorios</a></h2>
                <!--<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu vitae elementum curabitur vitae nunc sed. Mattis rhoncus urna neque viverra justo nec. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Id interdum velit laoreet id donec ultrices. Nisi scelerisque eu ultrices vitae auctor eu augue ut. </h4>-->
              </div>
            </div>
            
            <div class="item item-4">
              <div>
                <h2><a routerLink="/tienda" [queryParams]="{clasificacion: 'pesca', categoria: 'navegacion'}">Navegación</a></h2>
                <!--<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu vitae elementum curabitur vitae nunc sed. Mattis rhoncus urna neque viverra justo nec. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Id interdum velit laoreet id donec ultrices. Nisi scelerisque eu ultrices vitae auctor eu augue ut. </h4>-->
              </div>
            </div>
            
            <div class="item item-5">
              <div>
                <h2><a routerLink="/tienda" [queryParams]="{clasificacion: 'pesca', categoria: 'ropa'}">Ropa</a></h2>
                <!--<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu vitae elementum curabitur vitae nunc sed. Mattis rhoncus urna neque viverra justo nec. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Id interdum velit laoreet id donec ultrices. Nisi scelerisque eu ultrices vitae auctor eu augue ut. </h4>-->
              </div>
            </div>
            
            <div class="item item-6">
              <div>
                <h2><a routerLink="/tienda" [queryParams]="{clasificacion: 'pesca', categoria: 'lineas'}">Lineas</a></h2>
                <!--<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu vitae elementum curabitur vitae nunc sed. Mattis rhoncus urna neque viverra justo nec. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Id interdum velit laoreet id donec ultrices. Nisi scelerisque eu ultrices vitae auctor eu augue ut. </h4>-->
              </div>
            </div>
          
            <div class="item item-7">
              <div>
                <h2><a routerLink="/tienda" [queryParams]="{clasificacion: 'pesca', categoria: 'snorkel'}">Snorkel</a></h2>
                <!--<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu vitae elementum curabitur vitae nunc sed. Mattis rhoncus urna neque viverra justo nec. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Id interdum velit laoreet id donec ultrices. Nisi scelerisque eu ultrices vitae auctor eu augue ut. </h4>-->
              </div>
            </div>
        
            <div class="item item-8">
              <div>
                <h2><a routerLink="/tienda" [queryParams]="{clasificacion: 'pesca', categoria: 'buceo'}">Buceo</a></h2>
                <!--<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu vitae elementum curabitur vitae nunc sed. Mattis rhoncus urna neque viverra justo nec. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Id interdum velit laoreet id donec ultrices. Nisi scelerisque eu ultrices vitae auctor eu augue ut. </h4>-->
              </div>
            </div>
      
            <div class="item item-9">
              <div>
                <h2><a routerLink="/tienda" [queryParams]="{clasificacion: 'pesca', categoria: 'kayaks'}">Kayaks</a></h2>
                <!--<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu vitae elementum curabitur vitae nunc sed. Mattis rhoncus urna neque viverra justo nec. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Id interdum velit laoreet id donec ultrices. Nisi scelerisque eu ultrices vitae auctor eu augue ut. </h4>-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row " id="categoriasPesca-noAccordion">
        <div class="col-12" >
          <div class="row">
            <div class="col-6 turnColor" style="padding: 1px;">
              <img src="assets/imagenes/fishing/Agua-dulce.png" alt="" width="100%" height="130px">
              <div class="texto-imagen">
                <h1><a routerLink="/tienda" [queryParams]="{clasificacion: 'pesca', categoria: 'aguadulce'}">Agua Dulce</a></h1>
              </div>
            </div>
            <div class="col-6 turnColor" style="padding: 1px;">
              <img src="assets/imagenes/fishing/Agua Salada.jpg" alt="" width="100%" height="130px">
              <div class="texto-imagen">
                <h1><a routerLink="/tienda" [queryParams]="{clasificacion: 'pesca', categoria: 'aguasalada'}">Agua Salada</a></h1>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12" >
          <div class="row">
            <div class="col-6 turnColor" style="padding: 1px;">
              <img src="assets/imagenes/fishing/navegacion.jpg" alt="" width="100%" height="130px">
              <div class="texto-imagen">
                <h1><a routerLink="/tienda" [queryParams]="{clasificacion: 'pesca', categoria: 'navegacion'}">Navegación</a></h1>
              </div>
            </div>
            <div class="col-6 turnColor" style="padding: 1px;">
              <img src="assets/imagenes/fishing/Snorkel.png" alt="" width="100%" height="130px">
              <div class="texto-imagen">
                <h1><a routerLink="/tienda" [queryParams]="{clasificacion: 'pesca', categoria: 'snorkel'}">Snorkel</a></h1>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12" >
          <div class="row">
            <div class="col-6 turnColor" style="padding: 1px;">
              <img src="assets/imagenes/fishing/buceo.png" alt="" width="100%" height="130px">
              <div class="texto-imagen">
                <h1><a routerLink="/tienda" [queryParams]="{clasificacion: 'pesca', categoria: 'buceo'}">Buceo</a></h1>
              </div>
            </div>
            <div class="col-6 turnColor" style="padding: 1px;">
              <img src="assets/imagenes/fishing/Kayak.png" alt="" width="100%" height="130px">
              <div class="texto-imagen">
                <h1><a routerLink="/tienda" [queryParams]="{clasificacion: 'pesca', categoria: 'kayaks'}">Kayaks</a></h1>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-6 turnColor" style="padding: 1px;">
              <img src="assets/imagenes/fishing/accesorios.jpg" alt="" width="100%" height="130px">
              <div class="texto-imagen">
                <h1><a routerLink="/tienda" [queryParams]="{clasificacion: 'pesca', categoria: 'accesorios'}">Accesorios</a></h1>
              </div>
            </div>
            <div class="col-6 turnColor" style="padding: 1px;">
              <img src="assets/imagenes/fishing/ropa.jpg" alt="" width="100%" height="130px">
              <div class="texto-imagen">
                <h1><a routerLink="/tienda" [queryParams]="{clasificacion: 'pesca', categoria: 'ropa'}">Ropa</a></h1>
              </div>
            </div>

          </div>

        </div>

        <div class="col-12">
          <div class="row">
            <div class="col-6 turnColor" style="padding: 1px;">
              <img src="assets/imagenes/fishing/lineas.jpg" alt="" width="100%" height="130px">
              <div class="texto-imagen">
                <h1><a routerLink="/tienda" [queryParams]="{clasificacion: 'pesca', categoria: 'lineas'}">Lineas</a></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="container-fluid">
      <div class="row">
        <div class="container" style="margin-top: 30px;">
          <div class="row">
            <div class="col-sm-12 product-Title">
              <h1>Productos más vendidos</h1>
              <hr>
            </div>
            <!--<div class="col-lg-3 col-md-6 col-sm-6 col-12" *ngFor="let productoPesca of productosPesca; index as i; let index = i;" >

              
              <div class="product-card" *ngIf="i<4">
                <div class="badge" *ngIf="productoPesca.nuevo">Nuevo</div>
                <div class="badge2" *ngIf="productoPesca.destacado">Destacado</div>
                <div class="product-tumb">
                  <img src="{{productoPesca.image}}" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                </div>
                <div class="product-details">
                  <span class="product-catagory">{{productoPesca.categoria}} {{productoPesca.marca}}</span>
                  <h4><a href="">{{productoPesca.nombre}}</a></h4>
                  <div class="product-price">
                    <h5>${{productoPesca.precio}}</h5>
                    <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                  </div>
                    
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                  <div class="product-bottom-details"></div>
                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rápida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                  </div>
                </div>
              </div>-->
              
              <!--<div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="product-card">
                  <div class="badge">Nuevo</div>
                  <div class="product-tumb">
                    <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                    onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                  </div>
                  <div class="product-details">
                    <span class="product-catagory">CARRETES Yellow Tail</span>                   
                    <h4><a href="">CARRETE TORITO TO4000</a></h4>
                    <div class="product-price">
                      <h5>$230.98</h5>
                      <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                    </div>
                      
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                    <div class="product-bottom-details"></div>
                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rápida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="product-card">
                  <div class="badge">Nuevo</div>
                  <div class="product-tumb">
                    <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                    onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                  </div>
                  <div class="product-details">
                    <span class="product-catagory">CARRETES Yellow Tail</span>
                    <h4><a href="">CARRETE TORITO TO4000</a></h4>
                    <div class="product-price">
                      <h5>$230.98</h5>
                      <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                    <div class="product-bottom-details"></div>
                      <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rápida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                      <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                    </div>
                  </div>
                </div>
                
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                  <div class="product-card">
                    <div class="badge">Nuevo</div>
                    <div class="product-tumb">
                      <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                      onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                    </div>
                    <div class="product-details">
                      <span class="product-catagory">CARRETES Yellow Tail</span>
                      <h4><a href="">CARRETE TORITO TO4000</a></h4>
                      <div class="product-price">
                        <h5>$230.98</h5>
                      <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                    </div>
                      
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                    <div class="product-bottom-details"></div>
                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rápida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                  </div>
                </div>
            </div>-->
  

      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <owl-carousel-o [options]="customOptions">
           <ng-template carouselSlide *ngFor="let productoPesca of productosPesca | slice: 0:16; index as i; let index = i;">
             <div class="" >
               <div class="product-card">
               <div class="badge1" *ngIf="productoPesca.nuevo">Nuevo</div>
               <div class="badge2" *ngIf="productoPesca.destacado">Destacado</div>
               <div class="badge3"*ngIf="productoPesca.descuento">{{productoPesca.descuento}}% DESC</div>
               <!--<div class="badge3" *ngIf="productoPesca.descuento">Desc {{productoPesca.descuento}}%</div>-->
                   <div class="product-tumb">
                       <img src="{{productoPesca.image[0].url}}" alt="" (mouseover) = "productoPesca.image[0].url = productoPesca.imagenCambio" (mouseout) = "productoPesca.image[0].url = productoPesca.imagenPrincipal"
                       >
                   </div>
                   <div class="product-details">
                    <!--<span class="product-catagory">{{producto.categoria}} {{producto.marca}}</span>-->
                
                    <h4><a routerLink="/tienda/{{productoPesca.clasificacion}}/{{productoPesca.categoria}}/{{productoPesca.idProducto}}/{{productoPesca.nombre}}">{{productoPesca.nombre | oracionMayusculas}}</a></h4>
                    <h4 *ngIf="productoPesca.descuento"><span>  Precio Original: </span> {{productoPesca.precio_antiguo | currency}}</h4>
                    <h5 *ngIf="productoPesca.descuento != 0; else precioNormal"><span>Precio de Lista: </span> {{productoPesca.precio | currency}}</h5>
                    <h3 id="precioNormal" *ngIf="productoPesca.descuento == 0"><span>Precio: </span>{{productoPesca.precio | currency}}</h3>
                
                    
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                   
                    <div class="pruebaBotones"> 
                     <ul>
                       <li>  <button (click)="addWishList(productoPesca)"><i class="fa fa-heart" aria-hidden="true"></i></button></li>
                      
                       
                     </ul>
                    
    
                   </div>
                   <div class="pruebaBotones2">
                       <button style="margin-right: 2px " class="" type="button" (click)="openModal(productoPesca)"><i class="fa fa-eye" aria-hidden="true" ></i></button>
                       <button class="" type="button" (click) = "addCart(productoPesca)"><i class="fa fa-shopping-cart"></i> </button>
                     
    
                   </div>
                   </div>
               </div>
           </div>
           </ng-template>
          
       </owl-carousel-o>

        </div>

      </div>
  </div>

  </div>

</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 " style="padding: 1px;" data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-duration="1000">
    <div class="publicidad7" style="padding: 1px;">
      <img style="width: 100%; height: 100%;" src="/assets/imagenes/fishing/pescadores.png" class="img-fluid" alt="">
      <!--<div class="text-publicidad7">
        <h1><span>PELAGIC</span></h1>
        <h1><span>R</span>OPA</h1>
        <h1><span>DE</span> PESCA</h1>
        <h1 style="margin-left: 80px;"><span>R</span>OPA</h1>
       <div style="position: absolute; top: 10%; left: 60%; width: 220px;">
        <p>Contamos con una gran variedad de ropa de pesca deportiva,
          si quieres tener estilo al pesca, Anfibia te prepará para verte bien</p>-->
       <!--</div>
       <div style="position: absolute; top: 70%; left: 60%; width: 220px;">
        <p>Visita nuestra sección de ropa de pesca y selecciona el 
          diseño que más te guste.
        </p>-->
       <!--</div>
          <h1><span>PELAGIC</span></h1>
          <h1>ROPA</h1>
          <h1>DE <span>PESCA</span></h1>
        
      </div>-->
    </div>
        
        

    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-6" style="padding: 1px;" data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-duration="1000">
     <div class="publicidad8">
       <img style="width: 100%; height: 100%;" src="/assets/imagenes/fishing/vive-nuevas-experiencias.png" class="img-fluid" alt="">
       <!--<div class="text-publicidad8">
        <h1>D</h1>
       </div>-->
      
       <!--<div style="position: absolute; top: -4%; left: 6%; font-family: 'Anton', sans-serif; font-size: 130px; color: transparent; -webkit-text-stroke-width: 4px;
       -webkit-text-stroke-color: #000;">
       D
       </div>-->
       <!--<div style="position: absolute; top: 10%; left: 14%; font-family: 'Anton', sans-serif; font-size: 50px; color: #000;">
         AIWA
       </div>-->
      
      <!--<div style="position: absolute; top: 12%; left: 16%; font-family: 'Anton', sans-serif; font-size: 50px; color: transparent; -webkit-text-stroke-width: 4px;
      -webkit-text-stroke-color: #000;">
        AIWA
      </div>-->
      <!--<div style="position: absolute; top: 15%; left: 11%; font-family: 'Anton', sans-serif; font-size: 130px; color: #000;">
        S
      </div>-->
      
      <!--<div style="position: absolute; top: 17%; left: 13%; font-family: 'Anton', sans-serif; font-size: 130px; color: transparent;-webkit-text-stroke-width: 4px;
      -webkit-text-stroke-color: #000;">
        S
      </div>-->
      <!--<div style="position: absolute; top: 28%; left: 21%; font-family: 'Anton', sans-serif; font-size: 50px; color: #000;">
        EAGEATE
      </div>-->
      
     <!--<hr style="position: absolute; top: 20%; left: 22%; background: #000; width: 200px; height: 3px;">
     <hr style="position: absolute; top: 42%; left: 4%; background: #000; width: 200px; height: 3px;">-->
    
     <!--<div style="position: absolute; top: 30%; left: 23%; font-family: 'Anton', sans-serif; font-size: 50px; color: transparent;-webkit-text-stroke-width: 4px;
     -webkit-text-stroke-color: #000;">
      EAGEATE
     </div>-->
      
      
     </div>
         
        

    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12" style="padding: 1px;" data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-duration="1000">
     <div class="parallax-fishing">
       <img style="width: 100%; height: 100%;" src="/assets/imagenes/fishing/daiwa.jpg" alt="" class="img-fluid">
      <!--<div class="texto-parallax-fishing">
        <h1><span>A</span>NFIBIA</h1>
        <hr style="position: absolute; top: 65%; width: 200px; height: 1px; background-color: #fff;">-->
       
        <!--<h1>SHIMANO</h1>
        <h2>SLX XT</h2>
        <h3><span>NUEVO</span></h3>
        <h4>CARRETE</h4>
        <p>Vive la <span>experiencía, </span></p>
        <p>EXPERIMENTA EL NUEVO <span>SHIMANO</span> SLX</p>-->
        
    
      <!--</div>
      <div class="texto-parallax-fishing2">
        <h2><span>C</span>ARRETES <span>S</span>TELLA</h2>
        <hr style="position: absolute; top: 113%; width: 200px; height: 1px; background-color: #fff;">
      </div>-->

     </div>
         
        

    </div>
    

  </div>


</div>





  
    <div class="container">
      <div class="row">
        <div class="col-sm-12 product-Title">
          <h1>Productos Yellow Tail</h1>
          <hr>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <owl-carousel-o [options]="customOptions">
           <ng-template carouselSlide *ngFor="let productoPesca of productosPesca | slice: 0:16; index as i; let index = i;">
             <div class="" >
               <div class="product-card">
               <div class="badge1" *ngIf="productoPesca.nuevo">Nuevo</div>
               <div class="badge2" *ngIf="productoPesca.destacado">Destacado</div>
               <div class="badge3" *ngIf="productoPesca.descuento">{{productoPesca.descuento}}% DESC</div>
              <!--<div class="badge3" *ngIf="productoPesca.descuento">Desc {{productoPesca.descuento}}%</div>-->
                   <div class="product-tumb">
                       <img src="{{productoPesca.image[0].url}}" alt=""(mouseover) = "productoPesca.image[0].url = productoPesca.imagenCambio" (mouseout) = "productoPesca.image[0].url = productoPesca.imagenPrincipal">
                   </div>
                   <div class="product-details">
                    <!--<span class="product-catagory">{{producto.categoria}} {{producto.marca}}</span>-->
                
                    <h4><a routerLink="/tienda/{{productoPesca.clasificacion}}/{{productoPesca.categoria}}/{{productoPesca.idProducto}}/{{productoPesca.nombre}}">{{productoPesca.nombre | oracionMayusculas}}</a></h4>
                    <h4 *ngIf="productoPesca.descuento"> Precio: <span> {{productoPesca.precio_antiguo | currency}}  </span> </h4>
                    <h5 *ngIf="productoPesca.descuento != 0; else precioNormal">Precio desc:<span>{{productoPesca.precio | currency}}</span> </h5>
                    <h3 id="precioNormal" *ngIf="productoPesca.descuento == 0"> Precio: <span>{{productoPesca.precio | currency}}</span></h3>
                
                    
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                   
                    <div class="pruebaBotones"> 
                     <ul>
                       <li>  <button (click)="addWishList(productoPesca)"><i class="fa fa-heart" aria-hidden="true"></i></button></li>
                      
                       
                     </ul>
                    
    
                   </div>
                   <div class="pruebaBotones2">
                       <button style="margin-right: 2px " class="" type="button" (click)="openModal(productoPesca)"><i class="fa fa-eye" aria-hidden="true" ></i></button>
                       <button class="" type="button" (click) = "addCart(productoPesca)"><i class="fa fa-shopping-cart"></i> </button>
                     
    
                   </div>
                   </div>
               </div>
           </div>
           </ng-template>
          
       </owl-carousel-o>

        </div>

      </div>
         
          
         
         
          </div>
  
      </div>
  
   
  
 

  </div>

</div>
     
<!--<div class="container-fluid" style="background-image: url('/assets/imagenes/fishing/fishingblue.jpg'); background-repeat: no-repeat;background-position: center; background-size: cover; height: 700px; margin-bottom: 100px;">
 <div class="row">
   <div class="col-sm-12">
    <div class="image-final">
      <div class="back-color">
        <h1>PESCA</h1>
        <p>Nos encargamos de que nuestros pescadores obtengan siempre los mejores productos, siempre buscamos calidad en las herramientas que proporcionamos a nuestros pescadores, porque sabemos que el mejor cazador debe tener las mejores herramientas.</p>
        <div class="flex dark">
          <a routerLink="/tienda" [queryParams]="{clasificacion: 'pesca'}" class="bttn-dark">Ir a la tienda</a>
        </div>
      </div>

    </div>

   </div>

 </div>
  
</div>-->
  



        

  
    
   



<!--<section class="sec3">
    <div class="skewedBox3">
        <h1>Este es un ejemplo del Skewedbox</h1>
        <p>assadasdasdasdasdasdasdasdasd</p>
    </div>
</section>-->




