<div class="container" style="background: #fff;">
    <div class="col-sm-12 parallax" >
        <div class="texto-parallax">
            <h1>En <span  class="half_background">ANFIBIA</span>  estamos orgullosos de nuestros <span>ALIADOS</span></h1>
        </div>   
    </div>
    <div class="col-sm-12" style="margin-top: 10px;">
        <div class="row fila-anfibia" >
            <div class="col-sm-6">
                <div class="div-imagen-anfibia">
                    <img src='/assets/imagenes/blogv1/redsky.jpg' alt="" height="100%">
                </div>
        
            </div>
            <div class="col-sm-6 contenedor-anfibia">
                <div class="textos-anfibia">
                    <h1>ANFIBIA</h1>
                    <h2>Nuestros aliados son una parte muy importante de nosotros, por eso te presentamos quienes són, trabajamos de la mano para poder darte los mejores productos y tenerte siempre listo para donde quiera que sea tu aventura.</h2>
                </div>
            </div>

        </div>

    </div>


    
   
<div class="container-fluid" style="background: #fff; padding: 0%; margin: 0%;">
    <div class="container">
        <div class="row proveedores-brand">
            <div class="col-sm-12">
                <h3 >Nuestros aliados en la</h3> 
                <h1>Pesca</h1>
                  
               
            </div> 
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure><img src="../assets/imagenes/proveedores/abugarcia.png" alt="" width="100%" height="auto"></figure>    
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure><img src="../assets/imagenes/proveedores/ande.png" alt="" width="100%" height="auto"></figure>
                
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure> <img src="../assets/imagenes/proveedores/berkley.png" alt="" width="100%" height="auto"></figure>
               
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure> <img src="../assets/imagenes/proveedores/bomber.jpg" alt="" width="100%" height="auto"></figure>
               
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure>  <img src="../assets/imagenes/proveedores/buff.jpg" alt="" width="100%" height="auto"></figure>
              
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure>  <img src="../assets/imagenes/proveedores/camillus.jpg" alt="" width="100%" height="auto"></figure>
              
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure>  <img src="../assets/imagenes/proveedores/crosman.png" alt="" width="100%" height="auto"></figure>
              
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure><img src="../assets/imagenes/proveedores/cuda.jpg" alt="" width="100%" height="auto"></figure>
                
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure><img src="../assets/imagenes/proveedores/DAIWA.png" alt="" width="100%" height="auto"></figure>
                
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure> <img src="../assets/imagenes/proveedores/DOA.png" alt="" width="100%" height="auto"></figure>
               
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure><img src="../assets/imagenes/proveedores/Fathom.png" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure>   <img src="../assets/imagenes/proveedores/flambeau.png" alt="" width="100%" height="auto"></figure>
             
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
               <figure> <img src="../assets/imagenes/proveedores/Gamo.jpg" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
               <figure><img src="../assets/imagenes/proveedores/Imperium.png" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure><img src="../assets/imagenes/proveedores/Magbay.png" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
               <figure> <img src="../assets/imagenes/proveedores/mendoza-logo.jpg" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure><img src="../assets/imagenes/proveedores/Mossy oak.png" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
               <figure> <img src="../assets/imagenes/proveedores/MUSTAD.png" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
               <figure> <img src="../assets/imagenes/proveedores/Outdoor cap.png" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure><img src="../assets/imagenes/proveedores/Pelagic.png" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
               <figure> <img src="../assets/imagenes/proveedores/PENN.png" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
               <figure> <img src="../assets/imagenes/proveedores/Red head.jpg" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure><img src="../assets/imagenes/proveedores/Shakespeare.jpg" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
               <figure> <img src="../assets/imagenes/proveedores/SHIMANO.jpg" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
               <figure> <img src="../assets/imagenes/proveedores/Yo-Zuri.png" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure><img src="../assets/imagenes/proveedores/yukon_gear.jpg" alt="" width="100%" height="auto"></figure>
            </div>
        </div>
       

        <div class="row proveedores-brand">
            <div class="col-sm-12">
                <h3>Nuestros aliados en la</h3> 
                <h1>Cacería</h1>
                  
                
            </div> 
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure><img src="../assets/imagenes/proveedores/abugarcia.png" alt="" width="100%" height="auto"></figure>    
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure><img src="../assets/imagenes/proveedores/ande.png" alt="" width="100%" height="auto"></figure>
                
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure> <img src="../assets/imagenes/proveedores/berkley.png" alt="" width="100%" height="auto"></figure>
               
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure> <img src="../assets/imagenes/proveedores/bomber.jpg" alt="" width="100%" height="auto"></figure>
               
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure>  <img src="../assets/imagenes/proveedores/buff.jpg" alt="" width="100%" height="auto"></figure>
              
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure>  <img src="../assets/imagenes/proveedores/camillus.jpg" alt="" width="100%" height="auto"></figure>
              
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure>  <img src="../assets/imagenes/proveedores/crosman.png" alt="" width="100%" height="auto"></figure>
              
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure><img src="../assets/imagenes/proveedores/cuda.jpg" alt="" width="100%" height="auto"></figure>
                
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure><img src="../assets/imagenes/proveedores/DAIWA.png" alt="" width="100%" height="auto"></figure>
                
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure> <img src="../assets/imagenes/proveedores/DOA.png" alt="" width="100%" height="auto"></figure>
               
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure><img src="../assets/imagenes/proveedores/Fathom.png" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure>   <img src="../assets/imagenes/proveedores/flambeau.png" alt="" width="100%" height="auto"></figure>
             
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
               <figure> <img src="../assets/imagenes/proveedores/Gamo.jpg" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
               <figure><img src="../assets/imagenes/proveedores/Imperium.png" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure><img src="../assets/imagenes/proveedores/Magbay.png" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
               <figure> <img src="../assets/imagenes/proveedores/mendoza-logo.jpg" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure><img src="../assets/imagenes/proveedores/Mossy oak.png" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
               <figure> <img src="../assets/imagenes/proveedores/MUSTAD.png" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
               <figure> <img src="../assets/imagenes/proveedores/Outdoor cap.png" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure><img src="../assets/imagenes/proveedores/Pelagic.png" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
               <figure> <img src="../assets/imagenes/proveedores/PENN.png" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
               <figure> <img src="../assets/imagenes/proveedores/Red head.jpg" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure><img src="../assets/imagenes/proveedores/Shakespeare.jpg" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
               <figure> <img src="../assets/imagenes/proveedores/SHIMANO.jpg" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
               <figure> <img src="../assets/imagenes/proveedores/Yo-Zuri.png" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure><img src="../assets/imagenes/proveedores/yukon_gear.jpg" alt="" width="100%" height="auto"></figure>
            </div>
        </div>
      

        <div class="row proveedores-brand">
            <div class="col-sm-12" style="background: #fff;">
                <h3>Nuestros aliados en la</h3> 
                <h1>Supervivencía</h1>
                  
                
            </div> 
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure><img src="../assets/imagenes/proveedores/abugarcia.png" alt="" width="100%" height="auto"></figure>    
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure><img src="../assets/imagenes/proveedores/ande.png" alt="" width="100%" height="auto"></figure>
                
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure> <img src="../assets/imagenes/proveedores/berkley.png" alt="" width="100%" height="auto"></figure>
               
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure> <img src="../assets/imagenes/proveedores/bomber.jpg" alt="" width="100%" height="auto"></figure>
               
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure>  <img src="../assets/imagenes/proveedores/buff.jpg" alt="" width="100%" height="auto"></figure>
              
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure>  <img src="../assets/imagenes/proveedores/camillus.jpg" alt="" width="100%" height="auto"></figure>
              
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure>  <img src="../assets/imagenes/proveedores/crosman.png" alt="" width="100%" height="auto"></figure>
              
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure><img src="../assets/imagenes/proveedores/cuda.jpg" alt="" width="100%" height="auto"></figure>
                
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure><img src="../assets/imagenes/proveedores/DAIWA.png" alt="" width="100%" height="auto"></figure>
                
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure> <img src="../assets/imagenes/proveedores/DOA.png" alt="" width="100%" height="auto"></figure>
               
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure><img src="../assets/imagenes/proveedores/Fathom.png" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure>   <img src="../assets/imagenes/proveedores/flambeau.png" alt="" width="100%" height="auto"></figure>
             
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
               <figure> <img src="../assets/imagenes/proveedores/Gamo.jpg" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
               <figure><img src="../assets/imagenes/proveedores/Imperium.png" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure><img src="../assets/imagenes/proveedores/Magbay.png" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
               <figure> <img src="../assets/imagenes/proveedores/mendoza-logo.jpg" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure><img src="../assets/imagenes/proveedores/Mossy oak.png" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
               <figure> <img src="../assets/imagenes/proveedores/MUSTAD.png" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
               <figure> <img src="../assets/imagenes/proveedores/Outdoor cap.png" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure><img src="../assets/imagenes/proveedores/Pelagic.png" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
               <figure> <img src="../assets/imagenes/proveedores/PENN.png" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
               <figure> <img src="../assets/imagenes/proveedores/Red head.jpg" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure><img src="../assets/imagenes/proveedores/Shakespeare.jpg" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
               <figure> <img src="../assets/imagenes/proveedores/SHIMANO.jpg" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
               <figure> <img src="../assets/imagenes/proveedores/Yo-Zuri.png" alt="" width="100%" height="auto"></figure>
            </div>
            <div class="hover-grey col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <figure><img src="../assets/imagenes/proveedores/yukon_gear.jpg" alt="" width="100%" height="auto"></figure>
            </div>
        </div>
    </div>
</div>


