<div class="container-fluid imagen">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 titulo">
            <h1>Crea una cuenta</h1>
        </div>  
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 texto">
            <h2>Con su cuenta de Anfibia, disfrute de envíos y devoluciones gratis, un pago más rápido<br> y una experiencia de compra más personalizada.</h2>
        </div>  
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-16 col-sm-12 col-xs-12 formulario">
            <h3><b>Crea una cuenta con:</b> </h3>
            <a href="#" title="Facebook" class="btn btn-facebook btn-social btn-lg"><i class="fa fa-facebook"></i>Iniciar sesión usando Facebook</a>
            <a href="#" title="Google" class="btn btn-google btn-social btn-lg"><i class="fa fa-google"></i>Iniciar sesión usando Google</a>

            <h3><b>O con tu Email:</b> </h3>
            <div class="card">
                <form >
                    <div class="input-container">
                        <input type="#{type}" id="#{label}" required="required"/>
                        <label for="#{label}">Email</label>
                        <div class="bar"></div>
                    </div>

                    <div class="input-container">
                        <input type="#{type}" id="#{label}" required="required"/>
                        <label for="#{label}">Contraseña</label>
                        <div class="bar"></div>
                    </div>

                    <div class="input-container">
                        <input type="#{type}" id="#{label}" required="required"/>
                        <label for="#{label}">Confirmar contraseña</label>
                        <div class="bar"></div>
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                            <div class="input-container">
                                <input type="#{type}" id="#{label}" required="required"/>
                                <label for="#{label}">Nombre</label>
                                <div class="bar"></div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 apl ">
                            <div class="input-container">
                                <input type="#{type}" id="#{label}" required="required"/>
                                <label for="#{label}">Apellido</label>
                                <div class="bar"></div>
                            </div>
                        </div>
                    </div> 
                    
                    <div class="input-container ">
                        <input type="#{type}" id="#{label}" required="required"/>
                        <label for="#{label}">Fecha de nacimiento</label>
                        <div class="bar"></div>
                    </div>

                    <div class="custom-control custom-checkbox check">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">He leído y acepto los términos y condiciones de uso.</label>
                    </div>
                    <div class="button-container">
                        <button routerLink="/perfil" ><span>Registrarse</span></button>
                    </div>
                    <div class="input-container">
                        <h3>Ya tengo una cuenta <a >iniciar sesión</a></h3>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 linea">
            <div class="beneficios">
                <h1>Beneficios</h1>
                <i class="fa fa-credit-card-alt"></i> Pagos más rapidos.
                <hr style="border: 0px;">
                <i class="fa fa-truck"></i> Envios y devoluciones gratis.
                <hr style="border: 0px;">
                <i class="fa fa-shopping-bag"></i> Una experiencia de compra más personalizada.
                <hr style="border: 0px;">
                <i class="fa fa-bell"></i> Notificaciones de ofertas especiales.
                <hr style="border: 0px;">
                <p>*Solo registro con correo electronico.</p>
            </div>
        </div>
    </div>
</div>

