<!--SEGUNDA OPCION DE LA LISTA DE DESEOS-->
<div class="container-fluid" style=" font-family: 'Prometo-light';">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <h1>Lista de deseos</h1>
        </div>
    </div>
</div>

<div class="container-fluid dos" style=" font-family: 'Prometo-light';">
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 linea">
            <h2>Menu</h2>
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" routerLink="/perfil">Mi perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/tienda-online">Tienda</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/pedidos">Mis pedidos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/preguntas-frecuentes">FAQ</a>
                </li>
            </ul>
            <hr>
            <div class="help">
                <h2 class="heelp">¿Necesitas ayuda?</h2>
                <p>Si tiene alguna pregunta o necesita ayuda con su cuenta, puede contactarnos para ayudarlo.</p>
                <div class="help">
                    <li><i class="fa fa-envelope-o"></i> Loremipsum@gmail.com</li>
                    <br>
                    <li><i class="fa fa-phone"></i> 0180098746535</li>
                </div>
                <hr>
            </div>
        </div>

        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-16" style="margin-top: 20px;">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 tarj">
                    <div class="content">
                        <button class="btn2"><i class="fa fa-times"></i></button>
                        <div class="content-overlay"></div>
                        <img class="img-fluid" src="/assets/imagenes/WishList/21.jpg" alt="">
                        <div class="content-details fadeIn-top">
                            <button class="button"><span>Añadir al carrito</span></button>
                        </div>
                    </div>
                    <hr>
                    <h3 style="font-size: 16px;">Lorem ipsum dolor sit amet.</h3>
                    <div class="row carrito">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <span>$500.00</span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <button class="btn3"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 tarj">
                    <div class="content">
                        <button class="btn2"><i class="fa fa-times"></i></button>
                        <div class="content-overlay"></div>
                        <img class="img-fluid" src="/assets/imagenes/WishList/21.jpg" alt="">
                        <div class="content-details fadeIn-top">
                            <button class="button"><span>Añadir al carrito</span></button>
                        </div>
                    </div>
                    <hr>
                    <h3 style="font-size: 16px;">Lorem ipsum dolor sit amet.</h3>
                    <div class="row carrito">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <span>$500.00</span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <button class="btn3"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 tarj">
                    <div class="content">
                        <button class="btn2"><i class="fa fa-times"></i></button>
                        <div class="content-overlay"></div>
                        <img class="img-fluid" src="/assets/imagenes/WishList/21.jpg" alt="">
                        <div class="content-details fadeIn-top">
                            <button class="button"><span>Añadir al carrito</span></button>
                        </div>
                    </div>
                    <hr>
                    <h3 style="font-size: 16px;">Lorem ipsum dolor sit amet.</h3>
                    <div class="row carrito">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <span>$500.00</span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <button class="btn3"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 tarj">
                    <div class="content">
                        <button class="btn2"><i class="fa fa-times"></i></button>
                        <div class="content-overlay"></div>
                        <img class="img-fluid" src="/assets/imagenes/WishList/21.jpg" alt="">
                        <div class="content-details fadeIn-top">
                            <button class="button"><span>Añadir al carrito</span></button>
                        </div>
                    </div>
                    <hr>
                    <h3 style="font-size: 16px;">Lorem ipsum dolor sit amet.</h3>
                    <div class="row carrito">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <span>$500.00</span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <button class="btn3"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 tarj">
                    <div class="content">
                        <button class="btn2"><i class="fa fa-times"></i></button>
                        <div class="content-overlay"></div>
                        <img class="img-fluid" src="/assets/imagenes/WishList/21.jpg" alt="">
                        <div class="content-details fadeIn-top">
                            <button class="button"><span>Añadir al carrito</span></button>
                        </div>
                    </div>
                    <hr>
                    <h3 style="font-size: 16px;">Lorem ipsum dolor sit amet.</h3>
                    <div class="row carrito">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <span>$500.00</span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <button class="btn3"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 tarj">
                    <div class="content">
                        <button class="btn2"><i class="fa fa-times"></i></button>
                        <div class="content-overlay"></div>
                        <img class="img-fluid" src="/assets/imagenes/WishList/21.jpg" alt="">
                        <div class="content-details fadeIn-top">
                            <button class="button"><span>Añadir al carrito</span></button>
                        </div>
                    </div>
                    <hr>
                    <h3 style="font-size: 16px;">Lorem ipsum dolor sit amet.</h3>
                    <div class="row carrito">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <span>$500.00</span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <button class="btn3"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 tarj">
                    <div class="content">
                        <button class="btn2"><i class="fa fa-times"></i></button>
                        <div class="content-overlay"></div>
                        <img class="img-fluid" src="/assets/imagenes/WishList/21.jpg" alt="">
                        <div class="content-details fadeIn-top">
                            <button class="button"><span>Añadir al carrito</span></button>
                        </div>
                    </div>
                    <hr>
                    <h3 style="font-size: 16px;">Lorem ipsum dolor sit amet.</h3>
                    <div class="row carrito">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <span>$500.00</span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <button class="btn3"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 tarj">
                    <div class="content">
                        <button class="btn2"><i class="fa fa-times"></i></button>
                        <div class="content-overlay"></div>
                        <img class="img-fluid" src="/assets/imagenes/WishList/21.jpg" alt="">
                        <div class="content-details fadeIn-top">
                            <button class="button"><span>Añadir al carrito</span></button>
                        </div>
                    </div>
                    <hr>
                    <h3 style="font-size: 16px;">Lorem ipsum dolor sit amet.</h3>
                    <div class="row carrito">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <span>$500.00</span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <button class="btn3"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

