
    .container{
        font-family: 'Prometo-light';
    }

    h1{
        margin-top: 30px;
        position: relative;
        text-align: center;
        font-size: 60px;
        font-family: 'Prometo-x-bold';
        color: black;
        letter-spacing: 0.1em;
    }

    .dos h2{
        margin-left: 50px;
        margin-top: 30px;
        font-family: 'Prometo-X-bold';
        font-size: 20px;
        text-align: left;
    }

    .nav{
        margin-left: 35px;
    }

    .nav-item a{
        color: black;
    }

    .linea p{
        margin-left: 45px;
        text-align: justify;
    }

    .help li{
        margin-left: 45px;
        list-style: none;
    }

    .linea{
        border-right: 1px solid #DAD9D8;
        top: 20px;  
    }

    .tarj{
        margin-bottom: 50px;
    }
    
    .btn2{
        position: absolute;
        margin-left:0;
        background-color: transparent;
        border: none;
        color:#000;
        font-size: 25px;
        z-index: 1;
    }

    .img{
        position: relative;
    }

    .content {
        position: relative;
        margin: auto;
        overflow: hidden;
    }
  
    .content .content-overlay {
        background: rgba(0,0,0,0.6);
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
    }
  
    .content:hover .content-overlay{
        opacity: 1;
    }
  
    .content-details {
        position: absolute;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        width: 100%;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
  
    .content:hover .content-details{
        top: 50%;
        left: 50%;
        opacity: 1;
    }

    .fadeIn-top{
        top: 20%;
    }
  
    .button {
        border-radius: 4px;
        background-color: #231F1F;
        opacity: 0.8;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 15px;
        padding: 10px;
        width: 170px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
        font-family: 'Prometo-medium';
    }
  
    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
  
    .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
  
    .button:hover span {
        padding-right: 25px;
    }
  
    .button:hover span:after {
        opacity: 1;
        right: 0;
    }
  

