.menu p{
  font-family: 'Meera Inima', sans-serif;
  font-size: 14px;
}


.not-logged h1{
  font-family: 'Meera Inima', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #000;
}

.no-shopping h1{ 
  font-family: 'Meera Inima', sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: normal;
}


.nav-item a{
  font-family: 'Meera Inima', sans-serif;
  font-size: 14px;

}

.table h1{
  font-family: 'Meera Inima', sans-serif;
  font-size: 17px;
}


.table p{
  font-family: 'Meera Inima', sans-serif;
  font-size: 15px;
  color: #000;
  text-align: left;
}

.table a{
  color: #000;
}

.table td{
  padding: 3px;
  padding-left: 5px;
}

.table-striped{
  background: none;
  padding: 0;
}


.pruebaBotones ul li{
  list-style: none;

}



.pruebaBotones{
  position: absolute;
  
  height: 100%;
  top: 0%;
  right: 0%;
}

.pruebaBotones button{
  border: none;
  background: none;
  color: none;
  font-size: 20px;
  
}

.pruebaBotones  i{
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
}


.pruebaBotones  i:hover{
  color: #ff0000;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ff0000;
  transition: 0.5s;
}


.product-priceHeartChecked i{
  color: #ff0000;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: #ff0000;
}
 
.pruebaBotones2{
  background: transparent;
  opacity: 0;
  z-index: 1;
  position: absolute;
  top: 30%;
  right: 3%;
  transition: 0.3s;
  
}

.product-card:hover .pruebaBotones2{
    opacity: 1;
    position: absolute;
    top: 49%;
    right: 3%;

}

.pruebaBotones2 button{
  background: none;
  margin-bottom: 1px;
  border:none;
  font-family: 'Meera Inima', sans-serif;
  font-size: 14px;
  padding: 7px;

}

.pruebaBotones2 button:hover{
  background: #000;
  color: #fff;
  transition: 0.5s ease-in-out;
}


.product-card {
  width: 100%;
  position: relative;
  margin: 50px auto;
  height: auto;
  transition: all 200ms ease-in;
  transform: scale(1);
 

}

.product-card:hover{
        
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  transition: all 300ms ease-in;
  
}

.badge1 {
  font-family: 'Meera Inima', sans-serif;
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 12px;
  font-weight: bolder;
  color: #000;
  padding: 3px 10px;
  border-radius: none;
  z-index: 1;
}

.badge2 {
  font-family: 'Meera Inima', sans-serif;
position: absolute;
left: 25%;
top: 2px;
font-size: 12px;
font-weight: bolder;
color: #000;
padding: 3px 10px;
border-radius: none;
z-index: 1;
}

.badge3 {
  position: absolute;
  right: 8px;
  bottom: 14%;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Meera Inimai', sans-serif;
  font-weight: 700;
  color: #000;
  border-left: 1px solid #000;
  padding: 3px 10px;
}



.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  padding: 45px;
  background: #FFF;
}



.product-tumb img {
  max-width: 100%;
  max-height: auto;
  transition: all 200ms ease-in;
  transform: scale(1);
}

.product-tumb img:hover {
transition: all 300ms ease-in;
transform: scale(1.3);
}

.product-details {
  padding: 30px;
  background: #fff;
 
}

.product-catagory {
  font-family: 'Meera Inima', sans-serif;
  display: block;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 18px;
}

.product-details h4{
  font-family: 'Meera Inima', sans-serif;
  font-size: 16px;
  color: #585858;
}

.product-details h4 span{
  font-weight: normal;
  text-decoration: line-through;
  color: #585858;
}



.product-details h5{
  font-family: 'Meera Inima', sans-serif;
  color: #000;
  font-size: 16px;


 

}

.product-details h5 span{
    color: red;
    font-weight: bold;
    font-size: 18px;
}

.product-details h3{
  font-family: 'Meera Inima', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}


.product-details h4 a {
  font-weight: normal;
  display: block;
  margin-bottom: 10px;
  color: #000000;
  text-decoration: none;
  transition: 0.3s;
  font-size: 13px;
  font-family: 'Meera Inima', sans-serif;
}

.product-details h4 a:hover {
  color: #162953;
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  position: absolute;
  top: 85%;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price h3{
  font-size: 17px;
  font-weight: bold;
  font-family: 'Meera Inimai', sans-serif;
  padding: 2px;
  color: #000;
  position: absolute;
  top: 82%;

  }
  .product-price h3 span{
    font-family: 'Meera Inimai', sans-serif;
    font-size: 12px;
    color: #000;
    font-weight: bold;
}

.product-price h4{
  font-size: 12px;
  font-family: 'Meera Inima', sans-serif;
  padding: 2px;
  text-decoration: line-through;
  color: #000;


  }

  .product-price button{
    position: absolute;
    top: 3%;
    right: 5%;
    border: none;

}
  
  .product-price h4 span{
    font-size: 14px;
    font-family: 'Meera Inimai', sans-serif;
    
    color: #000;
    
   

}

.product-price h5{
  font-size: 17px;
  font-family: 'Meera Inimai', sans-serif;
  font-weight: bold;
  padding: 2px;
  color: #ff0000;
  position: absolute;
  top: 85%;
}

.product-price h5 span{
  font-family: 'Meera Inimai', sans-serif;
font-size: 12px;
color: #000;
font-weight: bold;
}

.product-price a {
  position: absolute;
  top: 3%;
  right: 3%;
}

.product-price {
  font-size: 20px;
  color: #000000;
  font-weight: 600;
  font-family: 'Prometo-Medium';

}





.product-price i{
color: transparent;
float: right;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: #000;
}

.product-price i:hover{
color: #ff0000;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: #ff0000;
transition: 0.5s;
}


.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
  padding-left: 35px;
  position: absolute;
  top: 85%;
  right: 10%;
  
}

.product-links a {
  background: none;
  color: #000000;
  transition: 0.3s;
  font-size: 17px;
  padding: 5px;
}

.product-links a:hover {
  color: red;
}


.product-links-wish{
position: absolute;
top: 92%;
left: 2%;
font-family: 'Meera Inimai', sans-serif;
font-weight: bolder;
font-size: 13px;
color: #000000;
border: 1px solid #000000;
padding: 4px;
text-decoration: none;

}

.product-links-wish:hover{
background: #000000;
color: #ffffff;
transition: 0.5s;
}


.product-links-bag {
position: absolute;
top: 92%;
right: 2%;
font-family: 'Meera Inimai', sans-serif;
font-weight: bolder;
color: #000000;
border: 1px solid #000000;
padding: 4px;
text-decoration: none;
font-size: 13px;
}

.product-links-bag:hover{
background: #000000;
color: #ffffff;
transition: 0.5s;
}
    

    
    
    
    
    
    /*?====================================================================================================================?*/
    
    .text-also h2{
      font-family: 'Meera Inima', sans-serif;
      font-weight: bold;
      font-size: 20px;
      margin-top: 25px;
      color: #000;
      
      
  }
  
  .text-also hr{
    width: 10%;
    height: 2px;
    background: #04B4AE;
    margin-left: 0px;
    text-align: center;
  }
  



    
    .text-title{
      font-family: 'Meera Inima', sans-serif;
      font-size: 16px;

    }

    .text-title span{
      font-weight: bold;
    }


    


    
    .container {
      margin-top: 50px;
      font-family: 'Meera Inima', sans-serif;
      font-size: 17px;
      margin-bottom: 100px;
    }

    .img{
      position: absolute;
  }

    .titulo h1{
      margin-top: 30px;
      position: relative;
      text-align: center;
      font-size: 80px;
      font-family: 'Anton';
      color: black;
    }
      /*Media query en celulares vertical*/
      @media only screen and (max-width: 1100px) and (min-width: 300px){
        .titulo h1{
          letter-spacing: 0em;
        }
      }

    .menu h2{
      margin-left: 0px;
      margin-top: 0px;
      font-family: 'Meera Inima', sans-serif;
      font-weight: bold;
      font-size: 16px;
      text-align: left;
    }
    /*Media query en tablets horizontal*/
    @media only screen and (max-width: 1000px) and (min-width: 768px){
      .menu{
        display: none;
      }
    }
      
    /*Media query en tablets vertical*/
      @media only screen and (max-width: 768px) and (min-width: 567px){
        .menu{
          display: none;
        }
      }
    /*Media query en celulares vertical*/
      @media only screen and (max-width: 567px) and (min-width: 320px){
        .menu{
          display: none;
        }
      }

    .nav-item a{
      color: black;
    }

    .menu p{
      margin-left: 15px;
      text-align: justify;
    }
    
    /*Media query en tablets horizontal*/
      @media only screen and (max-width: 1024px) and (min-width: 1000px)  and (orientation: landscape){
        .menu p{
          margin-left: 0;
          text-align: left;
        }
      }

    .help li{
      margin-left: 15px;
      list-style: none;
    }
        
    /*Media query en tablets horizontal*/
      @media only screen and (max-width: 1024px) and (min-width: 1000px)  and (orientation: landscape){
        .help li{
          margin-left: 5px;
        }
      }

    .menu{
      border-right: 1px solid #DAD9D8;
      top: 0px;  
    }

    .card h2{
      font-family: 'Meera Inima', sans-serif;
      font-size: 17px;
      margin-left: 10px;
    }

    .card h3{
      font-size: 18px;
      margin-left: 10px;
    }


    .pedido{
      background: none;
    }


    .pedido .foto{
      height: 100px;
      width: 100%;
      background: #F0F0F0;
    }
      /*Media query en celulares vertical*/
      @media only screen and (max-width: 576px) and (min-width: 300px){
        .pedido .foto{
          height: 200px;
        }
      }

    .pedido img{
      max-width: 90%;
      max-height: 90%;
    }
    
    .card .detalles{
      margin-top: 30px;
    }
    /*Media query en celulares vertical*/
      @media only screen and (max-width: 390px) and (min-width: 321px){
        .card .detalles{
          text-align: center;
        }
      }

      @media only screen and (max-width: 567px) and (min-width: 392px){
        .card .detalles{
          text-align: center;
        }
      }

    .card .detalles a{
      color: #037775;
      font-size: 19px;
      text-transform: uppercase;
    }

    .wrapper {
      margin: 0 auto;
      width: 100%;
      font-family: 'Meera';
      font-size: 14px;
    }

    /*Media query en tablets vertical*/
      @media only screen and (max-width: 768px) and (min-width: 576px){
        .wrapper{
          margin-top: 50px;
          font-size: 15px;
          margin-left: 150px;
          }
        }
    /*Media query en celulares vertical*/
      @media only screen and (max-width: 576px) and (min-width: 320px){
        .wrapper{
          margin-left: 100px;
          margin-top: 50px;
        }
      }

    .envio{
      align-self: center;
    }

    .step-progress {
      position: relative;
      padding-left: 20px;
      list-style: none;
    }
      
    .step-progress::before {
      display: inline-block;
      content: '';
      position: absolute;
      top: 0;
      left: 0px;
      width: 10px;
      height: 100%;
      border-left: 2px solid #ccc;
    }

    .step-progress-item {
      position: relative;
      counter-increment: list;
      padding-top: 10px;
      padding-left: 15px;
    }
      
    .step-progress-item:not(:last-child) {
      padding-bottom: 50px;
    }
      
    .step-progress-item::before {
      display: inline-block;
      content: '';
      position: absolute;
      left: -21px;
      height: 100%;
      width: 10px;
    }
      
    .step-progress-item::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      left: -38px;
      width: 32px;
      height: 32px;
      border: 2px solid #ccc;
      border-radius: 50%;
      background-color: #fff;
    }
    
    .step-progress-item.is-done::before {
      border-left: 2px solid #00417b;
    }
      
    .step-progress-item.is-done::after {
      background-color: #00417b;
      font-size: 20px;
      color: #fff;
      text-align: center;
      border: 2px solid #00417b;
    }
      
    .step-progress-item.current::before {
      border-left: 2px solid #00417b;
    }
      
    .step-progress-item.current::after {
      background-size: 24px 24px;
      background-repeat: no-repeat;
      background-position: center;
      width: 32px;
      height: 32px;
      top: 0;
      left: -38px;
      font-size: 14px;
      text-align: center;
      color: #00417b;
      border: 2px solid #00417b;
      background-color: white;
    }
      
    .step-progress strong {
      display: block;
    }

    .pedido .btn {
      width: 100%;
      color: #fff;
      background-color: #393939;
      text-align: center !important; 
      border-color: #393939;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }