
<div class="container-fluid ">
    <!--PRIMERA FILA-->
    <div class="container titulo">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1>NUESTRAS CATEGORIAS</h1>
            </div>
        </div>
    </div>
 

    <div class="container texto">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 borde">
                <ul class="list-group">
                    <li class="list-group"><a href="">Pesca</a></li>
                    <li class="list-group"><a href="">Cacería</a></li>
                    <li class="list-group"><a href="">Supervivencia</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--PRIMERA FILA-->

    <!--SEGUNDA FILA-->
    <div class="container titulo">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1>TIENDA</h1>
            </div>
        </div>
    </div>

    <!--PESCA-->
    <div class="container texto">
        <div class="row" style="margin-bottom: 10px;">
            <h2><b>Pesca</b></h2>
        </div>
        
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 borde">
                <ul class="list-group">
                    <li class="list-group"><a href="">Marca 1</a></li>
                    <li class="list-group"><a href="">Marca 2</a></li>
                    <li class="list-group"><a href="">Marca 3</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 borde">
                <ul class="list-group">
                    <li class="list-group"><a href="">Marca 1</a></li>
                    <li class="list-group"><a href="">Marca 2</a></li>
                    <li class="list-group"><a href="">Marca 3</a></li>
                    <li class="list-group"></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 borde">
                <ul class="list-group">
                    <li class="list-group"><a href="">Marca 1</a></li>
                    <li class="list-group"><a href="">Marca 2</a></li>
                    <li class="list-group"><a href="">Marca 3</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--PESCA-->

    <!--CACERÍA-->
    <div class="container texto">
        <div class="row" style="margin-top: 25px; margin-bottom: 10px;">
            <h2><b>Cacería</b></h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 borde">
                <ul class="list-group">
                    <li class="list-group"><a href="">Marca 1</a></li>
                    <li class="list-group"><a href="">Marca 2</a></li>
                    <li class="list-group"><a href="">Marca 3</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 borde">
                <ul class="list-group">
                    <li class="list-group"><a href="">Marca 1</a></li>
                    <li class="list-group"><a href="">Marca 2</a></li>
                    <li class="list-group"><a href="">Marca 3</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 borde">
                <ul class="list-group">
                    <li class="list-group"><a href="">Marca 1</a></li>
                    <li class="list-group"><a href="">Marca 2</a></li>
                    <li class="list-group"><a href="">Marca 3</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--CACERÍA-->

    <!--SUPERVIVENCIA-->
    <div class="container texto">
        <div class="row" style=" margin-top: 25px; margin-bottom: 10px; ">
            <h2><b>Supervivencia</b></h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 borde">
                <ul class="list-group">
                    <li class="list-group"><a href="">Marca 1</a></li>
                    <li class="list-group"><a href="">Marca 2</a></li>
                    <li class="list-group"><a href="">Marca 3</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 borde">
                <ul class="list-group">
                    <li class="list-group"><a href="">Marca 1</a></li>
                    <li class="list-group"><a href="">Marca 2</a></li>
                    <li class="list-group"><a href="">Marca 3</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 borde">
                <ul class="list-group">
                    <li class="list-group"><a href="">Marca 1</a></li>
                    <li class="list-group"><a href="">Marca 2</a></li>
                    <li class="list-group"><a href="">Marca 3</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--SUPERVIVENCIA-->
    <!--SEGUNDA FILA-->

    <!--TERCERA FILA-->
    <div class="container titulo">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h1>CONÓCENOS</h1>
                </div>
            </div>
        </div>
     
        <div class="container texto">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 borde">
                    <ul class="list-group">
                        <li class="list-group"><a href="">FAQ</a></li>
                        <li class="list-group"><a href="">Sobre nosotros</a></li>
                        <li class="list-group"><a href="">Contacto</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 borde">
                    <ul class="list-group">
                        <li class="list-group"><a href="">Ubicación</a></li>
                        <li class="list-group"><a href="">Aviso de privacidad</a></li>
                        <li class="list-group"><a href="">Terminos y condiciones</a></li>
                    </ul>
                    </div>
            </div>
        </div>
        <!--TERCERA FILA-->
    
</div> 