<div class=" container-fluid imagen">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1>Mapa del sitio</h1>
        </div>  
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2></h2>
        </div>  
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12 texto" style="top:30px;">
            <h1><a href="" routerLink="/anfibia-i">HOME</a></h1>
        </div>
    </div>
    <hr>
    <div class="row">
          
        <div  class="col-lg-3 col-md-12 col-sm-12 col-xs-12 texto">
            <h1>CATEGORÍAS</h1>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 texto">
            <ul class="list-group">
                <li class="list-group"><a href="" routerLink="/anfibia-pesca">Pesca</a></li>
                <li class="list-group"><a href="" routerLink="/anfibia-caceria">Cacería</a></li>
                <li class="list-group"><a href="" routerLink="/anfibia-supervivencia">Supervivencia</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 texto">
            <h1 routerLink="/anfibia-pesca">PESCA</h1>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 texto">
            <ul class="list-group">
                <li class="list-group"><a href="">Shimano</a></li>
                <li class="list-group"><a href="">Daiwa</a></li>
                <li class="list-group"><a href="">Penn</a></li>
                <li class="list-group"><a href="">Shakespeare</a></li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 texto">
            <ul class="list-group">
                <li class="list-group"><a href="">Abu Garcia</a></li>
                <li class="list-group"><a href="">Berkley</a></li>
                <li class="list-group"><a href="">Yo Zuri</a></li>
                <li class="list-group"><a href="">Fathom</a></li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 texto">
            <ul class="list-group">
                <li class="list-group"><a href="">Cuda</a></li>
                <li class="list-group"><a href="">Aftco</a></li>
                <li class="list-group"><a href="">Ande</a></li>
                <li class="list-group"><a href="">Mustad</a></li>
                
                
            </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 texto">
            <ul class="list-group">
                <li class="list-group"><a href="">Bomber</a></li>
                <li class="list-group"><a href="">Yellow Tail</a></li>
                <li class="list-group"><a href="">Imperium</a></li>
                <li class="list-group"><a href="">Magbay Lures</a></li>
            </ul>
         </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 texto">
            <h1 routerLink="/anfibia-caceria" >CACERÍA</h1>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 texto">
            <ul class="list-group">
                <li class="list-group"><a href="">Mendoza</a></li>
                <li class="list-group"><a href="">Gamo</a></li>
                <li class="list-group"><a href="">Crosman</a></li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 texto">
            <ul class="list-group">
                <li class="list-group"><a href="">Mossy Oak</a></li>
                <li class="list-group"><a href="">Red Head</a></li>
                <li class="list-group"><a href="">Flambeau</a></li>
            </ul>
        </div>    
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 texto">
            <h1 routerLink="/anfibia-supervivencia">SUPERVIVENCIA</h1>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 texto">
            <ul class="list-group">
                <li class="list-group"><a href="">Outdoor Edge</a></li>
                <li class="list-group"><a href="">Camillus</a></li>
                <li class="list-group"><a href="">Cuda</a></li>
            </ul>
        </div>
     </div>
    <hr>
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 texto">
            <h1>ROPA</h1>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 texto">
            <ul class="list-group">
                <li class="list-group"><a href="">Huk</a></li>
                <li class="list-group"><a href="">Pelagic</a></li>
                <li class="list-group"><a href="">Buff</a></li>
                <li class="list-group"><a href="">Fathom</a></li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 texto">
            <ul class="list-group">
                <li class="list-group"><a href="">Outdoor Cap</a></li>
                <li class="list-group"><a href="">Yukon</a></li>
                <li class="list-group"><a href="">Yellow Tail</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 texto">
            <h1>ACCESORIOS PARA LANCHAS</h1>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 texto">
            <ul class="list-group">
                <li class="list-group"><a href="">Seasense</a></li>
                <li class="list-group"><a href="">Shoreline</a></li>
                <li class="list-group"><a href="">Sea Dog</a></li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 texto">
            <ul class="list-group">
                <li class="list-group"><a href="">Taco</a></li>
                <li class="list-group"><a href="">Attwood</a></li>
                <li class="list-group"><a href="">Hi Tools Marine</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div  class="col-lg-3 col-md-12 col-sm-12 col-xs-12 texto">
            <h1>CONÓCENOS</h1>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 texto">
            <ul class="list-group">
                <li class="list-group"><a href="" routerLink="/preguntas-frecuentes">FAQ'S</a></li>
                <li class="list-group"><a href="" routerLink="/sobre-nosotros">Nosotros</a></li>
                <li class="list-group"><a href="" routerLink="/contactanos">Contacto</a></li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 texto">
            <ul class="list-group">
                <li class="list-group"><a href="" routerLink="/ubicaciones">Ubicación</a></li>
                <li class="list-group"><a href="" routerLink="/asuntos-legales">Aviso de privacidad</a></li>
                <li class="list-group"><a href="" routerLink="/asuntos-legales">Terminos y condiciones</a></li>
            </ul>
        </div>
    </div>
</div>














