<div class=" container-fluid imagen">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1>Mapa del sitio</h1>
        </div>  
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2></h2>
        </div>  
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12 texto" style="top:30px;">
            <h1><a href="" routerLink="/anfibia-i">HOME</a></h1>
        </div>
    </div>
    <hr>
    <div class="row">
          
        <div  class="col-lg-2 col-md-12 col-sm-12 col-xs-12 texto">
            <h1>CATEGORÍAS</h1>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 texto">
            <ul class="list-group">
                <li class="list-group"><a href="" routerLink="/anfibia-pesca">Pesca</a></li>
                <li class="list-group"><a href="" routerLink="/anfibia-caceria">Cacería</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 texto">
            <h1 routerLink="/anfibia-pesca">PESCA</h1>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 texto">
            <ul class="list-group">
                <li class="list-group"><a href=""><b>Agua dulce</b></a></li>
                <li class="list-group"><a href="">Cañas</a></li>
                <li class="list-group"><a href="">Carretes</a></li>
                <li class="list-group"><a href="">Combos</a></li>
                <li class="list-group"><a href="">Señuelos</a></li>
                <li class="list-group"><a href="">Accesorios</a></li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 texto">
            <ul class="list-group">
                <li class="list-group"><a href=""><b>Agua Salada</b></a></li>
                <li class="list-group"><a href="">Cañas</a></li>
                <li class="list-group"><a href="">Carretes</a></li>
                <li class="list-group"><a href="">Combos</a></li>
                <li class="list-group"><a href="">Señuelos</a></li>
                <li class="list-group"><a href="">Accesorios</a></li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 texto">
            <ul class="list-group">
                <li class="list-group"><a href=""><b>Lineas</b></a></li>
                <li class="list-group"><a href="">Monofilamento</a></li>
                <li class="list-group"><a href="">Trenzadas</a></li>
                <li class="list-group"><a href="">Leaders</a></li>
                <li class="list-group"><a href="">Flourocarbono</a></li>
                <li class="list-group"><a href="">Reinales</a></li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 texto">
            <ul class="list-group">
                <li class="list-group"><a href=""><b>Lineas</b></a></li>
                <li class="list-group"><a href="">Monofilamento</a></li>
                <li class="list-group"><a href="">Trenzadas</a></li>
                <li class="list-group"><a href="">Leaders</a></li>
                <li class="list-group"><a href="">Flourocarbono</a></li>
                <li class="list-group"><a href="">Reinales</a></li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 texto">
            <ul class="list-group">
                <li class="list-group"><a href=""><b>Buceo</b></a></li>
                <li class="list-group"><a href="">Aletas</a></li>
                <li class="list-group"><a href="">Arpones</a></li>
                <li class="list-group"><a href="">Visores</a></li>
                <li class="list-group"><a href="">Accesorios</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 texto"></div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 texto">
            <ul class="list-group">
                <li class="list-group"><a href=""><b>Snorkel</b></a></li>
                <li class="list-group"><a href="">Aletas</a></li>
                <li class="list-group"><a href="">Tubo Snorkel</a></li>
                <li class="list-group"><a href="">Visores</a></li>
                <li class="list-group"><a href="">Goggles</a></li>
                <li class="list-group"><a href="">Chalecos</a></li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 texto">
            <ul class="list-group">
                <li class="list-group"><a href=""><b>Kayak</b></a></li>
                <li class="list-group"><a href="">Remos</a></li>
                <li class="list-group"><a href="">Asientos</a></li>
                <li class="list-group"><a href="">Kayak</a></li>
                <li class="list-group"><a href="">Porta cañas</a></li>
                <li class="list-group"><a href="">Accesorios</a></li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 texto">
            <ul class="list-group">
                <li class="list-group"><a href=""><b>Accesorios</b></a></li>
                <li class="list-group"><a href="">Almacenamiento</a></li>
                <li class="list-group"><a href="">Arneses de lucha</a></li>
                <li class="list-group"><a href="">Guantes</a></li>
                <li class="list-group"><a href="">Ganchos</a></li>
                <li class="list-group"><a href="">Cuchillería</a></li>
                <li class="list-group"><a href="">Pinzas</a></li>
                <li class="list-group"><a href="">Mantenimiento</a></li>
                <li class="list-group"><a href="">Básculas</a></li>
                <li class="list-group"><a href="">Termos/Vasos</a></li>
                <li class="list-group"><a href="">Hieleras</a></li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 texto">
            <ul class="list-group">
                <li class="list-group"><a href=""><b>Navegación</b></a></li>
                <li class="list-group"><a href="">GPS</a></li>
                <li class="list-group"><a href="">Brújulas</a></li>
                <li class="list-group"><a href="">Audio</a></li>
                <li class="list-group"><a href="">Eléctricos</a></li>
                <li class="list-group"><a href="">Plomería</a></li>
                <li class="list-group"><a href="">Bombas</a></li>
                <li class="list-group"><a href="">Iluminación</a></li>
                <li class="list-group"><a href="">Motor</a></li>
                <li class="list-group"><a href="">Accesorios</a></li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 texto">
            <ul class="list-group">
                <li class="list-group"><a href=""><b>Ropa</b></a></li>
                <li class="list-group"><a href="">Jersey</a></li>
                <li class="list-group"><a href="">Short</a></li>
                <li class="list-group"><a href="">Traje de baño</a></li>
                <li class="list-group"><a href="">Toallas</a></li>
                <li class="list-group"><a href="">Gorras</a></li>
                <li class="list-group"><a href="">Sombreros</a></li>
                <li class="list-group"><a href="">Lentes</a></li>
                <li class="list-group"><a href="">Guantes</a></li>
                <li class="list-group"><a href="">Buffs</a></li>
                <li class="list-group"><a href="">Accesorios</a></li>
                <li class="list-group"><a href="">Almohadas</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 texto">
            <h1 routerLink="/anfibia-caceria" >CACERÍA</h1>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 texto">
            <ul class="list-group">
                <li class="list-group"><a href=""><b>Rifles</b></a></li>
                <li class="list-group"><a href="">Diábolos salva</a></li>
                <li class="list-group"><a href="">CO2</a></li>
                <li class="list-group"><a href="">Resorte</a></li>
                <li class="list-group"><a href="">Nitro pistón</a></li>
                <li class="list-group"><a href="">PCP</a></li>
                <li class="list-group"><a href="">Accesorios</a></li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 texto">
            <ul class="list-group">
                <li class="list-group"><a href=""><b>Pistolas</b></a></li>
                <li class="list-group"><a href="">Diábolos salva</a></li>
                <li class="list-group"><a href="">CO2</a></li>
                <li class="list-group"><a href="">Accesorios</a></li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 texto">
            <ul class="list-group">
                <li class="list-group"><a href=""><b>Arquería</b></a></li>
                <li class="list-group"><a href="">Arcos</a></li>
                <li class="list-group"><a href="">Bayetas</a></li>
                <li class="list-group"><a href="">Flechas</a></li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 texto">
            <ul class="list-group">
                <li class="list-group"><a href=""><b>Cuchillería</b></a></li>
                <li class="list-group"><a href="">Cuchillos</a></li>
                <li class="list-group"><a href="">Navajas</a></li>
                <li class="list-group"><a href="">Hachas</a></li>
                <li class="list-group"><a href="">Machetes</a></li>
                <li class="list-group"><a href="">Accesorios</a></li>
            </ul>
        </div> 
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 texto">
            <ul class="list-group">
                <li class="list-group"><a href=""><b>Ropa</b></a></li>
                <li class="list-group"><a href="">Jerseys</a></li>
                <li class="list-group"><a href="">Playeras</a></li>
                <li class="list-group"><a href="">Pantalones</a></li>
                <li class="list-group"><a href="">Chamarra</a></li>
                <li class="list-group"><a href="">Chalecos</a></li>
                <li class="list-group"><a href="">Gorras</a></li>
                <li class="list-group"><a href="">Lentes</a></li>
                <li class="list-group"><a href="">Buffs</a></li>
                <li class="list-group"><a href="">Guantes</a></li>
                <li class="list-group"><a href="">Máscaras</a></li>
                <li class="list-group"><a href="">Accesorios</a></li>    
            </ul>
        </div>       
    </div>

    <div class="row">
        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 texto"></div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 texto">
            <ul class="list-group">
                <li class="list-group"><a href=""><b>Accesorios</b></a></li>
                <li class="list-group"><a href="">Mochilas</a></li>
                <li class="list-group"><a href="">Hieleras</a></li>
                <li class="list-group"><a href="">Termos</a></li>
                <li class="list-group"><a href="">Bolsa para señuelos</a></li>
                <li class="list-group"><a href="">Llamadores</a></li>
                <li class="list-group"><a href="">Sillas</a></li>
                <li class="list-group"><a href="">Cuerdas</a></li>
                <li class="list-group"><a href="">Bancos</a></li>
                <li class="list-group"><a href="">Calcomanías</a></li>
                <li class="list-group"><a href="">Mallas</a></li>
                <li class="list-group"><a href="">Espiadero</a></li>
            </ul>
        </div> 
    </div>
    <hr>
    <div class="row">
        <div 
        class="col-lg-2 col-md-12 col-sm-12 col-xs-12 texto">
            <h1>CONÓCENOS</h1>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 texto">
            <ul class="list-group">
                <li class="list-group"><a href="" routerLink="/preguntas-frecuentes">FAQ'S</a></li>
                <li class="list-group"><a href="" routerLink="/sobre-nosotros">Nosotros</a></li>
                <li class="list-group"><a href="" routerLink="/contactanos">Contacto</a></li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 texto">
            <ul class="list-group">
                <li class="list-group"><a href="" routerLink="/ubicaciones">Ubicación</a></li>
                <li class="list-group"><a href="" routerLink="/asuntos-legales">Aviso de privacidad</a></li>
                <li class="list-group"><a href="" routerLink="/asuntos-legales">Terminos y condiciones</a></li>
            </ul>
        </div>
    </div>
</div>














