/*--------------------------------------------------------------*\
            "PAGINA ADAPTABLE A COMPUTADORAS"
Afecta a computadoras, laptops modelos:Nexus 10 landscape, 
Surface 3 Pro Landscape, Ipad landscape, Ipad mini 2,4 landcape.
\*--------------------------------------------------------------*/
@media only screen and (min-width: 1025px) {
    .container-fluid{
        padding-bottom: 100px;
    }

    .imagen h1{
        margin-top: 50px;
        position: relative;
        text-align: center;
        font-size: 80px;
        font-family: 'Prometo-x-bold';
        color:black;
        letter-spacing: 0.1em;
    }

    .texto{
        font-size: 20px;
        font-family: 'Prometo-light';
        padding-left: 100px;
        padding-bottom: 20px;
    }

    hr{
        width: 90%;
    }

    .texto h1{
        font-size: 30px;
        font-family: 'Prometo-x-bold';
        color:#042455;
    }

    a{
        text-decoration: none;
        color: black;
    }

    a:hover{
        color: #0A2D45;
    }
}
/*--------------------------------------------------------------*\
         "PAGINA ADAPTABLE A TABLETS HORIZONTAL"
Nexus 10 Portrait, Nexus 7 Landscape, Surface Pro 3 Portrait , 
ipad landscape, Ipad mini Landscape.
\*--------------------------------------------------------------*/
@media only screen and (max-width: 1024px) and (min-width: 768px) and (orientation: landscape){
    .container-fluid{
        padding-bottom: 100px;
    }


    .imagen h1{
        margin-top: 50px;
        position: relative;
        text-align: center;
        font-size: 80px;
        font-family: 'Prometo-x-bold';
        color:black;
        letter-spacing: 0.1em;
    }

    .texto{
        font-size: 20px;
        font-family: 'Prometo-light';
        padding-left: 100px;
        padding-bottom: 20px;
    }

    hr{
        width: 90%;
    }

    .texto h1{
        font-size: 30px;
        font-family: 'Prometo-x-bold';
        color:#042455;
    }

    a{
        text-decoration: none;
        color: black;
    }

    a:hover{
        color: #0A2D45;
    }
}

/*--------------------------------------------------------------*\
         "PAGINA ADAPTABLE A TABLETS VERTICAL"
Afecta Android phones LANDSCAPE, Nexus 7 Portrait, Ipad Portrait.
\*--------------------------------------------------------------*/
@media screen and (max-width: 768px) and (min-width: 490px) {
    .container-fluid{
        padding-bottom: 100px;
    }

 

    .imagen h1{
        margin-top: 50px;
        position: relative;
        text-align: center;
        font-size: 80px;
        font-family: 'Prometo-x-bold';
        color:black;
        letter-spacing: 0.1em;
    }

    .texto{
        font-size: 20px;
        font-family: 'Prometo-light';
        padding-left: 100px;
        padding-bottom: 20px;
    }

    hr{
        width: 90%;
    }

    .texto h1{
        font-size: 30px;
        font-family: 'Prometo-x-bold';
        color:#042455;
    }

    a{
        text-decoration: none;
        color: black;
    }

    a:hover{
        color: #0A2D45;
    }
}

/*--------------------------------------------------------------*\
               "PAGINA ADAPTABLE A CELULARES"
Iphone 4, 5, 7 PORTRAIT.
\*--------------------------------------------------------------*/

@media only screen and (max-width: 390px) and (min-width: 321px){
    .container-fluid{
        padding-bottom: 100px;
    }


    .imagen h1{
        margin-top: 50px;
        position: relative;
        text-align: center;
        font-size: 80px;
        font-family: 'Prometo-x-bold';
        color:black;
        letter-spacing: 0.1em;
    }

    .texto{
        font-size: 20px;
        font-family: 'Prometo-light';
        padding-left: 100px;
        padding-bottom: 20px;
    }

    hr{
        width: 90%;
    }

    .texto h1{
        font-size: 30px;
        font-family: 'Prometo-x-bold';
        color:#042455;
    }

    a{
        text-decoration: none;
        color: black;
    }

    a:hover{
        color: #0A2D45;
    }

      /* Medium devices (tablets, 768px and up) 
      The navbar toggle appears at this breakpoint */
      @media (min-width: 768px) {  
      
      }  
}

/*--------------------------------------------------------------*\
               "PAGINA ADAPTABLE A CELULARES"
Celulares Portrait.
\*--------------------------------------------------------------*/
@media (min-width: 320px) and (max-width: 480px) {
    .container-fluid{
        padding-bottom: 100px;
    }

    .imagen h1{
        margin-top: 50px;
        position: relative;
        text-align: center;
        font-size: 50px;
        font-family: 'Prometo-x-bold';
        color:black;
        letter-spacing: 0.1em;
    }

    .texto{
        font-size: 20px;
        font-family: 'Prometo-light';
        padding-left: 50px;
        padding-bottom: 20px;
    }

    hr{
        width: 90%;
    }

    .texto h1{
        font-size: 30px;
        font-family: 'Prometo-x-bold';
        color:#042455;
    }

    a{
        text-decoration: none;
        color: black;
    }

    a:hover{
        color: #0A2D45;
    }
}