.linea h2{
    font-family: 'Meera Inimai', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.linea p{
    margin-left: 14px;
    font-family: 'Meera Inimai', sans-serif;
    font-size: 14px;
}
  
  
  .nav{
    margin-left: 25px;
}

.nav-item a{
    color: black;
    font-size: 14px;
    font-family: 'Meera Inimai', sans-serif;
}

.sourcessLess{
    padding: 20px;
    font-family: 'Meera Inimai', sans-serif;

}

.sourcessLess h1{
    font-weight: bold;
    font-size: 20px;

}

.sourcessLess p{
    font-weight: normal;
    font-size: 14px;
}




.mensajeError{
    color: #000;
    
}

.mensajeError h1{
    font-family: 'Meera Inimai', sans-serif;
    font-size: 280px;
    text-align: center;
}

.mensajeError h2{
    font-family: 'Meera Inimai', sans-serif;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
}


.mensajeError p{
    font-family: 'Meera Inimai', sans-serif;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
}



.not-logged h1{
    font-family: 'Meera Inimai', sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #000;
  }

.selectedAddress div h2{
    font-family: 'Meera Inimai', sans-serif;
    font-size: 15px;
}


.pruebaData p{
    font-family: 'Meera Inimai', sans-serif;
    
}


.no-Address h5{
    font-family: 'Meera Inimai', sans-serif;
    font-size: 14px;
    color: #000;
 
}


.no-Address h3{
    font-family: 'Meera Inimai', sans-serif;
    font-size: 13px;
    color: #000;
    font-weight: normal;    
}


.style-eLinks{
    color: #000;
    font-family: 'Meera Inimai', sans-serif;
    font-size: 17px;
  
    
}

.style-eLinks a{
    color: #000;
    padding-right: 30px;
   
}



    
    .d-flex a{
        color: #000;
        font-family: 'Meera Inimai', sans-serif;
        text-decoration: underline;
    }
    
    
    .container-fluid{
        font-family: 'Meera Inimai', sans-serif;
    }

    .container{
        margin-bottom: 100px;
        margin-top: 100px;
        font-family: 'Meera Inimai', sans-serif;
    }

    .regresar{
        margin-top: 40px;
    }

    .regresar a{
        color: black;
        font-size: 18px;
        margin-left: 30px;
        padding: 0;
    }

    .regresar i{
        font-size: 25px;
        padding-right: 10px;
    }

    .titulo h1{
        
        font-size: 22px;
        font-family: 'Meera Inimai', sans-serif;
        font-weight: bold;
        margin-bottom: 20px;
        color: #000;
    }

    .informacion{
        margin-bottom: 30px;
        padding-bottom: 30px;
        margin-right: 40px;
    }

    .informacion h1{
        font-size: 15px;
        font-family: 'Meera Inimai', sans-serif;
        font-weight: bold;

    }

    .informacion h1 span{
        font-weight: normal;
        text-decoration: underline;
    }


    .informacion h2{
        font-size: 20px;
        /*text-transform: uppercase;*/
        font-family: 'Meera Inimai', sans-serif;
        margin-top: 17px;
        font-weight: normal;
        
    }

    .informacion h3{
        font-family: 'Meera Inimai', sans-serif;
        color: #000;
        font-size: 15px;
        font-weight: normal;
    }

    .informacion p{
        font-size: 15px;
        color: #000;
        font-family: 'Meera Inimai', sans-serif;
        font-weight: bold;
        line-height: 0.1em;
       
    }

    .informacion p span{
        font-family: 'Meera Inimai', sans-serif;
        font-weight: normal;

    }

    .informacion button{
        padding: 0;
        color: black;
        font-size: 16px;
        border: 0;
        background: transparent !important;
        padding-left: 10px;
        font-family: 'Meera Inimai', sans-serif;
        
        text-decoration: underline;
        transition: 0.5s;
    }


  

    .btn-ldireccion {
        color: black;
        font-size: 15px;
        font-family: 'Meera Inimai', sans-serif ;
        text-align: right !important; 
        text-decoration: none;
       
    }
    
    .informacion .btn-ldireccion i{
        padding-left: 5px;
        
    }

    .informacion .collapse .card {
        border: 0;
    }

    .informacion .btn .btn-info {
        color: #fff;
        background-color: #393939;
        width: 100%;
        font-size: 15px;
        font-family: 'Meera Inimai', sans-serif;
        text-align: center !important; 
    }
    
    .informacion .btn .btn-info {
        position: relative;
        padding-left: 44px;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .informacion .btn-info:hover {
        background-color: #252525;
    }

    .pago{
        margin-top: 80px;
        margin-bottom: 30px;
        padding-bottom: 30px;
    }

    .pago h2{
        font-size: 22px;
    /*text-transform: uppercase;*/
        font-family: 'Meera Inimai', sans-serif;
        font-weight: bold;
        margin-top: 15px;
        color: #000;
    }

    .pago h3{
        font-size: 17px;
    }

    .pago p{
        font-size: 15px;
    }

    .pago button{
        padding: 0;
        color: black;
        font-size: 20px;
        border: 0;
        background: transparent !important;
    }

    .pagoos{
        margin-top: -80px;
    }

    .pagoos button {
        width: 45%;
        margin-right: 0px;
        margin-left: 20px;
        padding: 5px 0 5px 0;
        color:#fff;
        background-color: #393939 !important; 
        text-align: center !important; 
        border-color: #393939 !important; 
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }   
            /*Media query en tablets horizontal*/
            @media only screen and (max-width: 1024px) and (min-width: 1000px)  and (orientation: landscape){
                .pagoos button{
                    margin-left: 15px;
                }
            }
            /*Media query en tablets vertical*/
            @media only screen and (max-width: 768px) and (min-width: 641px){
                .pagoos button{
                    margin-left: 17px;
                    font-size: 17px;
                }
            }

            /*Media query en celulares vertical*/
             @media only screen and (max-width: 390px) and (min-width: 321px){
                .pagoos button{
                    width: 100%;
                    margin-left: 0px;
                    margin-top: 10px;
                    font-size: 17px;
                }
            }

            @media only screen and (max-width: 567px) and (min-width: 392px){
                .pagoos button{
                    width: 100%;
                    margin-left: 0px;
                    margin-top: 10px;
                    font-size: 17px;
                }
            }


    .modal-body h1{
        font-family: 'Anton';
        font-size: 30px;
        letter-spacing: 3px;
    }

    .modal-body .card {
        border: none;
        margin-bottom: 20px;
        margin-top: 10px;
      }
      
    .modal-body .card h2 {
          background: url(https://cdn0.iconfinder.com/data/icons/entypo/91/arrow56-512.png) no-repeat calc(100% - 10px) center;
          background-size: 20px;
          cursor: pointer;
          font-size: 18px;
          font-family: 'Anton';
      }
      
    .modal-body .card .collapsed {
          background-image: url(https://cdn0.iconfinder.com/data/icons/arrows-android-l-lollipop-icon-pack/24/expand2-256.png);
    }


    .pedido  {
        background-color: #FAFAFA;
        max-height: auto;
        margin-bottom: 50px;
        padding-bottom: 30px;
    }
            /*Media query en tablets vertical*/
            @media only screen and (max-width: 768px) and (min-width: 641px){
                .pedido{
                    max-height: 850px;
                }
            }
            /*Media query en celulares vertical*/
            @media only screen and (max-width: 390px) and (min-width: 321px){
                 img{
                    width: 20%;
                }
            }
         
            @media only screen and (max-width: 567px) and (min-width: 392px){
                 img{
                    width: 20%;
                }
            }

    .pedido h2{
        font-size: 20px;
        /*text-transform: uppercase;*/
        font-family: 'Meera Inimai', sans-serif;
        font-weight: bold;
        margin-top: 15px;
    }

    .pedido h3{
        font-size: 16px;
        /*text-transform: uppercase;*/
        font-family: 'Anton';
    }

    .pedido h5{
        font-size: 16px; 
    }
        /*Media query en celulares vertical*/
        @media only screen and (max-width: 390px) and (min-width: 321px){
            .pedido h5{
                font-size: 13px;
            } 
        }

        @media only screen and (max-width: 567px) and (min-width: 392px){
            .pedido h5{
                font-size: 13px;
            } 
        }

    .pedido h6{
        font-size: 16px; 
        text-align: right !important;
    }
    
    .pedido .btn {
        width: 100%;
        color: #fff;
        background-color: #393939;
        text-align: center !important; 
        border-color: #393939;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    .pedido .boton {
        margin-top: 30px;
        text-decoration: none;
        text-align: center;
        padding: 10px;
        border: none;
        border-top: 1px solid #393939;
        border-bottom: 1px solid #393939;
        background-color: transparent;
        color: black;
        width: 100%;
    }

    .pedido .total{
        border-top: 1px solid #393939;
    }

   

    .pedido .foto{
        position: relative;
        margin: auto;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        padding: 10px;
        background: #F2F2F2;
        margin-top: 45px;
        margin-left: 20px;
    }
    .pedido img{
        max-width: 90%;
        max-height: 90%;
    }

    .pedido .detalles{
        margin-top: 40px;
    }

    .pedido .detalles dt{
      
    }

    .pedido p{
        font-size: 12px;
    }


    .detalles h1{
        font-size: 17px;
        
        color: #000;


    }

    .detalles p{
        font-size: 14px;
        font-family: 'Meera Inimai', sans-serif;
        line-height: 0.1em;
        color: #000;
    }

    .detalles span{
        font-family: 'Meera Inimai', sans-serif;
        font-weight: normal;
    }


    .card {
        border: none;
        margin-bottom: 20px;
        margin-top: 10px;
        background-color: #DADADA;
    }

    .card .btn {
        width: 40%;
        color: #fff;
        background-color: #393939 !important;
        text-align: center !important; 
        border-color: #393939 !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
            /*Media query en celulares vertical*/
            @media only screen and (max-width: 390px) and (min-width: 321px){
                .card .btn{
                    width: 70%;
                }
            }

            @media only screen and (max-width: 567px) and (min-width: 392px){
                .card .btn{
                    width: 70%;
                }
            }