<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 regresar">
            <a routerLink="/carrito-compras"><i class="fa fa-arrow-left" aria-hidden="true"></i> Volver al carrito de compras</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 titulo">
            <h1>Mi información</h1>
        </div>
    </div>
    <!--INFORMACIÓN DEL CLIENTE-->
    <div class="row">
        <!--DIRECCIONES-->
        <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12 informacion">
            <!--MODAL DE ENTREGRAS-->
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal3"><i class="fa fa-question-circle" aria-hidden="true"></i></button>
            </div>  
            <h2>Envío</h2>
            <h3><b>Tipo de envío</b></h3>
            <p>Entrega estándar (5-7 días, $100.00)</p>
            <h3><b>Dirección de envío</b></h3>
            <p>{{usuario.nombre}} {{usuario.apellidos}}, {{usuario.direccion[0].calle}} #{{usuario.direccion[0].numero}}, Fraccionamiento: {{usuario.direccion[0].fraccionamiento}}, {{usuario.direccion[0].codigoPostal}}, 
            {{usuario.direccion[0].municipio}}, {{usuario.direccion[0].estado}}, {{usuario.direccion[0].pais}}.<br>+{{usuario.direccion[0].telefono}}</p>
            <div class="d-flex justify-content-end">
                <a routerLink="/perfil">Agregar una nueva dirección</a>
            </div>
            <!--AGREGAR UNA NUEVA DIRECCIÓN-->
            <!--<div class="collapse" id="collapseExample">
                <div class="card card-body">
                    
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="nombre">Nombre *</label>
                                <input type="text" class="form-control" id="nombre" aria-describedby="nombre"> 
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="apellido">Apellido *</label>
                                <input type="text" class="form-control" id="apellido" aria-describedby="nombre"> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="direccion">Dirección *</label>
                                <input type="text" class="form-control" id="direccion" aria-describedby="direccion"> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="Pais">Pais *</label>
                                <input type="text" class="form-control" id="pais" aria-describedby="pais" placeholder="México" disabled> 
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="inputState">Estado *</label>
                                <select id="inputState" class="form-control">
                                    <option selected>Selecciona un estado</option>
                                    <option>Aguascalientes</option>
                                    <option>Baja California</option>
                                    <option>Baja California Sur</option>
                                    <option>Campeche</option>
                                    <option>Chiapas</option>
                                    <option>Chihuahua</option>
                                    <option>Ciudad de México</option>
                                    <option>Coahuila de Zaragoza</option>
                                    <option>Colima</option>
                                    <option>Durango</option>
                                    <option>Guanajuato</option>
                                    <option>Guerrero</option>
                                    <option>Hidalgo</option>
                                    <option>Jalisco</option>
                                    <option>México</option>
                                    <option>Michoacán de Ocampo</option>
                                    <option>Morelos</option>
                                    <option>Nayarit</option>
                                    <option>Nuevo León</option>
                                    <option>Oaxaca</option>
                                    <option>Puebla</option>
                                    <option>Querétaro</option>
                                    <option>Quintana Roo</option>
                                    <option>San Luis Potosí</option>
                                    <option>Sinaloa</option>
                                    <option>Sonora</option>
                                    <option>Tabasco</option>
                                    <option>Tamaulipas</option>
                                    <option>Tlaxcala</option>
                                    <option>Veracruz de Ignacio de la Llave</option>
                                    <option>Yucatán</option>
                                    <option>Zacatecas</option>
                        
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="ciudad">Ciudad *</label>
                                <input type="text" class="form-control" id="ciudad" aria-describedby="ciudad"> 
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="codigop">Código Postal</label>
                                <input type="text" class="form-control" id="codigop" aria-describedby="codigop"> 
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="telefono">Teléfono *</label>
                                <input type="text" class="form-control" id="telefono" aria-describedby="telefono"> 
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-info">Guardar dirección</button>
                    </div>
                </div>
            </div>-->
            <!--AGREGAR UNA NUEVA DIRECCIÓN-->
            
            <!--PAGOS-->
            <div class="col-lg-12 col-md-8 col-sm-12 col-xs-12 pago">
                <!--MODAL DE PAGOS-->
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2"><i class="fa fa-question-circle" aria-hidden="true"></i></button>
                </div>  
                <h2>información de pago</h2>
                <div class="pagoos">
                    <div id="myGroup1" class="container col-lg-12 col-xs-6">
                        <p>
                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1"> Pago con tarjeta </button>
                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2"> Pago con transferencia </button>
                        </p>
                        <!--Pago con tarjeta
                        <div id="collapseExample1" class="collapse" data-parent="#myGroup1">
                            <div class="card card-body">
                                <form>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label for="num">Número de tarjeta:</label>
                                                <input type="text" class="form-control" id="num" placeholder="XXXX XXXX XXXX XXXX">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label for="nombre">Nombre</label>
                                                <input type="text" class="form-control" id="nombre">
                                            </div>
                                        </div>
                                    </div>
                    
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label>Fecha de expiración:</label>
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="dia" placeholder="Día">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="año" placeholder="Año">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label for="seg">Número de seguridad</label>
                                                <input type="text" class="form-control" id="seg" placeholder="CCV">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>-->
                        <!--Pago con transferencia-->
                        <!--<div id="collapseExample2" class="collapse" data-parent="#myGroup1">
                            <div class="card card-body">
                                <dl class="">
                                    <dt>CUENTA BANAMEX</dt>
                                    <dt>Ventas en líne FECEGO</dt>
                                    <dt>Suc. 6505</dt>
                                    <dt>CTA: 683731</dt>
                                    <dt>Cuenta interbancaria: 002891650506837318</dt>
                                </dl>
                                <p><b>IMPORTANTE:</b> Antes de realizar cualquier pago es primordial que te confirmemos la disponibilidad de los productos.</p>
                            </div>
                        </div>-->
                    </div>
                </div>
                <!--PAGOS-->
            </div>  

            <!-- MODAL DE INFORMACIÓN DE ENVIO-->
            <div class="modal fade" id="myModal3" role="dialog">
                <div class="modal-dialog">  
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button style="padding-right: 10px;" type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <h1>ENTREGAS2</h1>
                            <hr>                        
                        </div>
                    </div>
                </div>
            </div>
           
            <!-- MODAL DE INFORMACIÓN DE PAGOS-->
            <div class="modal fade" id="myModal2" role="dialog">
                <div class="modal-dialog">  
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button style="padding-right: 10px;" type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <h1>ENTREGASfsdsdsd</h1>
                            <hr>                   
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--DIRECCIONES-->
        

        <!--INFORMACIÓN SOBRE EL PEDIDO QUE SE REALIZO-->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pedido">
            <h2>Pedido</h2>
            <hr>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <h5>Total del pedido: </h5>
                    <h5>Envio:</h5>
                    <h5><b>Total</b></h5>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <h6>${{totalParcial}}</h6>
                    <h6>${{gastosEnvio}}</h6>
                    <h6><b>${{total}}</b></h6>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--<a href="#demo" class="boton" data-toggle="collapse" aria-expanded="true">Simple collapsible</a>
                <div id="demo" class="collapse"></div>-->
                <h4>detalles del pedido</h4>
                <div class="row" *ngFor = "let prodCarrito of carritoUsuario.productos">
                    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-5 foto">
                        <img class="img-fluid" [attr.src]="prodCarrito.image[0].url" alt="">
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                        <dl class="detalles">
                            <dt>{{prodCarrito.nombre}}</dt>
                            <dt>${{prodCarrito.precio}}</dt>                                                 
                            <dt>Cantidad: {{prodCarrito.cantidad}}</dt>
                            <!--<dt>Color: Negro</dt>-->
                            <dt>Total: {{prodCarrito.totalProductoIndividual}}</dt>
                        </dl>
                    </div>
                    <hr>
                </div>
               
           
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p>Al hacer click en COMPLETAR LA COMPRA aceptas nuestros <a href="">Términos y Condiciones.</a></p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button type="button" class="btn btn-info" routerLink="/pedidos">COMPLETAR LA COMPRA</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <!--INFORMACIÓN SOBRE EL PEDIDO QUE SE REALIZO-->
    </div>
</div>





