.linkVerMasProductos{
    color: #000; 
    font-family: 'Meera Inima', sans-serif; 
    font-size: 17px; 
    text-decoration: none;
}


.imagenProductoFiltrado{
    width: 100%; 
    height: 180px; 
    background: #F2F2F2;
    justify-content: center; 
    align-items: center;
    padding: 30px;
}

.imagenProductoFiltrado img{
    width:70%;
    height: 100%;
    
}

.productosFiltrados {
    padding-top: 20px;
}

.productosFiltrados h1{
    font-family: 'Julius Sans One';
    font-weight: bold; 
    font-size: 14px; 
    text-align: center; 
    padding-top: 8px; 
    color: #000;
}

.productosFiltrados h2{
    font-family: 'Julius Sans One';
    font-size: 14px;
    text-align: center; 
    line-height: 0.4em;
}


.productosFiltrados span{
    color: #000;
    font-family: 'Julius Sans One';
    font-weight: bold;
}

.icon-header{
    cursor: pointer;
}
.searchStyle{
    font-family: 'Meera Inima', sans-serif;
    font-size: 30px;
    color: #000;
    text-align: center;
    margin-top: 20px;
    
}

.searchStyle label{
    text-align: left;
}

.searchStyle input{
    border: none;
    border-bottom: 2px solid #000;
    width: 50%;
    z-index: 2;
   
}

.searchStyle input[type="search"]{
    font-family: 'Julius Sans One';
    font-size: 20px;
}


.searchStyle ::placeholder {
font-size: 25px;
font-family: 'Julius Sans One';

  }


.cerrarModalBusqueda{
    font-family: 'Meera Inima', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.busqueda{
    width: 80%; 
    background: #fff;
    position: fixed; 
    top:19vh;
    z-index: 1000;
    max-height: 500px; /* supply current height here */
    overflow: hidden;
    overflow-y: scroll;
}



.menuNav{
    padding: 0px; 
    z-index: 999;
    overflow: hidden;
    position: fixed;
    top: 0;
    
}



.divAzul{
    width: 80%; 
    background: #fff;
    position: fixed; 
    z-index: 2;
    max-height: 500px; /* supply current height here */
    overflow: hidden;
    overflow-y: scroll;
    float: right;
}



/*.divAzul a{
    font-family: 'Anton', sans-serif;   
    font-size: 80px;
    letter-spacing: 5px;
    -webkit-text-stroke: #000;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 2px;
    text-decoration: none;
    transition: 0.4s ease-in-out;
    background: linear-gradient(to right, #000, #000 50%, #fff 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 365ms ease;
    text-decoration: none; 

}**/

.divAzul a:hover{
    background-position: 0 100%;
    
    
}

.divAzul p{
    font-family: 'Meera Inima', sans-serif;
    font-size: 17px;
    color: #000;
    line-height: 1.2em;
    
}

.divAzul ul li{
    list-style: none;
}


.divAzul h1{
    
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    
}

/*.divAzul h1{
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    color: #000;
}

.divAzul ul li{
    list-style: none;
}

.divAzul ul li a{
    font-family: 'Meera Inima', sans-serif;
    font-size: 20px;
    
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-text-stroke: #000;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 1px;
}

.divAzul ul li a:hover{
    -webkit-text-fill-color: #000;
}*/




.divGreen{
    width: 80%;
    background: #fff; 
    max-height: 500px; 
    z-index: 2;
    max-height: 500px;
    position: fixed;

    
    overflow: hidden;
    right: 0%;
   

    



 
}

.divGreen h1{
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    color: #000;

}

.divGreen a{
    font-family: 'Meera Inima', sans-serif;
    font-size: 13px;
    line-height: 0.8em;
    color:  #848484;
}

.divGreen a:hover{
    color: #000;
}

.divRojo{
    width: 80%; 
    background: #fff;
    position: fixed; 
    z-index: 99;
    max-height: 500px; /* supply current height here */
    overflow: hidden;
    overflow-y: scroll;
}

.prueba a{
    font-family: 'Anton', sans-serif;   
    font-size: 60px;
    letter-spacing: 5px;
    -webkit-text-stroke: #000;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 2px;
    text-decoration: none;
    transition: 0.4s ease-in-out;
    background: linear-gradient(to right, #000, #000 50%, #fff 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 365ms ease;
    text-decoration: none;  

}

.pruebaCategoria{
    font-family: 'Meera Inima', sans-serif;   
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 3px;
    -webkit-text-stroke: #000;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 1px;
    text-decoration: none;
    transition: 0.4s ease-in-out;
    background: linear-gradient(to left, #000, #000 50%, #fff 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 365ms ease;
    text-decoration: none;  
    border: none;
    margin-bottom: 4px;
}


.pruebaCategoria:focus{
    border: none;
}

.divRojo a:hover{
    background-position: 0 100%;
}

.pruebaLinksRapidos ul{
    margin-left: 0;
    padding-left: 0;
}


.pruebaLinksRapidos a{
    color: #848484;
    font-family: 'Meera Inima', sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    line-height: 0.8em;
    padding-left: 0;
}

.pruebaLinksRapidos a:hover{
    color: #000;
}

.divRojo p{
    font-family: 'Meera Inima', sans-serif;
    font-size: 17px;
    color: #000;
    line-height: 1.2em;
    
}

.divRojo h1{
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.divRojo ul li{
    list-style: none;
}

/*.divRojo ul li a{
    font-family: 'Meera Inima', sans-serif;
    font-size: 20px;
    
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-text-stroke: #000;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 1px;
}

.divRojo ul li a:hover{
    -webkit-text-fill-color: #000;
}
*/

.prueba2 ul li a {
    color: red;
}


.rightUl{
    
    list-style: none;
    width: 15%;
    height: 100%;
}
.logo-image{
    width: 60px;
    height: 60px;
    border-radius: 0%;
    overflow: hidden;
    margin-top: 10px;
   
}

.centerUl{
    list-style: none;
    width: 15%;
    height: 100%;
    
    padding: 0;
    margin: 0;
}

.texto-anfibia {
    display: flex;
    width: 100%;
    height: 100%;
    color: #fff;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    justify-content: space-around;
    align-items: center;
}

.logo-image a{
    list-style: none;
}

nav{
    height: 19vh;
    background: #000;
    padding: 0%;
}

.navbar{
    width: 100%;
    height: 50%; 
    padding: 0;
    margin: 0;
      
}

.primerPiso{
   border-bottom: 2px solid #fff;
}


.segundoPiso{

}

.izquierda{
  
    width: 50%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.clasificaciones{
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
   
    
}

.clasificaciones button{
    font-family: 'Meera Inima', sans-serif;
    font-weight: bolder;
    background: none;
    border: none;
    outline: none;
    color: #fff;
    
    text-decoration: none;
    width: 100%;
    height: 100%;
    transition: 0.4s ease-in-out;
}

.clasificacionesSeleccionado button {
    background: #fff;
    color: #000;
    
    
    
}

.otras-secciones button{
    font-family: 'Meera Inima', sans-serif;
    background: none;
    border: none;
    outline: none;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;
}

.otherSectionSelected button{
    background: #fff;
    color: #000;
    
    
    
}


.derecha{
    display: flex;
    width: 50%;
    height: 100%;
    padding: 0;
    margin: 0;
    margin-right: 0;
   
}

.otras-secciones{
    display: flex;
    list-style: none;
    
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    

}

.otras-secciones a{
  
    font-family: 'Julius Sans One';
    color: #fff;
    font-weight: bold;
    text-decoration: none;
   


}


.leftUl{
    
    width: 40%;
    height: 100%;
    
    
}

.leftUl i{
    font-size: 20px;
    line-height: 1em;
}

.letrasLeft{
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    background: red;
    margin-left: 60%;
    
}



.letrasLeft button{
    background: #000;
    width: 40px;
    height: 100%;
    outline: none;
    border: none;
    color: #A4A4A4;
  
}

.letrasLeft button:hover{
    
    color: #fff;
}






.justify-content-end span{
    display: block;
    color: #000;
    line-height: 0.1em;
    font-family: 'Julius Sans One';
    font-weight: bolder;
    font-size: 12px;
    line-height: 1.4em;
  }

  .menu-Imagen2{
    background-image: url('/assets/imagenes/fishing/Agua dulce 2.jpg');
      
    /* Full height */
    width: 100%;
    height: 600px;
    max-height: 100%; 
    /* Create the parallax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  .menu-ImagenCaceria{
    background-image: url('/assets/imagenes/hunting/Cazador.jpg');
      
    /* Full height */
    width: 100%;
    max-height: 100%; 
    /* Create the parallax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }