<div class="container-fluid menuNav">
        <nav>
                <div class="hamburger">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                </div>
                <div class="navbar primerPiso" >
                      <ul class="rightUl">
                        
                          <li>
                                <div class="logo-image">
                                        <a href="" routerLink="/anfibia-i"><img src="assets/imagenes/logos/solo-triangulo.png" class="img-fluid responsive"></a>
                                    </div>    
                          </li>
                        
                      </ul>
                      <ul class="centerUl">
                        
                        <li>
                              <div class="texto-anfibia">
                                   <h1>ANFIBIA</h1>
                              </div>    
                        </li>
                      
                    </ul>
                      <ul class="justify-content-end span leftUl">      
                        <div class="letrasLeft">
                                <li>
                                    <button id="busquedaButton" type="button" (click) = "openSearchBar()" ><i class="fa fa-search icon-header" id="boton-busqueda" aria-hidden="true" title="Busqueda"></i></button>       
                                </li>
                                <li>
                                  <button type="button" routerLink="/lista-deseos"><i class="fa fa-heart-o icon-header" id="boton-deseos" aria-hidden="true" title="Lista de deseos"></i></button>
                                       
                                </li>
                                <li>
                                  <button type="button" routerLink="/ubicaciones"><i class="fa fa-map-marker icon-header" id="boton-ubicaciones" aria-hidden="true" title="Ubicaciones"></i> </button>     
                                </li>
                                <li>
                                  <button type="button" (click)="openModal()"><i class="fa fa-user-o icon-header" id="boton-perfil"></i></button>      
                                </li>
                                <li>
                                  <button type="link" routerLink="/carrito"><i class="fa fa-cart-plus icon-header" id="boton-carrito" aria-hidden="true" title="Carrito de compras"></i></button>      
                                </li>
                        </div>
                      </ul>
                      

                </div>
                <div class="navbar segundoPiso" >
                        <ul class="izquierda">
                                <div class="clasificaciones" >
                                <li style="width: 100%; height: 100%;">
                                        <div style="width: 100%; height: 100%;" [ngClass] ="{'clasificacionesSeleccionado': pescaValor === true}">
                                                <button   type="button" id="pescaClasificacion" (click)="showMenuRojo()">PESCA</button>        
                                        </div>
                                </li>
                                <li style="width: 100%; height: 100%;">    
                                        <div style="width: 100%; height: 100%;" [ngClass] ="{'clasificacionesSeleccionado': caceriaValor === true}">
                                                <button  type="button" id="caceriaClasificacion" (click) = "showMenuAzul()">CACERÍA</button>
                                        </div>
                                        
                                </li>
                                </div>
                        </ul>
                        <ul class="derecha">
                                <div class="otras-secciones" [ngClass] ="{'otherSectionSelected': otherSections === true}">
                                        <li style="width: 100%; height: 100%;">
                                                <button  type="button" id="caceriaClasificacion" (click) = "showMenuOtrasSecciones()">Más secciones</button>
                                        </li>
                                </div>
                        </ul>
                </div>
                
        </nav>

        <div id="divRojo" class="divRojo row">
            <div class="col-sm-12" *ngIf="pescaBandra == true;"> 
                <div class="row" style="padding: 20px;"  >
                        <div class="col-sm-6" id="pruebaColor">
                              <div class="prueba" >
                                <a type="button" (click)="goPesca()">PESCA</a>
                                <h1>Categorías de Pesca</h1>
                              </div>
                             <ul id="categoriasPesca">
                                     <li id="delay1">
                                        <a class="pruebaCategoria" type="button" data-toggle="collapse" data-target="#aguaDulce" aria-expanded="false" aria-controls="multiCollapseExample2"><span>Agua Dulce</span></a>
                                        
                                        <div class="collapse multi-collapse" id="aguaDulce">
                                                <div class="pruebaLinksRapidos">
                                                      <ul>
                                                        <li><a routerLink = "/tienda" type="button" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'aguadulce', subcategoriaAguadulce: 'cañas'}">Cañas</a></li>
                                                        <li><a routerLink = "/tienda" type="button" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'aguadulce', subcategoriaAguadulce: 'carretes'}">Carretes</a></li>
                                                        <li><a routerLink = "/tienda" type="button" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'aguadulce', subcategoriaAguadulce: 'combos'}">Combos</a></li>
                                                        <li><a routerLink = "/tienda" type="button" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'aguadulce', subcategoriaAguadulce: 'señuelos'}">Señuelos</a></li>
                                                        <li><a routerLink = "/tienda" type="button" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'aguadulce', subcategoriaAguadulce: 'accesorios'}">Accesorios</a></li>
                                                      </ul>
                                                </div>
                                              </div>     
                                        
                                       
                                     
                                     </li>
                                     <li id="delay2">
                                        <a class="pruebaCategoria" type="button" data-toggle="collapse" data-target="#aguaSalada" aria-expanded="false" aria-controls="multiCollapseExample2"><span>Agua Salada</span></a>
                                        <div class="collapse multi-collapse" id="aguaSalada">
                                                <div class="pruebaLinksRapidos" >
                                                        <ul>
                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'aguasalada', subcategoriaAguasalada: 'cañas'}">Cañas</a></li>
                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'aguasalada', subcategoriaAguasalada: 'carretes'}">Carretes</a></li>
                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'aguasalada', subcategoriaAguasalada: 'combos'}">Combos</a></li>
                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'aguasalada', subcategoriaAguasalada: 'señuelos'}">Señuelos</a></li>
                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'aguasalada', subcategoriaAguasalada: 'accesorios'}">Accesorios</a></li>
                                                        </ul>
                                                      
        
                               
                                                </div>
                                        </div>
                                         
                                         
                                        </li>
                                     <li id="delay3">
                                        <a class="pruebaCategoria" type="button" data-toggle="collapse" data-target="#lineas" aria-expanded="false" aria-controls="multiCollapseExample2"><span>Líneas</span></a>
                                        <div class="collapse multi-collapse" id="lineas">
                                                <div class="pruebaLinksRapidos" >
                                                        <ul> 
                                                            <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'lineas', tipoLineas: 'monofilamento'}">Monofilamento</a></li>
                                                            <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'lineas', tipoLineas: 'trenzadas'}">Trenzadas</a></li>
                                                            <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'lineas', tipoLineas: 'leaders'}">Leaders</a></li>
                                                            <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'lineas', tipoLineas: 'Flourocarbono'}">Flourocarbono</a></li>
                                                            <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'lineas', tipoLineas: 'reinales'}">Reinales</a></li>
            
                                                        </ul>    
                                                    </div>
                                        </div>
                                      
                                     
                                     </li>
                                     <li id="delay4">
                                        <a class="pruebaCategoria" type="button" data-toggle="collapse" data-target="#navegacion" aria-expanded="false" aria-controls="multiCollapseExample2"><span>Navegación</span></a>
                                        <div class="collapse multi-collapse" id="navegacion">
                                                <div class="pruebaLinksRapidos">
                                                        <ul> 
                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'navegacion', navSub: 'gps'}">GPS</a></li>
                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'navegacion', navSub: 'brujulas'}">Brujulas</a></li>
                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'navegacion', navSub: 'audio'}">Audio</a></li>
                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'navegacion', navSub: 'electricos'}">Electricos</a></li>
                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'navegacion', navSub: 'plomeria'}">Plomería</a></li>
                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'navegacion', navSub: 'bombas'}">Bombas</a></li>
                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'navegacion', navSub: 'iluminacion'}">Iluminación</a></li>
                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'navegacion', navSub: 'motor'}">Motor</a></li>
                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'navegacion', navSub: 'accesorios'}">Accesorios</a></li>
                
                                                            </ul>     
                                                 </div>  

                                        </div>
                                      
                                        </li>
                                     <li id="delay5">
                                        <a class="pruebaCategoria" type="button" data-toggle="collapse" data-target="#snorkel" aria-expanded="false" aria-controls="multiCollapseExample2"><span>Snorkel</span></a>
                                        <div class="collapse multi-collapse" id="snorkel">
                                                <div class="pruebaLinksRapidos" >
                                                        <ul>
                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'snorkel', tiposSnorkel: 'aletas'}">Aletas</a></li>
                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'snorkel', tiposSnorkel: 'tubosnorkel'}">Tubo Snorkel</a></li>
                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'snorkel', tiposSnorkel: 'visores'}">Visores</a></li>
                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'snorkel', tiposSnorkel: 'gogles'}">Goggles</a></li>
                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'snorkel', tiposSnorkel: 'chalecos'}">Chalecos</a></li>
                                                        </ul>
                                                     </div>

                                        </div>
                                            
                                        </li>
                                     <li id="delay6">
                                        <a class="pruebaCategoria" type="button" data-toggle="collapse" data-target="#buceo" aria-expanded="false" aria-controls="multiCollapseExample2"><span>Buceo</span></a>
                                                <div class="collapse multi-collapse" id="buceo">
                                                        <div class="pruebaLinksRapidos">
                                                                <ul>
                                                                 <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'snorkel', tiposSnorkel: 'aletas'}">Aletas</a></li>
                                                                 <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'snorkel', tiposSnorkel: 'aletas'}">Arpones</a></li>
                                                                 <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'snorkel', tiposSnorkel: 'aletas'}">Visores</a></li>
                                                                 <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'snorkel', tiposSnorkel: 'aletas'}">Accesorios</a></li>
                                                                </ul>
                                                                      
                                                              </div>
                                                </div>
                                             
                                        </li>
                                     <li id="delay7">
                                        <a class="pruebaCategoria" type="button" data-toggle="collapse" data-target="#ropa" aria-expanded="false" aria-controls="multiCollapseExample2"><span>Ropa</span></a>
                                        <div class="collapse multi-collapse" id="ropa">
                                                <div class="pruebaLinksRapidos">
                                                        <ul>
                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'ropa', tipoRopaPesca: 'jersey'}">Jersey</a></li>
                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'ropa', tipoRopaPesca: 'short'}">Short</a></li>
                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'ropa', tipoRopaPesca: 'trajedebaño'}">Traje de Baño</a></li>
                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'ropa', tipoRopaPesca: 'toallas'}">Toallas</a></li>
                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'ropa', tipoRopaPesca: 'gorras'}">Gorras</a></li>
                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'ropa', tipoRopaPesca: 'sombreros'}">Sombreros</a></li>
                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'ropa', tipoRopaPesca: 'lentes'}">Lentes</a></li>
                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'ropa', tipoRopaPesca: 'guantes'}">Guantes</a></li>
                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'ropa', tipoRopaPesca: 'buff'}">Buff</a></li>
                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'ropa', tipoRopaPesca: 'accesorios'}">Accesorios</a></li>
                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'ropa', tipoRopaPesca: 'almohadas'}">Almohadas</a></li>
                                                        </ul>
                                                     </div>

                                        </div>     
                                      
                                        </li>
                                     <li id="delay8">
                                        <a class="pruebaCategoria" type="button" data-toggle="collapse" data-target="#kayaks" aria-expanded="false" aria-controls="multiCollapseExample2"><span>Kayaks</span></a>
                                        <div class="collapse multi-collapse" id="kayaks">
                                                <div class="pruebaLinksRapidos">
                                                        <ul>
                                                         <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'kayaks', tipoKayaks: 'remos'}">Remos</a></li>
                                                         <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'kayaks', tipoKayaks: 'asiento'}">Asiento</a></li>
                                                         <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'kataks', tipoKayaks: 'kayak'}">Kayak</a></li>
                                                         <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'kayaks', tipoKayaks: 'portacañas'}">Porta cañas</a></li>
                                                         <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'kayaks', tipoKayaks: 'accesorios'}">Accesorios</a></li>
                                                        </ul>
         
                                                      </div>
                                        </div>
                                            
                                        </li>
                                     <li id="delay9">
                                        <a class="pruebaCategoria" type="button" data-toggle="collapse" data-target="#accesorios" aria-expanded="false" aria-controls="multiCollapseExample2"><span>Accesorios</span></a>
                                        <div class="collapse multi-collapse" id="accesorios">
                                                <div class="pruebaLinksRapidos" >
                                                        <ul>
                                                         <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'accesorios', tipodeAccesorios: 'almacenamiento'}">Almacenamiento</a></li>
                                                         <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'accesorios', tipodeAccesorios: 'arneses'}">Arneses de lucha</a></li>
                                                         <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'accesorios', tipodeAccesorios: 'guantes'}">Guantes</a></li>
                                                         <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'accesorios', tipodeAccesorios: 'ganchos'}">Ganchos</a></li>
                                                         <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'accesorios', tipodeAccesorios: 'cuchilleria'}">Cuchillería</a></li>      
                                                         <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'accesorios', tipodeAccesorios: 'pinzas'}">Pinzas</a></li>
                                                         <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'accesorios', tipodeAccesorios: 'mantenimiento'}">Mantenimento</a></li>
                                                         <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'accesorios', tipodeAccesorios: 'basculas'}">Básculas</a></li>
                                                         <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'accesorios', tipodeAccesorios: 'termos'}">Termos/vasos</a></li>  
                                                         <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'pesca', categoria: 'accesorios', tipodeAccesorios: 'hieleras'}">Hieleras</a></li>
                                                        </ul>
                                                              
                                                      </div>
                                        </div>
                                          
                                            
                                        </li>
                                   
                                           
                             </ul>   
                        </div>
                        <div class="col-sm-6 menu-Imagen2">
                                
                        </div>
                        
                      

                </div> 
            </div>
          
           
        </div>

        <div id="divAzul" class="divAzul row" >
           <div class="col-sm-12" *ngIf="caceriaBandera == true;">
                <div class="row" style="padding: 10px;">
                    
                        <div class="col-sm-6 menu-ImagenCaceria" style="height: 500px;">
                                
                        </div>
                        <div class="col-sm-6"  >
                                <div class="prueba" >
                                   <a type="button" (click)="goCaceria()">Cacería</a>
                                   <h1>Categorías de Cacería</h1>
                                </div>
                             <ul>
                                <li id="delay1">
                                        <a class="pruebaCategoria" type="button" data-toggle="collapse" data-target="#rifles" aria-expanded="false" aria-controls="multiCollapseExample2"><span>Rifles</span></a>
                                        
                                        <div class="collapse multi-collapse" id="rifles">
                                                <div class="pruebaLinksRapidos">
                                                      <ul>
                                                        <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'rifles', subRifles: 'diabolos'}">Diabolos</a></li>
                                                        <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'rifles', subRifles: 'salva'}">Salva</a></li>
                                                        <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'rifles', subRifles: 'co2'}">CO2</a></li>
                                                        <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'rifles', subRifles: 'resorte'}">Resorte</a></li>
                                                        <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'rifles', subRifles: 'nitropiston'}">Nitropiston</a></li>
                                                        <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'rifles', subRifles: 'pcp'}">PCP</a></li>
                                                        <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'rifles', subRifles: 'accesorios'}">Accesorios </a></li>
                                                      </ul>
                                                </div>
                                              </div>     
                                        
                                       
                                     
                                     </li>
                                     <li id="delay2">
                                        <a class="pruebaCategoria" type="button" data-toggle="collapse" data-target="#pistolas" aria-expanded="false" aria-controls="multiCollapseExample2"><span>Pistolas</span></a>
                                        <div class="collapse multi-collapse" id="pistolas">
                                                <div class="pruebaLinksRapidos" >
                                                        <ul>
                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'pistolas', subPistolas: 'diabolos'}">Diabolos Salva</a></li>
                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'pistolas', subPistolas: 'co2'}">CO2</a></li>
                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'pistolas', subPistolas: 'accesorios'}">Accesorios</a></li>
                                                        </ul>
                                                      
        
                               
                                                </div>
                                        </div>
                                         
                                         
                                        </li>
                                        <li id="delay3">
                                                <a class="pruebaCategoria" type="button" data-toggle="collapse" data-target="#arqueria" aria-expanded="false" aria-controls="multiCollapseExample2"><span>Arquería</span></a>
                                                <div class="collapse multi-collapse" id="arqueria">
                                                        <div class="pruebaLinksRapidos" >
                                                                <ul>
                                                                        <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'arqueria', subArqueria: 'arcos'}">Arcos</a></li>
                                                                        <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'arqueria', subArqueria: 'bayestas'}">Bayestas</a></li>
                                                                        <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'arqueria', subArqueria: 'flechas'}">Flechas</a></li>
                                                                     
                                                                </ul>
                                                              
                
                                       
                                                        </div>
                                                </div>
                                                 
                                                 
                                                </li>

                                                <li id="delay4">
                                                        <a class="pruebaCategoria" type="button" data-toggle="collapse" data-target="#ropaCaceria" aria-expanded="false" aria-controls="multiCollapseExample2"><span>Ropa</span></a>
                                                        <div class="collapse multi-collapse" id="ropaCaceria">
                                                                <div class="pruebaLinksRapidos" >
                                                                        <ul>
                                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'ropa', subRopaCaceria: 'jersey'}">Jerseys</a></li>
                                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'ropa', subRopaCaceria: 'playeras'}">Playeras </a></li>
                                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'ropa', subRopaCaceria: 'pantalones'}">Pantalones</a></li>
                                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'ropa', subRopaCaceria: 'chamarras'}">Chamarras</a></li>
                                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'ropa', subRopaCaceria: 'chalecos'}">Chalecos</a></li>
                                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'ropa', subRopaCaceria: 'gorras'}">Gorras</a></li>
                                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'ropa', subRopaCaceria: 'lentes'}">Lentes</a></li>
                                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'ropa', subRopaCaceria: 'buff'}">Buff</a></li>
                                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'ropa', subRopaCaceria: 'guantes'}">Guantes</a></li>
                                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'ropa', subRopaCaceria: 'mascaras'}">Máscaras</a></li>
                                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'ropa', subRopaCaceria: 'accesorios'}">Accesroios</a></li>
                                                                             
                                                                        </ul>
                                                                      
                        
                                               
                                                                </div>
                                                        </div>
                                                         
                                                         
                                                        </li>
                                                        <li id="delay5">
                                                                <a class="pruebaCategoria" type="button" data-toggle="collapse" data-target="#cuchilleriaCaceria" aria-expanded="false" aria-controls="multiCollapseExample2"><span>Cuchillería</span></a>
                                                                <div class="collapse multi-collapse" id="cuchilleriaCaceria">
                                                                        <div class="pruebaLinksRapidos" >
                                                                                <ul>
                                                                                        <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'cuchilleria', subCuchilleria: 'cuchillos'}">Cuchillos</a></li>
                                                                                        <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'cuchilleria', subCuchilleria: 'navajas'}">Navajas </a></li>
                                                                                        <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'cuchilleria', subCuchilleria: 'hachas'}">Hachas</a></li>
                                                                                        <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'cuchilleria', subCuchilleria: 'machetes'}">Machetes</a></li>
                                                                                        <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'cuchilleria', subCuchilleria: 'accesorios'}">Accesorios</a></li>
                                                                                     
                                                                                </ul>
                                                                              
                                
                                                       
                                                                        </div>
                                                                </div>
                                                                 
                                                                 
                                                                </li>
                                                                <li id="delay5">
                                                                        <a class="pruebaCategoria" type="button" data-toggle="collapse" data-target="#accesoriosCaceria" aria-expanded="false" aria-controls="multiCollapseExample2"><span>Accesorios</span></a>
                                                                        <div class="collapse multi-collapse" id="accesoriosCaceria">
                                                                                <div class="pruebaLinksRapidos" >
                                                                                        <ul>
                                                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'accesorios', subAccesoriosCaceria: 'mochilas'}">Mochilas</a></li>
                                                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'accesorios', subAccesoriosCaceria: 'hieleras'}">Hieleras </a></li>
                                                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'accesorios', subAccesoriosCaceria: 'termos'}">Termos</a></li>
                                                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'accesorios', subAccesoriosCaceria: 'bolsasSeñuelos'}">Bolsas para señuelos</a></li>
                                                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'accesorios', subAccesoriosCaceria: 'señuelos'}">Señuelos</a></li>
                                                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'accesorios', subAccesoriosCaceria: 'llamadores'}">Llamadores</a></li>
                                                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'accesorios', subAccesoriosCaceria: 'cuerdas'}">Cuerdas</a></li>
                                                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'accesorios', subAccesoriosCaceria: 'bancos'}">Bancos</a></li>
                                                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'accesorios', subAccesoriosCaceria: 'calcomanias'}">Calcomanías</a></li>
                                                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'accesorios', subAccesoriosCaceria: 'mallas'}">Mallas</a></li>
                                                                                                <li><a routerLink = "/tienda" (click)="closeMenu()" [queryParams]= "{clasificacion: 'Caceria', categoriasCaceria: 'accesorios', subAccesoriosCaceria: 'espiadero'}">Espiadero</a></li>
                                                                                             
                                                                                        </ul>
                                                                                      
                                        
                                                               
                                                                                </div>
                                                                        </div>
                                                                         
                                                                         
                                                                        </li>
                                     
                                           
                             </ul>   

                        </div>

                </div>
           </div>    
        </div>

        <div id="divGreen" class="divGreen row">
                <div class="col-sm-12" *ngIf="othersBandera == true;">
                        <div class="row" style="padding: 10px;">
                    
                              
                                <div class="col-sm-6">
                                        <h1>Más de ANFIBIA</h1>
                                                <a class="dropdown-item" (click)="closeMenu()" routerLink="tienda">Ir a la tienda</a>
                                                <a class="dropdown-item" (click)="closeMenu()" routerLink="sobre-nosotros">Sobre nosotros</a>
                                                <a class="dropdown-item" (click)="closeMenu()" routerLink="contactanos">Contáctanos</a>
                                                <a class="dropdown-item" (click)="closeMenu()" routerLink="ubicaciones">Ubicaciones</a>
                                                <a class="dropdown-item" (click)="closeMenu()" routerLink="preguntas-frecuentes">Preguntas frecuentes</a>

        
                                </div>
                                <div class="col-sm-6" >
                                        <h1>Otras secciones</h1>
                                        <a  class="dropdown-item" (click)="closeMenu()" routerLink="blog">Blog</a>
                                        <a class="dropdown-item" (click)="closeMenu()" routerLink="torneos">Torneos</a>
                                        <a  class="dropdown-item" (click)="closeMenu()" routerLink="proveedores">Proveedores</a>
                                        <a  class="dropdown-item" (click)="closeMenu()" routerLink="mapa-sitio">Mapa del sitio</a>
                                        <a  class="dropdown-item" (click)="closeMenu()" routerLink="perfil">Perfil</a>
                                        <a  class="dropdown-item" (click)="closeMenu()" routerLink="lista-deseos">Mi lista de deseos</a>
                                        <a  class="dropdown-item" (click)="closeMenu()" routerLink="carrito">Mi Carrito</a>
                                        <a  class="dropdown-item" (click)="closeMenu()" routerLink="asuntos-legales">Asuntos legales</a>

                                </div>
        
                        </div>
                </div>    
             </div>

             <div class="busqueda">
                     <div class="col-sm-12 searchStyle" *ngIf="busquedaT == true">
                             <span class="cerrarModalBusqueda" (click)="cerrarSearchBar()">X</span>
                             <label for="">¿Qué estas buscando?</label>
                           <div style="display: block;">        
                                <input type="search" name="filtroProductos" [(ngModel)] = "filtroProductos" placeholder="Escribe aquí..."> <i class="fa fa-search icon-header"  aria-hidden="true" title="Busqueda"></i> 
                                <div class="row productosFiltrados" style="" *ngIf="filtroProductos !== ''">
                                        <div class="col-sm-2" *ngFor="let prod of allProducts | filterMenu: filtroProductos | slice: 0:6">
                                                <div class="imagenProductoFiltrado">
                                                    <img src="{{prod.image[0].url}}" alt="" >    
                                                </div>
                                                <a type="button" (click) ="navigateMenu(prod)" style="text-decoration: none;"><h1>{{prod.nombre |oracionMayusculas }}</h1></a>
                                                
                                                
                                                <h2><span>Precio: </span>{{prod.precio | currency}}</h2>
                                        </div>
                                        <div class="col-sm-12" *ngIf="(allProducts | filterMenu: filtroProductos).length > 0" >
                                                <a type="button" class="linkVerMasProductos" (click)="seeMoreProducts(filtroProductos)">Ver más productos</a>
                                        </div>
                                        
                                </div>
                                <div class="row" *ngIf="(allProducts | filterMenu: filtroProductos).length === 0">
                                        <div class="col-sm-12">   
                                                <h1 style="padding-top: 30px; font-family: 'Meera Inima', sans-serif; font-size: 30px;">No se encontraron resultados de tu busqueda "{{filtroProductos}}"</h1>
                                        </div>
                                </div>
                                
                        </div>
                     </div>

             </div>

    
    
   

</div>
