

/*Afecta Computadoras, laptops, Los siguientes modelos de tablets: Nexus 10 Landscape, Surface 3 Pro Landscape, Ipad Pro Landscape, Ipad Mini 2.4 Landscape, Portrait*/
@media only screen and (min-width: 1025px) {

    .has-search .form-control {
        padding-left: 2.375rem;
    }

    .has-search .form-control-feedback {
        position: absolute;
        z-index: 1;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
    }


    .div-busqueda h1{
        
        -webkit-text-fill-color: #000; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #fff;
        font-size: 30px;
    }

    .form-control{
        width: 5%;
    }

    .form-control:hover{
        width: 100%;
        transition: 0.5s;
    }

    .div-busqueda{
        position: absolute;
        top: 20%;
        left: 30%;
    }

    #button-cerrar{
        position: absolute;
        top: 14px;
        right: 20px;
        color: #fff;
        background: none;
        border: none;
        font-size: 30px;
    }

    #button-cerrar i{
        background: none;
        color: #fff;
    }

    #button-cerrar:hover i{
        
        color: #ff0000;
    }

    #input-busqueda{
        border: none;
        border-bottom: 2px solid #fff;
        background: none;
        width: 350px;
        color: #fff;
        font-family: 'Prometo-Medium';
        font-size: 20px;
        visibility: hidden;
        transition:  width 0.5s ease-out;
        outline: none;
        
    }
    ::placeholder {
        color: #fff;
       
      }

      #input-busqueda:focus{
        width: 800px;
       
        
        
    }
    
    #boton-busquedas i{
        font-size: 30px;
        color: #fff;
        border: none; 
    }

    #boton-busquedas:hover i{
        
        color: #ff0000;
        transition: 0.5s;
    }


    #div-busqueda{
        background: #000;
        position: absolute;
        top:0%;
        left: -33%;
        background-repeat: no-repeat;
        width: 0px;
        height: 133px;
        
        
    }


    #div-busqueda h1{
        font-family: 'Prometo-x-bold';
        font-weight: bolder;
        font-size: 30px;
        color: #fff;

    }
    
    .search-bar-expanded{
        width: 100%;
        height: 0px;
        position: absolute;
        top: 0%;
        left: 0%;
        background: red;
        opacity: 0;
    }

    .cool-link {
        display: inline-block;
        color: #000;
        text-decoration: none;
      }
      
      .cool-link::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #000;
        transition: width .3s;
      }
      
      .cool-link:hover::after {
        width: 100%;
      }

    .next-to-icons i{
        color: #fff;
        padding-right: 4px;
        
    }

    .next-to-icons a{
        color: #fff;
        font-family: 'Prometo-Thin';
        padding-left:3px;
        font-size: 18px;
    }

    .container-fluid{
        max-width: 100%;
        
    }
    
    .flex-wrap{
        max-width: 100%;
    }

    .logo-position{
        padding-top: 0px;
        padding-left: 30px;
    }

    .banner-area{
        height: 100vh;
        width: 100%;
        background: white;
        -webkit-background-size: cover;
        background-size:cover ;
        background-position: center center;
    
    }
    
    #mega-one{
        color: #848484;
        font-family: 'Prometo-Medium';
        font-size: 20px;
        padding-left: 15px;
        border-bottom: none;
        text-align: center;
        
    }

    #mega-one:hover{
        font-family: 'Prometo-Medium';
        color: #fff;
        transition: 0.5s;
        transition: ease-out 0.5s;
    }

    #mega-one:focus{
        color: #fff;
    }
    

    #mega-two{
        color: #848484;
        font-family: 'Prometo-Medium';
        font-size: 20px;
        padding-left: 15px;
        border-bottom: none;
        text-align: center;
    }

    #mega-two:hover{
        font-family: 'Prometo-Medium';
        color: #fff;
        transition: 0.5s;
        transition: ease-out 0.5s;
    }
    

    #mega-two:focus{
        color: #fff;
    }

    #mega-three{
        color: #848484;
        font-family: 'Prometo-Medium';
        font-size: 20px;
        padding-left: 15px;
        border-bottom: none;
        text-align: center;
    }

    #mega-three:hover{
        font-family: 'Prometo-Medium';
        color: #fff;
        transition: 0.5s;
        transition: ease-out 0.5s;
    }

    #mega-three:focus{
        color: #fff;
    }
 
   
    #mega-four{
        color: #848484;
        font-family: 'Prometo-Medium';
        font-size: 20px;
        padding-left: 15px;
        border-bottom: none;
        text-align: center;
    }

    #mega-four:hover{
        font-family: 'Prometo-Medium';
        color: #fff;
        transition: 0.5s;
        transition: ease-out 0.5s;
    }

    #mega-four:focus{
        color: #fff;
    }
    
  



    .menu-area{
        position: static;
    }
    
    .mega-area{
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        padding: 15px;
    }
    
    .dropdown-item{
        padding: 2px 10px;
        background: white;
        font-family: 'Prometo-Medium';
        font-weight: bolder;
        color: #000;
        font-size: 14px;
       
        
    }


    .dropdown-item-grey{
        transition:1s;
        color: #848484;
    }


    .dropdown-menu a:hover{
       font-family: 'Prometo-x-bold';
       color: #000;
       padding-left: 1px;
       transition: 0.5s;
       
    }
    
    .dropdown-menu {
       background: #fff;
       color: #000;
       padding-top: 10px;
       font-family: 'Prometo-Medium';
       font-size: 20px;
       
    }

    .position-menu{
        position: absolute;
        top: 53px;
        left: 120px;
        width: 50px;
        padding: 0px;
    }

    .position-menu a{
        color: #000;
        background: #fff;
    }

    .dropdown-menu h5{
        padding-top: 10px;
        font-family: 'Prometo-x-bold';
        font-size: 30px;
        border-bottom: 2px solid black;
    }
    
    .navbar{
        margin-top: 0px;
        width: 100%;
    }
    



    .menu ul{
        color: red;
        height: 0px;
        overflow: hidden;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    
    .menu:hover ul{
        height: 100px;
    }

    @media (min-width: 768px) {  
        .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0;
          border-radius:0;
         }
        }

    .anfibia-title{
        text-align: center;
        padding-right: 200px;
    }

    .anfibia-title h3{
        font-family: 'Prometo-x-bold';
    }

    .anfibia-title p{
        color: white;
        font-size: 12px;
        letter-spacing: 4px;
        padding-bottom: 0px;
        font-family: 'Prometo-Thin';
    }

    .icon-header{
        padding-right: 20px;
    
    }

    
    .navbar {
        padding:0rem;
        margin-bottom:2rem;
      }
      
      .dropdown .dropdown-menu {
        border-radius:0;
       }
      
      
      /* Medium devices (tablets, 768px and up) 
      The navbar toggle appears at this breakpoint */
      @media (min-width: 768px) {  
      .dropdown:hover .dropdown-menu {
          display: block;
          margin-top: 0;
        border-radius:0;
       }
      }
    
    
      .logo-image{
        width: 70px;
        height: 70px;
        border-radius: 0%;
        overflow: hidden;
        margin-top: 10px;
    }
    
    .menuHeader{
        background: none;
        border-bottom: solid white 1px;
        
    
    }

    .menuHeader button{
        background: none;
        border: none;
        outline: none;
    }

    .menuHeader i{
        color: #848484;
        font-size: 25px;
        background: #000;
        padding: 10px 
    }

    .menuHeader i:hover{
        color: #ffffff;
        transition: 0.5s;
       
    }

    
    
    
    .menuHeaderV2{
        background: #000; 
    }
    
    .menuHeaderV2{
        color: white;
        font-weight: bolder;
        font-family: 'Prometo-Medium';
        letter-spacing: 3px;
    }



    
    .menuHeaderV2 h3{
      color: white;
      font-family: 'Prometo-x-bold';
      font-weight: bold;
      font-style: italic;
      font-size: 40px;
      padding-bottom: 0;
      letter-spacing: 5px;
    }

    .menuHeaderV2 p{
        color: white;
        font-family: 'Prometo-Medium';
        font-weight: bold;
        font-size: 13px;
        padding-bottom: 0;
        letter-spacing: 1px;
        
      }
    
    
    
    .searchAnfibia{
        background: transparent;
        color: white;
        border: 2px solid #003e9a;
    }
    

}

/*Tablet Vertical*/
/*Afecta Android phones LANDSCAPE, Nexus 7 Portrait, Ipad Portrait*/
@media screen and (max-width: 768px) and (min-width: 490px) {

   
    .has-search .form-control {
        padding-left: 2.375rem;
    }

    .has-search .form-control-feedback {
        position: absolute;
        z-index: 1;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
    }


    .div-busqueda h1{
        
        -webkit-text-fill-color: #000; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #fff;
        font-size: 30px;
    }

    .form-control{
        width: 5%;
    }

    .form-control:hover{
        width: 100%;
        transition: 0.5s;
    }

    .div-busqueda{
        position: absolute;
        top: 20%;
        left: 30%;
    }

    #button-cerrar{
        position: absolute;
        top: 14px;
        right: 20px;
        color: #fff;
        background: none;
        border: none;
        font-size: 30px;
    }

    #button-cerrar i{
        background: none;
        color: #fff;
    }

    #button-cerrar:hover i{
        
        color: #ff0000;
    }

    #input-busqueda{
        border: none;
        border-bottom: 2px solid #fff;
        background: none;
        width: 350px;
        color: #fff;
        font-family: 'Prometo-Medium';
        font-size: 20px;
        visibility: hidden;
        transition:  width 0.5s ease-out;
        outline: none;
        
    }
    ::placeholder {
        color: #fff;
       
      }

      #input-busqueda:focus{
        width: 800px;
       
        
        
    }
    
    #boton-busquedas i{
        font-size: 30px;
        color: #fff;
        border: none; 
    }

    #boton-busquedas:hover i{
        
        color: #ff0000;
        transition: 0.5s;
    }


    #div-busqueda{
        background: #000;
        position: absolute;
        top:0%;
        left: -33%;
        background-repeat: no-repeat;
        width: 0px;
        height: 133px;
        
        
    }


    #div-busqueda h1{
        font-family: 'Prometo-x-bold';
        font-weight: bolder;
        font-size: 30px;
        color: #fff;

    }
    
    .search-bar-expanded{
        width: 100%;
        height: 0px;
        position: absolute;
        top: 0%;
        left: 0%;
        background: red;
        opacity: 0;
    }

    .cool-link {
        display: inline-block;
        color: #000;
        text-decoration: none;
      }
      
      .cool-link::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #000;
        transition: width .3s;
      }
      
      .cool-link:hover::after {
        width: 100%;
      }

    .next-to-icons i{
        color: #fff;
        padding-right: 4px;
        
    }

    .next-to-icons a{
        color: #fff;
        font-family: 'Prometo-Thin';
        padding-left:3px;
        font-size: 18px;
    }

    .container-fluid{
        max-width: 100%;
        
    }
    
    .flex-wrap{
        max-width: 100%;
    }

    .logo-position{
        padding-top: 0px;
        padding-left: 30px;
    }

    .banner-area{
        height: 100vh;
        width: 100%;
        background: white;
        -webkit-background-size: cover;
        background-size:cover ;
        background-position: center center;
    
    }
    
    #mega-one{
        color: #848484;
        font-family: 'Prometo-Medium';
        font-size: 20px;
        padding-left: 15px;
        border-bottom: none;
        text-align: center;
        
    }

    #mega-one:hover{
        font-family: 'Prometo-Medium';
        color: #fff;
        transition: 0.5s;
        transition: ease-out 0.5s;
    }

    #mega-one:focus{
        color: #fff;
    }
    

    #mega-two{
        color: #848484;
        font-family: 'Prometo-Medium';
        font-size: 20px;
        padding-left: 15px;
        border-bottom: none;
        text-align: center;
    }

    #mega-two:hover{
        font-family: 'Prometo-Medium';
        color: #fff;
        transition: 0.5s;
        transition: ease-out 0.5s;
    }
    

    #mega-two:focus{
        color: #fff;
    }

    #mega-three{
        color: #848484;
        font-family: 'Prometo-Medium';
        font-size: 20px;
        padding-left: 15px;
        border-bottom: none;
        text-align: center;
    }

    #mega-three:hover{
        font-family: 'Prometo-Medium';
        color: #fff;
        transition: 0.5s;
        transition: ease-out 0.5s;
    }

    #mega-three:focus{
        color: #fff;
    }
 
   
    #mega-four{
        color: #848484;
        font-family: 'Prometo-Medium';
        font-size: 20px;
        padding-left: 15px;
        border-bottom: none;
        text-align: center;
    }

    #mega-four:hover{
        font-family: 'Prometo-Medium';
        color: #fff;
        transition: 0.5s;
        transition: ease-out 0.5s;
    }

    #mega-four:focus{
        color: #fff;
    }
    
  



    .menu-area{
        position: static;
    }
    
    .mega-area{
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        padding: 15px;
    }
    
    .dropdown-item{
        padding: 2px 10px;
        background: white;
        font-family: 'Prometo-Medium';
        font-weight: bolder;
        color: #000;
        font-size: 14px;
       
        
    }


    .dropdown-item-grey{
        transition:1s;
        color: #848484;
    }


    .dropdown-menu a:hover{
       font-family: 'Prometo-x-bold';
       color: #000;
       padding-left: 1px;
       transition: 0.5s;
       
    }
    
    .dropdown-menu {
       background: #fff;
       color: #000;
       padding-top: 10px;
       font-family: 'Prometo-Medium';
       font-size: 20px;
       
    }

    .position-menu{
        position: absolute;
        top: 53px;
        left: 120px;
        width: 50px;
        padding: 0px;
    }

    .position-menu a{
        color: #000;
        background: #fff;
    }

    .dropdown-menu h5{
        padding-top: 10px;
        font-family: 'Prometo-x-bold';
        font-size: 30px;
        border-bottom: 2px solid black;
    }
    
    .navbar{
        margin-top: 0px;
        width: 100%;
    }
    



    .menu ul{
        color: red;
        height: 0px;
        overflow: hidden;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    
    .menu:hover ul{
        height: 100px;
    }

    @media (min-width: 768px) {  
        .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0;
          border-radius:0;
         }
        }

    .anfibia-title{
        text-align: center;
        padding-right: 200px;
    }

    .anfibia-title h3{
        font-family: 'Prometo-x-bold';
    }

    .anfibia-title p{
        color: white;
        font-size: 12px;
        letter-spacing: 4px;
        padding-bottom: 0px;
        font-family: 'Prometo-Thin';
    }

    .icon-header{
        padding-right: 20px;
    
    }

    
    .navbar {
        padding:0rem;
        margin-bottom:2rem;
      }
      
      .dropdown .dropdown-menu {
        border-radius:0;
       }
      
      
      /* Medium devices (tablets, 768px and up) 
      The navbar toggle appears at this breakpoint */
      @media (min-width: 768px) {  
      .dropdown:hover .dropdown-menu {
          display: block;
          margin-top: 0;
        border-radius:0;
       }
      }
    
    
      .logo-image{
        width: 70px;
        height: 70px;
        border-radius: 0%;
        overflow: hidden;
        margin-top: 10px;
    }
    
    .menuHeader{
        background: none;
        border-bottom: solid white 1px;
        
    
    }

    .menuHeader button{
        background: none;
        border: none;
        outline: none;
    }

    .menuHeader i{
        color: #848484;
        font-size: 25px;
        background: #000;
        padding: 10px 
    }

    .menuHeader i:hover{
        color: #ffffff;
        transition: 0.5s;
       
    }

    
    
    
    .menuHeaderV2{
        background: #000; 
    }
    
    .menuHeaderV2{
        color: white;
        font-weight: bolder;
        font-family: 'Prometo-Medium';
        letter-spacing: 3px;
    }



    
    .menuHeaderV2 h3{
      color: white;
      font-family: 'Prometo-x-bold';
      font-weight: bold;
      font-style: italic;
      font-size: 40px;
      padding-bottom: 0;
      letter-spacing: 5px;
    }

    .menuHeaderV2 p{
        color: white;
        font-family: 'Prometo-Medium';
        font-weight: bold;
        font-size: 13px;
        padding-bottom: 0;
        letter-spacing: 1px;
        
      }
    
    
    
    .searchAnfibia{
        background: transparent;
        color: white;
        border: 2px solid #003e9a;
    }
    
}

/*Tablets*/
/*Nexus 10 Portrait, Nexus 7 Landscape, Surface Pro 3 Portrait , ipad landscape, Ipad mini Landscape*/
@media only screen and (max-width: 1024px) and (min-width: 768px) and (orientation: landscape){

    .has-search .form-control {
        padding-left: 2.375rem;
    }

    .has-search .form-control-feedback {
        position: absolute;
        z-index: 1;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
    }


    .div-busqueda h1{
        
        -webkit-text-fill-color: #000; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #fff;
        font-size: 30px;
    }

    .form-control{
        width: 5%;
    }

    .form-control:hover{
        width: 100%;
        transition: 0.5s;
    }

    .div-busqueda{
        position: absolute;
        top: 20%;
        left: 30%;
    }

    #button-cerrar{
        position: absolute;
        top: 14px;
        right: 20px;
        color: #fff;
        background: none;
        border: none;
        font-size: 30px;
    }

    #button-cerrar i{
        background: none;
        color: #fff;
    }

    #button-cerrar:hover i{
        
        color: #ff0000;
    }

    #input-busqueda{
        border: none;
        border-bottom: 2px solid #fff;
        background: none;
        width: 350px;
        color: #fff;
        font-family: 'Prometo-Medium';
        font-size: 20px;
        visibility: hidden;
        transition:  width 0.5s ease-out;
        outline: none;
        
    }
    ::placeholder {
        color: #fff;
       
      }

      #input-busqueda:focus{
        width: 800px;
       
        
        
    }
    
    #boton-busquedas i{
        font-size: 30px;
        color: #fff;
        border: none; 
    }

    #boton-busquedas:hover i{
        
        color: #ff0000;
        transition: 0.5s;
    }


    #div-busqueda{
        background: #000;
        position: absolute;
        top:0%;
        left: -33%;
        background-repeat: no-repeat;
        width: 0px;
        height: 133px;
        
        
    }


    #div-busqueda h1{
        font-family: 'Prometo-x-bold';
        font-weight: bolder;
        font-size: 30px;
        color: #fff;

    }
    
    .search-bar-expanded{
        width: 100%;
        height: 0px;
        position: absolute;
        top: 0%;
        left: 0%;
        background: red;
        opacity: 0;
    }

    .cool-link {
        display: inline-block;
        color: #000;
        text-decoration: none;
      }
      
      .cool-link::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #000;
        transition: width .3s;
      }
      
      .cool-link:hover::after {
        width: 100%;
      }

    .next-to-icons i{
        color: #fff;
        padding-right: 4px;
        
    }

    .next-to-icons a{
        color: #fff;
        font-family: 'Prometo-Thin';
        padding-left:3px;
        font-size: 18px;
    }

    .container-fluid{
        max-width: 100%;
        
    }
    
    .flex-wrap{
        max-width: 100%;
    }

    .logo-position{
        padding-top: 0px;
        padding-left: 30px;
    }

    .banner-area{
        height: 100vh;
        width: 100%;
        background: white;
        -webkit-background-size: cover;
        background-size:cover ;
        background-position: center center;
    
    }
    
    #mega-one{
        color: #848484;
        font-family: 'Prometo-Medium';
        font-size: 20px;
        padding-left: 15px;
        border-bottom: none;
        text-align: center;
        
    }

    #mega-one:hover{
        font-family: 'Prometo-Medium';
        color: #fff;
        transition: 0.5s;
        transition: ease-out 0.5s;
    }

    #mega-one:focus{
        color: #fff;
    }
    

    #mega-two{
        color: #848484;
        font-family: 'Prometo-Medium';
        font-size: 20px;
        padding-left: 15px;
        border-bottom: none;
        text-align: center;
    }

    #mega-two:hover{
        font-family: 'Prometo-Medium';
        color: #fff;
        transition: 0.5s;
        transition: ease-out 0.5s;
    }
    

    #mega-two:focus{
        color: #fff;
    }

    #mega-three{
        color: #848484;
        font-family: 'Prometo-Medium';
        font-size: 20px;
        padding-left: 15px;
        border-bottom: none;
        text-align: center;
    }

    #mega-three:hover{
        font-family: 'Prometo-Medium';
        color: #fff;
        transition: 0.5s;
        transition: ease-out 0.5s;
    }

    #mega-three:focus{
        color: #fff;
    }
 
   
    #mega-four{
        color: #848484;
        font-family: 'Prometo-Medium';
        font-size: 20px;
        padding-left: 15px;
        border-bottom: none;
        text-align: center;
    }

    #mega-four:hover{
        font-family: 'Prometo-Medium';
        color: #fff;
        transition: 0.5s;
        transition: ease-out 0.5s;
    }

    #mega-four:focus{
        color: #fff;
    }
    
  



    .menu-area{
        position: static;
    }
    
    .mega-area{
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        padding: 15px;
    }
    
    .dropdown-item{
        padding: 2px 10px;
        background: white;
        font-family: 'Prometo-Medium';
        font-weight: bolder;
        color: #000;
        font-size: 14px;
       
        
    }


    .dropdown-item-grey{
        transition:1s;
        color: #848484;
    }


    .dropdown-menu a:hover{
       font-family: 'Prometo-x-bold';
       color: #000;
       padding-left: 1px;
       transition: 0.5s;
       
    }
    
    .dropdown-menu {
       background: #fff;
       color: #000;
       padding-top: 10px;
       font-family: 'Prometo-Medium';
       font-size: 20px;
       
    }

    .position-menu{
        position: absolute;
        top: 53px;
        left: 120px;
        width: 50px;
        padding: 0px;
    }

    .position-menu a{
        color: #000;
        background: #fff;
    }

    .dropdown-menu h5{
        padding-top: 10px;
        font-family: 'Prometo-x-bold';
        font-size: 30px;
        border-bottom: 2px solid black;
    }
    
    .navbar{
        margin-top: 0px;
        width: 100%;
    }
    



    .menu ul{
        color: red;
        height: 0px;
        overflow: hidden;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    
    .menu:hover ul{
        height: 100px;
    }

    @media (min-width: 768px) {  
        .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0;
          border-radius:0;
         }
        }

    .anfibia-title{
        text-align: center;
        padding-right: 200px;
    }

    .anfibia-title h3{
        font-family: 'Prometo-x-bold';
    }

    .anfibia-title p{
        color: white;
        font-size: 12px;
        letter-spacing: 4px;
        padding-bottom: 0px;
        font-family: 'Prometo-Thin';
    }

    .icon-header{
        padding-right: 20px;
    
    }

    
    .navbar {
        padding:0rem;
        margin-bottom:2rem;
      }
      
      .dropdown .dropdown-menu {
        border-radius:0;
       }
      
      
      /* Medium devices (tablets, 768px and up) 
      The navbar toggle appears at this breakpoint */
      @media (min-width: 768px) {  
      .dropdown:hover .dropdown-menu {
          display: block;
          margin-top: 0;
        border-radius:0;
       }
      }
    
    
      .logo-image{
        width: 70px;
        height: 70px;
        border-radius: 0%;
        overflow: hidden;
        margin-top: 10px;
    }
    
    .menuHeader{
        background: none;
        border-bottom: solid white 1px;
        
    
    }

    .menuHeader button{
        background: none;
        border: none;
        outline: none;
    }

    .menuHeader i{
        color: #848484;
        font-size: 25px;
        background: #000;
        padding: 10px 
    }

    .menuHeader i:hover{
        color: #ffffff;
        transition: 0.5s;
       
    }

    
    
    
    .menuHeaderV2{
        background: #000; 
    }
    
    .menuHeaderV2{
        color: white;
        font-weight: bolder;
        font-family: 'Prometo-Medium';
        letter-spacing: 3px;
    }



    
    .menuHeaderV2 h3{
      color: white;
      font-family: 'Prometo-x-bold';
      font-weight: bold;
      font-style: italic;
      font-size: 40px;
      padding-bottom: 0;
      letter-spacing: 5px;
    }

    .menuHeaderV2 p{
        color: white;
        font-family: 'Prometo-Medium';
        font-weight: bold;
        font-size: 13px;
        padding-bottom: 0;
        letter-spacing: 1px;
        
      }
    
    
    
    .searchAnfibia{
        background: transparent;
        color: white;
        border: 2px solid #003e9a;
    }
    


}


/*Tablets*/
/*Iphone 4, 5, 7 PORTRAIT*/
@media only screen and (max-width: 319px){
    .has-search .form-control {
        padding-left: 2.375rem;
    }

    .has-search .form-control-feedback {
        position: absolute;
        z-index: 1;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
    }


    .div-busqueda h1{
        
        -webkit-text-fill-color: #000; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #fff;
        font-size: 30px;
    }

    .form-control{
        width: 5%;
    }

    .form-control:hover{
        width: 100%;
        transition: 0.5s;
    }

    .div-busqueda{
        position: absolute;
        top: 20%;
        left: 30%;
    }

    #button-cerrar{
        position: absolute;
        top: 14px;
        right: 20px;
        color: #fff;
        background: none;
        border: none;
        font-size: 30px;
    }

    #button-cerrar i{
        background: none;
        color: #fff;
    }

    #button-cerrar:hover i{
        
        color: #ff0000;
    }

    #input-busqueda{
        border: none;
        border-bottom: 2px solid #fff;
        background: none;
        width: 350px;
        color: #fff;
        font-family: 'Prometo-Medium';
        font-size: 20px;
        visibility: hidden;
        transition:  width 0.5s ease-out;
        outline: none;
        
    }
    ::placeholder {
        color: #fff;
       
      }

      #input-busqueda:focus{
        width: 800px;
       
        
        
    }
    
    #boton-busquedas i{
        font-size: 30px;
        color: #fff;
        border: none; 
    }

    #boton-busquedas:hover i{
        
        color: #ff0000;
        transition: 0.5s;
    }


    #div-busqueda{
        background: #000;
        position: absolute;
        top:0%;
        left: -33%;
        background-repeat: no-repeat;
        width: 0px;
        height: 133px;
        
        
    }


    #div-busqueda h1{
        font-family: 'Prometo-x-bold';
        font-weight: bolder;
        font-size: 30px;
        color: #fff;

    }
    
    .search-bar-expanded{
        width: 100%;
        height: 0px;
        position: absolute;
        top: 0%;
        left: 0%;
        background: red;
        opacity: 0;
    }

    .cool-link {
        display: inline-block;
        color: #000;
        text-decoration: none;
      }
      
      .cool-link::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #000;
        transition: width .3s;
      }
      
      .cool-link:hover::after {
        width: 100%;
      }

    .next-to-icons i{
        color: #fff;
        padding-right: 4px;
        
    }

    .next-to-icons a{
        color: #fff;
        font-family: 'Prometo-Thin';
        padding-left:3px;
        font-size: 18px;
    }

    .container-fluid{
        max-width: 100%;
        
    }
    
    .flex-wrap{
        max-width: 100%;
    }

    .logo-position{
        padding-top: 0px;
        padding-left: 30px;
    }

    .banner-area{
        height: 100vh;
        width: 100%;
        background: white;
        -webkit-background-size: cover;
        background-size:cover ;
        background-position: center center;
    
    }
    
    #mega-one{
        color: #848484;
        font-family: 'Prometo-Medium';
        font-size: 20px;
        padding-left: 15px;
        border-bottom: none;
        text-align: center;
        
    }

    #mega-one:hover{
        font-family: 'Prometo-Medium';
        color: #fff;
        transition: 0.5s;
        transition: ease-out 0.5s;
    }

    #mega-one:focus{
        color: #fff;
    }
    

    #mega-two{
        color: #848484;
        font-family: 'Prometo-Medium';
        font-size: 20px;
        padding-left: 15px;
        border-bottom: none;
        text-align: center;
    }

    #mega-two:hover{
        font-family: 'Prometo-Medium';
        color: #fff;
        transition: 0.5s;
        transition: ease-out 0.5s;
    }
    

    #mega-two:focus{
        color: #fff;
    }

    #mega-three{
        color: #848484;
        font-family: 'Prometo-Medium';
        font-size: 20px;
        padding-left: 15px;
        border-bottom: none;
        text-align: center;
    }

    #mega-three:hover{
        font-family: 'Prometo-Medium';
        color: #fff;
        transition: 0.5s;
        transition: ease-out 0.5s;
    }

    #mega-three:focus{
        color: #fff;
    }
 
   
    #mega-four{
        color: #848484;
        font-family: 'Prometo-Medium';
        font-size: 20px;
        padding-left: 15px;
        border-bottom: none;
        text-align: center;
    }

    #mega-four:hover{
        font-family: 'Prometo-Medium';
        color: #fff;
        transition: 0.5s;
        transition: ease-out 0.5s;
    }

    #mega-four:focus{
        color: #fff;
    }
    
  



    .menu-area{
        position: static;
    }
    
    .mega-area{
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        padding: 15px;
    }
    
    .dropdown-item{
        padding: 2px 10px;
        background: white;
        font-family: 'Prometo-Medium';
        font-weight: bolder;
        color: #000;
        font-size: 14px;
       
        
    }


    .dropdown-item-grey{
        transition:1s;
        color: #848484;
    }


    .dropdown-menu a:hover{
       font-family: 'Prometo-x-bold';
       color: #000;
       padding-left: 1px;
       transition: 0.5s;
       
    }
    
    .dropdown-menu {
       background: #fff;
       color: #000;
       padding-top: 10px;
       font-family: 'Prometo-Medium';
       font-size: 20px;
       
    }

    .position-menu{
        position: absolute;
        top: 53px;
        left: 120px;
        width: 50px;
        padding: 0px;
    }

    .position-menu a{
        color: #000;
        background: #fff;
    }

    .dropdown-menu h5{
        padding-top: 10px;
        font-family: 'Prometo-x-bold';
        font-size: 30px;
        border-bottom: 2px solid black;
    }
    
    .navbar{
        margin-top: 0px;
        width: 100%;
    }
    



    .menu ul{
        color: red;
        height: 0px;
        overflow: hidden;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    
    .menu:hover ul{
        height: 100px;
    }

    @media (min-width: 768px) {  
        .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0;
          border-radius:0;
         }
        }

    .anfibia-title{
        text-align: center;
        padding-right: 200px;
    }

    .anfibia-title h3{
        font-family: 'Prometo-x-bold';
    }

    .anfibia-title p{
        color: white;
        font-size: 12px;
        letter-spacing: 4px;
        padding-bottom: 0px;
        font-family: 'Prometo-Thin';
    }

    .icon-header{
        padding-right: 20px;
    
    }

    
    .navbar {
        padding:0rem;
        margin-bottom:2rem;
      }
      
      .dropdown .dropdown-menu {
        border-radius:0;
       }
      
      
      /* Medium devices (tablets, 768px and up) 
      The navbar toggle appears at this breakpoint */
      @media (min-width: 768px) {  
      .dropdown:hover .dropdown-menu {
          display: block;
          margin-top: 0;
        border-radius:0;
       }
      }
    
    
      .logo-image{
        width: 70px;
        height: 70px;
        border-radius: 0%;
        overflow: hidden;
        margin-top: 10px;
    }
    
    .menuHeader{
        background: none;
        border-bottom: solid white 1px;
        
    
    }

    .menuHeader button{
        background: none;
        border: none;
        outline: none;
    }

    .menuHeader i{
        color: #848484;
        font-size: 25px;
        background: #000;
        padding: 10px 
    }

    .menuHeader i:hover{
        color: #ffffff;
        transition: 0.5s;
       
    }

    
    
    
    .menuHeaderV2{
        background: #000; 
    }
    
    .menuHeaderV2{
        color: white;
        font-weight: bolder;
        font-family: 'Prometo-Medium';
        letter-spacing: 3px;
    }



    
    .menuHeaderV2 h3{
      color: white;
      font-family: 'Prometo-x-bold';
      font-weight: bold;
      font-style: italic;
      font-size: 40px;
      padding-bottom: 0;
      letter-spacing: 5px;
    }

    .menuHeaderV2 p{
        color: white;
        font-family: 'Prometo-Medium';
        font-weight: bold;
        font-size: 13px;
        padding-bottom: 0;
        letter-spacing: 1px;
        
      }
    
    
    
    .searchAnfibia{
        background: transparent;
        color: white;
        border: 2px solid #003e9a;
    }
    
}


/*PRUEBA INICIO DE SESION*/

.modal .fade{
    font-family: 'Meera';
    
}

input#Usuario, input#Contraseña{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 1px solid #01AFAA;
    padding: 7px 10px;
    width: 350px;
    outline: none;
    border-radius: 4px;
    transition: 0.25s;
    color: white;
}
input#Usuario:focus, input#Contraseña:focus{
    width: 380px;
    border-color: #005C93;
    color: white;
}
input#Login{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 1px solid #005C93;
    padding: 7px 40px;
    outline: none;
    border-radius: 4px;
    transition: 0.25s;
    cursor: pointer;
    width: 350px;
    color: white;
}
input#Login:hover{
    background: #005C93;
    color: white;
    width: 380px;
}
