
<div class="container-fluid">
  <div class="row promociones">
    <div class="col-sm-12">
      <h1> <span class="typed"></span> </h1>

    </div>

  </div>
  <div class="row">
    <div class="col-sm-12 barra-superior">
      <h1>Nuestros Productos</h1>

    </div>

  </div>
  
   
    <div class="row">
      <div class="col-sm-3 fijo filtros">
        <h1>Productos</h1>
        <div class="filtros-leftside">
          <h2>Categorias</h2>
        <div class="checkbox">
          <input type="checkbox" id="cañas" name="cañas" value="cañas">
          <label for="cañas">Cañas</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="carretes" name="carretes" value="carretes">
          <label for="carretes">Carretes</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="anzuelos" name="anzuelos" value="anzuelos">
          <label for="anzuelos">Anzuelos</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="accesorios" name="accesorios" value="accesorios">
          <label for="accesorios">Accesorios</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="kayaks" name="kayaks" value="kayaks">
          <label for="kayaks">Kayaks</label>
        </div>

        </div>
        <div class="filtros-leftside">
          <h2>Precios</h2>
          <div class="checkbox">
            <input type="checkbox" id="less-Price" name="kayaks" value="kayaks">
            <label for="less-Price">$1000 - $1499</label>
          </div>
          <div class="checkbox">
            <input type="checkbox" id="medium-Price" name="kayaks" value="kayaks">
            <label for="medium-Price">$1500 - $2000</label>
          </div>
          <div class="checkbox">
            <input type="checkbox" id="big-Price" name="kayaks" value="kayaks">
            <label for="big-Price">$2000 - $3000</label>
          </div>

        </div>
       
       

        <div class="filtros-leftside">
          <h2>Tamaño</h2>
        <div class="checkbox">
          <input type="checkbox" id="tamaño-chico" name="chico" value="Chico">
          <label for="tamaño-chico">1.75m</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="tamaño-mediano" name="chico" value="Chico">
          <label for="tamaño-mediano">2.25m</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="tamaño-grande" name="chico" value="Chico">
          <label for="tamaño-grande">3.0m</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="tamaño-extraGrande" name="chico" value="Chico">
          <label for="tamaño-extraGrande">3.75m</label>
        </div>

        </div>

        <div class="filtros-leftside">
          <h2>Color</h2>
          <table style="width:100%">
            <tr>
              <th><div class="red">
                <input class="red" type="checkbox" id="red" name="red" value="#ff0000">
                <label for="red"></label>
              </div></th>
              <th><div class="yellow">
                <input type="checkbox" id="yellow" name="yellow" value="#ffff00">
                <label for="yellow"></label>
              </div></th>
              <th><div class="green">
                <input type="checkbox" id="green" name="green" value="#40FF00">
                <label for="green"></label>
              </div></th>
            </tr>
            <tr>
              <td> <div class="blue">
                <input type="checkbox" id="blue" name="blue" value="#0101DF">
                <label for="blue"></label>
              </div></td>
              <td><div class="orange">
                <input type="checkbox" id="orange" name="orange" value="#FF8000">
                <label for="orange"></label>
              </div></td>
              <td><div class="bluegreen">
                <input type="checkbox" id="bluegreen" name="bluegreen" value="#00FFFF">
                <label for="bluegreen"></label>
              </div></td>
            </tr>
            <tr>
              <td><div class="strongpink">
                <input type="checkbox" id="strongpink" name="strongpink" value="#FF0080">
                <label for="strongpink"></label>
              </div></td>
              <td><div class="grey">
                <input type="checkbox" id="grey" name="grey" value="#585858">
                <label for="grey"></label>
              </div></td>
              <td><div class="clearred">
                <input type="checkbox" id="clearred" name="clearred" value="  ">
                <label for="clearred"></label>
              </div></td>
            </tr>
          </table>

        </div>
       
        <div class="filtros-leftside">
          <h2>Marca</h2>
        <div class="checkbox">
          <input type="checkbox" id="abu-garcia" name="abu-garcia" value="abu-garcia">
          <label for="abu-garcia">Abu Garcia</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="ande" name="ande" value="ande">
          <label for="ande">Ande</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="berkley" name="berkley" value="berkley">
          <label for="berkley">Berkley</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="bomber" name="bomber" value="bomber">
          <label for="bomber">Bomber</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="buff" name="buff" value="buff">
          <label for="buff">Buff</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="camillus" name="camillus" value="camillus">
          <label for="camillus">Camillus</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="crossman" name="crosman" value="crosman">
          <label for="crosman">Crosman</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="cuda" name="cuda" value="cuda">
          <label for="cuda">Cuda</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="daiwa" name="daiwa" value="daiwa">
          <label for="daiwa">Daiwa</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="doa" name="doa" value="doa">
          <label for="doa">DOA</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="fathom" name="fathom" value="fathom">
          <label for="fathom">Fathom</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="flambeau" name="flambeau" value="flambeau">
          <label for="flambeau">Flambeau</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="gamo" name="gamo" value="gamo">
          <label for="gamo">Gamo</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="imperium" name="imperium" value="imperium">
          <label for="imperium">Imperium</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="afico" name="afico" value="afico">
          <label for="afico">Afico</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="magbay" name="magbay" value="magbay">
          <label for="magbay">Magbay</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="mendoza" name="mendoza" value="mendoza">
          <label for="mendoza">Mendoza</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="mossy-oak" name="mossy-oak" value="mossy-oak">
          <label for="mossy-oak">Mossy Oak</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="mustad" name="mustad" value="mustad">
          <label for="mustad">Mustad</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="outdoor-cap" name="outdoor-cap" value="outdoor-cap">
          <label for="outdoor-cap">Outdoor Cap</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="pelagic" name="pelagic" value="pelagic">
          <label for="pelagic">Pelagic</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="penn" name="penn" value="penn">
          <label for="penn">PENN</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="redhead" name="redhead" value="redhead">
          <label for="redhead">Red Head</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="sea-sense" name="sea-sense" value="sea-sense">
          <label for="sea-sense">Sea Sense</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="shakespeare" name="shakespeare" value="shakespeare">
          <label for="shakespeare">Shakespeare</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="shimano" name="shimano" value="shimano">
          <label for="shimano">Shimano</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="yellow-tail" name="yellow-tail" value="yellow-tail">
          <label for="yellow-tail">Yellow Tail</label>
        </div>

        <div class="checkbox">
          <input type="checkbox" id="yo-zuri" name="yo-zuri" value="yo-zuri">
          <label for="yo-zuri">Yo-zuri</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="yukon_gear" name="yucon_gear" value="yukon_gear">
          <label for="yukon_gear">Yukon Gear</label>
        </div>

        </div>
        
        
         
      </div>
      <div class="col-sm-9">
       
        <div class="row">
          <!--Estilo nuevo del carrito-->
          <div class="col-sm-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">$230.99
                    <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                  </div>
                  
                  <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
         <!--Cierre de las etiquetas-->
         <div class="col-sm-4">
          <div class="product-card">
            <div class="badge">Nuevo</div>
            <div class="product-tumb">
                <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
            </div>
            <div class="product-details">
                <span class="product-catagory">CARRETES Yellow Tail</span>
             
                <h4><a href="">CARRETE TORITO TO4000</a></h4>
                <div class="product-price">$230.99
                  <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                <div class="product-bottom-details">
                    
                   
                </div>

                  <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                  <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                 
            
            </div>
        </div>
    
         </div>
           <div class="col-sm-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">$230.99
                    <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                  </div>
                  
                  <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
           <div class="col-sm-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">$230.99
                    <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                  </div>
                  
                  <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
           <div class="col-sm-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">$230.99
                    <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                  </div>
                  
                  <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
           <div class="col-sm-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">$230.99
                    <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                  </div>
                  
                  <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
           <div class="col-sm-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">$230.99
                    <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                  </div>
                  
                  <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
           <div class="col-sm-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">$230.99
                    <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                  </div>
                  
                  <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
           <div class="col-sm-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">$230.99
                    <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                  </div>
                  
                  <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
           <div class="col-sm-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">$230.99
                    <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                  </div>
                  
                  <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
           <div class="col-sm-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">$230.99
                    <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                  </div>
                  
                  <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
           <div class="col-sm-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">$230.99
                    <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                  </div>
                  
                  <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
           <div class="col-sm-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">$230.99
                    <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                  </div>
                  
                  <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
           <div class="col-sm-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">$230.99
                    <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                  </div>
                  
                  <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
           <div class="col-sm-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">$230.99
                    <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                  </div>
                  
                  <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
           <div class="col-sm-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">$230.99
                    <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                  </div>
                  
                  <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
           <div class="col-sm-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">$230.99
                    <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                  </div>
                  
                  <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
           <div class="col-sm-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">$230.99
                    <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                  </div>
                  
                  <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
           <div class="col-sm-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">$230.99
                    <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                  </div>
                  
                  <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
           <div class="col-sm-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">$230.99
                    <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                  </div>
                  
                  <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
           <div class="col-sm-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">$230.99
                    <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                  </div>
                  
                  <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
      

        </div>

        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
       
        

      </div>
    
    
    </div>

</div>