#miModal{
  background-color: rgba(0, 0, 0, 0.4);
  background: rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.4);
}


.modal-content{
  height: auto;
  
 
 
}

#miModal .modal-header h1{
  color: #000;
  
}


.main-imgModal{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    padding: 50px;
    background: #f0f0f0;
}

.main-imgModal img{
  max-width: 100%;
  max-height: 100%;
}


#miModal .modal-content{
  background: #fff;
  
}

#miModal .modal-content img{  
}

.diferente-vistaImg{
  padding-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background: #f0f0f0;
}

.diferente-vistaImg img{
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  opacity: 0.7;
  
}

.diferente-vistaImg:hover img{
  opacity: 1;
}


.diferente-vistaImg:hover{
  transition: all 300ms ease-in; 
  transform: scale(1.2);
  
 
}
.modal-textos{
  padding: 5px;
}

.modal-textos h1{
  color: #000;
  font-family: 'Prometo-x-bold';
  font-size: 30px;
}

.modal-textos hr{
  background: #000;
  height: 2px;
  width: 100%;
 
}

.modal-textos h4 span{
  font-family: 'Prometo-Medium';
  font-size: 20px;
  color: #fff;
  background: #ff0000;
  padding: 10px;
}


.modal-textos p{
  color: #000;
  font-family: 'Prometo-Thin';
  font-weight: bolder;
}

.basic-info{
  padding-top: 20px;
}

.basic-info h4{
  font-family: 'Prometo-x-bold';
  font-weight: bolder;
  color: #000;
  display: inline;
 
  
  
}

 .marca{
 color: #fff;
  padding: 2px; 
}

.modal-textos h5{
  font-family: 'Prometo-Medium';
  color: #000;
  padding-top: 20px;
}


.filtros-leftside{
    padding: 10px;
}

.promociones{
    background: #fff;
    border-bottom: solid 1px #000;
    position: -webkit-sticky;
    position: sticky;
    height: 50px;
    top: 0%;
    z-index: 1;
}

.promociones h1{
    color: #000;
    font-family: 'Prometo-Medium';
    text-align: center;
    font-size: 25px;
    padding: 10px;
}


.barra-superior{
  margin-bottom: 20px;
  border-bottom: 2px solid #aaa;
}

.barra-superior h1{ 
    color: #000;
    font-family: 'Prometo-x-bold';
    font-size: 80px;
    letter-spacing: 2px;
    text-align: center;
    border-bottom: solid 2px #fff;
    border-top: solid 2px #fff;
    padding: 10px;
}


.barra-superior div{
  position: absolute;
  right: 5%;
  top: 105%;
  margin-bottom: 20%  ;
  font-family: 'Prometo-Medium';
  font-size: 15px;
}



input[type='checkbox'] + label {
    display: block;
    margin: 0.1em;
    cursor: pointer;
    padding: 0.2em;
    font-family: 'Prometo-Medium';
    font-size: 12px;
  }
  
  input[type='checkbox'] {
    display: none;
  }
  
  input[type='checkbox'] + label:before {
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 15px;
    height: 15px;
    padding-left: 2px;
    padding-bottom: 4px;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s; 
  }

  input[type='checkbox'] + label:active:before {
    transform: scale(0);
  }
  
  input[type='checkbox']:checked + label:before {
    background-color: #000;
    border-color: #000;
    color: #fff;
  }
  
  input[type='checkbox']:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
  }
  
  input[type='checkbox']:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
  }

  .red  input[type='checkbox'] + label:before {
    content: "\2714";
    border: 0.1em solid red;
    border-radius: 0.2em;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-bottom: 4px;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
    background: red;
    width: 50%;
    height: 50%;
    
  }

  .red input[type='checkbox'] + label:active:before {
    transform: scale(0);
  }
  
  .red input[type='checkbox']:checked + label:before {
    background-color: red;
    border-color: red;
    color: #fff;
  }
  
  .red input[type='checkbox']:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
  }
  
  .red input[type='checkbox']:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
  }

  .yellow  input[type='checkbox'] + label:before {
    content: "\2714";
    border: 0.1em solid #ffff00;
    border-radius: 0.2em;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-bottom: 4px;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
    background: #ffff00;
    width: 50%;
    height: 50%;
    
  }

  .yellow input[type='checkbox'] + label:active:before {
    transform: scale(0);
  }
  
  .yellow input[type='checkbox']:checked + label:before {
    background-color: #ffff00;
    border-color: #ffff00;
    color: #fff;
  }
  
  .yellow input[type='checkbox']:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
  }
  
  .yellow input[type='checkbox']:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
  }

  .green  input[type='checkbox'] + label:before {
    content: "\2714";
    border: 0.1em solid #40FF00;
    border-radius: 0.2em;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-bottom: 4px;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
    background: #40FF00;
    width: 50%;
    height: 50%;
    
  }

  .green input[type='checkbox'] + label:active:before {
    transform: scale(0);
  }
  
  .green input[type='checkbox']:checked + label:before {
    background-color: #40FF00;
    border-color: #40FF00;
    color: #fff;
  }
  
  .green input[type='checkbox']:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
  }
  
  .green input[type='checkbox']:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
  }

  .blue input[type='checkbox'] + label:before {
    content: "\2714";
    border: 0.1em solid #0101DF;
    border-radius: 0.2em;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-bottom: 4px;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
    background: #0101DF;
    width: 50%;
    height: 50%;
    
  }

  .blue input[type='checkbox'] + label:active:before {
    transform: scale(0);
  }
  
  .blue input[type='checkbox']:checked + label:before {
    background-color: #0101DF;
    border-color: #0101DF;
    color: #fff;
  }
  
  .blue input[type='checkbox']:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
  }
  
  .blue input[type='checkbox']:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
  }


  .orange input[type='checkbox'] + label:before {
    content: "\2714";
    border: 0.1em solid #FF8000;
    border-radius: 0.2em;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-bottom: 4px;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
    background: #FF8000;
    width: 50%;
    height: 50%;
    
  }

  .orange input[type='checkbox'] + label:active:before {
    transform: scale(0);
  }
  
  .orange input[type='checkbox']:checked + label:before {
    background-color: #FF8000;
    border-color: #FF8000;
    color: #fff;
  }
  
  .orange input[type='checkbox']:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
  }
  
  .orange input[type='checkbox']:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
  }


  
  .bluegreen input[type='checkbox'] + label:before {
    content: "\2714";
    border: 0.1em solid #00FFFF;
    border-radius: 0.2em;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-bottom: 4px;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
    background: #00FFFF;
    width: 50%;
    height: 50%;
    
  }

  .bluegreen input[type='checkbox'] + label:active:before {
    transform: scale(0);
  }
  
  .bluegreen input[type='checkbox']:checked + label:before {
    background-color: #00FFFF;
    border-color: #00FFFF;
    color: #fff;
  }
  
  .bluegreen input[type='checkbox']:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
  }
  
  .bluegreen input[type='checkbox']:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
  }


  .strongpink input[type='checkbox'] + label:before {
    content: "\2714";
    border: 0.1em solid #FF0080;
    border-radius: 0.2em;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-bottom: 4px;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
    background: #FF0080;
    width: 50%;
    height: 50%;
    
  }

  .strongpink input[type='checkbox'] + label:active:before {
    transform: scale(0);
  }
  
  .strongpink input[type='checkbox']:checked + label:before {
    background-color: #FF0080;
    border-color: #FF0080;
    color: #fff;
  }
  
  .strongpink input[type='checkbox']:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
  }
  
  .strongpink input[type='checkbox']:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
  }

  .grey input[type='checkbox'] + label:before {
    content: "\2714";
    border: 0.1em solid #585858;
    border-radius: 0.2em;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-bottom: 4px;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
    background: #585858;
    width: 50%;
    height: 50%;
    
  }

  .grey input[type='checkbox'] + label:active:before {
    transform: scale(0);
  }
  
  .grey input[type='checkbox']:checked + label:before {
    background-color: #585858;
    border-color: #585858;
    color: #fff;
  }
  
  .grey input[type='checkbox']:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
  }
  
  .grey input[type='checkbox']:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
  }



  .clearred input[type='checkbox'] + label:before {
    content: "\2714";
    border: 0.1em solid #FF0040;
    border-radius: 0.2em;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-bottom: 4px;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
    background: #FF0040;
    width: 50%;
    height: 0%;
    
  }

  .clearred input[type='checkbox'] + label:active:before {
    transform: scale(0);
  }
  
  .clearred input[type='checkbox']:checked + label:before {
    background-color: #FF0040;
    border-color: #FF0040;
    color: #fff;
  }
  
  .clearred input[type='checkbox']:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
  }
  
  .clearred input[type='checkbox']:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
  }


  

.fijo{
    margin-top: 30px;
    top: 5%;
    border-right: 1px solid #aaa;
   
}

.filtros{
    padding-top: 15px;
}

.filtros h1{
    font-family: 'Prometo-x-bold';
    font-size: 30px;
    
}

.filtros h2{
    
    font-family: 'Prometo-Medium';
    font-weight: bolder;
    color: #000;
    font-size: 20px;
}


.fijo p{
    font-family: 'Prometo-Medium';
    font-weight: bolder;
    font-size: 20px;
    padding-top: 0px;
    margin-top: -5px;

}

input[type=checkbox]{
    font-family: 'Prometo-Medium';
    font-size: 20px;
    background: red;
}

.product-card {
    width: 100%;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #fafafa;
    height: 550px;
    transition: all 200ms ease-in;
    transform: scale(1);
   

}

.product-card:hover{
   /* -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    transition: all 300ms ease-in;
    transform: scale(1.1);*/
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;
}

.product-tumb img {

    max-width: 100%;
    max-height: 100%;
    transition: all 200ms ease-in;
    transform: scale(1);
}

.product-tumb img:hover {
  transition: all 300ms ease-in;
  transform: scale(1.2);
}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    transition: 0.3s;
    font-size: 18px;
    font-family: 'Prometo-Medium';
}

.product-details h4 a:hover {
    color: #162953;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    position: absolute;
    top: 85%;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price h5{
  font-size: 20px;
  font-family: 'Prometo-x-bold';
  font-weight: bolder;
  padding: 2px;
  color: #000;
  position: absolute;
  top: 84%;

  }

  .product-price a{
      position: absolute;
      top: 84%;
      right: 5%;

  }



.product-price i{
  color: #ffffff;
  float: right;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
}

.product-price i:hover{
  color: #ff0000;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ff0000;
  transition: 0.5s;
}


.heart-button{
  background: none;
  border: none;
  position: absolute;
  top: 20%;
  right: 10%;
}

.heart-button i{
  color: #ffffff;
  float: right;
  font-size: 25px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;

}

.heart-button i:hover{
  color: #ff0000;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ff0000;
  transition: 0.5s;

}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
    padding-left: 35px;
    position: absolute;
    top: 85%;
    right: 10%;
    
}

.product-links a {
    background: none;
    color: #000000;
    transition: 0.3s;
    font-size: 17px;
    padding: 5px;
}

.product-links a:hover {
    color: red;
}


.product-links-wish{
  position: absolute;
  top: 90%;
  left: 1%;
  font-family: 'Prometo-Medium';
  color: #000000;
  border: 1px solid #000000;
  padding: 5px;
  text-decoration: none;
  
}

.product-links-wish:hover{
  background: #000000;
  color: #ffffff;
  transition: 0.5s;
}


.product-links-bag {
  position: absolute;
  top: 90%;
  right: 1%;
  font-family: 'Prometo-Medium';
  color: #000000;
  border: 1px solid #000000;
  padding: 5px;
  text-decoration: none;
}

.product-links-bag:hover{
  background: #000000;
  color: #ffffff;
  transition: 0.5s;
}

.product-links-bag2{
  position: absolute;
  bottom: 1%;
  left: 1%;
  font-family: 'Prometo-Medium';
  color: #000000;
  border: 1px solid #000000;
  padding: 10px;
  text-decoration: none;
  width: 100%;
  

}


.product-links-bag2 i{
  color: black;
  opacity: 0;
}

.product-links-bag2:hover i{
  color: #fff;
  transform: translate(40px);
  opacity: 1;
  transition: 0.5s;
  

}


.product-links-bag2:hover{
  background: #000000;
  color: #ffffff;
  transition: 0.5s;
}

.see-more{
  font-family: 'Prometo-Medium';
  font-size: 14px;
  font-weight: bold;
  color: #000;
  background: none;
  border: none;

 
}

.myCheckbox input {
  position: relative;
  z-index: -9999;
}

.myCheckbox span {
  width: 20px;
  height: 20px;
  display: block;
  
}

.myCheckbox input:checked + span {

}



/*Afecta Android phones LANDSCAPE
HTC ONE Landscape -- Si lo afecta
Samsung Galaxy S6 Landscape-- Si lo afecta
Samsung Galaxy S6 Edge Landscape--Si lo afecta
LG G5 Lansdscape -- Si lo afecta
Afecta MISC
BlackBerry z10  landscape
Media query usado
@media screen and (max-width: 736px) and (min-width: 320px){}
*/
@media screen and (max-width: 640px) and (min-width: 611px){

  
  .see-more{
    margin-bottom: 50px;
  }
  .barra-superior h1{ 
    color: #000;
    font-family: 'Prometo-x-bold';
    font-size: 50px;
    
}

.filtros h1{
  font-family: 'Prometo-x-bold';
  font-size: 25px;
  
}


.product-card{
  height: 500px;
}

.product-tumb{
  height: 250px;
}


.product-links-wish{
  font-size: 11px;
  padding: 4px;
  
}




.product-links-bag {
font-size: 11px;
padding: 4px;
}

.product-details h4 a {
  font-size: 14px;
}




}



/*Kindle Fire Portrait 
Nexus 7 Portrait*/
@media screen and (max-width: 610px) and (min-width: 569px){


  .see-more{
    margin-bottom: 50px;
  }
  .barra-superior h1{ 
    color: #000;
    font-family: 'Prometo-x-bold';
    font-size: 50px;
    
}

.filtros h1{
  font-family: 'Prometo-x-bold';
  font-size: 25px;
  
}


.product-card{
  height: 450px;
}

.product-tumb{
  height: 225px;
}


.product-links-wish{
  font-size: 10px;
  padding: 4px;
  
}




.product-links-bag {
font-size: 10px;
padding: 4px;
}

.product-details h4 a {
  font-size: 14px;
}


}



/*Celular Vertical*/
/*Afecta 
Android phones Portrait
HTC ONE X Portrait  -- Si lo afecta
Samsung Galaxy S6 Portrait -- Si lo afecta
Samsung Galaxy S6 Edge Portrait -- Si lo afecta 
LG G5 Porrait -- Si lo afecta 
Black Berry  Z10 Portrait  -- Si lo afecta
Iphone 7 Portrait
 */
 @media only screen and (max-width: 390px) and (min-width: 321px){

  .heart-button{
    top: 23%;
  }

  .see-more{
    padding-bottom: 60px;
  }

  .diferente-vistaImg{
    height: 80px;
    width: 100%;

  }

  .main-imgModal{
    height: 250px;
  }

  .barra-superior h1{ 
    font-size: 40px;

    }

  .product-links-wish{
    padding: 5px;
    font-size: 13px;
  }

  .product-links-bag{
    padding: 5px;
    font-size: 13px;
  }

  .product-card{
    height: 500px;
    width: 80%;
  }

  .product-tumb{
    height: 250px;

  }


 }



 /*Tablets
ipad landscape  -- Si lo afecta
Ipad mini Landscape -- Si lo afecta
*/
@media only screen and (max-width: 1024px) and (min-width: 1000px)  and (orientation: landscape){
      .product-links-wish{
          padding: 5px;
          font-size: 12px;
      }

      .product-links-bag{
        padding: 5px;
        font-size: 12px;
      }

      .product-card{
        height: 500px;
      }

      .product-tumb{
        height: 250px;

      }

}



/*Media query tablets 
Nexus 10 Portrait
*/
@media only screen and (min-width: 770px) and (max-width: 870px) {

  .modal-content{
    width: 600px;
    position: absolute;
    left: 1px;
    
  }

  .diferente-vistaImg{
    height:60px;
  }
  
  .heart-button{
    top: 25%;
  }

  .see-more{
    padding-bottom: 50px;
  }


  .modal-textos p{
    font-size: 15px;

  }
  .main-imgModal{
    height: 300px;
  }

  .modal-textos h1{
    font-size: 25px;
  }

  .barra-superior h1{
    font-size: 40px;
  }

  .product-links-wish{
    padding: 5px;
    font-size: 14px;
}

.product-links-bag{
  padding: 5px;
  font-size: 14px;
}

.product-card{
  height: 500px;
}

.product-tumb{
  height: 250px;

}


}

/*Nexus 7 landscape
Surface Pro 3 Portrait
*/
@media only screen and (min-width: 870px) and (max-width: 999px) {
  .modal-content{
    width: 600px;
    position: absolute;
    left: 1px;
    
  }

  .diferente-vistaImg{
    height:60px;
  }
  
  .heart-button{
    top: 25%;
  }

  .see-more{
    padding-bottom: 50px;
  }


  .modal-textos p{
    font-size: 15px;

  }
  .main-imgModal{
    height: 300px;
  }

  .modal-textos h1{
    font-size: 25px;
  }

  .barra-superior h1{
    font-size: 40px;
  }

  .product-links-wish{
    padding: 5px;
    font-size: 14px;
}

.product-links-bag{
  padding: 5px;
  font-size: 14px;
}

.product-card{
  height: 500px;
  width: 85%;
}

.product-tumb{
  height: 250px;

}


}


/*
    Afecta tablets Portrait
    Ipad Portrait -- Lo afecta como debé ser 
    Ipad Mini Portrait -- Lo afecta como debé ser 
    Esta afectando el iphone 7 plus Landscape
*/
@media only screen and (max-width: 768px) and (min-width: 680px){

  .see-more{
    padding-bottom: 50px;
  }

  .product-links-wish{
    padding: 3px;
    font-size: 13px;
}

.product-links-bag{
  padding: 3px;
  font-size: 13px;
}

.product-card{
  height: 500px;
}

.product-tumb{
  height: 250px;

}


}


/*Iphone 7 Landscape*/
@media only screen and (max-width: 679px) and (min-width: 641px){
  .see-more{
    padding-bottom: 50px;
  }

  .product-links-wish{
    padding: 3px;
    font-size: 12px;
}

.product-links-bag{
  padding: 3px;
  font-size: 12px;
}

.product-card{
  height: 450px;
}

.product-tumb{
  height: 225px;

}


}


/*Iphone 4 Portrait
Iphone 5 Portrait
*/
@media only screen and (max-width: 320px){

  
  .heart-button{
    top: 27%;
   }

.main-imgModal{
  height: 200px;
}

.diferente-vistaImg{
  padding: 0px;
  margin: 0px;
  height: 40px;
}
  .see-more{
    padding-bottom: 50px;
  }

  .barra-superior h1{ 
    
    font-size: 30px;
    
}

    .product-links-wish{
      padding: 3px;
      font-size: 15px;
  }

  .product-links-bag{
    padding: 3px;
    font-size: 15px;
  }

  .product-card{
    height: 450px;
  }

  .product-tumb{
    height: 225px;

  }


}





/*Afecta 
    Iphone 4 Landscape
    Iphone 7 plus portrait
*/
@media only screen and (max-width: 500px) and (min-width: 392px){


  .see-more{
    padding-bottom: 50px;
  }


  .barra-superior h1{ 
    font-size: 30px;
    
}
.product-links-wish{
  padding: 3px;
  font-size: 15px;
}

  

  

  .product-links-bag{
    padding: 3px;
    font-size: 15px;
  }

  .product-card{
    height: 450px;
  }

  .product-tumb{
    height: 225px;

  }

  .product-card{
    width: 78%;
  }

  @media only screen and (max-width: 480px) and (min-width: 420px){
    .product-card{
      width: 65%;
    }

  }
  


}



/*Afecta 
    Iphone 5 Lanscape
*/
@media only screen and (max-width: 568px) and (min-width: 502px){


  .see-more{
    padding-bottom: 50px;
  }
  .barra-superior h1{ 
    font-size: 50px;
    
}
    .product-links-wish{
      padding: 3px;
      font-size: 17px;
  }

  .product-links-bag{
    padding: 3px;
    font-size: 17px;
  }

  .product-card{
    height: 450px;
  }

  .product-tumb{
    height: 225px;

  }

  .product-card{
    width: 62%;
  }


}