
<div class="container-fluid">
  <!--<div class="row promociones">
    <div class="col-sm-12">
      <h1> <span class="typed"></span> </h1>

    </div>

  </div>-->
  <div class="row">
    <div class="col-xs-6 col-sm-12 barra-superior">
      <h1>Nuestros Productos</h1>
      <!--<h2 *ngIf = "pClasificacion">De <span>{{pClasificacion}}</span></h2>
      <h2 *ngIf = "pCategoria">- {{pCategoria}}</h2>-->
      <div>
        <label for="filtro-superior">Ordena por: </label>
      <select name="filtro-superior" id="filtro-superior">
        <option value="low-price">Precio de más bajo a más alto</option>
        <option value="high-price">Precio de más alto a más bajo</option>
        <option value="Destacados">Destacados</option>
        <option value="Más nuevos">Más nuevos</option>
      </select>
      </div>

    </div>
  </div>
  
   
    <div class="row">
      <div class="col-xs-2 col-sm-3 col-md-3 col-lg-3 fijo filtros">
        <h1>Productos</h1>
        <div class="filtros-leftside">
          <h2>Clasificación</h2>
          <hr>
          <div class="checkbox">
            <input type="checkbox" [checked] = "pesca" (change) = "pescaCambio(pesca = !pesca)" id="pesca" name="pesca" value="pesca">
            <label for="pesca">Pesca</label>
          </div>
          <div class="checkbox">
            <input type="checkbox" [checked] = "caceria" (change) = "caceriaCambio(caceria = !caceria)" id="caceria" name="caceria" value="caceria">
            <label for="caceria">Cacería</label>
          </div>
        </div>
        <div class="filtros-leftside" *ngIf = "caceria == true">
          <h2>Categorias de Cacería</h2>
          <hr>
        <div class="checkbox">
          <input type="checkbox" id="rifles" name="rifles" value="rifles">
          <label for="rifles">Rifles</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="pistolas" name="pistolas" value="pistolas">
          <label for="pistolas">Pistolas</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="arqueria" name="arqueria" value="arqueria">
          <label for="arqueria">Arquería</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="cuchilleria" name="cuchilleria" value="cuchilleria">
          <label for="cuchilleria">Cuchillería</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="ropa-caceria" name="ropa-caceria" value="ropacaceria">
          <label for="ropa-caceria">Ropa</label>
        </div>

        </div>

        <div class="filtros-leftside" *ngIf = "pesca == true">
          <h2>Categorias de Pesca</h2>
          <hr>
        <div class="checkbox">
          <input type="checkbox" id="aguadulce" name="aguadulce" value="aguadulce">
          <label for="aguadulce">Agua Dulce</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="aguasalada" name="aguasalada" value="aguasalada">
          <label for="aguasalada">Agua Salada</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="lineas" name="lineas" value="lineas">
          <label for="lineas">Lineas</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="snorkel" name="snorkel" value="snorkel">
          <label for="snorkel">Snorkel</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="buceo" name="buceo" value="buceo">
          <label for="buceo">Buceo</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="kayaks" name="kayaks" value="kayaks">
          <label for="kayaks">Kayaks</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="navegacion" name="navegacion" value="navegacion">
          <label for="navegacion">Navegación</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="ropa" name="ropa" value="ropa">
          <label for="ropa">Ropa</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="accesorios" name="accesorios" value="accesorios">
          <label for="accesorios">Accesorios</label>
        </div>

        </div>
        <div class="filtros-leftside">
          <h2>Precios</h2>
          <hr>
          <div class="checkbox">
            <input type="checkbox" id="less-Price" name="kayaks" value="kayaks">
            <label for="less-Price">$1000 - $1499</label>
          </div>
          <div class="checkbox">
            <input type="checkbox" id="medium-Price" name="kayaks" value="kayaks">
            <label for="medium-Price">$1500 - $2000</label>
          </div>
          <div class="checkbox">
            <input type="checkbox" id="big-Price" name="kayaks" value="kayaks">
            <label for="big-Price">$2000 - $3000</label>
          </div>

        </div>
       
       

        <div class="filtros-leftside">
          <h2>Tamaño</h2>
          <hr>
        <div class="checkbox">
          <input type="checkbox" id="tamaño-chico" name="chico" value="Chico">
          <label for="tamaño-chico">1.75m</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="tamaño-mediano" name="chico" value="Chico">
          <label for="tamaño-mediano">2.25m</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="tamaño-grande" name="chico" value="Chico">
          <label for="tamaño-grande">3.0m</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="tamaño-extraGrande" name="chico" value="Chico">
          <label for="tamaño-extraGrande">3.75m</label>
        </div>

        </div>

        <!--<div class="filtros-leftside">
          <h2>Color</h2>
          <table style="width:100%">
            <tr>
              <th><div class="red">
                <input class="red" type="checkbox" id="red" name="red" value="#ff0000">
                <label for="red"></label>
              </div></th>
              <th><div class="yellow">
                <input type="checkbox" id="yellow" name="yellow" value="#ffff00">
                <label for="yellow"></label>
              </div></th>
              <th><div class="green">
                <input type="checkbox" id="green" name="green" value="#40FF00">
                <label for="green"></label>
              </div></th>
            </tr>
            <tr>
              <td> <div class="blue">
                <input type="checkbox" id="blue" name="blue" value="#0101DF">
                <label for="blue"></label>
              </div></td>
              <td><div class="orange">
                <input type="checkbox" id="orange" name="orange" value="#FF8000">
                <label for="orange"></label>
              </div></td>
              <td><div class="bluegreen">
                <input type="checkbox" id="bluegreen" name="bluegreen" value="#00FFFF">
                <label for="bluegreen"></label>
              </div></td>
            </tr>
            <tr>
              <td><div class="strongpink">
                <input type="checkbox" id="strongpink" name="strongpink" value="#FF0080">
                <label for="strongpink"></label>
              </div></td>
              <td><div class="grey">
                <input type="checkbox" id="grey" name="grey" value="#585858">
                <label for="grey"></label>
              </div></td>
              <td><div class="clearred">
                <input type="checkbox" id="clearred" name="clearred" value="  ">
                <label for="clearred"></label>
              </div></td>
            </tr>
          </table>

        </div>-->
       
        <div class="filtros-leftside">
          <h2>Marca</h2>
          <hr>
        <div class="checkbox">
          <input type="checkbox" id="abu-garcia" name="abu-garcia" value="abu-garcia">
          <label for="abu-garcia">Abu Garcia</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="ande" name="ande" value="ande">
          <label for="ande">Ande</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="berkley" name="berkley" value="berkley">
          <label for="berkley">Berkley</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="bomber" name="bomber" value="bomber">
          <label for="bomber">Bomber</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="buff" name="buff" value="buff">
          <label for="buff">Buff</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="camillus" name="camillus" value="camillus">
          <label for="camillus">Camillus</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="crossman" name="crosman" value="crosman">
          <label for="crosman">Crosman</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="cuda" name="cuda" value="cuda">
          <label for="cuda">Cuda</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="daiwa" name="daiwa" value="daiwa">
          <label for="daiwa">Daiwa</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="doa" name="doa" value="doa">
          <label for="doa">DOA</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="fathom" name="fathom" value="fathom">
          <label for="fathom">Fathom</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="flambeau" name="flambeau" value="flambeau">
          <label for="flambeau">Flambeau</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="gamo" name="gamo" value="gamo">
          <label for="gamo">Gamo</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="imperium" name="imperium" value="imperium">
          <label for="imperium">Imperium</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="afico" name="afico" value="afico">
          <label for="afico">Afico</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="magbay" name="magbay" value="magbay">
          <label for="magbay">Magbay</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="mendoza" name="mendoza" value="mendoza">
          <label for="mendoza">Mendoza</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="mossy-oak" name="mossy-oak" value="mossy-oak">
          <label for="mossy-oak">Mossy Oak</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="mustad" name="mustad" value="mustad">
          <label for="mustad">Mustad</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="outdoor-cap" name="outdoor-cap" value="outdoor-cap">
          <label for="outdoor-cap">Outdoor Cap</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="pelagic" name="pelagic" value="pelagic">
          <label for="pelagic">Pelagic</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="penn" name="penn" value="penn">
          <label for="penn">PENN</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="redhead" name="redhead" value="redhead">
          <label for="redhead">Red Head</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="sea-sense" name="sea-sense" value="sea-sense">
          <label for="sea-sense">Sea Sense</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="shakespeare" name="shakespeare" value="shakespeare">
          <label for="shakespeare">Shakespeare</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="shimano" name="shimano" value="shimano">
          <label for="shimano">Shimano</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="yellow-tail" name="yellow-tail" value="yellow-tail">
          <label for="yellow-tail">Yellow Tail</label>
        </div>

        <div class="checkbox">
          <input type="checkbox" id="yo-zuri" name="yo-zuri" value="yo-zuri">
          <label for="yo-zuri">Yo-zuri</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="yukon_gear" name="yucon_gear" value="yukon_gear">
          <label for="yukon_gear">Yukon Gear</label>
        </div>

        </div>
        
        
         
      </div>
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
       
        <div class="row">
          <!--Estilo nuevo del carrito-->
          <div class="col-12 col-sm-6 col-md-6 col-lg-4" *ngFor="let productoTienda of productosTienda; index as i; let index=i;">
            <div class="product-card">
              <div class="badge1" *ngIf="productoTienda.nuevo">Nuevo</div>
              <div class="badge2" *ngIf="productoTienda.destacado">Destacado</div>
              <div class="badge3" *ngIf="productoTienda.descuento">Desc {{productoTienda.descuento}}%</div>
              <div class="product-tumb">
                  <img src="{{productoTienda.image[0].url}}" alt=""
                  >
              </div>
              <div class="product-details">
                  <span class="product-catagory">{{productoTienda.categoria}} {{productoTienda.marca}}</span>
               
                  <h4><a routerLink="/tienda/{{productoTienda.clasificacion}}/{{productoTienda.categoria}}/{{productoTienda.idProducto}}/{{productoTienda.nombre}}">{{productoTienda.nombre}}</a></h4>
                  <div class="product-price">
                    <h4 *ngIf="productoTienda.descuento"><span>  Precio:</span> ${{productoTienda.precio_antiguo}}</h4>
                    <h5 *ngIf="productoTienda.descuento != 0; else precioNormal"><span>Precio Desc: </span> ${{productoTienda.precio}}</h5>
                    <h3 id="precioNormal" *ngIf="productoTienda.descuento == 0"><span>Precio: </span>${{productoTienda.precio}}</h3>
                    <button (click)="addWishList(productoTienda)"><i class="fa fa-heart" aria-hidden="true"></i></button>
                </div>
                  
                  <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" (click)="openModal(productoTienda)">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" (click) = "crearProducto(productoTienda)" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
     
         <!--<div class="col-12 col-sm-6 col-md-6 col-lg-4">
          <div class="product-card">
            <div class="badge">Nuevo</div>
            <div class="product-tumb">
                <img src="/assets/imagenes/paginaInicial/carretes/029977_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
            </div>
            <div class="product-details">
                <span class="product-catagory">CARRETES Yellow Tail</span>
             
                <h4><a href="">CARRETE TORITO TO4000</a></h4>
                <div class="product-price">
                  <h5>$230.98</h5>
                <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
              </div>
                
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                <div class="product-bottom-details">
                    
                   
                </div>

                  <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                  <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                 
            
            </div>
        </div>
    
         </div>
           <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">
                    <h5>$230.98</h5>
                  <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                  
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
           <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042557_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">
                    <h5>$230.98</h5>
                  <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                  
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
           <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042558_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">
                    <h5>$230.98</h5>
                  <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                  
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
           <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042560_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">
                    <h5>$230.98</h5>
                  <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                  
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
           <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">
                    <h5>$230.98</h5>
                  <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                  
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
           <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042562_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">
                    <h5>$230.98</h5>
                  <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                  
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
           <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042694_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">
                    <h5>$230.98</h5>
                  <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                  
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
           <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">
                    <h5>$230.98</h5>
                  <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                  
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
           <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042695_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">
                    <h5>$230.98</h5>
                  <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                  
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
           <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042699_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">
                    <h5>$230.98</h5>
                  <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                  
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
           <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">
                    <h5>$230.98</h5>
                  <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                  
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
           <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">
                    <h5>$230.98</h5>
                  <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                  
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
           <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">
                    <h5>$230.98</h5>
                  <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                  
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
           <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">
                    <h5>$230.98</h5>
                  <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                  
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
           <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">
                    <h5>$230.98</h5>
                  <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                  
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
           <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">
                    <h5>$230.98</h5>
                  <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                  
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
           <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">
                    <h5>$230.98</h5>
                  <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
           <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">
                    <h5>$230.98</h5>
                  <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                  
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
           <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">
                    <h5>$230.98</h5>
                  <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                  
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>
      
           </div>
      

        </div>-->

       
       
        

      </div>
    
    
    </div>

</div>