
    .container {
        margin-top: 50px;
        font-family: 'Prometo-light';
        font-size: 17px;
        margin-bottom: 100px;
    }

    a{
        font-family: 'Prometo-light';
        font-size: 17px;
        margin-left: 10px;
    }

    .img{
        position: absolute;
    }

    h1{
        margin-top: 30px;
        position: relative;
        text-align: center;
        font-size: 80px;
        font-family: 'Prometo-x-bold';
        color: black;
        letter-spacing: 0.1em;
    }
        /*Tablets orientación horizontal*/
        @media only screen and (max-width: 1024px) and (min-width: 1000px)  and (orientation: landscape){
            h1{
                font-size: 70px ;
            } 
        }

        @media only screen and (min-width: 770px) and (max-width: 999px) {
            h1{
                font-size: 50px ;
            } 
        }

        /*Tablets orientación vertical*/
        @media only screen and (max-width: 768px) and (min-width: 641px){
            h1{
                font-size: 50px ;
            } 
        }

        /*Celulares orientación vertical*/
        @media only screen and (max-width: 567px) and (min-width: 292px){
            h1{
                font-size: 40px ;
            }
        }

    .imagen h2{
        margin-bottom: 30px;
        position: relative;
        text-align: center;
        font-size: 30px;
        font-family: 'Prometo-light';
        color: black;
    }


    .faq-nav {
        flex-direction: column;
        margin: 0 0 32px;
        
    }

    .nav-pills .nav-link.active, .show>.nav-pills .nav-link{
        background: #163039!important
}

    .nav-link {
        position: relative;
        font-family: 'Prometo-medium';
        display: block;
        margin: 0;
        padding: 15px 30px;
        background-color: #fff;
        border: 0;
        border-radius: 0;
        color: #616161;
        transition: background-color .2s ease;
        font-size: 20px;
        background: #F8F8F8;
    }
    
    .nav-link:hover{
        border: 1px solid #163039;
    }
    .nav-link i{
        font-size: 30px; 
        padding-right: 5px;
    }

    i.mdi {
        margin-right: 5px;
        font-size: 18px;
        position: relative;
    }
    
    
    .card {
      border: none;
      margin-bottom: 20px;
      margin-top: 10px;
    }
    
    .card h2 {
        background: url(https://cdn0.iconfinder.com/data/icons/entypo/91/arrow56-512.png) no-repeat calc(100% - 10px) center;
        background-size: 20px;
        cursor: pointer;
        font-size: 18px;
        font-family: 'Prometo-medium';
    }
    
    .card .collapsed {
        background-image: url(https://cdn0.iconfinder.com/data/icons/arrows-android-l-lollipop-icon-pack/24/expand2-256.png);
    }






    button#menu {
        /* Ocultamos el boton en escritorio */
        display: none;
    }
    
    button#menu:focus + nav#superior {
        /* Si es pulsado el boton, mostramos el nav.
        Esto lo puedo hacer porque adquiere el foco.
        Solo funcionará, si el botón y el menú esta a la misma altura. */
        display: block;
    }
    
    nav#superior ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    nav#superior ul a {
        display: block;
        width: 8em;
        text-decoration: none;
        border: 1px solid #BE353D;
        padding: .3em 0;
        text-align: center;
        color: #FA453B;
        background: #EF8E76;
        transition: 1s all;
    }
    
    nav#superior ul a:hover {
        background: #ec7b5f;
    }
    
    @media all and (max-width: 800px) {
        /* En smartphone mostramos el botón */
        button#menu {
            display: block;
        }
        nav#superior {
            display: none;
        }
        nav#superior ul {
            flex-direction: column;
        }
    }