
<app-menuheader></app-menuheader>  

<!--<app-crear-cuenta></app-crear-cuenta>-->
<!--<app-mapa-sitio></app-mapa-sitio>-->

<!--<app-crear-cuenta></app-crear-cuenta>-->

<!--<app-mapa-sitio></app-mapa-sitio>-->
<app-asuntos-legales></app-asuntos-legales>
<!--<app-anfibia-main></app-anfibia-main>-->
<!--<app-crear-cuenta></app-crear-cuenta>-->
<!--<app-hunting></app-hunting>-->
<!--<app-fishing></app-fishing>-->
<!--<app-survival></app-survival>-->
<router-outlet></router-outlet>
<app-footer></app-footer>