@font-face {
  font-family: 'Prometo-Bold';
  src: url('/assets/fonts/Prometo/PrometoBold.otf');
}

@font-face{
  font-family: 'Prometo-Black';
  src: url('/assets/fonts/Prometo/PrometoBlack.otf');
}

@font-face{
  font-family: 'Prometo-Black-Italic';
  src: url('/assets/fonts/Prometo/PrometoBlackItalic.otf');
}

@font-face{
  font-family: 'Prometo-Bold-Italic';
  src: url('/assets/fonts/Prometo/PrometoBoldItalic.otf');

}

@font-face{
  font-family: 'Prometo-Italic';
  src: url('/assets/fonts/Prometo/PrometoItalic.otf');
}

@font-face{
  font-family: 'Prometo-Light';
  src: url('/assets/fonts/Prometo/PrometoLight.otf');

}

@font-face{
  font-family: 'Prometo-Light-Italic';
  src: url('/assets/fonts/Prometo/PrometoLightItalic.otf');
}

@font-face{
  font-family: 'Prometo-Medium';
  src: url('/assets/fonts/Prometo/PrometoMedium.otf');

}

@font-face{
  font-family: 'Prometo-Medium-Italic';
  src: url('/assets/fonts/Prometo/PrometoMediumItalic.otf');
}

@font-face{
  font-family: 'Prometo-Regular';
  src: url('/assets/fonts/Prometo/PrometoRegular.otf');
}


@font-face{
  font-family: 'Prometo-Thin-Italic';
  src: url('/assets/fonts/Prometo/PrometoThinItalic.otf');
  
}


@font-face{
  font-family: 'Prometo-Thin';
  src: url('/assets/fonts/Prometo/PrometoThin.otf');
}

@font-face{
  font-family: 'Prometo-x-bold';
  src: url('/assets/fonts/Prometo/PrometoXBold.otf');

}

@font-face{
  font-family: 'Prometo-x-bold-italic';
  src: url('/assets/fonts/Prometo/PrometoXBoldItalic.otf');
}


.btn-fit{
  text-align: center;
}
.slick-slider {
    
    width: 100%;
    margin: auto;
    padding: 10px;
  }
  
  .individual1{
     
    padding: 0;
    align-content: center;
    align-items: center;
    
  }

  .individual1 img{
    width: 100%;
    height: 500px;
   

  }

 

  .individual2 img{
      width: 100%;
      height: 150px;
     
  }

  .nav-btn {
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 100px !important;
  }
  
  .prev-slide.slick-disabled,
  .next-slide.slick-disabled {
    pointer-events: none;
    opacity: 0.2;
  }
  
  .prev-slide {
    background: url('/assets/imagenes/nav-icon.png') no-repeat scroll 0 0;
    left: -33px;
  }
  
  .next-slide {
    background: url('/assets/imagenes/nav-icon.png') no-repeat scroll -24px 0px;
    right: -33px;
  }
  
  .prev-slide:hover {
    background-position: 0px -53px;
  }
  
  .next-slide:hover {
    background-position: -24px -53px;
  }
 

  .btn-fit{
    text-align: center;
  }
  .slick-slider {
      
      width: 100%;
      margin: auto;
      padding: 10px;
    }
    
    .individual1{
       
      padding: 0;
      align-content: center;
      align-items: center;
      
    }
  
    .individual1 img{
      width: 100%;
      height: 500px;
     
  
    }
  
   
  
    .individual2 img{
        width: 100%;
        height: 150px;
       
    }
  
    .nav-btn {
      height: 47px;
      position: absolute;
      width: 26px;
      cursor: pointer;
      top: 100px !important;
    }
    
    .prev-slide.slick-disabled,
    .next-slide.slick-disabled {
      pointer-events: none;
      opacity: 0.2;
    }
    
    .prev-slide {
      background: url('/assets/imagenes/nav-icon.png') no-repeat scroll 0 0;
      left: -33px;
    }
    
    .next-slide {
      background: url('/assets/imagenes/nav-icon.png') no-repeat scroll -24px 0px;
      right: -33px;
    }
    
    .prev-slide:hover {
      background-position: 0px -53px;
    }
    
    .next-slide:hover {
      background-position: -24px -53px;
    }
   
  







