@font-face {
  font-family: 'Prometo-Bold';
  src: url('/assets/fonts/Prometo/PrometoBold.otf');
}

@font-face{
  font-family: 'Prometo-Black';
  src: url('/assets/fonts/Prometo/PrometoBlack.otf');
}

@font-face{
  font-family: 'Prometo-Black-Italic';
  src: url('/assets/fonts/Prometo/PrometoBlackItalic.otf');
}

@font-face{
  font-family: 'Prometo-Bold-Italic';
  src: url('/assets/fonts/Prometo/PrometoBoldItalic.otf');

}

@font-face{
  font-family: 'Prometo-Italic';
  src: url('/assets/fonts/Prometo/PrometoItalic.otf');
}

@font-face{
  font-family: 'Prometo-Light';
  src: url('/assets/fonts/Prometo/PrometoLight.otf');

}

@font-face{
  font-family: 'Prometo-Light-Italic';
  src: url('/assets/fonts/Prometo/PrometoLightItalic.otf');
}

@font-face{
  font-family: 'Prometo-Medium';
  src: url('/assets/fonts/Prometo/PrometoMedium.otf');

}

@font-face{
  font-family: 'Prometo-Medium-Italic';
  src: url('/assets/fonts/Prometo/PrometoMediumItalic.otf');
}

@font-face{
  font-family: 'Prometo-Regular';
  src: url('/assets/fonts/Prometo/PrometoRegular.otf');
}


@font-face{
  font-family: 'Prometo-Thin-Italic';
  src: url('/assets/fonts/Prometo/PrometoThinItalic.otf');
  
}


@font-face{
  font-family: 'Prometo-Thin';
  src: url('/assets/fonts/Prometo/PrometoThin.otf');
}

@font-face{
  font-family: 'Prometo-x-bold';
  src: url('/assets/fonts/Prometo/PrometoXBold.otf');

}

@font-face{
  font-family: 'Prometo-x-bold-italic';
  src: url('/assets/fonts/Prometo/PrometoXBoldItalic.otf');
}









