
<app-menuheader></app-menuheader>  
<!-- COMPONENTES KARLA -->
<!--<app-crear-cuenta></app-crear-cuenta>-->
<!--<app-mapa-sitio></app-mapa-sitio>-->
<!--<app-preguntas-frecuentes></app-preguntas-frecuentes>--> 
<!-- COMPONENTES KARLA -->
<!--<app-asuntos-legales></app-asuntos-legales>-->
<!--<app-anfibia-main></app-anfibia-main>-->
<!--<app-hunting></app-hunting>-->
<!--<app-fishing></app-fishing>-->
<!--<app-survival></app-survival>-->
<!--<app-ubicacion></app-ubicacion>-->
<app-blogv1></app-blogv1>
<router-outlet></router-outlet>
<app-footer></app-footer>