<div class="modal-header"> 
    <h5>Guarda una nueva dirección</h5>
    <div>
        <h6>{{mensaje.mensaje}}</h6>
    </div>    
    <button type="button" class="close" (click)="closeModal('dismiss')">&times;</button>
</div>
<div class="modal-body">
    <div class="card card-body">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" [(ngModel)] = "usuario.nombre" aria-describedby="nombre"> 
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="apellido">Apellidos</label>
                    <input type="text" class="form-control" id="apellido" [(ngModel)] = "usuario.apellidos" aria-describedby="nombre"> 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="direccion">Calle</label>
                    <input type="text" class="form-control" id="calle" [(ngModel)] = "usuario.calle" aria-describedby="direccion"> 
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="direccion">Colonia</label>
                    <input type="text" class="form-control" id="colonia" [(ngModel)] = "usuario.fraccionamiento" aria-describedby="direccion" > 
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="direccion">Número</label>
                    <input type="text" class="form-control" id="numer" [(ngModel)] = "usuario.numero" aria-describedby="direccion"> 
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="direccion">Código Postal</label>
                    <input type="text" class="form-control" id="codigopostal" [(ngModel)] = "usuario.codigoPostal" aria-describedby="direccion"> 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">  
                    <label for="inputState">Estado</label>
                    <select id="inputState" [(ngModel)] = "usuario.estado" class="form-control" (ngModelChange)="onSelectedChange(usuario.estado)">
                       
                        <option *ngFor = "let estado of estados; index as i; let index = i" [value]="estado">{{estado}}</option>
                    </select>
                    {{usuario.estado}}
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="Pais">Pais</label>
                    <input type="text" class="form-control" id="pais" aria-describedby="pais" [(ngModel)] = "usuario.pais" placeholder="México" disabled> 
                </div>
            </div>
            <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="Pais">Municipio</label>
                    <input type="text" class="form-control" id="pais" aria-describedby="pais" placeholder="" [(ngModel)] = "usuario.municipio"> 
                </div>
            </div>
            <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                <input style="margin-left: 5px;" class="form-check-input" type="checkbox" value="" id="defaultCheck1" [(ngModel)] = "usuario.direccionPrincipal">
                <label style="margin-left: 20px;" class="form-check-label" for="defaultCheck1">Marcar como dirección predeterminada.</label>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
            <button class="button boton2" (click)="addNuevaDireccion(usuario)">Guardar dirección</button>
        </div>
       
    </div>                        
</div>
