<div class="container-fluid" style="position: relative;">
    <div class="row" style="background: #fff; text-align: center;border-bottom: 1px solid black;">
        <div class="col-sm-12">
            <h1 style="font-family: 'Prometo-Medium'; font-size: 20px; color: #000;padding: 10px;">Compra $2000 en productos de Cacería y llevate un descuento del 40%</h1>
        </div>
    </div>
    <div class="row" style="background: #fff; text-align: left;">
        <div class="col-sm-12 ruta">
            <h1><a href="">Inicio</a> / <a href="">Pesca</a> / <a href="">Carretes</a> / <a href="">Carrete Yellow Tail T04000</a>   </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8" style="margin-top: 30px;">
            <div class="card2">
                <div class="top-section2">
                  <img id="image-container2" src="/assets/imagenes/paginaInicial/carretes/042560_1.png" alt=""  data-zoom-image="/assets/imagenes/paginaInicial/carretes/042560_1.png">   
                </div>
                <div class="bottom-section2">
                    <div class="nav2">
                        <img id="imagen1" src="/assets/imagenes/paginaInicial/carretes/042560_1.png" alt="prueba1">
                        <img id="imagen2" src="/assets/imagenes/paginaInicial/carretes/042562_1.png" alt="prueba2">
                        <img id="imagen3" src="/assets/imagenes/paginaInicial/carretes/042694_1.png" alt="prueba3">
                        <img id="imagen4" src="/assets/imagenes/paginaInicial/carretes/042695_1.png" alt="prueba4">
                        <img id="imagen5" src="/assets/imagenes/paginaInicial/carretes/042699_1.png" alt="prueba5">
                        <img id="imagen6" src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="prueba6">
                    </div>
                </div>
              </div>
        </div>
        <div class="col-sm-4 fijo">
            <h1>Carrete Yellow Tail T04000</h1>
            <hr>
           <h2>111992489AJA</h2>
           <h2>Precio: <span>$1200.00</span></h2>
            
            <h3>Variaciones del producto</h3>
            <div class="filtros-leftside">
                <h2>Color</h2>
                <table style="width:50%">
                  <tr>
                    <th><div class="red">
                      <input class="red" type="checkbox" id="red" name="red" value="#ff0000">
                      <label for="red"></label>
                    </div></th>
                    <th><div class="yellow">
                      <input type="checkbox" id="yellow" name="yellow" value="#ffff00">
                      <label for="yellow"></label>
                    </div></th>
                    <th><div class="green">
                      <input type="checkbox" id="green" name="green" value="#40FF00">
                      <label for="green"></label>
                    </div></th>
                  </tr>
                  <tr>
                    <td> <div class="blue">
                      <input type="checkbox" id="blue" name="blue" value="#0101DF">
                      <label for="blue"></label>
                    </div></td>
                    <td><div class="orange">
                      <input type="checkbox" id="orange" name="orange" value="#FF8000">
                      <label for="orange"></label>
                    </div></td>
                    <td><div class="bluegreen">
                      <input type="checkbox" id="bluegreen" name="bluegreen" value="#00FFFF">
                      <label for="bluegreen"></label>
                    </div></td>
                  </tr>
                  <tr>
                    <td><div class="strongpink">
                      <input type="checkbox" id="strongpink" name="strongpink" value="#FF0080">
                      <label for="strongpink"></label>
                    </div></td>
                    <td><div class="grey">
                      <input type="checkbox" id="grey" name="grey" value="#585858">
                      <label for="grey"></label>
                    </div></td>
                    <td><div class="clearred">
                      <input type="checkbox" id="clearred" name="clearred" value="  ">
                      <label for="clearred"></label>
                    </div></td>
                  </tr>
                </table>
      
              </div>
            <br>
            <div class="input-group">
              <input type="button" value="-" class="button-minus" data-field="quantity">
              <input type="number" step="1" max="" value="1" name="quantity" class="quantity-field">
              <input type="button" value="+" class="button-plus" data-field="quantity">
            </div>
            <button id="carrito-compras" class="botones-individual">Añadir al Carrito <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
            <button class="botones-individual">Añadir a la WishList <i class="fa fa-heart" aria-hidden="true"></i></button>
            <button class="botones-individual2">Comprar ahora <i class="fa fa-money" aria-hidden="true"></i></button>
        </div>   
    </div>
    <div class="container">
        <div class="row descriptivo">
            <hr>
            <div class="col-sm-6">
                <h1>Carrete Yellow Tail T04000</h1>
                <h2>Descripción</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-sm-6">
                <img src="/assets/imagenes/paginaInicial/carretes/042560_1.png" alt="">
            </div>
        </div>
        <div class="row valoraciones">
            <h1>Valoraciones y reseñas</h1>
            <hr>
            <div class="col-sm-8">
                <fieldset class="rating">
                    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                </fieldset><br><br>
                <h3>22-03-2020</h3>
                <h2>Lorem ipsum dolor sit ame</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <hr>
            </div>
            <div class="col-sm-8">
                <fieldset class="rating">
                    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                </fieldset><br><br>
                <h3>22-03-2020</h3>
                <h2>Lorem ipsum dolor sit ame</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <hr>
            </div>
            <div class="col-sm-8">
                <fieldset class="rating">
                    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                </fieldset><br><br>
                <h3>22-03-2020</h3>
                <h2>Lorem ipsum dolor sit ame</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <hr>
            </div>
            <div class="col-sm-8">
                <fieldset class="rating">
                    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                </fieldset><br><br>
                <h3>22-03-2020</h3>
                <h2>Lorem ipsum dolor sit ame</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <hr>
            </div>
            <div class="col-sm-8">
                <fieldset class="rating">
                    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                </fieldset><br><br>
                <h3>22-03-2020</h3>
                <h2>Lorem ipsum dolor sit ame</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <hr>
            </div>
        </div>
        <div class="row text-also">
            <div class="col-sm-12">
                <h1>También te podría interesar.</h1>
                <hr>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">$230.99
                    <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                  </div>
                  
                  <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>

           </div>
           <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="product-card">
              <div class="badge">Nuevo</div>
              <div class="product-tumb">
                  <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                  onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
              </div>
              <div class="product-details">
                  <span class="product-catagory">CARRETES Yellow Tail</span>
               
                  <h4><a href="">CARRETE TORITO TO4000</a></h4>
                  <div class="product-price">$230.99
                    <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                  </div>
                  
                  <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                  <div class="product-bottom-details">
                      
                     
                  </div>

                    <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                    <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                   
              
              </div>
          </div>

            </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="product-card">
            <div class="badge">Nuevo</div>
            <div class="product-tumb">
                <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
            </div>
            <div class="product-details">
                <span class="product-catagory">CARRETES Yellow Tail</span>
             
                <h4><a href="">CARRETE TORITO TO4000</a></h4>
                <div class="product-price">$230.99
                  <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                <div class="product-bottom-details">
                    
                   
                </div>

                  <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                  <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                 
            
            </div>
        </div>

        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="product-card">
            <div class="badge">Nuevo</div>
            <div class="product-tumb">
                <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
            </div>
            <div class="product-details">
                <span class="product-catagory">CARRETES Yellow Tail</span>
             
                <h4><a href="">CARRETE TORITO TO4000</a></h4>
                <div class="product-price">$230.99
                  <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                <div class="product-bottom-details">
                    
                   
                </div>

                  <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                  <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                 
            
            </div>
        </div>

        </div>
        </div>
    </div>
</div>



