<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs12 imagen">
            <img class="img-fluid" src="/assets/imagenes/Blogv2/2Pesca.jpg" alt="">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs12 titulo">
            <span>PESCA</span>
            <h1>Una guía básica para el pescador principiante</h1>
            <span>20 de Mayo, 2020</span>
            <section>
                <ul class="social">
                    <li>
                        <a class="ease-all" href="https://www.facebook.com/anfibiamx/"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a class="ease-all" href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a class="ease-all" href="#"><i class="fa fa-whatsapp"></i></a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 texto">
            <p>La pesca es un deporte apasionante que cada vez reúne a más adeptos y a más principiantes y novatos deseosos de aprender y disfrutar de este hobby. 
            Por ello, es lógico que las nuevas generaciones que se van aficionando se pregunten por el material necesario para tirar la caña. 
            <b>Te hayas incorporado antes o después a esta disciplina, el siguiente artículo te aportará todo el material que necesitas para practicar esta apasionante actividad.</b> 
            ¡Aprende con más detalle el equipo básico para practicar la pesca en el mar.</p>

            <p>Lo primero que debemos tener en cuenta a la hora de aprender a pescar es saber qué tipo de pesca vamos a realizar. 
            Las dimensiones y las características de las herramientas que empleemos variarán dependiendo de este factor. 
            A continuación, te mostramos el equipo básico general que vas a necesitar para pescar en el mar. 
            Para conocer los tipos de pesca te recomendamos la lectura de <a href="">Tipos de pesca</a>.</p>
            
            <img class="img-fluid" src="/assets/imagenes/Blogv2/1Pesca.jpg" alt="">
            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non auctor sem. Sed eu velit.</h2>
            <hr>
            
            <h4><b>¿Cómo elegir una caña de pescar?</b></h4>
            <p>No cabe duda de que la caña de pescar es el elemento básico para llevar a  cabo esta actividad y sin duda el utensilio más importante. 
            Básicamente, se trata de un palo atado a una línea de pescar o cáñamo. 
            Sin embargo, no es fácil elegirla, puesto que existen numerosas variedades con características muy distintas.</p>

            <p>El material del que están hechas también varía bastante: va desde fibra de vidrio hasta grafito, pasando por bambú. 
            Dependiendo de dónde quieras pescar y el qué, la caña que emplearás será de un tipo o de otro. 
            Y es que al igual que existen diferentes tipos de pesca, también podemos encontrar gran variedad en la tipología de las cañas.</p>

            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 txt-img">
                    <img src="/assets/imagenes/Blogv2/1.jpg" alt="">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 txt">
                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non auctor sem. Sed eu velit.</h3>
                    <hr>
                    <div class="flex dark">
                        <a routerLink="/tienda/pesca" class="bttn-dark">Ir a la tienda</a>
                    </div>
                </div>
            </div>

            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
            totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
            Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit 
            esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
    
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
            totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
            Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit 
            esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        </div>
    </div>
</div>


