<div class="container">
    <div class="row" *ngIf="changePassword == true && !tokenError">
        <div class="offset-3 col-sm-6 generarPass" style="padding: 20px; margin-top: 50px;">
            <div class="row">

                <div class="offset-2 col-sm-8" style="display: flex; justify-content: center">
                    <img src="/assets/imagenes/Logo/LogoCopia.png" alt="" width="20%" height="90%">
                </div>
                <div class="offset-2 col-sm-8">
                   
                    <h1 style="font-family: 'Meera Inima', sans-serif; font-size: 20px; color: #000;"><span style="font-weight: bold; font-family: 'Meera Inima', sans-serif;">Generar contraseña</span></h1>
                    <p style="font-family: 'Meera Inima', sans-serif; font-size: 13px; color: #000000;">A continuación te mostramos un formulario, con el podrás reiniciar tu contraseña para poder iniciar sesión nuevamente en Anfibia</p>
                   <form action="" [formGroup]="formRecover" (ngSubmit)= "sendPassword()"> 
                        <div formGroupName="passwords">
                            <div class="inputGroup">
                        
                                <input type="password" 
                                formControlName="password" 
                                id="password" 
                                name="password"
                                required
                                >
                                <label for="password">Contraseña</label>
                                <span class="errorFormulario" *ngIf ="formRecover.get('passwords.password').value === '' && formRecover.get('passwords.password').touched">*Este campo es requerido</span>
                                <span class="errorFormulario" *ngIf ="formRecover.get('passwords.password').errors?.pattern">Tu contraseña debe contener 1.- Minimo una letra MAYUSCULA, 2.- Minimo un simbolo, 3.- Minimo debe contener 8 caracteres.</span>
                            </div>
                
                                <div class="inputGroup">
                                    
                                    <input type="password" 
                                    id="confirmPassword" 
                                    name="confirmPassword"
                                    formControlName="confirmPassword" 
                                    required
                                    >
                                    <label for="confirmPassword">Confirmar contraseña</label>
                                    <span class="errorFormulario" *ngIf ="formRecover.get('passwords.confirmPassword').value === '' && formRecover.get('passwords.confirmPassword').touched">*Este campo es requerido</span>
                                    <span class="errorFormulario" *ngIf ="formRecover.controls['passwords'].errors?.notMatchPassword">Las contraseñas deben ser las mismas.</span>
                                   
                                </div>
                        </div>
                        <div class="button-container">
                            <button type="submit"  #buttonRegister
                            [disabled] = "formRecover.status === 'INVALID'"
                            ><span>Cambiar contraseña</span></button>
                        </div>
                   </form>

                </div>

            </div>
        </div>
    </div>
   


    <div class="row successMensaje" style="padding: 20px; margin-top: 50px;" *ngIf="mensajeError">
        <div class="offset-3 col-sm-6">
            <div class="offset-2 col-sm-8" style="display: flex; justify-content: center">
                <img src="/assets/imagenes/Logo/LogoCopia.png" alt="" width="20%" height="90%">
            </div>
        </div>
        <div class="offset-3 col-sm-6">
            <h1>Problemas con el token</h1>
            <p>
               {{mensajeError}} 
            </p>
            <a routerLink="/recuperar-contraseña">Recuperar contraseña</a>
        </div>
    </div>

    <!--Se dará cuando el usuario haya cambiado la contrqseña de forma exitosa, dando click en el boton cambiar contraseña.-->
    <div class="row successMensaje" style="padding: 20px; margin-top: 50px;" *ngIf="successMessage">
        <div class="offset-3 col-sm-6">
            <div class="offset-2 col-sm-8" style="display: flex; justify-content: center">
                <img src="/assets/imagenes/Logo/LogoCopia.png" alt="" width="20%" height="90%">
            </div>
        </div>
        <div class="offset-3 col-sm-6">
            <h1>¡Cambio de contraseña exitoso!</h1>
            <p>
               {{successMessage}} 
            </p>
            <a routerLink="/login">Ir al login</a>
        </div>
    </div>
    


</div>
