<div style="margin-bottom: 0; padding-bottom: 0;">
  <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" width="100%">
      <source src="assets/videos/supervivencia.mp4" type="video/mp4">
  </video>
  <div class="row texto-video">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <p>Vive la experiencia <span>ANFIBIA</span></p>
          <h1>CACERÍA</h1>
          <h5>Si lo que quieres es dominar en esta disciplina, nosotros te ayudaremos a equiparte y lograr tus metas, bienvenido a la Tribu.</h5>    
      </div>
  </div>
  
</div>


<!--<div class="container-fluid-asimetrico">
  <div class="row">
      
      <div class="asimetrico1">
             
      </div>
      
   

     
      <div class="asimetrico4">
          <h1>Pesca</h1>
          <hr>
          <p >Encontrarás nuestros más nuevos y destacados productos de pesca, además de promociones relacionadas a dicha actividad.</p>
          <div class="flex dark">
              <a href="#0" class="bttn-dark">Ir a la tienda</a>
            </div>
      </div>
  </div>
</div>-->

<div class="container-fluid">
<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-8 col-12 image-background">

  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-12 texto-image-background"> 
    <h1>CACERÍA</h1>
    <hr>
    <p >Encontrarás nuestros más nuevos y destacados productos de pesca, además de promociones relacionadas a dicha actividad.</p>
    <div class="flex dark">
        <a href="#0" class="bttn-dark">Ir a la tienda</a>
      </div>
  </div>
</div>
<div class="row" style="padding-top: 20px;">
 <div class="col-12 col-sm-12 col-md-12 col-lg-12">
     
         <img src="/assets/imagenes/paginaInicial/1916.jpg" alt="" class="publicidad1">
        

    </div>

</div>
</div>



  <!--<section class="sec1">
      <div class="skewedBox1">
      </div> 
  </section>-->

 <div class="container-fluid">
   <div class="row">
    <div class="container" >
  

      <div class="row">
          <div class="col-sm-12 product-Title">
               <h1>Productos nuevos</h1>
               
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-12" *ngFor="let productoCaceria of productosCaceria; index as i; let index = i;">
              <div class="product-card" *ngIf="i<4">
                  <div class="badge">Nuevo</div>
                  <div class="badge2">Destacado</div>
                  <div class="product-tumb">
                      <img src="{{productoCaceria.image}}" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                      onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                  </div>
                  <div class="product-details">
                      <span class="product-catagory">{{productoCaceria.categoria}} {{productoCaceria.marca}}</span>
                   
                      <h4><a href="">{{productoCaceria.nombre}}</a></h4>
                      <div class="product-price">
                        <h5>{{productoCaceria.precio}}</h5>
                        <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                    </div>
                      
                      <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                      <div class="product-bottom-details"> 
                      </div>
                        <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                        <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                  </div>
              </div>
             </div>
             <!--<div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <div class="product-card">
                  <div class="badge">Nuevo</div>
                  <div class="product-tumb">
                      <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                      onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                  </div>
                  <div class="product-details">
                      <span class="product-catagory">CARRETES Yellow Tail</span>
                   
                      <h4><a href="">CARRETE TORITO TO4000</a></h4>
                      <div class="product-price">
                        <h5>$230.98</h5>
                        <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                      </div>
                      
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                      <div class="product-bottom-details">
                      </div>
                        <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                        <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                  </div>
              </div>
  
             </div>
             <div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <div class="product-card">
                  <div class="badge">Nuevo</div>
                  <div class="product-tumb">
                      <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                      onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                  </div>
                  <div class="product-details">
                      <span class="product-catagory">CARRETES Yellow Tail</span>
                   
                      <h4><a href="">CARRETE TORITO TO4000</a></h4>
                      <div class="product-price">
                        <h5>$230.98</h5>
                        <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                      </div>
                      
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                      <div class="product-bottom-details">
                          
                         
                      </div>
    
                        <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                        <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                       
                  
                  </div>
              </div>
  
             </div>
             <div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <div class="product-card">
                  <div class="badge">Nuevo</div>
                  <div class="product-tumb">
                      <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                      onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                  </div>
                  <div class="product-details">
                      <span class="product-catagory">CARRETES Yellow Tail</span>
                   
                      <h4><a href="">CARRETE TORITO TO4000</a></h4>
                      <div class="product-price">
                        <h5>$230.98</h5>
                        <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                      </div>
                      
                     
                      <div class="product-bottom-details">
                          
                         
                      </div>
    
                        <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                        <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                       
                  
                  </div>
              </div>
  
             </div>-->
  

      </div>
  </div>

   </div>

 </div>

  <div class="container-fluid">
     <div class="row" >
         <div class="col-12 col-sm-6 col-md-6 col-lg-6" style="padding: 1px;">
         
              <img src="/assets/imagenes/paginaInicial/blackfriday.jpg" alt="" class="publicidad1">
             

         </div>
         <div class="col-12 col-sm-6 col-md-6 col-lg-6" style="padding: 1px;">
          
              <img src="/assets/imagenes/paginaInicial/blackfriday.jpg" alt="" class="publicidad1">
             

         </div>
      

     </div>
  
   </div>

  
    
    <!--<button (click)="addSlide()">Add</button>
    <button (click)="removeSlide()">Remove</button>
    <button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
    <button (click)="slickModal.unslick()">unslick</button>

   </div>-->



<div class="container-fluid">
<div class="row">
  <div class="container" style="position: relative;">
    <div class="row">
       <div class="col-sm-12 seccion-productos-extras">
           <h1>Más productos nuevos</h1>
          
          <div class="row">
           <div class="col-12 col-sm-6 col-md-6 col-lg-4" *ngFor="let productoCaceria of productosCaceria;index as i; let index = i">
               <div class="wrapper" *ngIf="i<6">
                    <div class="badge" *ngIf="productoCaceria.nuevo">Nuevo</div>
                    <div class="badge2" *ngIf="productoCaceria.destacado">Destacado</div>
                   <div class="product-img">
                     <img src="{{productoCaceria.image}}">
                   </div>
                   <div class="product-info">
                     <div class="product-text">
                       <h2>{{productoCaceria.nombre}} </h2>
                       
                       
                       <div class="product-price2">
                         <h5>${{productoCaceria.precio}}</h5>
                       </div>
                           <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                           <button class="product-links-bag2" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                     </div>
                     
                   </div>
                 </div>
   
              </div>
              <!--<div class="col-12 col-sm-6 col-md-6 col-lg-4">
               <div class="wrapper">
                   <div class="product-img">
                     <img src="/assets/imagenes/paginaInicial/carretes/042694_1.png">
                   </div>
                   <div class="product-info">
                     <div class="product-text">
                       <h2>Caña de pescar Kirikutsyo </h2>
                       
                       
                       <div class="product-price2">
                         <h5>$230.99</h5>
                       </div>
                           <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                           <button class="product-links-bag2" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                     </div>
                     
                   </div>
                 </div>
   
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4">
               <div class="wrapper">
                   <div class="product-img">
                     <img src="/assets/imagenes/paginaInicial/carretes/042694_1.png">
                   </div>
                   <div class="product-info">
                     <div class="product-text">
                       <h2>Caña de pescar Kirikutsyo </h2>
                       
                       
                       <div class="product-price2">
                         <h5>$230.99</h5>
                       </div>
                           <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                           <button class="product-links-bag2" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                     </div>
                     
                   </div>
                 </div>
   
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4">
               <div class="wrapper">
                   <div class="product-img">
                     <img src="/assets/imagenes/paginaInicial/carretes/042694_1.png">
                   </div>
                   <div class="product-info">
                     <div class="product-text">
                       <h2>Caña de pescar Kirikutsyo </h2>
                       
                       
                       <div class="product-price2">
                         <h5>$230.99</h5>
                       </div>
                           <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                           <button class="product-links-bag2" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                     </div>
                     
                   </div>
                 </div>
   
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4">
               <div class="wrapper">
                   <div class="product-img">
                     <img src="/assets/imagenes/paginaInicial/carretes/042694_1.png">
                   </div>
                   <div class="product-info">
                     <div class="product-text">
                       <h2>Caña de pescar Kirikutsyo </h2>
                       
                       
                       <div class="product-price2">
                         <h5>$230.99</h5>
                       </div>
                           <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                           <button class="product-links-bag2" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                     </div>
                     
                   </div>
                 </div>
   
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4">
               <div class="wrapper">
                   <div class="product-img">
                     <img src="/assets/imagenes/paginaInicial/carretes/042694_1.png">
                   </div>
                   <div class="product-info">
                     <div class="product-text">
                       <h2>Caña de pescar Kirikutsyo </h2>
                       
                       
                       <div class="product-price2">
                         <h5>$230.99</h5>
                       </div>
                           <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                           <button class="product-links-bag2" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                     </div>
                     
                   </div>
                 </div>
   
              </div>-->
   
          </div>
         
       </div>
     </div>
</div>

</div>

</div>

<div class="container-fluid">
<div class="row">
 <div class="col-12 col-sm-12 col-md-12 col-lg-12">
  <ngx-slick-carousel class="carousel" 
  #slickModal="slick-carousel" 
  [config]="slideConfig" 
  (init)="slickInit($event)"
  (breakpoint)="breakpoint($event)"
  (afterChange)="afterChange($event)"
  (beforeChange)="beforeChange($event)">
<div ngxSlickItem *ngFor="let slide of slides" class="slide">
<img src="{{ slide.img }}" alt="" width="100%">
<h1>{{ slide.titulo}}</h1>
<p>{{slide.texto}}</p>
</div>
</ngx-slick-carousel>

 </div>

</div>
</div>

<div class="container-fluid categorias-content" >
  <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 categorias-text">
          <h1>Categorías de <span>Cacería</span></h1>
      </div>

  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 categorias-text">
      <div class="gallery-wrap">
          <div class="item item-1 ">
              
              <h2><a href="">CUCHILLOS</a></h2>
              
          </div>
          <div class="item item-2">
             
              <h2><a href="">RIFLES</a></h2>
             
            
          </div>
          <div class="item item-3">
            
              <h2><a href="">LAMPARAS</a></h2>
             
          </div>
          <div class="item item-4">
              
              <h2><a href="">ROPA</a></h2>
             
             
          </div>
          <div class="item item-5">
           
              <h2><a href="">MOCHILAS</a></h2>
              
             
          </div>
      </div>
    </div>

  </div>

</div>
<div class="container-fluid">
<div class="row">
  <div class="container" style="margin-top: 30px;">
    <div class="row"  >
        <div class="col-sm-12 product-Title">
             <h1>Productos destacados</h1>
            
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12" *ngFor="let productoCaceria of productosCaceria; index as i; let index = i;">
            <div class="product-card" *ngIf="i<4">
                <div class="badge" *ngIf="productoCaceria.nuevo">Nuevo</div>
                <div class="badge2" *ngIf="productoCaceria.destacado">Destacado</div>
                <div class="product-tumb">
                    <img src="{{productoCaceria.image}}" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                    onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                </div>
                <div class="product-details">
                    <span class="product-catagory">{{productoCaceria.categoria}} {{productoCaceria.marca}}</span>
                 
                    <h4><a href="">{{productoCaceria.nombre}}</a></h4>
                    <div class="product-price">
                      <h5>${{productoCaceria.precio}}</h5>
                    <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                  </div>
                    
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                    <div class="product-bottom-details">
                        
                       
                    </div>
  
                      <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                      <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                     
                
                </div>
            </div>

           </div>
           <!--<div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="product-card">
                <div class="badge">Nuevo</div>
                <div class="product-tumb">
                    <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                    onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                </div>
                <div class="product-details">
                    <span class="product-catagory">CARRETES Yellow Tail</span>
                 
                    <h4><a href="">CARRETE TORITO TO4000</a></h4>
                    <div class="product-price">
                      <h5>$230.98</h5>
                    <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                  </div>
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                    <div class="product-bottom-details">
                        
                       
                    </div>
  
                      <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                      <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                     
                
                </div>
            </div>

           </div>
           <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="product-card">
                <div class="badge">Nuevo</div>
                <div class="product-tumb">
                    <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                    onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                </div>
                <div class="product-details">
                    <span class="product-catagory">CARRETES Yellow Tail</span>
                 
                    <h4><a href="">CARRETE TORITO TO4000</a></h4>
                    <div class="product-price">
                      <h5>$230.98</h5>
                    <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                  </div>
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                    <div class="product-bottom-details">
                        
                       
                    </div>
  
                      <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                      <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                     
                
                </div>
            </div>

           </div>
           <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="product-card">
                <div class="badge">Nuevo</div>
                <div class="product-tumb">
                    <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                    onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                </div>
                <div class="product-details">
                    <span class="product-catagory">CARRETES Yellow Tail</span>
                 
                    <h4><a href="">CARRETE TORITO TO4000</a></h4>
                    <div class="product-price">
                      <h5>$230.98</h5>
                    <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                  </div>
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                    <div class="product-bottom-details">
                        
                       
                    </div>
  
                      <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                      <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                     
                
                </div>
            </div>

           </div>-->


    </div>
</div>

</div>

</div>
<div class="container-fluid">
  <div class="row" >
      <div class="col-lg-4 col-md-4 col-sm-12 col-12">
       
           <img src="/assets/imagenes/paginaInicial/blackfriday.jpg" alt="" class="publicidad1">
         

      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-12">
       
           <img src="/assets/imagenes/paginaInicial/blackfriday.jpg" alt="" class="publicidad1">
          

      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-12">
       
        <img src="/assets/imagenes/paginaInicial/blackfriday.jpg" alt="" class="publicidad1">
       
   </div>

   

  </div>

</div>
<div class="container-fluid">
<div class="row">
  <div class="container" style="padding-bottom: 20px;">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 seccion-productos-extras">
            <h1>Más productos destacados</h1>
           <div class="row" >
            <div class="col-lg-4 col-md-6 col-sm-6 col-12" *ngFor="let productoCaceria of productosCaceria; index as i; let index = i;">
                <div class="wrapper" *ngIf="i<6" >
                  <div class="badge" >Nuevo</div>
                  <div class="badge2" >Destacado</div>
                    <div class="product-img">
                      <img src="{{productoCaceria.image}}">
                    </div>
                    <div class="product-info">
                      <div class="product-text">
                        <h2>{{productoCaceria.nombre}} </h2>
                        
                        
                        <div class="product-price2">
                          <h5>${{productoCaceria.precio}}</h5>
                        </div>
                            <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                            <button class="product-links-bag2" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                      </div>
                      
                    </div>
                  </div>
    
               </div>
               <!--<div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="wrapper">
                    <div class="product-img">
                      <img src="/assets/imagenes/paginaInicial/carretes/042694_1.png">
                    </div>
                    <div class="product-info">
                      <div class="product-text">
                        <h2>Caña de pescar Kirikutsyo </h2>
                        
                        
                        <div class="product-price2">
                          <h5>$230.99</h5>
                        </div>
                            <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                            <button class="product-links-bag2" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                      </div>
                      
                    </div>
                  </div>
    
               </div>
               <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="wrapper">
                    <div class="product-img">
                      <img src="/assets/imagenes/paginaInicial/carretes/042694_1.png">
                    </div>
                    <div class="product-info">
                      <div class="product-text">
                        <h2>Caña de pescar Kirikutsyo </h2>
                        
                        
                        <div class="product-price2">
                          <h5>$230.99</h5>
                        </div>
                            <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                            <button class="product-links-bag2" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                      </div>
                      
                    </div>
                  </div>
    
               </div>
    
      
        
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="wrapper">
                    <div class="product-img">
                      <img src="/assets/imagenes/paginaInicial/carretes/042694_1.png">
                    </div>
                    <div class="product-info">
                      <div class="product-text">
                        <h2>Caña de pescar Kirikutsyo </h2>
                        
                        <div class="product-price2">
                          <h5>$230.99</h5>
                        </div>
                            <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                            <button class="product-links-bag2" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                      </div>
                      
                    </div>
                  </div>
    
               </div>
               <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="wrapper">
                    <div class="product-img">
                      <img src="/assets/imagenes/paginaInicial/carretes/042694_1.png">
                    </div>
                    <div class="product-info">
                      <div class="product-text">
                        <h2>Caña de pescar Kirikutsyo </h2>
                        
                        
                        <div class="product-price2">
                          <h5>$230.99</h5>
                        </div>
                            <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                            <button class="product-links-bag2" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                      </div>
                      
                    </div>
                  </div>
    
               </div>
               <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="wrapper">
                    <div class="product-img">
                      <img src="/assets/imagenes/paginaInicial/carretes/042694_1.png">
                    </div>
                    <div class="product-info">
                      <div class="product-text">
                        <h2>Caña de pescar Kirikutsyo </h2>
                        
                        
                        <div class="product-price2">
                          <h5>$230.99</h5>
                        </div>
                            <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                            <button class="product-links-bag2" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                      </div>
                      
                    </div>
                  </div>
    
               </div>
    
        </div>-->
       
        
       
       
        </div>

    </div>

 

</div> 

</div>

</div>
</div>
<div class="container-fluid parallax-fishing" style="margin: 0; padding: 0;">

</div>
    
      




      


  
 



<!--<section class="sec3">
  <div class="skewedBox3">
      <h1>Este es un ejemplo del Skewedbox</h1>
      <p>assadasdasdasdasdasdasdasdasd</p>
  </div>
</section>-->




