<div class="container-fluid-video">
    <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" width="100%">
        <source src="assets/videos/nuevaZelanda.mp4" type="video/mp4">
    </video>
    <div class="row texto-video">
        <div class="col-sm-12">
            <p>Vive la experiencia <span>ANFIBIA</span></p>
            <h1>Caza</h1>
            <hr>
            <h5>Conoce nuestros productos de Caceria, visita nuestra tienda en linea<br> y preparate para conseguir lo que buscas.</h5>    
        </div>
    </div>   
</div>

<div class="container-fluid-asimetrico">
    <div class="row">
        <div class="fluid-asimetrico1">
        </div>
        <div class="fluid-asimetrico2">
        </div>
        <div class="asimetrico1">
        </div>
        
       <!-- <div class="asimetrico3">
            

        </div>-->

       
        <div class="asimetrico4" data-aos="fade-right"
        data-aos-easing="linear"
        data-aos-duration="1000">
            <h1>Cacería</h1>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipr.</p>
            <div class="flex dark">
                <a href="#0" class="bttn-dark">Ir a la tienda</a>
              </div>
        </div>



    </div>

</div>

    <section class="sec1">
        <div class="skewedBox1">
          
        </div> 
    
    </section>


    <div class="container">
        <div class="row" data-aos="fade-up"  data-aos-easing="linear"
        data-aos-duration="1000">
            <div class="col-sm-12 product-Title">
                 <h1>Nuestros productos nuevos</h1>
                 <hr>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="product-card">
                    <div class="badge">Nuevo</div>
                    <div class="product-tumb">
                        <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                        onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                    </div>
                    <div class="product-details">
                        <span class="product-catagory">CARRETES Yellow Tail</span>
                     
                        <h4><a href="">CARRETE TORITO TO4000</a></h4>
                        <div class="product-price">$230.99
                          <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                        </div>
                        
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                        <div class="product-bottom-details">
                            
                           
                        </div>
      
                          <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                          <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                         
                    
                    </div>
                </div>
    
               </div>
               <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="product-card">
                    <div class="badge">Nuevo</div>
                    <div class="product-tumb">
                        <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                        onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                    </div>
                    <div class="product-details">
                        <span class="product-catagory">CARRETES Yellow Tail</span>
                     
                        <h4><a href="">CARRETE TORITO TO4000</a></h4>
                        <div class="product-price">$230.99
                          <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                        </div>
                        
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                        <div class="product-bottom-details">
                            
                           
                        </div>
      
                          <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                          <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                         
                    
                    </div>
                </div>
    
               </div>
               <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="product-card">
                    <div class="badge">Nuevo</div>
                    <div class="product-tumb">
                        <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                        onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                    </div>
                    <div class="product-details">
                        <span class="product-catagory">CARRETES Yellow Tail</span>
                     
                        <h4><a href="">CARRETE TORITO TO4000</a></h4>
                        <div class="product-price">$230.99
                          <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                        </div>
                        
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                        <div class="product-bottom-details">
                            
                           
                        </div>
      
                          <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                          <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                         
                    
                    </div>
                </div>
    
               </div>
               <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="product-card">
                    <div class="badge">Nuevo</div>
                    <div class="product-tumb">
                        <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                        onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                    </div>
                    <div class="product-details">
                        <span class="product-catagory">CARRETES Yellow Tail</span>
                     
                        <h4><a href="">CARRETE TORITO TO4000</a></h4>
                        <div class="product-price">$230.99
                          <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                        </div>
                        
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                        <div class="product-bottom-details">
                            
                           
                        </div>
      
                          <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                          <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                         
                    
                    </div>
                </div>
    
               </div>
    
 
        </div>
    </div>

    <div class="container">
       <div class="row" data-aos="fade-up"  data-aos-easing="linear"
       data-aos-duration="1000">
           <div class="col-sm-6">
            <div class="fit-div">
                <img src="/assets/imagenes/paginaInicial/blackfriday.jpg" alt="" class="publicidad1">
               </div>

           </div>
           <div class="col-sm-6">
            <div class="fit-div">
                <img src="/assets/imagenes/paginaInicial/blackfriday.jpg" alt="" class="publicidad1">
               </div>

           </div>
        

       </div>
       <div class="row" style="padding-top: 20px;" data-aos="fade-up"  data-aos-easing="linear"
       data-aos-duration="1000">
        <div class="col-sm-12">
            <div class="fit-div">
                <img src="/assets/imagenes/paginaInicial/1916.jpg" alt="" class="publicidad1">
               </div>

           </div>

      </div>
     </div>



<div class="container" style="position: relative;">
     <div class="row" data-aos="fade-up"  data-aos-easing="linear"
     data-aos-duration="1000">
        <div class="col-sm-12 seccion-productos-extras">
            <h1>Más productos nuevos</h1>
            <hr>
           <div class="row">
            <div class="col-sm-4">
                <div class="wrapper">
                    <div class="product-img">
                      <img src="/assets/imagenes/paginaInicial/carretes/042694_1.png">
                    </div>
                    <div class="product-info">
                      <div class="product-text">
                        <h2>Caña de pescar Kirikutsyo </h2>
                        
                        
                        <div class="product-price">
                            $230.99
                            
                          </div>
                            <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                            <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                      </div>
                      
                    </div>
                  </div>
    
               </div>
               <div class="col-sm-4">
                <div class="wrapper">
                    <div class="product-img">
                      <img src="/assets/imagenes/paginaInicial/carretes/042694_1.png">
                    </div>
                    <div class="product-info">
                      <div class="product-text">
                        <h2>Caña de pescar Kirikutsyo </h2>
                        
                        
                        <div class="product-price">
                            $230.99
                            
                          </div>
                            <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                            <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                      </div>
                      
                    </div>
                  </div>
    
               </div>
               <div class="col-sm-4">
                <div class="wrapper">
                    <div class="product-img">
                      <img src="/assets/imagenes/paginaInicial/carretes/042694_1.png">
                    </div>
                    <div class="product-info">
                      <div class="product-text">
                        <h2>Caña de pescar Kirikutsyo </h2>
                        
                        
                        <div class="product-price">
                            $230.99
                            
                          </div>
                            <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                            <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                      </div>
                      
                    </div>
                  </div>
    
               </div>
    
           </div>
           <div class="row" data-aos="fade-up"  data-aos-easing="linear"
           data-aos-duration="1000">
        
            <div class="col-sm-4">
                <div class="wrapper">
                    <div class="product-img">
                      <img src="/assets/imagenes/paginaInicial/carretes/042694_1.png">
                    </div>
                    <div class="product-info">
                      <div class="product-text">
                        <h2>Caña de pescar Kirikutsyo </h2>
                        
                        
                        <div class="product-price">
                            $230.99
                            
                          </div>
                            <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                            <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                      </div>
                      
                    </div>
                  </div>
    
               </div>
               <div class="col-sm-4">
                <div class="wrapper">
                    <div class="product-img">
                      <img src="/assets/imagenes/paginaInicial/carretes/042694_1.png">
                    </div>
                    <div class="product-info">
                      <div class="product-text">
                        <h2>Caña de pescar Kirikutsyo </h2>
                        
                        
                        <div class="product-price">
                            $230.99
                            
                          </div>
                            <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                            <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                      </div>
                      
                    </div>
                  </div>
    
               </div>
               <div class="col-sm-4">
                <div class="wrapper">
                    <div class="product-img">
                      <img src="/assets/imagenes/paginaInicial/carretes/042694_1.png">
                    </div>
                    <div class="product-info">
                      <div class="product-text">
                        <h2>Caña de pescar Kirikutsyo </h2>
                        
                        
                        <div class="product-price">
                            $230.99
                            
                          </div>
                            <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                            <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                      </div>
                      
                    </div>
                  </div>
    
               </div>
    
        </div>  
        </div>
      </div>
</div>

<div class="container-fluid categorias-content" >
    <div class="row">
        <div class="col-sm-12 categorias-text">
            <h1>Conoce nuestras categorías</h1>
            <hr>
            <div class="row">
                <div class="col-sm-12 half-categorias">
        
                   
                   <h3>Somos proveedores de una gran cantidad de Productos, entre los cuales destacan las siguientes categorias.</h3>
                    
                </div>
               

            </div>

        </div>

    </div>
    <div class="row">
        <div class="gallery-wrap">
            <div class="item item-1 ">
                
                <h2>Anzuelos</h2>
                
            </div>
            <div class="item item-2">
               
                <h2>Cañas</h2>
               
              
            </div>
            <div class="item item-3">
              
                <h2>Carretes</h2>
               
            </div>
            <div class="item item-4">
                
                <h2>Accesorios</h2>
               
               
            </div>
            <div class="item item-5">
             
                <h2>Kayaks</h2>
                
               
            </div>
        </div>

    </div>

</div>
<div class="container">
    <div class="row" data-aos="fade-up"  data-aos-easing="linear"
    data-aos-duration="1000">
        <div class="col-sm-12 product-Title">
             <h1>Nuestros productos destacados</h1>
             <hr>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="product-card">
                <div class="badge">Nuevo</div>
                <div class="product-tumb">
                    <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                    onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                </div>
                <div class="product-details">
                    <span class="product-catagory">CARRETES Yellow Tail</span>
                 
                    <h4><a href="">CARRETE TORITO TO4000</a></h4>
                    <div class="product-price">$230.99
                      <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                    </div>
                    
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                    <div class="product-bottom-details">
                        
                       
                    </div>
  
                      <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                      <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                     
                
                </div>
            </div>

           </div>
           <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="product-card">
                <div class="badge">Nuevo</div>
                <div class="product-tumb">
                    <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                    onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                </div>
                <div class="product-details">
                    <span class="product-catagory">CARRETES Yellow Tail</span>
                 
                    <h4><a href="">CARRETE TORITO TO4000</a></h4>
                    <div class="product-price">$230.99
                      <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                    </div>
                    
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                    <div class="product-bottom-details">
                        
                       
                    </div>
  
                      <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                      <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                     
                
                </div>
            </div>

           </div>
           <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="product-card">
                <div class="badge">Nuevo</div>
                <div class="product-tumb">
                    <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                    onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                </div>
                <div class="product-details">
                    <span class="product-catagory">CARRETES Yellow Tail</span>
                 
                    <h4><a href="">CARRETE TORITO TO4000</a></h4>
                    <div class="product-price">$230.99
                      <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                    </div>
                    
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                    <div class="product-bottom-details">
                        
                       
                    </div>
  
                      <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                      <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                     
                
                </div>
            </div>

           </div>
           <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="product-card">
                <div class="badge">Nuevo</div>
                <div class="product-tumb">
                    <img src="/assets/imagenes/paginaInicial/carretes/042554_1.png" alt="" onmouseover="this.src = '/assets/imagenes/paginaInicial/carretes/042555_2.png'"
                    onmouseout="this.src = '/assets/imagenes/paginaInicial/carretes/042554_1.png'">
                </div>
                <div class="product-details">
                    <span class="product-catagory">CARRETES Yellow Tail</span>
                 
                    <h4><a href="">CARRETE TORITO TO4000</a></h4>
                    <div class="product-price">$230.99
                      <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                    </div>
                    
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>-->
                    <div class="product-bottom-details">
                        
                       
                    </div>
  
                      <button class="product-links-wish" type="button" data-toggle="modal" data-target="#exampleModalCenter">Vista Rapida <i class="fa fa-eye" aria-hidden="true" ></i></button>
                      <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                     
                
                </div>
            </div>

           </div>


    </div>
</div>
<div class="container">
    <div class="row" data-aos="fade-up"  data-aos-easing="linear"
    data-aos-duration="1000">
        <div class="col-sm-6">
         <div class="fit-div">
             <img src="/assets/imagenes/paginaInicial/blackfriday.jpg" alt="" class="publicidad1">
            </div>

        </div>
        <div class="col-sm-6">
         <div class="fit-div">
             <img src="/assets/imagenes/paginaInicial/blackfriday.jpg" alt="" class="publicidad1">
            </div>

        </div>
     

    </div>
    <div class="row" style="padding-top: 20px;" data-aos="fade-up"  data-aos-easing="linear"
    data-aos-duration="1000">
     <div class="col-sm-12">
         <div class="fit-div">
             <img src="/assets/imagenes/paginaInicial/1916.jpg" alt="" class="publicidad1">
            </div>

        </div>

   </div>
  </div>
<div class="container">
    <div class="row" data-aos="fade-up"  data-aos-easing="linear"
    data-aos-duration="1000">
        <div class="col-sm-12 seccion-productos-extras">
            <h1>Más productos destacados</h1>
            <hr>
           <div class="row">
            <div class="col-sm-4">
                <div class="wrapper">
                    <div class="product-img">
                      <img src="/assets/imagenes/paginaInicial/carretes/042694_1.png">
                    </div>
                    <div class="product-info">
                      <div class="product-text">
                        <h2>Caña de pescar Kirikutsyo </h2>
                        
                        
                        <div class="product-price">
                            $230.99
                            
                          </div>
                            <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                            <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                      </div>
                      
                    </div>
                  </div>
    
               </div>
               <div class="col-sm-4">
                <div class="wrapper">
                    <div class="product-img">
                      <img src="/assets/imagenes/paginaInicial/carretes/042694_1.png">
                    </div>
                    <div class="product-info">
                      <div class="product-text">
                        <h2>Caña de pescar Kirikutsyo </h2>
                        
                        
                        <div class="product-price">
                            $230.99
                            
                          </div>
                            <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                            <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                      </div>
                      
                    </div>
                  </div>
    
               </div>
               <div class="col-sm-4">
                <div class="wrapper">
                    <div class="product-img">
                      <img src="/assets/imagenes/paginaInicial/carretes/042694_1.png">
                    </div>
                    <div class="product-info">
                      <div class="product-text">
                        <h2>Caña de pescar Kirikutsyo </h2>
                        
                        
                        <div class="product-price">
                            $230.99
                            
                          </div>
                            <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                            <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                      </div>
                      
                    </div>
                  </div>
    
               </div>
    
           </div>
           <div class="row">
        
            <div class="col-sm-4">
                <div class="wrapper">
                    <div class="product-img">
                      <img src="/assets/imagenes/paginaInicial/carretes/042694_1.png">
                    </div>
                    <div class="product-info">
                      <div class="product-text">
                        <h2>Caña de pescar Kirikutsyo </h2>
                        
                        
                        <div class="product-price">
                            $230.99
                            
                          </div>
                            <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                            <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                      </div>
                      
                    </div>
                  </div>
    
               </div>
               <div class="col-sm-4">
                <div class="wrapper">
                    <div class="product-img">
                      <img src="/assets/imagenes/paginaInicial/carretes/042694_1.png">
                    </div>
                    <div class="product-info">
                      <div class="product-text">
                        <h2>Caña de pescar Kirikutsyo </h2>
                        
                        
                        <div class="product-price">
                            $230.99
                            
                          </div>
                            <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                            <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                      </div>
                      
                    </div>
                  </div>
    
               </div>
               <div class="col-sm-4">
                <div class="wrapper">
                    <div class="product-img">
                      <img src="/assets/imagenes/paginaInicial/carretes/042694_1.png">
                    </div>
                    <div class="product-info">
                      <div class="product-text">
                        <h2>Caña de pescar Kirikutsyo </h2>
                        
                        
                        <div class="product-price">
                            $230.99
                            
                          </div>
                            <button class="wishlist-heart" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                            <button class="product-links-bag" type="button">Añadir al carrito <i class="fa fa-shopping-cart"></i> </button>
                      </div>
                      
                    </div>
                  </div>
    
               </div>
    
        </div>
       
        
       
       
        </div>

    </div>

 

</div> 
      
        
       
        
        

    
   <section class="sec2">
        <div class="skewedBox2">
           
           
        </div>
        
        
    </section>
    
   



<!--<section class="sec3">
    <div class="skewedBox3">
        <h1>Este es un ejemplo del Skewedbox</h1>
        <p>assadasdasdasdasdasdasdasdasd</p>
    </div>
</section>-->




