


#canvas-image-blending {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 2%;
    right: 0;
    bottom: 0;
    left: 0;
}


.half_background {
    background: linear-gradient(to top, red 50%, transparent 50%);
    font-family: 'Prometo-x-bold';
    letter-spacing: 8px;
    font-weight: bolder;

}


.texto-over-canvas{
    position: absolute;
    top: 50%;
    left: 25%;

}

.texto-over-canvas h1{
    font-family: 'Prometo-Thin';
    font-weight: bolder;
    font-size: 120px;
    color: white;
    letter-spacing: 2px;

}

.texto-over-canvas h2{
    font-family: 'Prometo-Thin';
    font-size: 40px;
    text-align: center;
    color: white;
    letter-spacing: 5px;
    position: absolute;
    top: -10%;
    left: 30%;
    border-bottom: 8px solid red;
}


.text-next-canvas h3{
    font-family: 'Prometo-Thin';
    font-size: 40px;
    text-align: center;
    color: white;
    letter-spacing: 5px;
    position: absolute;
    top: 110%;
    left: 25%;
}

.texto-over-canvas h4{
    font-family: 'Prometo-Medium';
    font-size: 40px;
    text-align: center;
    color: white;
    letter-spacing: 5px;
}


.text-next-canvas h1{
    position: absolute;
    color: white;
    font-size: 50px;
    font-family: 'Prometo-x-bold';
    font-weight: bolder;
    text-align: center;
    top: 95%;
    left: 25%;    
}

.text-next-canvas h2{
    -webkit-transform:rotate(-90deg);
    position: absolute;
    color: white;
    font-size: 50px;
    font-family: 'Prometo-Thin';
    font-weight: bolder;
    text-align: center;
    top: 87%;
    left: 6%;    
    border-bottom: 4px solid red;
}

.text-next-canvas h4{
    
    position: absolute;
    color: white;
    font-size: 50px;
    font-family: 'Prometo-Medium';
    text-align: center;
    top: 120%;
    left: 30%;    
}

.text-next-canvas h5{
    
    position: absolute;
    color: white;
    font-size: 50px;
    font-family: 'Prometo-Medium';
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    top: 120%;
    left: 45%;    
}

.text-next-canvas h6{
    position: absolute;
    color: white;
    font-size: 50px;
    font-family: 'Prometo-Thin';
    font-weight: bolder;
    text-align: center;
    top: 43%;
    left: 23%;    
}

.text-next-canvas p{
    writing-mode: tb-rl;
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Prometo-Thin';
    font-style: italic;
    color: white;
    position: absolute;
    top: 39%;
    right: 10%;
}


.text-next-canvas hr{
    position: absolute;
    top: 103%;
    left: 25%;
    background: red;
    width: 20%;
    height: 5px;
}

.text-next-canvas span{
    font-family: 'Prometo-x-bold';
    font-size: 100px;
    color: white;
}

.team-area{
    display: flex;
    width: 90%;
    justify-content: space-around;

}


.m_b_30 {
    margin-bottom: 30px; 
}

.single-blog {
    transition: all 300ms linear 0s;
    position: relative; 
}

.single-blog .thumb {
    overflow: hidden; 
}
.single-blog .thumb img {
    width: 100%;
    height: 600px;
    transition: all 300ms linear 0s;
    position: relative;  
}

.single-blog .short_details {
    background: #fff;
    transition: all 300ms linear 0s;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
    padding: 40px;
    transition: all 300ms linear 0s; 
}
    
.single-blog .short_details a {
    color: #33353b;
    font-weight: 600;
    text-transform: capitalize; 
}

.single-blog .short_details a:hover {
    color: #0A2D45; 
}

.single-blog .meta-bottom a i {
    margin-right: 11px; 
    text-decoration: none;
}

.single-blog .meta-bottom a:hover {
    color: #0A2D45; 
    text-decoration: none;
}
      
.single-blog .meta-top {
    margin-bottom: 6px; 
}
        
.single-blog .meta-top a {
    display: inline-block;
    font-size: 13px;
    color: #0A2D45;
    text-transform: uppercase;
    position: relative;
    font-weight: 600;
    font-family: 'Prometo-light';
    transition: all 300ms linear 0s;
    text-decoration: none; 
}
          
.single-blog .meta-top a:hover {
    color: #0A2D45; 
}
      
.single-blog h4 {
    font-size: 27px;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 36px;
    transition: all 300ms linear 0s;
    font-family: 'Prometo-x-bold'; 
}
        
@media (max-width: 1199px) {
    .single-blog h4 {
        font-size: 18px; 
    } 
}

@media (max-width: 991px) {
    .single-blog h4 {
        margin-bottom: 8px; 
    } 
}
      
.single-blog:hover img {
    transform: scale(1.1); }
    
.single-blog .meta-top a:first-child {
    margin-right: 3px; }
    
.single-blog .meta-top a:last-child {
    margin-left: 3px; }
    
/*ESTILO DOS PRIMERAS NOTAS*/
.single-blog.style_two {
    position: relative; 
}
        
.single-blog.style_two .short_details {
    background: transparent;
    right: 0;
    width: 100%;
    padding: 0 65px;
    bottom: 50%;
    transform: translateY(50%);
    transition: all 300ms linear 0s; 
}
        
.single-blog.style_two .short_details a {
    color: #fff; 
}
            
.single-blog.style_two .short_details a:hover {
    color: #0A2D45; 
}
        
.single-blog.style_two .meta-bottom a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    transition: all 300ms linear 0s; 
}
        
.single-blog.style_two .meta-top a {
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    transition: all 300ms linear 0s; 
}
          
.single-blog.style_two .meta-top a:hover {
    color: #0A2D45; 
}
        
.single-blog.style_two h4 {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 36px;
    transition: all 300ms linear 0s; 
}
          
@media (max-width: 1199px) {
    .single-blog.style_two h4 {
        font-size: 18px; 
    } 
}

@media (max-width: 991px) {
    .single-blog.style_two h4 {
        margin-bottom: 8px; 
    } 
}
      
/*ESTILO TRES DE LAS PRIMERAS ENTRADAS*/
.single-blog.style-three {
    text-align: center;
    transition: all 300ms linear 0s;
    position: relative; 
}
        
.single-blog.style-three .thumb {
    overflow: hidden; 
}
          
.single-blog.style-three .thumb img {
    width: 100%;
    height: 270px;
    transition: all 300ms linear 0s;
}
        
.single-blog.style-three .short_details {
    background: #fff;
    transition: all 300ms linear 0s;
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 80%;
    padding: 10px 5px;
    transition: all 300ms linear 0s; 
}
          
.single-blog.style-three .short_details a {
    color: #33353b;
    font-weight: 600;
    text-transform: capitalize; 
}
            
.single-blog.style-three .short_details a:hover {
    color: #0A2D45; 
}
        
.single-blog.style-three .meta-bottom a {
    display: inline-block;
    color: #797979;
    position: relative;
    font-size: 13px;
    text-transform: uppercase;
    transition: all 300ms linear 0s; 
}
          
.single-blog.style-three .meta-bottom a i {
    margin-right: 10px; 
}
          
.single-blog.style-three .meta-bottom a:hover {
    color: #0A2D45; 
}
        
.single-blog.style-three .meta-top {
    margin-bottom: 6px; 
}
          
.single-blog.style-three .meta-top a {
    display: inline-block;
    font-size: 13px;
    color: #0A2D45;
    text-transform: uppercase;
    position: relative;
    font-weight: 600;
    transition: all 300ms linear 0s; 
}
            
.single-blog.style-three .meta-top a:hover {
    color: #0A2D45; 
}
        
.single-blog.style-three h4 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 36px;
    transition: all 300ms linear 0s; 
}
          
@media (max-width: 1199px) {
    .single-blog.style-three h4 {
        font-size: 18px; 
    } 
}

@media (max-width: 991px) {
    .single-blog.style-three h4 {
        margin-bottom: 8px; 
    } 
}





