<!--================ Título =================-->  
<div class="container-fluid" style="padding: 0;">
    <div class="row" style="height: 800px;">
        <div class="col-sm-6" style="background:background: rgb(87,6,237); background: linear-gradient(140deg, rgba(87,6,237,1) 5%, rgba(242,0,139,1) 99%);; height: 100%; width: 100%;">
            <canvas id="canvas-image-blending"></canvas>
        </div>
        <div class="col-sm-6" style="background: rgb(87,6,237); background: linear-gradient(223deg, rgba(87,6,237,1) 5%, rgba(242,0,139,1) 99%); height: 100%; width: 100%;">
    </div>
        
    <div class="texto-over-canvas">
        <h1>Bienvenidos a nuestro <span class="half_background">BLOG</span></h1>
        <h2>Outdoor Experience</h2>
        <hr>
    </div>
    <div class="text-next-canvas">
        <h1>Atrevete a salir a  la aventura con <span>ANFIBIA</span></h1>
        <p>Vive tus sueños</p>
        <h2>#BienvenidoAlaTribu</h2>
        <h4>#Pesca</h4>
        <h5>#Cacería</h5>
        <h6>#Supervivencia</h6>
    </div>
</div>
<!--================ Título =================--> 

<!--================ Entradas más recientes =================--> 
<div class="container-fluid" style="position: relative;">
    <div class="row" style="background: white;">
        <div class="entradas">
            <h1>Entradas más recientes</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-lg-6 col-xl-5">
            <div class="single-blog">
                <div class="thumb">
                    <img class="img-fluid" src="/assets/imagenes/Blogv2/caceria.jpg" alt="">
                </div>
                <div class="short_details">
                    <div class="meta-top d-flex">
                        <a href="#">Supervivencia</a>
                    </div>
                    <a class="d-block" href="single-blog.html">
                        <h4>Created face stars sixth forth fow
                        Earth firmament meat</h4>
                    </a>
                    <div class="meta-bottom d-flex" >
                        <a href="#">2 de Enero del 2020</a>
                    </div>
                </div>
            </div>    
        </div>

        <div class="col-md-6 col-lg-6 col-xl-4">
            <div class="single-blog style_two">
                <div class="thumb">
                    <img class="img-fluid" src="/assets/imagenes/Blogv2/21.jpg" alt="">
                </div>
                <div class="short_details text-center ">
                    <div class="meta-top d-flex justify-content-center">
                        <a href="#">Supervivencia</a>
                    </div>
                    <a class="d-block" href="single-blog.html">
                        <h4>Created face stars sixth forth fow
                        Earth firmament meat</h4>
                    </a>
                    <div class="meta-bottom d-flex justify-content-center">
                        <a href="#">2 de Enero del 2020</a>
                    </div>
                </div>
            </div>    
        </div>

        <div class="col-lg-12 col-xl-3">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6 col-xl-12">
                    <div class="single-blog style-three m_b_30">
                        <div class="thumb">
                            <img class="img-fluid" src="/assets/imagenes/Blogv2/23.jpg" alt="">
                        </div>
                        <div class="short_details">
                            <div class="meta-top d-flex justify-content-center">
                                <a href="#">Lifestyle</a>
                            </div>
                            <a class="d-block" href="single-blog.html">
                                <h4>The abundantly brought after day fish there image</h4>
                            </a>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-md-6 col-lg-6 col-xl-12">
                    <div class="single-blog style-three">
                        <div class="thumb">
                            <img class="img-fluid" src="/assets/imagenes/Blogv2/10.png" alt="">
                        </div>
                        <div class="short_details">
                            <div class="meta-top d-flex justify-content-center">
                                <a href="#">Lifestyle</a>
                            </div>
                            <a class="d-block" href="single-blog.html">
                                <h4>The abundantly brought after day fish there image</h4>
                            </a>
                        </div>
                    </div>    
                </div>
            </div>
        </div>    
    </div>
</div><!--================ Entradas más recientes =================--> 

<!--================ Parallax =================--> 
<div class="parallax-fishing">
    <div class="parallax">
        <h1>Anfibia</h1>
    </div>
</div>

<!--================ Parallax =================--> 

<!--================ Últimas cuatro notas =================-->  
<div class="three-block  area-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="area-heading">
                <h3>Continua léyendonos</h3>
                <hr>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-3">
                <div class="single-blog style-five">
                    <div class="thumb">
                        <img class="img-fluid" src="/assets/imagenes/Blogv2/pesca.jpg" alt="">
                    </div>
                    <div class="short_details2">
                        <div class="meta-top d-flex">
                            <a href="#">Cacería</a>/
                            <a href="#">9 Enero, 2020</a>
                        </div>
                        <a class="d-block" href="single-blog.html">
                            <h4>Shall for rule whose toge one may heaven to dat</h4>
                        </a>
                    </div>
                </div> 
            </div> 

            <div class="col-lg-3">
                <div class="single-blog style-five">
                    <div class="thumb">
                        <img class="img-fluid" src="/assets/imagenes/Blogv2/18.jpg">
                    </div>  
                    <div class="short_details2">
                        <div class="meta-top d-flex">
                            <a href="#">Pesca</a>/
                            <a href="#">9 Enero, 2020</a>
                        </div>
                        <a class="d-block" href="single-blog.html">
                            <h4>Shall for rule whose toge one may heaven to dat</h4>
                        </a>
                    </div>
                </div> 
            </div> 

            <div class="col-lg-3">
                <div class="single-blog style-five">
                    <div class="thumb">
                        <img class="img-fluid" src="/assets/imagenes/Blogv2/19.jpg" alt="">
                    </div>
                    <div class="short_details2">
                        <div class="meta-top d-flex">
                            <a href="#">Supervivencia</a>/
                            <a href="#">9 Enero, 2020</a>
                        </div>
                        <a class="d-block" href="single-blog.html">
                            <h4>Shall for rule whose toge one may heaven to dat</h4>
                        </a>
                    </div>
                </div> 
            </div> 
            
            <div class="col-lg-3">
                <div class="single-blog style-five">
                    <div class="thumb">
                        <img class="img-fluid" src="/assets/imagenes/Blogv2/20.jpg" alt="">
                    </div>
                    <div class="short_details2">
                        <div class="meta-top d-flex">
                            <a href="#">Cacería</a>/
                            <a href="#">9 Enero, 2020</a>
                        </div>
                        <a class="d-block" href="single-blog.html">
                            <h4>Shall for rule whose toge one may heaven to dat</h4>
                        </a>
                    </div>
                </div> 
            </div> 
        </div>
    </div>
</div><!--================ Últimas cuatro notas =================-->  


<!--================ Suscripción =================-->  
<div class="row" style=" padding-top: 10px; padding-left: 0; padding-right: 0; position: relative;">
    <div class="col-sm-12" style="width: 100%; height: 400px; background: black;">
        <div class="texto" style="position: absolute; top: 10%; left: 29%;">
            <h3>Recibe nuestras ultimas notas.</h3>
            <i class="fa fa-paper-plane-o" aria-hidden="true" style="padding-left: 40%; color: #fff; font-size: 100px;"></i>
            <h4>¡Suscríbete a nuestro BLOG!</h4>
            <div class="signup-form">
                <form>
                    <div class="form-group">
                        <input type="text" name="firstname" class="line-animation" placeholder="Ingresa tu correo electrónico" style="color: white; font-family: 'Prometo-Thin';font-size: 20px; font-weight: bolder;">
                        <div class="line"></div>
                        <br>
                        <button class="btn-suscribirme" type="submit" style="width: 100%;">Suscribirme <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>  
<!--================ Suscripción =================-->      

   