<div class="container-fluid">
    <div class="row" style="height: 800px;">
        <div class="col-sm-6" style="background:background: rgb(87,6,237);
        background: linear-gradient(140deg, rgba(87,6,237,1) 5%, rgba(242,0,139,1) 99%);; height: 100%; width: 100%;">
            <canvas id="canvas-image-blending" style="padding: 20px;"></canvas>
        </div>
        <div class="col-sm-6" style="background: rgb(87,6,237);
        background: linear-gradient(223deg, rgba(87,6,237,1) 5%, rgba(242,0,139,1) 99%); height: 100%; width: 100%;">
        </div>
        <div class="texto-over-canvas">
            <h1>Bienvenidos a nuestro <span class="half_background">BLOG</span></h1>
            <h2>Outdoor Experience</h2>
            <hr>
        </div>
        <div class="text-next-canvas">
            <h1>Atrevete a salir a  la aventura con <span>ANFIBIA</span></h1>
            <p>Vive tus sueños</p>
            <h2>#BienvenidoAlaTribu</h2>
            <h4>#Pesca</h4>
            <h5>#Cacería</h5>
            <h6>#Supervivencía</h6>
        </div>
    </div>
</div>

    <div class="container-fluid">
        <div class="row" style="background: white;">
            <div class="entradas">
                <h1>Entradas más recientes</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="height: 600px">
                <div class="single-portafolio">
                    <img src="/assets/imagenes/blogv1/nicetrip9.jpg" alt="" class="portafolio-img responsive">
                    <div class="portafolio-text">
                        <h3>Lorem Imsup</h3>
                        <p>Lorem Imsup dolor sit</p>
                    </div>
                </div>
            </div> 
        </div>
        <div class="row">
            <div class="col-sm-6" style="height: 600px">
                <div class="single-portafolio">
                    <img src="/assets/imagenes/blogv1/nicetrip2.jpg" alt="" class="portafolio-img responsive">
                    <div class="portafolio-text">
                        <h3>Lorem Imsup</h3>
                        <p>Lorem Imsup dolor sit</p>
                    </div>
                </div>
            </div> 
            <div class="col-sm-6" style="height: 600px">
                <div class="single-portafolio">
                    <img src="/assets/imagenes/blogv1/nicetrip3.jpg" alt="" class="portafolio-img responsive">
                    <div class="portafolio-text">
                        <h3>Lorem Imsup</h3>
                        <p>Lorem Imsup dolor sit</p>
                    </div>
                </div>
            </div> 
        </div>
       
            <div class="parallax-blog" style="margin-top: 10px;"></div>

       



            <div class="row" style="background: white;">
                <div class="entradas">
                    <h1>Continua Leyendonos</h1>
                    <hr>
                </div>
               
    
            </div>
        <div class="row">

            <div class="col-sm-4" style="height: 600px">
                <div class="single-portafolio">
                    <img src="/assets/imagenes/blogv1/nicetrip7.jpg" alt="" class="portafolio-img responsive">
                    <div class="portafolio-text">
                        <h3>Lorem Imsup</h3>
                        <p>Lorem Imsup dolor sit</p>
                    </div>
                </div>
            </div> 
            <div class="col-sm-4" style="height: 600px">
                <div class="single-portafolio">
                    <img src="/assets/imagenes/blogv1/nicetrip6.jpg" alt="" class="portafolio-img responsive">
                    <div class="portafolio-text">
                        <h3>Lorem Imsup</h3>
                        <p>Lorem Imsup dolor sit</p>
                    </div>
                </div>
            </div> 
            <div class="col-sm-4" style="height: 600px">
                <div class="single-portafolio">
                    <img src="/assets/imagenes/blogv1/nicetrip8.jpg" alt="" class="portafolio-img responsive">
                    <div class="portafolio-text">
                        <h3>Lorem Imsup</h3>
                        <p>Lorem Imsup dolor sit</p>
                    </div>
                </div>
            </div> 
            <div class="col-sm-4" style="height: 600px">
                <div class="single-portafolio">
                    <img src="/assets/imagenes/blogv1/montaña.jpg" alt="" class="portafolio-img responsive">
                    <div class="portafolio-text">
                        <h3>Lorem Imsup</h3>
                        <p>Lorem Imsup dolor sit</p>
                    </div>
                </div>
            </div> 
            <div class="col-sm-4" style="height: 600px">
                <div class="single-portafolio">
                    <img src="/assets/imagenes/blogv1/camping1.jpg" alt="" class="portafolio-img responsive">
                    <div class="portafolio-text">
                        <h3>Lorem Imsup</h3>
                        <p>Lorem Imsup dolor sit</p>
                    </div>
                </div>
            </div> 
            <div class="col-sm-4" style="height: 600px">
                <div class="single-portafolio">
                    <img src="/assets/imagenes/blogv1/nicetrip5.jpg" alt="" class="portafolio-img responsive">
                    <div class="portafolio-text">
                        <h3>Lorem Imsup</h3>
                        <p>Lorem Imsup dolor sit</p>
                    </div>
                </div>
            </div> 
        </div>
        <div class="row" style=" padding-top: 10px; position: relative;">
            <div class="col-sm-12" style="width: 100%; height: 400px; background: black;">
                <div class="texto" style="position: absolute; top: 10%; left: 29%;">
                    <h3>Recibe nuestras ultimas notas.</h3>
                    <i class="fa fa-paper-plane-o" aria-hidden="true" style="padding-left: 40%; color: #fff; font-size: 100px;"></i>
                    <h4>¡Suscríbete a nuestro BLOG!</h4>
                    <div class="signup-form">
                        <form>
                          <div class="form-group">
                          <input type="text" name="firstname" class="line-animation" placeholder="Ingresa tu correo electrónico" style="color: white; font-family: 'Prometo-Thin';font-size: 20px; font-weight: bolder;">
                          <div class="line"></div>
                          
                         </div>
                        </form>
                      </div>
                </div>
            </div>
        </div>    
    </div>
    

   