<div class="container-fluid">
    <div class="row" style="height: 800px;">
        <div class="col-sm-6" style="background:background: rgb(87,6,237); background: linear-gradient(140deg, rgba(87,6,237,1) 5%, rgba(242,0,139,1) 99%);; height: 100%; width: 100%;">
            <canvas id="canvas-image-blending" style="padding: 20px;"></canvas>
        </div>
        <div class="col-sm-6" style="background: rgb(87,6,237); background: linear-gradient(223deg, rgba(87,6,237,1) 5%, rgba(242,0,139,1) 99%); height: 100%; width: 100%;">
    </div>
        
    <div class="texto-over-canvas">
        <h1>Bienvenidos a nuestro <span class="half_background">BLOG</span></h1>
        <h2>Outdoor Experience</h2>
        <hr>
    </div>
    <div class="text-next-canvas">
        <h1>Atrevete a salir a  la aventura con <span>ANFIBIA</span></h1>
        <p>Vive tus sueños</p>
        <h2>#BienvenidoAlaTribu</h2>
        <h4>#Pesca</h4>
        <h5>#Cacería</h5>
        <h6>#Supervivencía</h6>
    </div>
</div>

<div class="container-fluid" style="position: relative;">
    <div class="row" style="background: white;">
        <div class="entradas">
            <h1>Entradas más recientes</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-lg-6 col-xl-5">
            <div class="single-blog">
                <div class="thumb">
                    <img class="img-fluid" src="/assets/imagenes/Blogv2/caceria.jpg" alt="">
                </div>
                <div class="short_details">
                    <div class="meta-top d-flex">
                        <a href="#">Supervivencia</a>
                    </div>
                    <a class="d-block" href="single-blog.html">
                        <h4>Created face stars sixth forth fow
                        Earth firmament meat</h4>
                    </a>
                    <div class="meta-bottom d-flex" >
                        <a href="#">2 de Enero del 2020</a>
                    </div>
                </div>
            </div>    
        </div>

        <div class="col-md-6 col-lg-6 col-xl-4">
            <div class="single-blog style_two">
                <div class="thumb">
                    <img class="img-fluid" src="/assets/imagenes/Blogv2/blogcaceria.jpg" alt="">
                </div>
                <div class="short_details text-center ">

                    <div class="meta-top d-flex justify-content-center">
                        <a href="#">Supervivencia</a>
                    </div>
                    <a class="d-block" href="single-blog.html">
                        <h4>Created face stars sixth forth fow
                        Earth firmament meat</h4>
                    </a>
                    <div class="meta-bottom d-flex justify-content-center">
                        <a href="#">2 de Enero del 2020</a>
                    </div>
                </div>
            </div>    
        </div>

        <div class="col-lg-12 col-xl-3">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6 col-xl-12">
                    <div class="single-blog style-three m_b_30">
                        <div class="thumb">
                            <img class="img-fluid" src="/assets/imagenes/Blogv2/1.jpg" alt="">
                        </div>
                        <div class="short_details">

                            <div class="meta-top d-flex justify-content-center">
                                <a href="#">Lifestyle</a>
                            </div>
                            <a class="d-block" href="single-blog.html">
                                <h4>The abundantly brought after day fish there image</h4>
                            </a>
                        </div>
                    </div>

                </div>
                
                <div class="col-12 col-md-6 col-lg-6 col-xl-12">
                    <div class="single-blog style-three">
                        <div class="thumb">
                            <img class="img-fluid" src="/assets/imagenes/Blogv2/1.jpg" alt="">
                        </div>
                        <div class="short_details">

                            <div class="meta-top d-flex justify-content-center">
                                <a href="#">Lifestyle</a>
                            </div>
                            <a class="d-block" href="single-blog.html">
                                <h4>The abundantly brought after day fish there image</h4>
                            </a>
                        </div>
                    </div>    
                </div>
            </div>

        </div>
    </div>



       



           
       

        
        
        
    </div>




