<div class="container"  >
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="letrasAndLogos">
                <h1>LEGALES</h1>
                <p>Politicas de Privacidad, Devoluciones, Terminos de compra, Envios, etc</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 botones-menu">
                        <ul>
                            <li><button type="button" (click)="showPrivacidad()"><i class="fa fa-gavel" aria-hidden="true"></i> Politicas de privacidad</button></li>
                            <li><button type="button" (click)="showEnvio()"><i class="fa fa-gavel" aria-hidden="true"></i> Politicas de envio</button></li>
                            <li><button type="button" (click)="showDevoluciones()"><i class="fa fa-gavel" aria-hidden="true"></i> Politicas de devoluciones</button></li>
                            <li><button type="button" (click)="showCompras()"><i class="fa fa-gavel" aria-hidden="true"></i> Politicas de compra</button></li>
                            <li><button type="button" (click)="showTerminosYCondiciones()"><i class="fa fa-gavel" aria-hidden="true"></i>Terminos y Condiciones</button></li>
                        </ul>
    
                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
                        <router-outlet></router-outlet>
                    </div>
    
                </div>
              
        
        </div>

        </div>

</div>




