<div class="container"  >
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="letrasAndLogos">
                <h1>LEGALES</h1>
                <p>Politicas de Privacidad, Terminos y condiciones</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 botones-menu">
                        <button type="button" (click)="showPrivacidad()"><i class="fa fa-gavel" aria-hidden="true"></i> Politicas de privacidad</button>
                        <button type="button" (click)="showTerminosYCondiciones()"><i class="fa fa-gavel" aria-hidden="true"></i>Terminos y Condiciones</button>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                        <router-outlet></router-outlet>
                    </div>
    
                </div>
              
        
        </div>

        </div>

</div>




