<div class="container">
    <div class="row" >
        <div class="offset-lg-3 col-lg-6 offset-sm-2 col-sm-8" style="height: auto; margin-top: 30px; margin-bottom: 30px;">

            <div class="row"  style="margin-top: 60px;" *ngIf="!showForm">
             <div class="offset-2 col-sm-8" style="display: flex; justify-content: center">
                 <img src="/assets/imagenes/Logo/LogoCopia.png" alt="" width="20%" height="90%">
             </div>
             <div class="offset-lg-2 col-lg-8 offset-sm-1 col-sm-10">
                 <h1 style="font-family: 'Meera Inima', sans-serif; font-size: 20px; color: #000;"><span style="font-weight: bold; font-family: 'Meera Inima', sans-serif;">¿Olvidaste la contraseña?</span></h1>
                 <p style="font-family: 'Meera Inima', sans-serif; font-size: 13px; color: #000000;">Debes ingresar tu correo para que podamos enviarte instrucciones para poder recuperar tu contraseña.</p>
                 <hr>

             </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-bottom: 20px; ">
                    
                     <form [formGroup]="formRecover" (ngSubmit)="onSubmit($event)" #f="ngForm">
                    
                     <div class="row">

                         <!--<div class="offset-2 col-sm-8 error-response" *ngIf="mensajeError && mensaje == null">
                             <h1><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                 {{mensajeError}}</h1>
                                 
 
                         </div>
                         <div class="offset-2 col-sm-8 success-message" *ngIf="mensaje && mensajeError == null" >
                            <p><i class="fa fa-check" aria-hidden="true"></i> {{mensaje}}</p>
                        </div>-->



                         <div class="offset-lg-2 col-lg-8 offset-sm-1 col-sm-10">
                          <div class="margin">
                              <div class="inputGroup">      
                                  <input type="text"
                                  id="accessData"
                                  formControlName="accessData"  
                                  name="accessData"
                                  required />
                                  <span class="inputBar"></span>
                                  <label>Correo electronico</label>
                                  <span class="errorFormulario" *ngIf ="formRecover.get('accessData').value === '' && formRecover.get('accessData').touched">*Este campo es requerido</span>
                                  <!--<span class="errorFormulario" *ngIf="formLogin.get('accessData').errors?.email && formLogin.get('accessData').touched">*Error, ingresa un correo con el formato de correo valido, correo@dominio</span>-->
                                  <!--<span class="errorFormulario" *ngIf ="registerForm.get('userName').value === '' && registerForm.get('userName').touched">*Este campo es requerido</span>-->
                                 
                                 </div>
                            

                           

                            
                             </div>

                         </div>
                        
                         

                     </div>
                     <div class="row">
                         <!--<div class="offset-2 col-sm-8">
                             <div class="">      
                                
                                 <label> <input type="checkbox"
                                 id="aceptoTerminos"
                                 formControlName="terminosyCondiciones"  
                                 name="terminosyCondiciones"
                                 
                                   /> He leido y acepto los <a routerLink="/asuntos-legales">Términos y condiciones de uso</a> de la información del sitio web de ANFIBIA</label>
                             </div>
                             <span  class="errorFormulario" *ngIf="registerForm.get('terminosyCondiciones').value === false">*Debes estar de acuerdo con nuestros terminos y condiciones.</span>
                           
                         </div>-->
                        
        
                         <div class="offset-lg-2 col-lg-8 offset-sm-1 col-sm-10" style="margin-bottom: 20px;">
                             <!--<div class="button-container">
                                 <button type="submit"
                                 [disabled] = "registerForm.status === 'INVALID' || registerForm.get('terminosyCondiciones').value === false"
                                 ><span>Ingresar</span></button>
                             </div>-->
                             <div class="button-container">
                                 <button type="submit"  #buttonRegister
                                 [disabled] = "formRecover.status === 'INVALID'"
                                 ><span>Enviar</span></button>
                             </div>
                         </div>
                       

                     </div>

                    </form>
                  
             

                </div>
               
              
                

            </div>
            <div class="row successMensaje" *ngIf="showResponse == true">
                <!--Here goes the success-->
             
                <div class="offset-lg-2 col-lg-8 offset-sm-1 col-sm-10">
                    <div class="imgLogo">
                        <img src="/assets/imagenes/Logo/LogoCopia.png" alt="">
                    </div>
                    <h1>¡Correo enviado!</h1>
                    <p>
                        {{mensajeSucess}} 
                    </p>
                    <!--<a routerLink="/recuperar-contraseña">Recuperar contraseña</a>-->
        
                </div>



            </div>

             <div class="row successMensaje" *ngIf="mensajeError">
                <!--Here goes the success-->
             
                <div class="offset-lg-2 col-lg-8  offset-sm-1 col-sm-10">
                    <div class="imgLogo">
                        <img src="/assets/imagenes/Logo/LogoCopia.png" alt="">
                    </div>
                    <h1>¡Problema con el correo!</h1>
                    <p>
                        {{mensajeError.mensaje}} 
                    </p>
                    <a *ngIf="mensajeError.status == 404" routerLink="/crear-cuenta">Ir al registro</a>
                    <div *ngIf="mensajeError.status == 401">
                        <p>Debes verificar tu correo el email con el asunto "Confirmación cuenta Anfibia", en caso de que no hayás recibido el correo de activación, te invitamos a generarlo nuevamente.</p>
                        <a routerLink="/cuenta-active">Generar enlace de activación de mi cuenta</a>
                    </div>
                    <!--<a routerLink="/recuperar-contraseña">Recuperar contraseña</a>-->
        
                </div>



            </div>
            
  
      
     </div>

    </div>
  
    

</div>
